[2015-05-20 09:32] #430 closed

[2015-05-20 09:33] fatih commented on #425
This is finished with: https://github.com/fatih/vim-go/pull/429 and it works perfect for `godep`. Once we merge this, I'll work on adding `gb` detection.

[2015-05-20 10:04] casimir commented on #430
The seems like a work in progress there see https://github.com/Valloric/ycmd/pull/124#issuecomment-103689974 and https://github.com/Valloric/ycmd/pull/137.

[2015-05-20 11:06] #432 closed

[2015-05-20 11:06] fatih commented on #432
@ameihm0912 please pull latest master and try again. Thanks for reporting again :+1:

[2015-05-20 13:27] mdwhatcott opened #433 "Support for go generate"
`:GoGenerate` would invoke `go generate` just like `:GoBuild` invokes `go build`.

[2015-05-22 09:21] John-Appleseed opened #435 "Enable Sourcegraph"
I want to use [Sourcegraph](https://sourcegraph.com) for vim-go code search, browsing, and usage examples. Can an admin enable Sourcegraph for this repository? Just go to https://sourcegraph.com/github.com/fatih/vim-go. (It should only take 30 seconds.)

Thank you!

[2015-05-22 09:28] fatih commented on #435
Thanks but @sourcegraph want's to have `commit access` which enables them to have `write access` which I don't know why they need it. Second, once I want to enable, Sourcegraph want's to have access to all organizations, which I can't give because It also contains my work account/organization. Thanks.

[2015-05-22 09:28] #435 closed

[2015-05-22 19:48] #425 closed

[2015-05-22 19:55] fatih commented on #368
This is fixed https://github.com/9fans/go/issues/3 as seen here: https://godoc.org/9fans.net/go. So closing this. If we hit again the same problem. I'll talk with @rogpeppe about vendoring it into godef. Thanks for all participants

[2015-05-22 19:55] #368 closed

[2015-05-22 20:00] fatih commented on #421
Hi @fjyaosun

I don't know what you are expecting. What exactly do you want? I've just tried it again and it works as expected. Did you set `$GOBIN` to the second folder?

[2015-05-22 20:05] fatih commented on #428
Hi @phemmer. Buffer-replace is not something we want when you edit your file. That's why you only see the changes you made. If you  just open a `example.txt` file and write it, and hit undo `u`, you should see the exact behavior. Here are the problems we had, which we fixed:

http://stackoverflow.com/questions/12741977/prevent-vim-from-updating-its-undo-tree
http://stackoverflow.com/questions/1853

[2015-05-22 21:55] razic commented on #368
You rock!

[2015-05-24 01:27] geterns commented on #282
@fatih I think you should really add the ·toggle your filetype plugin on in the vimrc· step into your installation guide...it is stupid enough but it also took almost a whole day time for a newbie like me to find out this missing setup. I hope that nobody would fall into this trap any more, thank you!

[2015-05-25 03:00] numbcoder opened #438 "go-def-split map not work well, and open a new tab"
My config:
[code]
It will open the current buffer in a split window, and open the define file in a new tab window, `go-def-vertical`  has the same problem.

MacVim 7.4(76)

Thanks!

[2015-05-25 08:51] rHermes opened #439 "Add option to make GoTest not jump to test that failed."
As stated in the tile, I would very much like an option to disable the automatic jump to the test file when a test doesn't pass. When I run a test, the information in the quickfix list is all I need.

If there already is a way to do this, I'm sorry for the trouble :)

[2015-05-25 08:55] fatih commented on #439
There is already, please have a look at the docs next time :) Add the following to your `vimrc` to disable it.

[code]

[2015-05-25 09:00] rHermes commented on #439
I'm very bad vim user, but I thought I looked through the documentation, both :h vim-go and :h GoTest

Could you tell me where it is, and how you found it, so I don't repeat silly mistakes such as this again :(

[2015-05-25 09:08] fatih commented on #439
Sorry. I thought it was always there. My apologizes for my previous comment. I'll fix it. Let me re open the   the issue again and edit the title to so the missing piece is added. Sorry again.

[2015-05-25 09:11] rHermes commented on #439
No problem!

I want to thank you for making go coding enjoyable in vim! Keep up the good work :+1:

[2015-05-25 10:16] fatih commented on #423
I'll close this in favor of #437. I'm not sure traversing and finding any main package would be helpful. But the new `:GoOracleScope` has a very nice autocompletion support (it completes only go import paths) and it's really useful. I think we should use it a little bit and get a good sense about it. So other improvements can be made upon on it.

[2015-05-25 10:16] #423 closed

[2015-05-25 10:26] fatih commented on #439
Hm now that I'm thinking, I think we should completely remove the variable: `g:go_jump_to_error` and use the `!` identifier. This is how `:make` works. For example if you call it like `:make!` it will not jump to the error, `:make` will jump to the error. This is idiomatic vim usage and fit's better into the vim usage. We have already this support for both `:GoBuild` and `:GoRun`, but not for comm

[2015-05-25 10:27] fatih opened #440 "Remove go_jump_to_error and use the bang(!) argument"
I think we should completely remove the variable: `g:go_jump_to_error` and use the `!` identifier. This is how `:make` works. For example if you call it like `:make!` it will not jump to the error, `:make` will jump to the error. This is idiomatic vim usage and fit's better into the vim usage. We have already this support for both `:GoBuild` and `:GoRun`, but not for commands such as `:GoTest`, `:

[2015-05-25 10:28] fatih commented on #439
Check out this: https://github.com/fatih/vim-go/issues/440 for how to improve and change this behavior. Thanks @rHermes you made me aware of something important :+1:

[2015-05-25 10:28] #439 closed

[2015-05-25 10:32] fatih commented on #438
I have these commands and they work perfect:

[code]

Are you sure you don't use any additional settings in your vimrc? Do you have other commands that might interfere with this? This feature is enabled for months and I didn't have any single complaint, so I think this might be something else on your part.

[2015-05-25 10:32] fatih commented on #433
Thanks @mdwhatcott I'll add this once I have time and finished with the other tasks.

[2015-05-26 01:44] numbcoder commented on #438
Just remove
[code]
It works!

Thanks!

[2015-05-26 01:44] #438 closed

[2015-05-26 07:27] fatih commented on #440
Closed with #441

[2015-05-26 07:27] #440 closed

[2015-05-26 12:44] phemmer commented on #428
This is a bad comparison. When you write `example.txt`, vim isn't going to change your document before the save.

[2015-05-26 13:24] fatih commented on #428
If you change it and hit `:w` and hit `u` you get the same behavior in vim-go. Vim-go only saves when `g:go_fmt_autosave` is enabled (which is by default). You can always disable it thought. So once you disable it, it's the same as vim. If you enable it, your text will be formatted and undo's are working well. Am I missing something here?

[2015-05-26 14:45] fatih commented on #282
@geterns added here https://github.com/fatih/vim-go/commit/71b668966aea41e716a3903f77acfa755bbdfd3d

[2015-05-26 17:40] uli-go commented on #417
Thanks for the positive feedback.

[2015-05-26 18:35] shazow commented on #421
I think the problem @fjyaosun ran into is that technically Go supports multiple paths in $GOPATH separated by `:`, and it seems it didn't split the paths and treated it as one huge path? I'm guessing the fix is to split on `:` and install on the first path.

[2015-05-26 18:38] fatih commented on #421
@shazow we do it already, that's why I've asked if he set $GOBIN to something else:

https://github.com/fatih/vim-go/blob/master/autoload/go/path.vim#L38

[2015-05-26 18:39] shazow commented on #421
Ah my bad, nevermind. :)

[2015-05-26 19:24] hojgr opened #442 "Autocomplete stops working after importing "net" or "net/http""
Hello,

i've been having issues with autocomplete feature. With this code
package main

package main

[code]

Autocomplete works fine. After I write `fmt.` all fmt options pop up. But after I import package "net", nothing works anymore.

[code]

With this code, if I do `fmt.` or `net.`, nothing shows up. Also, in the "notification area" on bottom I see `-- User defined completion (^U^N^P) Pattern

[2015-05-26 19:28] fatih commented on #442
You should use it without any problem. Here is my own setup with latest vim-go:

![image](https://cloud.githubusercontent.com/assets/438920/7821306/90bebbdc-03f6-11e5-8db4-ee4628de5042.png)

[2015-05-26 19:32] hojgr commented on #442
Well, doesn't work for me unfortunetly. I'm new to Go and I think I've found the issue. I have my GOPATH in ~/go where I have bin, pkg, src. I tought I'd use `src` for my code and after installing all the tools I had some code in ~/go/src I didn't really want. So I removed it.

That is the reason to not work, right? Do I put all my code somewhere else than $GOPATH?

Thanks

[2015-05-26 19:38] fatih commented on #442
Your code needs to be under $GOPATH. If you have it under that path everyone is ok. Example:

Assume GOPATH is `~/go`. Then your code should be under `~/go/src/`. If you don't put your code under $GOPATH vim-go will not work properly. Be sure everything is working fine.

Second completion for third party packages only works if the `pkg` folder exists and the packages are installed via `go install`

[2015-05-26 19:46] hojgr commented on #442
My code is in ~/go/src

It appears to be something with "gocode" (or my environment + gocode), after doing
`~/go/src $ gocode -f=json autocomplete main.go 8`
Autocomplete hangs and doesn't do anything.

[2015-05-26 19:56] fatih commented on #442
@hojgr can you please try open the issue to gocode? I honestly don't know what to say. Another way of debugging it, open `gocode` in debug mode and start to use vim-go. You should see some output.

Here is how to do: https://github.com/nsf/gocode#debugging

[2015-05-26 20:23] hojgr commented on #442
It appears that I have installed everything the wrong way (using apt-get to get Go and some other tools...)

Prior to this issue, :GoInstallBinaries didn't work either (printed `go get` with some options, ...)

I have removed Go from my computer, tried to remove everything possible, read Go's installation guide and I'm trying to get it working from scratch. :GoInstallBinaries is working now and it

[2015-05-26 20:23] #442 closed

[2015-05-26 21:23] hillu opened #443 "Please specify a license for this project"
Hi,

please clarify what terms this project is licensed under.

Several files which seem to have come from the golang-go sources carry a notice like "Copyright 20xx The Go Authors. All rights reserved. Use of this source code is governed by a BSD-style license that can be found in the LICENSE file." -- but there is no such file.in the repository. Most of the source files don't have any copyright n

[2015-05-27 03:14] fannheyward opened #444 ""autodetect GOPATH" doesn't work with `gb`"
It's great that vim-go added "autodetect GOPATH" feature. Seems like it doesn't work with `gb`?

I test with https://github.com/fatih/gb-example

0. my global $GOPATH setting: `echo $GOPATH ==> /Users/fannheyward`
1. cd `gb-example`
2. `vim src/cmdname/main.go`
3. `:GoPath` doesn't changed, still `/Users/fannheyward`
3. goto `util.SnakeCase`, then `:GoDef`, error: `parseLocalPackage error: no more

[2015-05-27 06:33] fatih commented on #444
Hi @fannheyward

You are totally right! `gb` support will come with this PR: https://github.com/fatih/vim-go/pull/420 It's not merged. autodetect GOPATH is currently only for godep and single mono src directories. I'll close this in favor of #420. Thanks for mentioning :)

[2015-05-27 06:33] #444 closed

[2015-05-27 18:08] Bajron opened #445 "go get complains about -f flag on :GoInstallBinaries"
I had a problem with GoInstallBinaries. go get reported "-f flag provided but not defined". I don't know what it is supposed to do (I am newbie in go), but removing the flag in line 80 of https://github.com/fatih/vim-go/blob/master/plugin/go.vim solved the problem -- all binaries were downloaded and installed.
I am on Ubuntu 14.04, go version go1.2.1 linux/amd64

[2015-05-27 18:12] fatih commented on #445
I think the flag was added recently. Sorry to hear this from you. I'll going to push a fix and only add -f if the `go` version is higher than `1.4.x`

[2015-05-27 18:14] fatih commented on #443
Hi Hilko

I'm always using the MIT license for all my open source projects. However the initial code from vim-go is based from go's source repo, which is based on BSD-style license.

I don't know much about licenses, all I know is that I need to be careful and also respect the previous license. I need to investigate it and also get some consulting so I can give you a better answer, because even If

[2015-05-27 21:09] hillu commented on #443
Fatih,

If I interpret http://www.dwheeler.com/essays/floss-license-slide.html correctly, it should not be a problem to put everything under a 3-clause BSD license, given that the original code was published under such a license.

Cheers,
-Hilko

[2015-05-27 21:48] fatih commented on #443
Hi Hilko,

That makes totally sense. The 3-clause BSD license is a good one and I support it. However I just want to be sure to not make any mistakes here. I've asked it in golang-nuts to the original authors. If everything is ok, I'll add the LICENSE file and mark it as 3-clause BSD license.

[2015-05-27 22:35] fatih commented on #445
@Bajron can you test https://github.com/fatih/vim-go/pull/446 please ?

[2015-05-27 23:52] paked opened #447 "Comment Insertion"
AFAIK there is no way to quickly comment out code. I feel like this would be a nice addition! I'd be more than happy to investigate this myself if it is a welcome addition.

[2015-05-28 05:56] fatih commented on #447
You can use comment plugins and add a mapping yourself. Everyone does it like that. :)  Here is what I use:

[code]

[2015-05-28 05:56] #447 closed

[2015-05-28 09:24] #445 closed

[2015-05-28 09:30] fatih commented on #443
Hi Hilko,

I've added the license: https://github.com/fatih/vim-go/commit/cc52dd3d52737a215bf634e1da563938a3f8b483

I'll close this issue, let me know if there is something to be done or changed. Thanks for bringing this up.

[2015-05-28 09:30] #443 closed

[2015-05-28 16:16] Bajron commented on #445
It is ok now. Thanks!

[2015-05-31 07:37] chkno opened #449 "goSpaceError syntax hilighting very slow on long lines"
This rule is slow on long lines:

    syn match goSpaceError display "\(\(^\|[={(,;]\)\s*<-\)\@<=\s\+"

To reproduce:

1. Begin editing a new file foo.vim.
2. Create 5000 spaces (`5000i<space><esc>`)
3. Attempt to add a 5001th space or otherwise attempt to edit this line.  Every UI interaction incurs a ~10s lag.

Output from ":syntime report":

     TOTAL      COUNT  MATCH   SLOWEST     AVERAGE

[2015-06-03 16:03] fatih commented on #449
Hi @chkno , I'm aware of it, that's why it's disabled by default. If you disable it:

[code]

You are good to go. Unfortunately I don't have time to tackle the syntax file. Also I have some settings which speeds up the highlighting a little more:

[code]

Does this improve your situation?

[2015-06-04 14:23] arthursantana commented on #207
I like this behavior. Please keep it :).

[2015-06-05 11:48] ambidextrousTx opened #453 "GoInstallBinaries errors"
Hi. Thanks for the amazing plugin. I've used it on my work machine without issues. On my personal machine though, I cannot run GoInstallBinaries. I get errors, a snippet of which I am reproducing here:

[code]

Both machines are running OS X. I am using Pathogen on both of them. On my work machine, GoInstallBinaries was able to install the binaries. The GOPATH etc. are pretty much identical on the

[2015-06-07 09:58] fatih commented on #453
Can you run please:

[code]

on your local machine? This is not a vim-go problem, it seems your Go setup is broken. Or you have a dependency which is not updated. I've just tested it on a new GOPATH and I could successfully download `goimports`.

[2015-06-07 09:58] #453 closed

[2015-06-07 14:10] ambidextrousTx commented on #453
Thanks - I uninstalled Go (which I had installed using a .pkg from the Go site) and reinstalled it using Homebrew. Now everything is working again.

[2015-06-09 16:30] KhaimovMR opened #456 "Highlighting and autocomplete in *.go files are not working"
1. When i open *.go files there's no hightlighting at all.
2. When i press the autocomplete key specified in YouCompleteMe in status bar it displays "E764: Option 'omnifunc' is not set".

[2015-06-09 16:37] fatih commented on #456
You didn't installed the plugin properly. Please have a look at the installation step and wiki:

https://github.com/fatih/vim-go#install
https://github.com/fatih/vim-go/wiki/FAQ-Troubleshooting

And here is my own vimrc for comparison:

https://github.com/fatih/dotfiles/blob/master/vimrc

[2015-06-09 16:37] #456 closed

[2015-06-09 20:29] KhaimovMR commented on #456
I've installed it with Vundle properly. Launched ":GoInstallBinaries" and every binary was installed successfuly but i've no hightlights and autocompletion.

[2015-06-10 09:26] tobstarr opened #457 "`analysis scope has no main and no tests` in oracle functions"
I have a more complex go project with some main packages but also a lot of non-main packages. Whenever I use e.g. `GoCallers` on some function defined in a main package it just works, whenever I call it on a function defined in a non-main package I get the error `analysis scope has no main and no tests` from oracle.

I do not know much about oracle but it seems one would need to define all main pa

[2015-06-10 09:42] tobstarr commented on #457
Seems I found the nob I need to configure to make it work `g:go_oracle_scope`. Is it possible to set this configuration on a "per project" base?

[2015-06-10 09:48] tobstarr commented on #457
I am going with `thinca/vim-localrc` for the time being but would wonder if that can also be done via `fatih/vim-go`

[2015-06-10 09:51] KhaimovMR commented on #456
Big thanks for your .vimrc example.
Helped adding those lines before my "filetype plugin indent on":
set nocompatible
filetype off

[2015-06-10 11:10] fatih commented on #457
Hi @tobstarr. You can do it, please check out the docs for `:GoOracleScope` [1]. It was added recently so you can dynamically change the scope whenever you want.  And I think it's should be fearly easy to invoke it via Vim's event mechanism to call `:GoOracleScope` whenever you enter a folder.

[1]: https://github.com/fatih/vim-go/blob/master/doc/vim-go.txt#L315

[2015-06-10 11:10] #457 closed

[2015-06-10 11:59] tobstarr commented on #457
Thank you!

[2015-06-11 17:37] eapache opened #458 "Don't run `go version` on every startup"
I was profiling my vim startup recently; a non-trivial amount of time (~50ms) was taken by this plugin running `go version`. Since the result of this changes so infrequently, it would be a good optimization if there was some way to cache this value or something.

Also: the file I was profiling wasn't even a go file. If there is a way to delay the `go version` run until the first go file is actuall

[2015-06-11 17:41] fatih commented on #458
Hi @eapache . This is already cached and it's only used once during the startup. After it it's never get called. I don't know how we can cache beside putting a file somewhere having it, which again makes things complicated.  The `go version` calling was added two weeks ago:

https://github.com/fatih/vim-go/commit/91f8ed01d8fd44dab7fd3b5a8c7e60406b0d8419

This is going to be removed once 1.5 is out

[2015-06-11 17:43] fatih commented on #458
Related issue why we have this: https://github.com/fatih/vim-go/pull/434

[2015-06-11 17:52] eapache commented on #458
Ah, thanks for the context, not a big deal then, especially if it will go away once 1.5 is out.

[2015-06-11 17:54] fatih commented on #458
Yeap :) I'm not closing this so we don't forget it. Thanks for the report.

[2015-06-16 08:14] zeast opened #459 "go_fmt_autosave is slow"
" delete any leftover before we replace the whole file. Suppose the
                                    " file had 20 lines, but new output has 10 lines, only 1-10 are
                                    " replaced with setline, remaining lines 11-20 won't get touched. So
                                    " remove them.
    1              0.000004         if line('$') > len(splitted)

[2015-06-16 08:55] fatih commented on #459
Did you read the code? There is a reason why don't just use goimports or gofmt, because it might return an error and we don't want to replace your file with the error content right? It should be actually very fast, how long is your file?

[2015-06-16 09:02] zeast commented on #459
Thanks for your explanation. The file has about 1200 lines.

[2015-06-16 11:12] fatih commented on #459
@zeast Can you give more detail how you profiled it? Just want to be sure I'm on the same page when I try to debug the code with an example 1200 line long file.

[2015-06-16 11:25] nvcken opened #460 "how to get colorize code as the screenshot"
I am install this plugin
But I dont see color syntax like that.
I am new of vim plugin

[2015-06-16 22:40] ivulfson opened #461 "GoLint support for entire package?"
Looks like GoLint only supports running on the current file.  Would it be possible to add support for running golint on the entire package, when editing one of the package files?

[2015-06-16 22:45] ivulfson commented on #332
I also wanted this, since I'm running godoc daemon on my box.  I ended up patching my copy of `doc.vim` to change its behaviour:

[code]

[2015-06-16 22:46] ivulfson commented on #332
(it's be nice to be able to make this change via an option in `~/.vimrc` file)

[2015-06-17 03:04] zeast commented on #459
@fatih
Yesterday, I write a function T like this
[code]
and the function T is slow, so I suspect other plugins because the function T is sort. Then I comment other plugins but no change. Today, I find maybe `fdm=syntax` is the culprit or conflict with other. I comment it, save is fast. But I don’t know why the profile point setline.
I profiled follow http://stackoverflow.com/questions/12213597/how

[2015-06-17 10:37] fatih commented on #460
Checkout the `settings` section:

https://github.com/fatih/vim-go#settings

[2015-06-17 10:37] #460 closed

[2015-06-17 10:43] fatih commented on #461
Hi @ivulfson.

`golint` supports packages: https://github.com/golang/lint#usage so yes it's possible. Thanks for bringing up the idea. I'll mark this as an improvement and I'm going to look at it once I have proper time.

[2015-06-17 10:44] fatih commented on #459
@zeast Thanks a lot for the detailed information. Let me look at this later. Maybe we can improve it via `append` instead of using `setline`. This could probably improve the situation.

[2015-06-17 19:20] derekchiang opened #462 "Autocomplete and GOPATH"
So I'm developing my project in a separate directory not under GOPATH.  To get autocomplete for my own code, I have set `GOPATH` to `$GOPATH:/my/project/directory`.  My code is organized into packages under `/my/project/directory/src`.  However, autocomplete still doesn't work with my own package.  Why is that?

[2015-06-17 19:21] fatih commented on #462
You need to install the package via `go install` because under the hood `gocode` only reads from compiled libraries. Did you install them?

[2015-06-17 20:35] derekchiang commented on #462
So I'm using this new build tool called `gb` which in itself is GOPATH-agnostic, so it doesn't actually install compiled libraries under the system-wide GOPATH.  But, it does put the compiled libraries under `/my/project/directory/pkg`, and since I have set GOPATH to `/my/project/directory`, it's unclear to me why gocode wouldn't work.

It might be worth noting that I've set GOPATH only in the sam

[2015-06-17 20:43] fatih commented on #462
Unfortunately vim-go is not designed to work well with gb yet. So I don't know why GOPATH is not passed to vim, but if it's passed and your libraries are installed the rest is up to `gocode`. So vim-go doesn't have any clue, it's just a dispatcher which uses your input, passes it to `gocode` and reflects back the possible outcomes.  Check out the debugging section in `gocode`, it''ll be helpful fo

[2015-06-17 20:43] #462 closed

[2015-06-21 19:58] ersiner opened #465 "GoDoc cannot distinguish a variable from a package name"
Consider the following code snippet:

[code]

When I try to lookup documentation for `Scan()`, GoDocBrowser tries to open https://godoc.org/scanner#Scan as if `scanner` is a package name and if course it's not correct.

[2015-06-22 15:34] fatih commented on #465
Thanks @ersiner for reporting. I'm aware of this problem. We need to change :GoDoc to find the underlying identifier to match and jump to the doc directly. I'm closing this in favor of the duplicate already open issue #332  (which is not yet resolved).

[2015-06-22 15:34] #465 closed

[2015-06-22 15:46] fatih commented on #433
Related PR: #463

@mdwhatcott I've didnt yet tried the new PR nor did I review it. However if you have an existing code that uses `go generate` I would be happy if you could try #463

[2015-06-23 09:30] henry-zhuang opened #466 "vim.go: $GOPATH is not set"
Go is installed through brew

    vim-go: could not find 'gotags'. Run :GoInstallBinaries to fix it.

When I enter `GoInstallBinaries`, it prompt:

    vim.go: $GOPATH is not set

[2015-06-23 11:39] fatih commented on #466
Hi @henry-zhuang. This is not vim-go related. You need to set your GOPATH imho.

[2015-06-23 11:39] #466 closed

[2015-06-25 13:56] fatih commented on #433
This is now merged to master with https://github.com/fatih/vim-go/pull/463. Thanks!

[2015-06-25 13:56] #433 closed

[2015-06-25 15:16] fatih commented on #421
Closing this as I didn't receive a response for a month.

[2015-06-25 15:16] #421 closed

[2015-06-25 15:23] fatih commented on #428
Any response on this?

[2015-06-25 15:24] phemmer commented on #428
I'm maintaining my own fork of the code. Will close.

[2015-06-25 15:24] #428 closed

[2015-06-25 15:24] fatih commented on #384
Closing this in favor of https://github.com/t-yuki/vim-go-coverlay. We could merge this into vim-go if @t-yuki agrees, but it doesn't need to :)

[2015-06-25 15:24] #384 closed

[2015-06-25 15:25] fatih commented on #364
Closing this as ~ 2 months has been passed.

[2015-06-25 15:25] #364 closed

[2015-06-25 15:26] #302 closed

[2015-06-25 15:27] fatih commented on #302
No need for this anymore, as we have now an improved fmt code base.

[2015-06-25 15:28] fatih commented on #449
Any response on this?

[2015-06-25 15:38] oryband commented on #384
wow, this tool is amazing. major productivity boost
![](http://theartmad.com/wp-content/uploads/2015/06/Amazing-Funny-Photos-11.jpg)

[2015-06-26 03:11] xionglun opened #467 "auto build when save?"
Did this plugin will auto build when save?
If i just open and quit without use `:w`, nothing happened.
But if I open and quit use `:wq`, it will build automatically!!!

Can I forbid that behavior?

[2015-06-26 03:28] xionglun commented on #467
OS: CentOS 7
Vim: 7.4.160

[2015-06-26 03:54] xionglun commented on #467
It seems not this plugin's fault. I will close this one, sorry.

[2015-06-26 03:54] #467 closed

[2015-06-26 09:29] t-yuki commented on #384
It's welcome to merge coverlay into vim-go.
However I think the quality of code is low: its implementation is a bit tricky and not good code with not-tested well even if it works as a plugin of vim-go.
So I'm afraid to make PR currently. Fork or patches are also welcome!

[2015-06-26 21:36] ernestas-poskus commented on #144
For my case 'vim slowdown' was in a form of constant recompilation of binary when working with compilable (main) package. This was caused by scrooloose/syntastic - disabling it helped.

[2015-06-27 07:33] muratsplat commented on #466
Note:
If you sure what GOPATH is setted on your pc and this error shows when vim  opens a go file. The point make sure that gotags installed via `go get`.

Try call gotags your terminal. If returns 'command not found'. You should install 'gotags' via `go get`
[code]
And if retuns no message likes error. Try again to open a go file your vim..

[2015-06-27 18:17] henry-zhuang commented on #466
@muratsplat Thank you. After I set GOPATH, it works.

[2015-06-29 19:21] notpratheek opened #468 "(Yet another) GOPATH issue"
This issue maybe a slightly funky one.

I have set my ```$GOPATH``` in ```~/.bashrc``` as so:

[code]
and I have added the ```let g:go_bin_path``` in my .vimrc as so:

[code]

I tried with ```expand()``` and gave an absolute path as well.

Now, When I launch gvim from terminal and run ```:GoInstall``` it shows installed to ```/home/<myname>/go```

but, when I launch gvim from i3wm as a keyboard sh

[2015-06-29 19:24] fatih commented on #468
Hi @notpratheek. What happens if you don't specify `g:go_bin_path` ?

[2015-06-29 19:27] notpratheek commented on #468
@fatih

If I remove ```g:go_bin_path```, and

1. from terminal open gvim and run ```:GoInstall``` it shows ```vim-go: installed to /home/<myname>/go```

2. from the keyboard shortcut, running ```:GoInstall``` it shows ```vim-go: installed to ______ ```

[2015-06-29 19:30] fatih commented on #468
Oh btw, why are you calling `:GoInstall`? Did you mean `:GoInstallBinaries` ? It seems for the second option `GOPATH` is not set.

[2015-06-29 19:35] notpratheek commented on #468
Sorry, I meant that ! :sweat_smile:

When I launch from shortcut and run ```:GoInstallBinaries```, It shows the error : ``` vim.go: $GOPATH is not set```

But opening gvim from terminal and running ```:GoInstallBinaries```, It runs fine !

[2015-06-29 19:42] fatih commented on #468
Got it, you need to check out Linux environment variables. This is really not vim-go related. I know but you are going to call `:GoInstallBinaries` only once. I can't say much or help you here :)

[2015-06-29 19:42] #468 closed

[2015-06-29 19:45] notpratheek commented on #468
Ok ! Thanks @fatih :smile:

[2015-06-29 20:02] akavel commented on #361
To update on this: so, the answer now is mostly "use the awesome https://github.com/garyburd/go-explorer plugin". It solves nearly all the points I listed, except the first and the last. Actually, the last one is partially solved too, via tab-completion after typing `:GeDoc ` (I say "partially" mostly because it misses the high-level one sentence package description docs).

That said, I'm not sure

[2015-06-29 21:36] fatih commented on #361
I would welcome the integration of this plugin into vim-go. I know that it could be live outside, but I've created vim-go just for this reason, to not have install many other independent tools just to have a proper Go development environment in Vim.

Having integrated would made it let people use it with the new vim-go version and we could integrate the binary installation of go-explorer into `:Go

[2015-06-29 22:16] notpratheek commented on #468
@fatih

I seemed to have solved the issue with the help from #i3 channel in IRC (but all and full credits to the good folks at #i3 IRC for coming up with the solution !).

To solve it, We need to add the ```$GOPATH``` and (the updated) ```$PATH``` variables to ```.xsessionrc```, Log-out and re login.

That seems to solve this funky issue ! :smile:

---

I'm leaving this info here, in case it might

[2015-06-30 01:36] garyburd commented on #361
Because I do not use the vim-go plugin, I do not want to merge go-explorer with vim-go or contribute to vim-go.  Feel free to advertise go-explorer in the readme.

[2015-06-30 01:47] adamveld12 opened #469 "Auto completing on the wrong line"
I ran gocode in debug mode (with gocode -s -debug) and tried to run the auto complete (<C-x><C-o>) and it seems like the wrong line is being sent. More specifically it should be at line 34. When I run the auto complete, it completes the line with "getWatch".

I have my cursor on the line "proj.", and the # symbol is in the center of the function "get#Watch", assuming the # means that's where go co

[2015-06-30 02:34] adamveld12 commented on #469
I can confirm that my setup on my mac works great, so this is definitely a windows issue.

[2015-06-30 05:50] henry-zhuang opened #470 "E492: Not an editor command: Fmt"
This is my .vimrc
https://github.com/henry-zhuang/dotfile/blob/master/.vimrc

When I save my *.go file, it prompt:
[code]

[2015-06-30 07:30] oryband commented on #384
@avivl

[2015-06-30 12:43] fatih commented on #470
Checkout the FAW, you didn't installed it properly: https://github.com/fatih/vim-go/wiki/FAQ-Troubleshooting Also there is no `Fmt` command in vim-go.

[2015-06-30 12:43] #470 closed

[2015-06-30 12:55] fatih commented on #361
Fair enough. I'll close this issue then. I've added it to the Readme.

[2015-06-30 13:11] fatih commented on #469
Hi @adamveld12. Can you please provide a fully compilable source code which you can reproduce? The current example is not something which can be debuggable.

[2015-06-30 15:59] henry-zhuang commented on #470
@fatih It seems to syntax error cause this error information, not fomat error.

[2015-06-30 19:53] adamveld12 commented on #469
The source for the project I was working on is here: https://github.com/adamveld12/gowatch
The file in the debug output is main.go.

[2015-07-01 09:54] acasajus commented on #375
:+1:

[2015-07-01 10:00] chakrit opened #472 "Go tool commands does not respect $GOPATH in current shell."
As the title says. It seems like the tool only gets the `$GOPATH` value from the default shell environment and not the current one VIM is running in.

After running `:GoImplements` on an indentifier

[code]

However running `:GoPath` prints the right value from the current shell (project's root)

[code]

[2015-07-01 10:01] chakrit commented on #472
Manually invoking `:GoPath` and giving it a path makes no difference.

[2015-07-01 10:01] chakrit commented on #472
`:GoRename` also seems to have the same problem.

[2015-07-01 10:02] chakrit commented on #472
[code]

[2015-07-01 13:13] casimir commented on #375
@fatih Since you just "heard", I can confirm you it works quite well. I use this setup on a daily basis.

[2015-07-01 13:18] shazow commented on #375
Can also confirm that vim-go works perfectly fine with Neovim.

[Neomake](https://github.com/benekastah/neomake) might be a good reference to look at, it's a build plugin that takes advantage of Neovim's async job control stuff (and still backwards compatible synchronously).

[2015-07-03 20:17] gregf opened #474 "setting go_fmt_command="goimports" doesn't seem to work"
I have the following settings in my vimrc

[code]

When I save go fmt is run by it doesn't appear to be using goimports for formatting. I have to manually run :GoImports each time.

[2015-07-03 22:49] nhjk opened #475 "error: cgo pkg-config not supported"
When I import packages with cgo in them, I get the error "vim-go: cgo pkg-config not supported" when trying to rename things. Here's an example with the git2go package

[code]

[2015-07-04 21:02] fatih commented on #475
Hi @nhjk This is directly coming from `:GoRename` and the underlying tool. Which means your code doesn't support it and this not related with vim-go. The error warning should be clear. Vim-go is just a wrapper here and there is not much it can do. Thanks for opening the issue.

[2015-07-04 21:02] #475 closed

[2015-07-05 04:59] derekchiang opened #477 "Disable error check on save?"
When I save a buffer, some sort of error checking process automatically runs and freezes my window for a few seconds.  How do you disable that?

[2015-07-05 15:48] PagedeGeek opened #478 "highlight receiver"
How to highlight receiver ?

[2015-07-05 22:05] fatih commented on #474
Hi @gregf. I don't know how this is possible, the only option would be that `goimports` is not installed. This feature is working because I'm using it myself and there are no recent changes on this particular feature.

To install `goimports` please run `:GoInstallBinaries` or invoke `go get golang.org/x/tools/cmd/goimports` from your terminal. Let me know how it works for you. Cheers.

[2015-07-05 22:05] #474 closed

[2015-07-05 22:14] gregf commented on #474
I did what you said, but it's still not working.

[code]

[2015-07-05 22:44] gregf commented on #474
I'm a idiot I had a conflicting setting in another file. Sorry to waste your time.

[2015-07-05 22:47] fatih commented on #474
No worries, I'm happy it worked out for you. The thing is I'm receiving a lot of issues like this and I don't know how to deal with them anymore :) Need a way to filter it out but when I close it directly it feels like I'm a rude person or arrogant (which I try to avoid at all). So anyway, again happy that it worked out for you. Happy vim-go coding!

[2015-07-06 01:37] fatih commented on #459
Hi @zeast

So I've profiled myself on a 1000 line long file and the running time of `go#fmt#Format()` is;

[code]

The most time it spent was only while it was executing:

[code]

Where `splitline` was very low:

[code]

It' seems it's heavily dependent on the machine it's running. I have MacBook Pro 15 (Late 2013) with 8 cores, which might the reason it's executing very fast.  I mean in my case t

[2015-07-06 01:40] fatih commented on #478
Hi @PagedeGeek . There is no such feature. We need to parse the go file and able to identify it and we don't support it. I don't have the time to implement it, but I'm open to contributions. Thanks

[2015-07-06 01:40] #478 closed

[2015-07-06 01:47] fatih commented on #477
Please don't use https://github.com/scrooloose/syntastic. Vim-go doesn't do any checking, it only outputs `gofmt` error if there is any. To disable them:

[code]

Thanks

[2015-07-06 01:47] #477 closed

[2015-07-06 01:57] #458 closed

[2015-07-06 02:05] fatih commented on #472
Hi @chakrit. This should be something else, I don't think it's due Gopath handling in Vim-go as it's already there for months without any problem.

* What shell are you using?
* What gives `:echo $GOPATH` and `:GoPath` ?

[2015-07-06 02:06] fatih commented on #449
Closing as I didn't get a response for over 1 month.

[2015-07-06 02:06] #449 closed

[2015-07-06 04:01] henry-zhuang opened #480 "When I enter `gd`, how to back origin line"

[2015-07-06 04:24] chakrit commented on #472
* What shell are you using?

`zsh 5.0.7 (x86_64-apple-darwin14.0.0)`

* What gives :echo $GOPATH and :GoPath ?

Both print the same values of `/Users/chakrit/Documents/example/lib/:/Users/chakrit/Documents/example/`

[2015-07-06 06:16] zeast commented on #459
@fatih
I find if I use ``` -u ~/test_vimrc```, I will get error message
[code]

So I backup ~/.vimrc and move test_vimrc to ~/.vimrc and use command
` vim --cmd 'profile start profile.log' --cmd 'profile! func *’ t.go `

I use an iMac of 2011, the cpu info is
[code]
gist: https://gist.github.com/zeast/99f3f6d650e4e04b1ec9

[2015-07-06 13:54] fatih commented on #480
This is a Vim question, not `vim-go`. Use `ctrl-o`. Thanks

[2015-07-06 13:54] #480 closed

[2015-07-06 16:31] fatih commented on #459
Thanks @zeast. Which Vim version are you using? It's unbelievable how much different the profile log is for you and for me. Especially the `setline` call. For me it's not taking that much, but for you it's really bad. I'm looking into recent Vim patches, I wonder if this is something that is improved later.

[2015-07-07 06:11] zeast commented on #459
@fatih
I’m very puzzled. Yesterday I reinstall the system of a MacBook Pro 2014.  Today, when I receive you message, I test at the MacBook, nothing changed.

I install vim from https://github.com/vim/vim
config command: `./configure --with-features=huge --enable-multibyte --enable-rubyinterp --enable-pythoninterp --enable-perlinterp --enable-luainterp  --enable-cscope --with-tlib=ncurses --prefix=

[2015-07-08 15:16] eatonphil opened #481 "GoImports undoable"
It would be awesome if you could undo a GoImports deletion. I am always accidentally saving before I add a reference to a package I just added. I have to retype it instead of just hitting `u`.

[2015-07-08 19:51] fatih commented on #481
Hi @eatonphil

Thanks for the idea, though this is something out of control and vim-go doesn't track any state between your previously formatted code and the latter one. What you could do is using `gofmt` command and call `:GoImports` whenever you feel it's safe. Otherwise just hit `u`, which is way simpler than tracking the state. Thanks.

[2015-07-08 19:51] #481 closed

[2015-07-09 09:41] TomTom86 commented on #30
Hi all, i have the some problem:

when i try :GoRun or others GoCommand i have this error

![image](https://cloud.githubusercontent.com/assets/8830977/8592317/9ffccdfa-262e-11e5-9f3e-ae298ca00e6a.png)

My os is Win7, i use gvim7.4 and in my _vimrc i set:

set shell=cmd
set shellcmdflag=/c

i try :echo system("echo hi") and the error is the some:

![image](https://cloud.githubusercontent.com/assets

[2015-07-10 07:02] gbbr opened #482 "Saving files very slow due to gofmt"
When using the `gofmt` "_on save_" option it can sometimes take up to 5 seconds when saving a file. This seems to only occur when the file is part of a large project within the current working directory.

Does `gofmt` _on save_ run only on the current file or does it run on the whole tree? It seems to me like the later but I'm not familiar with the implementation. Is there anyway to keep this opti

[2015-07-10 07:09] fatih commented on #482
Hi @gbbr

This is a duplicate of #459. Can you please have a look at it and also post your profile.log? I would appreciate it.

As for your question, it's per file rather than project. For me `gofmt` on save is instantaneous, however there are cases (here #459 and #476) which shows that it's slow for some people.

You might change `fmt.vim` to the old commit (https://github.com/fatih/vim-go/commit

[2015-07-10 07:09] #482 closed

[2015-07-10 07:14] fatih commented on #459
I'm on this. I have also tested in write saving via `-w`, but this option also has it quirks, like not obeying history, breaking the history and removing the syntax highlighting. Another call would be using `append`, but append is breaking the layout. So I'm still looking at this, probably will be looking at it full time on my weekend. This is one of Vim's and VimL shortcomings which is full of si

[2015-07-10 09:29] zeast commented on #459
@fatih
Thank you very much for you attention. I think vim is complicated too. In fact I remove ` fdm=syntax` from my vimrc and it’s work fine! (I don't know why) I hope this can help you. Vim-go is a very useful plugin when I coding by golang. If you need test reply this comment and I will see it.

[2015-07-10 17:04] gbbr commented on #482
Hi @fatih

Thanks for the prompt reply. I'm not exactly sure why it's slower in one file but faster in another.

The slow file has 256 lines and here is the *full* profile: http://pastebin.com/gkBRPS8Y (just search for "fmt")
A much faster file has 5825 lines: http://pastebin.com/ithy8F16

It's odd that the significantly faster file is the larger one. The only difference between them that I can th

[2015-07-10 23:28] coolaj86 opened #483 "How can I make :GoLint run on save?"
I tried adding `autocmd BufWritePre *.go :GoLint` to `~/.vimrc`, but that didn't work.

[2015-07-10 23:33] fatih commented on #483
Hi @coolaj86

Use:

[code]

Thanks.

[2015-07-10 23:33] #483 closed

[2015-07-10 23:36] coolaj86 commented on #483
Thanks, I also just found https://github.com/fatih/vim-go/issues/259 moments ago.

[code]

This also works.

[2015-07-11 11:25] fatih commented on #459
I've asked a detailed question here:

http://stackoverflow.com/questions/31356643/prevent-cursor-jumping-to-bottom-when-the-buffer-is-replaced

Note that I have already two solutions (see above question) which works fine, however they both suffer from this problem:

http://d.pr/i/1buDZ

I hope we can find a proper solution for it, meanwhile I'm still looking at it.

[2015-07-11 14:56] iverberk commented on #472
I think might be have similar issues. I'm using this project https://github.com/opencontainers/runc and when I open run.go I get an error message that both imports could not be found. Obviously this project uses godeps. :echo $GOPATH gives my the default system Go path (a single directory). :GoPath actually gives me the system Go Path *and* the godeps workspace path. It seems like the gocode tool

[2015-07-12 05:42] fatih commented on #472
Hi everyone.

This is a weird error because GOPATH is a very core thing to vim-go. It doesn't do anything but only changing it. So it only appends certain folders if those are detected. Other than this it's up to the tool (such as goimports, oracle, etc..) how they use it.

What happens if you add this to your vimrc: `let g:go_autodetect_gopath = 0` ?

[2015-07-12 10:58] iverberk commented on #472
Hi Fatih,

Thanks for the reply! It is a strange issue indeed. Adding ```let g:go_autodetect_gopath = 0``` makes the :GoPath command not add the godeps workspace path anymore. So then my $GOPATH within Vim and outside are the same.

So you are saying that vim-go alters the global $GOPATH environment variable so that goimports, gocode, oracle can use the updated $GOPATH? The basic issues seems to b

[2015-07-12 11:01] fatih commented on #472
It seems even if Vim sets the GOPATH, it doesn't get pick up by the tool itself. Did you changed GOPATH from outside (to the initial value, just like vim-go did) and tried it that way too? I'm using Mac and MacVim and doesn't have any issues. And trust me I've tried this feature for approx 1 month. So it means something else must be wrong, but I don't know what :)

[2015-07-13 06:12] fatih commented on #459
I've also implemented an experimental mode with the `-w` flag (So we now have three different options (four with the current one) which formats the buffer) https://github.com/fatih/vim-go/commit/01578fd8632870f8285266b93c1e219df19c4002

This also has some quirks though:

1. If you hit `:w`, `BufWritePre` will be triggered, but inside the function the file will be changed via gofmt. When the functi

[2015-07-13 11:30] elct9620 opened #485 "GoRun with build tags"
I try to run my code using `:GoRun -tags debug` but I got error message "flag needs an argument: -tags" after I executed it.

But I think it may working, is I typed wrong flags in vim?

[2015-07-13 11:38] elct9620 commented on #485
Oops, I try `:GoRun % -tags debug` and working.
But will have the shortcut like `:GoRun -tags debug` ?

[2015-07-13 16:55] fatih commented on #485
Hi @elct9620

`:GoRun` doesn't support flags as it's not intended for long running apps. Thanks for the issue.

[2015-07-13 16:55] #485 closed

[2015-07-14 16:19] adrianduke opened #486 "Normal mode keyboard events printing over buffer"
When I am in normal mode editing a go file with the vim-go plugin enabled after a brief period of wait (not moving the cursor) time (~100's of milliseconds) key presses will stop moving the cursor and begin printing over the top of the buffer:

<img width="1920" alt="screenshot 2015-07-14 17 09 06" src="https://cloud.githubusercontent.com/assets/711058/8678323/d6d30878-2a4b-11e5-9d17-2ed832cd75c6.

[2015-07-15 08:46] adrianduke commented on #486
Upon further usage I have found that YouCompleteMe has also began causing a similar issue in insert mode (even with vim-go disabled).

[2015-07-15 09:00] fatih commented on #486
Hi @adrianduke

I don't know why this happens for you. Vim-go doesn't do anything with your buffer, the only thing it does is when you hit save (`:w`). So this shouldn't be a problem at all. Please disable all plugins and look what is causing for this. Also your terminal might be one of the reasons too, search for vim-go issues regarding this. In the past people had a lot of problems with it.

[2015-07-15 09:00] #486 closed

[2015-07-15 09:09] adrianduke commented on #486
Ok thanks for pointer!

[2015-07-16 17:04] mdlayher opened #487 "Syntax highlighting for //go:generate tags"
Hello!  Just updated `vim-go` and I'm a huge fan of the ability to highlight build constraints.  It makes them much more visible in my platform-dependent code.

If possible, it would also be very nice to (optionally) syntax highlight `//go:generate` tags, so they don't blend into the background as much.

Thank you very much for all of your hard work on this plugin.  It makes Go development with `v

[2015-07-20 04:44] chakrit commented on #472
@fatih I think this maybe related to how VIM (or vim-go?) spawns new subshell to run the `go*` commands. If I modify my `$GOPATH` in my `.zshenv` file to the project-local folder. Everything works correctly. But if I have a mismatch, the default environment seems to gets the priority.

[2015-07-20 04:53] chakrit commented on #472
My vimscript knowledge is limited but this seems to show the problem:

[code]

[2015-07-20 05:00] chakrit commented on #472
VIM version for reference.

[code]

Same behavior in neovim.

[code]

[2015-07-20 10:38] fatih commented on #487
Hi @mdlayher, thanks for bringing this up. We can tackle this later, for now I've marked this as `feature` and don't close this till we implement it.

[2015-07-20 13:11] mdlayher commented on #487
Sounds great, thank you very much!

[2015-07-22 09:23] akavel opened #490 "[improvement] oracle freevars: show suggestion to mark a region"
When `:GoFreevars` is called without any selection/region, it would be nice if it showed a hint/suggestion like: "GoFreevars should be used on a (selected) region of code". Otherwise it's hard to discover that. When `:GoFreevars` is called without any region (on "empty region"?), it just shows "no freevars". I had to consult the "freevars" mode in the *"Oracle Design Doc"* to realize I need to mar

[2015-07-22 09:40] #490 closed

[2015-07-22 09:41] fatih commented on #490
@akavel Thanks for the tip! I've added a warning as you said, hope it makes it more usable in the future for others.

[2015-07-23 13:21] guns commented on #459
Hi @fatih,

I had the same problem as @zeast, and also profiled vim-go to discover that
`setline(1, list)` was very slow for me.

Unfortunately, I didn't find this thread until I spent a couple of hours
debugging and digging around in the Vim source. That said, the reason
[f_setline](https://github.com/vim/vim/blob/54e9a62ad6106b9db63cfbbd84efec1ce82c69d0/src/eval.c#L17021-L17095)
blows up in runn

[2015-07-23 18:33] fatih commented on #459
@zeast @luan @gbbr could you please use #492 and report back? I've just tested and it's an improvement of my current https://github.com/fatih/vim-go/tree/fmt-in-write branch. @guns did here a great job and I really thank him, nice job :+1:

[2015-07-24 06:50] zeast commented on #459
@fatih
The branch work well. And I found a different point is when I save file, it's show two filename now.
![image](https://cloud.githubusercontent.com/assets/9344800/8868958/204e9c20-3211-11e5-93a8-67bc33fca698.png)

[2015-07-24 07:06] fatih commented on #459
@zeast this one is weird, there should be only file after you save something, how is it you see duplicates in the same folder?

[2015-07-24 07:47] hvnsweeting commented on #214
I'm using vim-go at version: 1a6d60ecbebe0741f9d22439fcbca107fdc4cf86

My vim version:

[code]

on OSX 10.10.4 and I got the same error when save file.

If only happened sometimes, and only when there are fmt errors in code, but not always.

And error:

[code]

So I reopen this issue.

[2015-07-24 08:19] fatih commented on #214
@hvnsweeting can you try please the PR #492 ?

[2015-07-24 08:25] hvnsweeting commented on #214
@fatih thanks for the quick reply but I already upgraded to vim 7.4 (as guys in this issue suggest) and it not happen so often, so I will report if it crashes next time.

[2015-07-24 10:21] zeast commented on #459
@fatih
What's the value of `shortmess` in you vimrc?
I use branch `fmt-in-write` and  `set shortmess=Ia` in my vimrc,  It's well be two filename.
If I comment  `set shortmess=Ia`. The filename is ok, but statusline well be change.

[2015-07-24 10:23] steveeJ opened #494 "Option to make :GoDef (gd) create a new tab or split"
It would be nice to have the described feature. One can easily get lost down deep several gd-jumps and jumping back can be annoying.

An example would be to have commands `:GoDef{t,v,s}` with mappings of `:gd{t,v,s}` respectively. This way one could decide how to advance which each jump.

Please let me know if I'm missing an alternative way that would make things easier.

[2015-07-24 14:13] tsenart commented on #320
+1

[2015-07-24 15:21] fatih commented on #494
There are already settings @steveeJ. Did you read the README.md and the docs?:

[code]

Or did I misunderstand you :) ?

[2015-07-24 19:09] guns commented on #459
@zeast

I see, reloading the buffer is causing an extra message to appear, which does not happen if you have `o` in your `'shortmess'`.

The solution is to use `silent` when reloading the buffer.

I squashed and pushed a fix for that. Could you please try it now?

[2015-07-24 20:42] sagax opened #495 "go write tab on new line"
when i push Enter for create new line i get Tab instead Space, but i use only space. howto fix this?

thanks

[2015-07-24 21:00] sagax commented on #495
if i replace tab to space, when i save file - all space convert to tab. nothing writed about this problem with tab in doc.

[2015-07-25 00:43] steveeJ commented on #494
@fatih: You didn't misunderstand me at all. Thanks a lot for helping me out with my blindness, and sorry for totally wasting your time!

[2015-07-25 00:43] #494 closed

[2015-07-25 08:58] fatih commented on #461
This is now supported with the merged #493 PR. @ivulfson Please test it and report us any problems you have :)

[2015-07-25 08:58] #461 closed

[2015-07-25 10:31] le0nik commented on #344
+1, why do you force users use tabs instead of spaces?

[2015-07-25 14:42] #459 closed

[2015-07-25 14:42] fatih commented on #459
The fix is merged to master. Please pull and test it. If it is still slow, please attach a profile log too, so we can debug it. Thanks.

[2015-07-25 22:43] demizer opened #498 "GoErrCheck is broken with vendored packages"
`:GoPath` shows gopath is being set correctly: `/home/demizer/src/gds:/home/demizer/src/gds/vendor/:/home/demizer` but when I run `:GoErrCheck`, I get the following output:

[code]

`errcheck` works properly if I run the command in the terminal with the same gopath:

[code]

Thanks!

[2015-07-26 15:14] xla commented on #320
+1

[2015-07-26 15:34] fatih commented on #320
I'll reopen and add label it as `feature`. Will tackle it later or soon :)

[2015-07-26 15:34] xla commented on #320
@fatih Thanks for the follow-up!

[2015-07-26 15:56] fatih commented on #498
Hi @demizer

Can you set `let g:go_autodetect_gopath = 0` and try again?

[2015-07-26 22:19] nowk opened #499 "GoDrop throws Not enough args for go#imports#SwitchImport"
Not sure if this is just me. But when I do this:

    :GoImport fmt
    ...
    :GoDrop fmt
    # GoDrop then gives me `Not enough arguments for go#imports#SwitchImport`

[2015-07-27 01:27] ivulfson commented on #461
Confirmed working, after I changed my .vimrc thusly:

[code]

That only became apparent after looking at the code diff. :)  Not sure if that's what I'm supposed to do, though.

[2015-07-27 07:38] #499 closed

[2015-07-27 08:49] shazow opened #501 "Upcoming changes in golang.org/x/tools"
There are discussions for changes to Go tools, mostly renaming/consolidating things. It's not planned for "several months" but worth keeping an eye on it. Also they're accepting feedback/requests for the current toolset, I figure vim-go might have opinions to share. :)

- [Design doc](https://docs.google.com/document/d/1IIjEhq54T5KZHTdSyquMhaQ58htYclQpFEX4WRVOhJw/view#heading=h.y2yf1miyweis)
- [go

[2015-07-27 08:56] fatih commented on #501
Hi Andrey. Thanks for the notice. I've already read it but didn't have the time to respond to it :) Unifying the tool will be really awesome as we rely on to many small binaries. Having a single one would improve the overall stability and it would also lower the introducing of new features (as the new binary would already have all the features we would like to have). I'll probably will look into i

[2015-07-28 14:33] tgrosinger commented on #320
+1 this feature request. I was going to open an issue asking for integrating go-vet and go-lint on save (similar to what go-plus does for Atom), but this sounds like it would be even better in the long run.

[2015-07-29 03:19] ajm188 opened #502 "All folds get closed on write"
This is obviously highly annoying, having to re-expand whatever fold you need every time you write the buffer.

[2015-07-29 04:34] on99 commented on #502
also encounter this problem, hope it can be fixed soon

[2015-07-29 04:36] on99 opened #503 "auto go install on write"
I found it automatically run go install command on save, but my config is only to run goimports.

Is it a bug or feature?

[2015-07-29 05:57] fatih commented on #503
Hi @on99 . There is no `auto go install` in vim-go. You must have installed a different plugin.

[2015-07-29 05:57] #503 closed

[2015-07-29 06:06] demizer commented on #498
@fatih, I am using gb as my build tool, which uses the vendor directory. My default GOPATH is set to $HOME. I followed your instruction above, the command still fails, but this is expected because I don't have these vendored packages in my default GOPATH. The output is similar to the output I posted above.

[code]

[2015-07-29 06:09] fatih commented on #498
There is no truly gb support yet (Even tough we add the folder to GOPATH). I need the same environment to reproduce the case (which I don't have yet)

[2015-07-29 16:49] ajm188 opened #504 "Static analysis does not seem to work correctly for non "main" package files"
If I am writing code that is not in the main package, I get no errors/warnings about calling non-existent methods, referencing undefined types, type mis-matches etc. So, if I am working on my own package, I lose basically all benefits of using the plugin.

Not sure if this an issue with the underlying go tools, or the way vim-go uses them.

[2015-07-29 17:08] fatih commented on #504
Hi @ajm188. vim-go is fine, have a look at oracle's user manual: golang.org/s/oracle-user-manual However if you find an inconsistency (which indeed can happen), please open an issue with a test case (code). Thanks.

[2015-07-29 17:08] #504 closed

[2015-07-30 09:38] guns commented on #502
This bug was introduced with the fmt-in-write merge, which was created to
address the exponential slowdown when using setline() to update a buffer with
folds.¹

The GoFmt implementation before 99a1732e40e3f064300d544eebd4153dbc3c60c7 also
suffered the same problem of resetting folds since the buffer was truncated
before being rewritten.

Between these two commits, buffers were replaced line by lin

[2015-07-30 10:23] nightlyone opened #505 "Integrate MetaLinter"
Integrating https://github.com/alecthomas/gometalinter might be very useful and could speed-up some development flows.

[2015-07-30 12:16] #505 closed

[2015-07-30 12:16] fatih commented on #505
Hi @nightlyone. This is a duplicate of https://github.com/fatih/vim-go/issues/320 :)

[2015-08-02 07:38] fatih commented on #495
Hi @sagax . This is due gofmt and is normal. If you don't want to use `gofmt` add this to your vimrc: `let g:go_fmt_autosave = 0`

[2015-08-02 07:38] #495 closed

[2015-08-04 15:49] lanchongyizu opened #512 "GoDef cannot work with package imported with a . (period)."
![screenshot from 2015-08-04 23 35 57](https://cloud.githubusercontent.com/assets/2138456/9064971/a4373756-3b01-11e5-8c10-a4cbb6aa8896.png)
When the following command is executed
[code]
it generates
[code]

[2015-08-04 16:14] fatih commented on #512
Hi @lanchongyizu. This is a well known limitation of https://github.com/rogpeppe/godef. Please have a look at that repo. Thanks!

[2015-08-04 16:14] #512 closed

[2015-08-04 21:32] jlovison opened #513 "GoBuild rebuilds up-to-date packages"
When running any form of vim-go's `GoBuild` command, it effectively results in a `go build -a` and rebuilds dependencies that are already up-to-date.

In my case, as I'm importing a package that uses mattn/sqlite3, which has a 20s+ build time, this means all of the functionality vim-go brings to the table from quickly accessing testing, etc is 10x slower than just Alt+Z and running from the comman

[2015-08-05 06:41] fatih commented on #513
Hi @jlovison

You can use `:GoInstall`, which is basically the same but touches only new files. Other than this we simply call `go build` and there is no magic here. You can pass arguments to `:GoBuild` if you wish. Thanks.

[2015-08-05 06:41] #513 closed

[2015-08-05 08:21] jlovison commented on #513
Hi @fatih,

Awesome - so doing a `:GoInstall` one time fixed this (which had been happening with `:GoTest` and all other compilation commands).

Thanks for the response.

[2015-08-05 13:54] wingyplus commented on #353
I experiment about this feature that use curl to fetch and `nokogiri` to extract code from html in example.

`curl -s http://play.golang.org/p/3WhFYO7qFC | nokogiri -E utf-8 --type html -e 'puts $_.css(\"textarea#code\").children.text'`

I didn't find any tools better than nokogiri for query selector. What do you recommend about it? I can send a pull request if possible.

[2015-08-05 14:07] fatih commented on #353
Append  `.go` to the url and call curl :)

[2015-08-05 14:40] fatih commented on #353
Example:

[code]

[2015-08-05 15:40] wingyplus commented on #353
Wow, I doesn't know it can. :D

[2015-08-08 10:29] fatih commented on #498
Can you try with the latest master please? There is a fix for errcheck now.

[2015-08-08 18:03] demizer commented on #498
It works! Thank you very much!

[2015-08-08 18:03] #498 closed

[2015-08-12 16:59] variadico opened #519 "gorename URL out of date"
The URL for `gorename` has been moved to `golang.org/x/tools/refactor/rename`.

https://godoc.org/golang.org/x/tools/refactor/rename

It would need to be updated here:
https://github.com/fatih/vim-go/blob/a248fbf42571e4451755ff17df6ddd2be3863ca3/plugin/go.vim#L15

Of course, the old URL redirects to the new one, so nothing is broken. Just something I noticed during installation.

[2015-08-12 17:56] fatih commented on #519
Hi @variadico.

Thanks for the notice. I've just checked and the binary place didn't change though: https://github.com/golang/tools/blob/master/cmd/gorename/main.go

And you still install it via:

[code]

The place you mention is the library, not the main package.  I think there is a setup issue with you environment?

[2015-08-12 17:56] #519 closed

[2015-08-12 18:40] variadico commented on #519
Ah, derp. My bad.

Everything is working perfectly fine. Nothing to do here.

[2015-08-13 21:01] renfredxh commented on #472
I'm having the same issue which is causing `:GoErrCheck` to throw incorrect "cannot find package" errors due to it not executing to gotool with the correct GOPATH. On master using MacVim on OSX.

[code]

[2015-08-15 22:45] abecciu commented on #375
:+1:

[2015-08-16 18:38] arechsteiner commented on #364
I can reproduce this on Ubuntu 14.04. It happens when I use the command `:GoDoc fmt` (with fmt or any other package) when my cursor is either in NERDTree or in the window previously opened by GoDoc. So to reproduce try:

`:GoDoc fmt`

then, *without switching the cursor* to another window, leaving it in the window that GoDoc opened

`:GoDoc io`

Result is the error:

`can't load package: package .

[2015-08-24 02:19] ericwq opened #521 "GoDef doesn't follow the GOOS & GOARCH"
i have the following mapping in the .vimrc:

[code]

while i browsing the golang source code.

[code]
go to line 117 and try to find the definition of f.pread(b,off) with ",dt".
vim-go will jump to the file_plan9.go instead of file_unix.go!!!

in this case, the behavior of GoDef should consider the GOOS and GOARCH environment variable, or should consider the current opened file postfix (which defi

[2015-08-24 05:47] zhangjing opened #522 "How to go back with GoDef"
Hi

gd works well to go to symbol/declaration , but how to go back??

Thanks
Jing

[2015-08-24 05:56] fatih commented on #522
Hi @zhangjing . With `ctrl-o`. This is a Vim feature not vim-go.

[2015-08-24 05:56] #522 closed

[2015-08-24 08:22] zhangjing commented on #522
Thanks fatih  :-)

[2015-08-25 15:35] 7belrhalmia opened #523 "error check"
for every save i have quickfix window appear with error , i don't have syntastic

[2015-08-25 15:36] fatih commented on #523
Hi @7belrhalmia

This means your code is wrongly formatted. If you don't want disaplay `gofmt` errors add this to your vimrc:

[code]

[2015-08-25 15:36] #523 closed

[2015-08-25 15:40] 7belrhalmia commented on #523
no , when i have error on my code and i save the quifix window appear , i don't wont that

[2015-08-25 15:41] 7belrhalmia commented on #523
it can't be error formating because vim go do GoFmt on save

[2015-08-25 15:43] fatih commented on #523
GoFmt produces error, other than this there is no single automatic checking on vim-go. There must be something wrong with your config.

[2015-08-25 15:46] 7belrhalmia commented on #523
this is my config :

autocmd! FileType go noremap ,c :GoRun<cr>
let g:go_highlight_functions = 1
let g:go_highlight_methods = 1
let g:go_highlight_structs = 1
let g:go_highlight_operators = 1
let g:go_highlight_build_constraints = 1
let g:go_fmt_command = "goimports"
let g:go_fmt_fail_silently = 0

[2015-08-25 15:47] fatih commented on #523
IT must be `let g:go_fmt_fail_silently = 1` sorry. With this, you don't get any error showing up for autosave

[2015-08-25 15:53] 7belrhalmia commented on #523
yeah man thanks that work ,  please can you explain me when gofmt return error  , And what the difference between :GoLint   and :GoErrCheck

[2015-08-25 18:24] ereyes01 opened #524 "GoInstallBinaries doesn't go get golang.org/x/tools/cmd/cover"
I was trying to run go-coverage on my code, but it needed golang.org/x/tools/cmd/cover to be installed. neither GoInstallBinaries nor GoUpdateBinaries installed it.

After I manually ran the go get command in my workspace, go-coverage worked great thereafter.

[2015-08-25 18:28] fatih commented on #524
Hi @ereyes01

It seems it's missing

https://github.com/fatih/vim-go/blob/master/plugin/go.vim#L10

You sure we need it ? We are calling `go tool cover`. Though I'm not sure if something changed with go `1.5`

[2015-08-25 20:41] gatspy commented on #472
I also use zsh shell. run macvim in terminal,it's ok. when run macvim as gui occurs errors.
using macvim open a go source file,error info like this
`vim-go: could not find 'gotags'. Run :GoInstallBinaries to fix it.`
then,run GoInstallBinaries command,
`vim.go: $GOPATH is not set`

[code]

[2015-08-25 22:32] ereyes01 commented on #524
I'm still on Go 1.4.2. I guess it's needed, since that's what the minibuffer was telling me when I tried to run coverage. I understand what you mean though, as I've used `go tool cover` on the CLI without needing to install that dependency...

[2015-08-25 23:00] ereyes01 commented on #524
So I couldn't reproduce this on a new GOPATH having just run `:GoInstallBinaries`. One possible problem could have been that I hadn't run `:GoUpdateBinaries` in a really long time on that first GOPATH where I saw this error. I have since run `:GoUpdateBinaries` on that first GOPATH after reporting this bug, so I'm not sure how to easily go backwards to where I was in my old toolchain versions :-/

[2015-08-26 06:25] fatih commented on #524
Alright, getting done environments is a hard thing. I'll close this, if you hit something similar again just don't forget to take a screenshot :)

[2015-08-26 06:25] #524 closed

[2015-08-29 10:38] vlad-doru commented on #144
Shout out to @ernestas-poskus .. Vim-go does not play well with syntastic.

[2015-08-30 05:03] omeid commented on #487
+1

[2015-08-30 14:17] ernestas-poskus commented on #144
You are right, found the issue myself, Syntastic was recompiling Go project every time on save. Redefining ```g:syntastic_go_checkers``` checkers helped.

[code]

[2015-08-30 23:59] ereyes01 opened #525 "Oracle Doesn't Work With Go 1.5 Experimental Vendoring Support"
In my Go project, I've moved to Go 1.5 and I am using the [experimental vendoring support](http://icanhazdowntime.org/post/2015-07-09-go-vendor-experiment/) in which all my dependencies live in `vendor/` as Git subrepositories. In order to enable this support, I need to export the environment variable `GO15VENDOREXPERIMENT=1`

I have that variable exported in my environment, but it appears that vi

[2015-08-31 15:43] vdemario opened #526 ":GoInstall doesn't close the quickfix window when succesful"
I used to rely a lot on `:GoBuild`, and the quickfix window with the errors closes itself when there are no more build errors.

`:GoInstall` gives me the exact same quickfix window with compilation errors, but once it succeeds with no errors, the errors for the last unsuccessful build stay open. Am I missing something, can this be closed automatically already somehow?

I'm using the v1.1 tag.

[2015-08-31 17:45] ereyes01 commented on #525
I'm now pretty sure the problem I'm hitting is in `oracle`. Everything else , like running tests, coverage, etc. seems to work fine with `GO15VENDOREXPERIMENT=1`.

I tried running the callers command in oracle on the command line, and I get the same errors.

[2015-08-31 17:50] ereyes01 commented on #525
It doesn't look like there's anything vim-go can do about this problem with oracle. Unfortunately, I can't find where oracle's issue tracker lives, which is where I should be posting this issue.

[2015-08-31 17:50] #525 closed

[2015-09-01 11:17] StevenMaude commented on #259
This is syntastic-specific but, for anyone else wondering why only one of the checkers is working after adding the `syntastic_go_checkers` line to `.vimrc`, you also need:

[code]

[2015-09-01 12:18] fatih commented on #526
Hi @vdemario. This might be true, I've just quick checked it and it seems we don't close it for `:GoInstall`. Maybe I'm wrong but I'll mark this as bug until I check it out in more detail. Thanks for bringing this up.

[2015-09-01 12:49] vdemario commented on #526
Thanks.

I tried moving the `:GoBuild` code to the `:GoInstall` function and just changing `build` to `install`. It worked but I couldn't get the original message from the `:GoInstall` command to stick, my VimL skills are pretty much non-existent. ¯\_(ツ)_/¯

If I manage to do it I'll send a PR.

[2015-09-01 15:42] fatih commented on #526
I know where the problem is, I'll look into it ;)

[2015-09-01 19:52] breerly opened #528 "How to run :GoVet on save?"
Been struggling with this... any idea?

[2015-09-02 00:59] guns commented on #528
Use an autocmd on the BufWritePost hook. You should look into asking questions like these on the vim_use mailing list or in the #vim channel on freenode.

[2015-09-02 08:23] fatih commented on #528
You can use something like https://github.com/scrooloose/syntastic or there is a PR sitting (which I don't if it makes to add or not) you can try that one too: https://github.com/fatih/vim-go/pull/520

[2015-09-02 08:23] #528 closed

[2015-09-02 15:33] #526 closed

[2015-09-03 12:34] mechmind opened #530 "GoBuild flickers but GoTest not"
When I run GoTest it runs tests in background without switching to console. But when I run GoBuild it shows me console for a moment and then build succeed and screen swithes back to editor. This creates very annoying flickering. How can I fix this? I found that vim-go looks for `Make` function and invokes it instead of `make` but how I can utilize that hook?

[2015-09-03 12:52] zyndiecate commented on #502
This problem annoys me. Thanks for the explanation and research in solutions. Understanding that, it makes me sad, because it seems to be very unlikely to be fixed soon.

[2015-09-03 12:54] fatih commented on #530
Hi @mechmind

I don't remember adding building tests in an async way. Are you sure you it runs in background?

For `:GoBuild`, the `Make` is a part of vim-dispatch and is only called explicitly when `g:go_dispatch_enabled` is set to `1`. It's by default disabled.

[2015-09-03 14:03] mechmind commented on #530
`go#cmd#Test` invokes `go test` using `go#tool#ExecuteInDir`. Looks like it runs a command asynchronously. BTW vim-dispatch can run `make` in background but it will not automatically open quickfix window on build completion.
Can we use `go#tool#ExecuteInDir` instead of `make` in `go#cmd#Build`? Seems like it is a better fit for a task.
Thanks.

[2015-09-03 15:05] YannMoisan opened #531 "gocode and godep doesn't work together"
I am using YCM, installing with this option --gocode-completer.

After having started Vim, I see the gocode daemon :

[code]

Completion works well on a built-ins (like fmt) but not on a dependency in GoDeps.

gocode displays the following message : Gocode returned empty JSON response

Nevertheless, godep seems have been correctly detected
`:GoPath` displays `/Users/yamo/Projects/.go/src/github.co

[2015-09-03 16:15] clentfort opened #532 "GoFmt clears file with goimports as the formatter"
I'm using `vim-go` with `goimports` as the default formatter (`let g:go_fmt_command = "goimports"` is what I have in my `.vimrc`). No matter what contents I have in a file, when ever I save (or run `:GoFmt`) the entire contents of the file is cleared before it is written to disk. This only started to happen today, without any changes to my `.vimrc`. It worked fine before.

I use `vim-go` together

[2015-09-05 10:32] mechmind commented on #530
I made simple fix for `go#cmd#Build` there - https://github.com/mechmind/vim-go/tree/go-build-in-background - and vim does not flicker on build anymore, but I removed `-o > /dev/null` from command because `go build` complains about that.

[2015-09-05 12:10] varun06 commented on #375
I am also using vim-go with neovim from some time without any issue.
:+1:

[2015-09-06 15:37] fatih commented on #375
Closing this as it really looks good. If we want to add or support additional features, we can always open specific issues for those. Thanks all for the replies, much appreciated.

[2015-09-06 15:37] #375 closed

[2015-09-07 18:10] adymitruk opened #534 "Dockerfile for dev env"
The screencast should be demonstrated on a container setup from a Dockerfile that installs everything that's needed including vim and Go.

[2015-09-07 20:22] fatih commented on #534
Hi @adymitruk

Checkout the wiki please. Here is a dev env if you need one: https://github.com/samuell/devbox-golang

Thanks

[2015-09-07 20:22] #534 closed

[2015-09-08 15:29] fatih commented on #530
The changes you made are not changing the execution process. In Vim everything is synchronously. Please check out your vim setup, because there is no such flickering on GoBuild. If you want truly async builds, please checkout NeoVim and use that one. Thanks

[2015-09-08 15:29] #530 closed

[2015-09-08 15:31] fatih commented on #532
Hi @clentfort

Can you please give more detail by what you mean with "entire contents of the files is cleared before it is written to disk"?

Currently we directly write to the file and do not any kind of replacing. So I wonder what is different in your case.

[2015-09-08 15:34] fatih commented on #531
Hi @YannMoisan

Unfortunately vim-go is only compatible with plain YCM. If you use the completer within YCM I don't have much to say. vim-go is only fully compatible with gocode. Anything else is just optional features. For example if you install YCM in a normal way, you should directly get autocompletion, otherwise completion just is triggered with `C-X C-O` shortcuts. What happens if you do it t

[2015-09-08 15:34] #531 closed

[2015-09-08 20:59] clentfort commented on #532
This issue has resolve itself, it seems there was some weird behavior that persisted restarting VIM, restarting my computer solved it. (I worry for my RAM and CPU)

No matter what content I had in a file, saving it would blank the file completly, i.e. remove any code or comments or anything. Just replace it with a complete blank file.

[2015-09-08 21:36] fatih commented on #532
Got it. It's weird imho, it's the first time I see this kind of problem. If you hit it again please also attach some kind of reproducible test please. Thanks.

[2015-09-08 21:36] #532 closed

[2015-09-09 11:06] svanharmelen opened #535 "vim-go and YCM"
I was browsing through your [vimrc](https://github.com/fatih/dotfiles/blob/master/vimrc) file and noticed you are also using vim-go together with YCM.

Now I'm noticing some strange/bad behaviour (mainly read timeout errors) from YCM while trying to autocomplete Go code. So I was wondering if you experience the same problem?

And additionally I was wondering if you compiled YCM with the `--gocode-

[2015-09-11 18:29] svanharmelen commented on #535
Anyone around that has experience with these tools and recognises my issue? Any tips and or workflows that are known to work well are very much appreciated!

Thanks!

[2015-09-12 19:46] 7belrhalmia opened #536 "vim-go can't run GoRun inside neovim"
![gifrecord_2015-09-12_191250](https://cloud.githubusercontent.com/assets/13202562/9833441/3e3c5f42-598f-11e5-87a0-2f3ac51150b0.gif)

[2015-09-12 19:58] fatih commented on #536
Hi @7belrhalmia

Thanks for the bug report but I don't support neovim yet. You are free to use it with neovim, but until We (or I) decide that vim-go should have first class support for neovim I don't fix or debug any neovim related issues. I have many other things to do in my life, and supporting neovim is not something I want to put on the list.

[2015-09-12 19:58] #536 closed

[2015-09-12 20:06] 7belrhalmia commented on #536
@fatih  ok i will make a fork that support neovim bye

[2015-09-12 20:30] poxu opened #537 "GoRun says go run: no go files listed"
I'm trying to launch simple hello world. But when I type :GoRun the result is go run: no go files listed.
Writing go run hello.go it a console works just fine. Writing !go run hello.go from within vim is just fine also. GoFmt works, GoBuild works.

What can be wrong?

[2015-09-13 15:00] poxu commented on #537
I tried to use vim-go in console version of vim, shipped with msys2. It seems it doesn't pass the path to current file to GoRun. I tried a pure windows installation and it works.

[2015-09-13 23:34] shazow commented on #122
Would love to see this merged into vim-go (so I can continue to tell people "hey just use vim-go and you get EVERYTHING!") but I respect that it should totally be up to @rhysd. :)

[2015-09-14 11:44] fatih commented on #122
@rhysd are you ok with merging vim-impl into vim-go? It'll be a part of vim-go (docs, binary installation, etc..) and I think it would reach a larger audience.

@shazow I totally agree, there are a couple of projects like that. Also the licenses are all in a good shape to allow us to include them with no worries.

[2015-09-14 11:49] fatih commented on #537
Hi @poxu. Can you give more detail please? There is no problem on my side. What happens when you call it? I don't know what msys2 is, vim should work with pure Vim installations. It seems you fixed it so I'm closing this issue, however If you still see an error please open with a detailed reproducible test case so I know how to get the error. Thanks.

[2015-09-14 11:49] #537 closed

[2015-09-14 11:52] fatih commented on #521
Hi @ericwq. I think this is a godef problem. vim-go is just a wrapper. I think there is already a PR: https://github.com/rogpeppe/godef/pull/1 Can you please open your issue there? Thanks

[2015-09-14 11:52] #521 closed

[2015-09-14 12:24] fatih commented on #535
Hi @svanharmelen

I've compiled YCM probably 3-4 months ago and didn't touch it from that day. It's still work without problems. I remember YCM changing the completer (which doesn't use gocode at all and does all the heavy lifting). So if that is the case YCM is incompatible with the current vim-version. I need to test the auto completion with the latest version of YCM to give more insight.

[2015-09-14 12:26] fatih commented on #472
Hi. This is because the environment variables are not passed to VIM. You can easily check any environment variable **inside Vim** with `:echo $GOPATH`. What does this give? If it's empty it means that your Vim and OS setup is incomplete or does have some problems.

[2015-09-14 12:27] fatih commented on #472
@renfredxh can you please disable auto detection of gopath by adding the following line to your vimrc:

[code]

Does this solve your problem?

[2015-09-14 13:49] svanharmelen commented on #535
@fatih thanks for your response! It looks to me, that if you compile YCM without `--gocode-completer` it will follow the expected path (YCM -> omni-completer -> vim-go -> gocode), but compiled with `--gocode-completer` it will do the completion by itself (YCM -> gocode). See here for the code that goes along with it: https://github.com/Valloric/ycmd/pull/106

But no worries, I'll give neocomplete

[2015-09-14 13:49] #535 closed

[2015-09-14 20:31] poxu commented on #537
msys2 is a fork of cygwin. Unix environment for windows. From user perspective it is a collection of unix programs, working on top of windows. It has a package manager, ported from Arch.

Among other unix software it has vim, which has problem with GoRun . The problem is that GoRun thinks that file to run isn't supplied.

If I try windows version of vim, downloaded and installed from official site

[2015-09-15 03:44] renfredxh commented on #472
@fatih this problem has been resolved for now (without changing `go_autodetect_gopath`) I'm not sure why, the `$GOPATH` is still what I posted above. Maybe something to do with upgrading to go 1.5.

[2015-09-15 11:29] fatih commented on #472
To everyone involved in this issue, can you try to add the following to your vimrc (it's explicitly sets the shell to a well known one) and try again?:

[code]

Also one of the suggestions from the #vim (freenode) channel is:

[code]

[2015-09-15 11:32] chakrit commented on #472
@fatih ill try in a moment.

[2015-09-15 13:48] chakrit commented on #472
See https://github.com/fatih/vim-go/wiki/FAQ-Troubleshooting

[2015-09-15 13:48] #472 closed

[2015-09-15 18:44] shazow commented on #233
Just stumbled on this, worth mentioning that this might be another good fit for a neovim feature with the async job control. :)

[2015-09-18 08:17] op opened #541 "Jump to definition"
With `gd` I'm able to jump to the definition and it's awesome. I'm used to use `]`, `CTRL-W_]` etc when working in C. Would it make sense to instruct vim to behave similar with Go and also eg `]` as `gd` etc?

[2015-09-18 08:32] fatih commented on #541
Hi @op

You can do it yourself very easily :) We have already mappings, so just create your own custom mappings. For example the following example is from the README:

[code]

We also have `<Plug>(go-def)` which opens it in the current window. So just assign your custom mapping for it.

[2015-09-18 08:32] #541 closed

[2015-09-18 08:32] fatih commented on #541
Btw if you think there is a bug, we can reopen the issue and discuss it.

[2015-09-18 15:30] BooneJS opened #542 ":GoRun works, <Leader>r doesn't"
Hi,

I have multiple files in a directory, all of which are a part of package main. :GoRun works like "go run *.go", but <Leader>r seems to perform "go run <currentfile>", which then results in undefined functions from the other .go files.

Thanks!

[2015-09-19 09:22] rhysd commented on #122
@fatih

Sorry for the delay to catch this issue.

Of course OK.  Using vim-go is a very standard way to write golang code in Vim.  Integrating impl to it leads writing golang code better.

[2015-09-19 12:00] iverberk commented on #472
ICYI my problem was due to a syntastic setting (let g:syntastic_check_on_open = 1). The plugin manual recommends to enable this setting. Apparently it messes with vim-go since the automatic Godeps detection did not work anymore. The solution is to enable passive mode for Go files. Hope it helps anyone.

[2015-09-21 19:13] mmlb opened #543 "Add @Spell to goStringGroup"
I'd like to have spell check within strings and have added
[code]

which works. I would think this would be behind an option like `g:go_enable_string_spell` or something but do not know how to do so.

[2015-09-22 06:04] maerlyn5 opened #544 "write is really slow in large projects"
My go project is rather beefy and vim-go has gotten consistently slower and slower when trying to save a file as the project has grown. Is there a way to disable whatever vim-go is doing automatically on save? I'v tried disabling gofmt but that doesn't seem to have a noticeable impact on save time.

vim-go is amazing, thanks!

[2015-09-22 15:51] nowk commented on #544
You might want to check out this issue https://github.com/fatih/vim-go/issues/144.

[2015-09-22 19:24] maerlyn5 commented on #544
Syntastic was 100% my problem! Thanks!

To disable auto syntax check on write, and add an explicit shortcut (Ctr-w E), add to vimrc
[code]
taken from:
http://stackoverflow.com/questions/20030603/vim-syntastic-how-to-disable-the-checker

[2015-09-22 19:24] #544 closed

[2015-09-22 21:24] athuth commented on #287
I think I've run into this bug while using `log.Logger` to print to stdout. When using either `log.Lshortfile` or `log.Llongfile`, a colon is automatically inserted. Only if I forego those flags (making the logger significantly less useful) can I prevent GoRun clearing the window.

I forked your repo to study the problem, starting by [documenting the `errorformat` patterns used in `go.vim`](https:

[2015-09-23 03:42] alaska opened #545 "gocode autocompletion not working with GB?"
I cannot seem to get gocode autocompletion working with GB, but perhaps I'm just not doing it right?  I have a GB project set up, and when I edit `bin/mybin/main.go` I see that gocode gets started.  And when I do `:GoPath` I get `<project_root>:<project_root>/vendor/:$GOPATH`, which looks good, but I'm not getting any autocompletion.

I know that gocode now supports GB compatibility (https://githu

[2015-09-23 21:03] codeur4 opened #546 "vim is more and more slow each time I save (:w)"
Vim is more and more slow each time I save (:w) until 10 min after 4 or 5 save.
I use *gvim* on windows.
I find that [http://stackoverflow.com/questions/12213597/how-to-see-which-plugins-are-making-vim-slow]
(http://stackoverflow.com/questions/12213597/how-to-see-which-plugins-are-making-vim-slow)
but when I run :version, it indicates me **profile** features isn't included.
I have clean all plugin

[2015-09-23 22:37] siddharthist commented on #320
+1

[2015-09-24 09:08] zyndiecate opened #548 "vim-go breaks jumping back to last known cursor position when reopen tab"
I just want to drop this issue. Sorry it is not a detailed description. Once I found the following snippet and learned to love it.
[code]

Every time you close a tab (or buffer?) the last known cursor position was remembered. I never checked how that worked. It just worked. Since I am using `vim-go` it doesn't work anymore. Maybe somebody can enlighten me. Thanks.

[2015-09-24 15:02] isacikgoz commented on #546
Hello @codeur4

You can start your vim with `vim --startuptime ~/vim.log` if you are in windows `--startuptime C:\some\where\vim.log` <- this will help you to profile your vim configuration and you can see which plug-ins create bottlenecks.

Also, you can use vim in debug mode with `vim -D` and see what is happening after you type `:w` command. I recommend you to profile your vim at first.

Anyway

[2015-09-24 16:56] josephglanville commented on #320
+1

[2015-09-24 16:56] codeur4 commented on #546
I have no vim.log file in any of my repertories. I don't know how enable/install profile.
But anyway, I found the solution, I delete this line in my vimrc file :
`autocmd BufWritePost .vimrc,_vimrc source $MYVIMRC`
I found the solution by typing `set verbose=9` bofore save. Now it s working.

[2015-09-24 17:30] karlmutch commented on #320
+1

[2015-09-24 17:57] #546 closed

[2015-09-24 21:06] isacikgoz commented on #546
Actually you create the `vim.log` file with `vim --startuptime ~/vim.log` option. It is not created automatically. It is better to find defect rather than a workaround.

[2015-09-25 16:52] codeur4 commented on #546
From where you execute `vim --startuptime ~/vim.log` ?
![startuptime](https://cloud.githubusercontent.com/assets/10487632/10106681/5eb1e5d6-63b6-11e5-873b-fcd60b3876a5.jpg)

[2015-09-26 14:14] isacikgoz commented on #546
Actually `~/vim.log` is for unix systems, in your case you should type: `C:\somewhere\vim.log`

[2015-09-26 22:12] davidbanham opened #549 "GoTest - undefined: testing.M"
GoTest seems to choke on any usage of https://golang.org/pkg/testing/#hdr-Main

Running `go test` passes just fine, but `:GoTest` results in:

[code]

Line 25 in destiny_test.go is:

[code]

[2015-09-28 06:24] fatih commented on #542
Hi @BooneJS

`:GoRun` only passes the files that are dependent on the current file you apply `:GoRun`. So it's actually like `go run *.go` but it's more smarter. How does it break for you? Can you provide a detailed test case?

[2015-09-28 06:25] fatih commented on #122
Thanks @rhysd. I'm going to add it in the following days. It'll be a very useful addition.

[2015-09-28 06:29] fatih commented on #549
Hi @davidbanham

I've just tested it with the following test files and it works perfectly fine for me:

demo.go:

[code]

demo_test.go:

[code]

Can you provide a detailed test case so I can reproduce it?

[2015-09-28 06:33] fatih commented on #320
It's on my schedule, I didn't forget it, no need for the +1's ;)

[2015-09-28 06:38] fatih commented on #545
Hi @alaska . You need to install all pkg's first (`gb install all`) (this is how gocode works). Also completion is not something I support right now %100 for GB, I'm still not done with it. People say it works for some, but for some it doesn't. Until I've implemented and tested it for %100 I'm not supporting it. Please have a look at the GB issue for recent changes (https://github.com/fatih/vim-go

[2015-09-28 06:38] #545 closed

[2015-09-28 06:40] fatih commented on #548
Hi @zyndiecate

I didn't get your question. Can you please describe with a detailed test case what's wrong? For a normal buffer, if I hit save and hit `'` it works fine without any problem.

[2015-09-28 06:46] fatih commented on #543
Hi @mmlb

This looks like a nice idea. Is this also common for other languages? Do you think it could affect the performance? We have a lot of performance issues which is also the number one reason we put everything behind a flag.

[2015-09-28 09:00] rhysd commented on #122
@fatih

Thanks!  If you have any question about it, please ask me.

[2015-09-28 10:37] davidbanham commented on #549
Hi Fatih,

Thanks for doing the repro. I really should have included one in my bug report.

That same repro fails for me. I've put it in source control [here](https://github.com/davidbanham/vim-go-repro) just to rule out me copy+pasting it wrong as a cause.

I am using neovim rather than vim. I can't imagine that would be the cause, but I'm not sure where else to start looking for reasons that you

[2015-09-28 12:22] margaery commented on #549
The testing.M type was added in Go 1.4. OP is not using the same version of Go for :GoTest and 'go test'.

[2015-09-28 12:38] fatih commented on #549
Good point @margaery, never thought about it :) I've assumed that @davidbanham is already using 1.5.

[2015-09-28 14:24] mmlb commented on #543
Hmm not sure what other languages enable it, I've seen C/C++ in the default syntax files w/o an option. I haven't seen much perf issues myself since I've enabled it.

I can do a quick search for the default syntax files to see how many enable and if any gate it behind a switch.

[2015-09-28 15:11] fatih commented on #543
Sounds good, please open a PR with a flag that can disable/enable it. By default it should be disabled though (just like the others). Thanks again, I think this is a very nice detail :+1:

[2015-09-28 15:52] fatih commented on #320
A related issue: https://github.com/alecthomas/gometalinter/issues/49

[2015-09-28 18:09] mmlb commented on #543
Sure thing, PR coming.

I looked through a bunch of vim provided syntax files and about 37% define`@Spell` for strings. I looked though a-j and all of those had them on by default, I assume the reasoning is that `set spell` is option enough. I think having on by default matches best with the majority of syntax files, but will do otherwise if you want.

[2015-09-28 18:22] cjellick opened #551 "Support golang 1.5 experimental vendoring in gopath"
In golang 1.5, you can turn on experimental vendoring support. This results in the following structure:

* project root
  * my-package-1
  * vendor
    * github.com
      * foo-org
        * foo-repo

Can this structure be supported when setting up gopath resolution?

[2015-09-29 09:15] #543 closed

[2015-09-29 14:05] sethamclean opened #552 "Support custom GoFmt command"
gofmt now supports a -s flag that will rewrite map literals (among other things) in the new simplified format. Unfortunately goimports does not support this flag as of yet.

It would be nice to be able to set a gofmt command that could call both, or whatever the user specified.

[2015-09-29 14:06] fatih commented on #552
Hi @sethamclean , did you read the docs? There is already a command that you can override. Doesn't it work for you?

[2015-09-29 14:15] sethamclean commented on #552
Maybe I missed something. Are you referring to ```let g:go_fmt_command = "goimports"```? That doesn't seem to pass through command line arguments or support chaining commands. Perhaps I have the syntax wrong.

```vim-go: could not find 'goimports; gofmt -s'. Run :GoInstallBinaries to fix it.```

[2015-09-29 14:18] fatih commented on #552
Does the following not work for you?

[code]

[2015-09-29 14:19] sethamclean commented on #552
Yes that works. Thank you for clarifying. Is there a way to then run goimports on the source file? I know this isn't efficient but goimports doesn't seem to support the -s option at this time.

[2015-09-29 14:23] fatih commented on #552
No, unfortunately we don't support such feature. It would bring complexity to the code base and it's probably a feature that only certain users would use :) I'm closing this issue as this is now resolved. Feel free to open an issue if you have other problems or if something is not working as intended.

[2015-09-29 14:23] #552 closed

[2015-09-29 20:37] ChrisMcKenzie commented on #223
@dsimmons :+1: thanks this saved me so much frustration!

[2015-09-29 20:42] dsimmons commented on #223
Glad this helped someone else! :smile:

[2015-09-29 20:55] fatih commented on #320
I've started to implement `gometalinter` and finally have a working version here: https://github.com/fatih/vim-go/pull/553 Please try to use it and comment on any issues you find :)

[2015-09-30 04:33] IchiNiNiIchi opened #554 "GoInstallBinaries couldn't work in China."
Because some packages  needed to install require access to 'golang.org'  which is blocked by the GFW.
As I see golang.org also host the packages in the github.
Can you change the configure to fetch them from github?

[2015-09-30 07:12] IchiNiNiIchi commented on #554
After I change the configure file locally, it doesn't work because some dependencies the packages need
are also in the 'golang.org'.
A workaround that works for me is to
[code]

[2015-09-30 11:26] #320 closed

[2015-09-30 11:27] fatih commented on #320
This is now merged to master. Please check #553 or the docs how to use it.

[2015-10-01 11:04] fatih commented on #551
Hi @cjellick

Please look at https://github.com/golang/go/issues/12278. The tools needs to be refreshed.

[2015-10-01 11:04] #551 closed

[2015-10-01 11:04] fatih commented on #551
Duplicate issue: https://github.com/fatih/vim-go/issues/525

[2015-10-01 13:06] yunkai opened #555 "gorename doesn't work in go1.5.1: thechar redeclared in this block"
**vim-go version**: the latest master branch with commit id: 8e372df16b17b0356b4c844829154c4103889425

**Go version**: Go1.5.1

I tested it in both Mac OS and Linux, when I type `\e` to rename go variable, vim-go will get following error:

[code]

[2015-10-01 13:53] yunkai commented on #555
I found the root cause: my `gorename` is too old.

By updating `go/src/golang.org/x/tools/` project can fix it.

[2015-10-01 13:53] #555 closed

[2015-10-02 16:44] rkulla opened #556 "Println syntax highlight not working"
The capitalized version of Println doesn't highlight. This could trip up a lot of newbies trying to do the Golang tutorial and getting syntax errors when they fmt.println (which does highlight) and then run `go install`.

A simple fix could just be to add the capital `Println` to `syn keyword     goBuiltins` in syntax/go.vim.

Thanks,

[2015-10-02 17:08] fatih commented on #556
Can  you please a screenshot with a working version and non working version. We don't highlight `Println` at all. However there are settings to enable methods, so you can do it via that.

[2015-10-02 17:15] rkulla commented on #556
Not Working (I'm using the `Solarized` colorscheme, btw)
![screen shot 2015-10-02 at 10 13 21 am](https://cloud.githubusercontent.com/assets/244283/10252719/459f54b0-68ee-11e5-95a2-8a822d9392d9.png)

Working:
![screen shot 2015-10-02 at 10 12 46 am](https://cloud.githubusercontent.com/assets/244283/10252718/459f0c3a-68ee-11e5-9ebc-e816df8b6fa4.png)

[2015-10-02 17:17] rkulla commented on #556
If you accidentally typed `fmt.println` (lowercase) vim-go will highlight it by default:
![screen shot 2015-10-02 at 10 15 54 am](https://cloud.githubusercontent.com/assets/244283/10252812/b3314b46-68ee-11e5-9168-10d08e939d16.png)

[2015-10-02 17:17] fatih commented on #556
Enable it with please
[code]

`println` is a keyword, that's why it highlighted. Otherwise `Println` is a method of the package `fmt`. So if you add the setting above, it's get highlighted. Thanks for opening the PR :)

[2015-10-02 17:17] #556 closed

[2015-10-02 17:21] rkulla commented on #556
I see, yeah that works. I guess it's just confusing that `fmt.println` still highlights but at least it's not the same color as method highlighting.  Thanks.

[2015-10-02 23:28] yulrizka opened #557 "GoMetaLinter missing whitespace"
the path argument missing space, please follow my comments on https://github.com/fatih/vim-go/commit/d7d0dc7bfbba84d7320b3a3290c7799286f2779a#commitcomment-13572317

[2015-10-02 23:31] fatih commented on #557
Just fixed it on master branch. I've also updated our version v1.2 to point to the latest master :) Thanks a lot @yulrizka :+1:

[2015-10-02 23:31] #557 closed

[2015-10-03 19:59] DavidGamba opened #558 "syntax: go template identifier doesn't end properly"
As shown in the image below, the identifier coloring is going all the way to just before `>` so the `}}` delimiter is missed.

![vim-go-tmpl-syntax-error](https://cloud.githubusercontent.com/assets/1115287/10264866/c52c230a-69d6-11e5-8787-64f368abe296.png)

[2015-10-03 20:01] #558 closed

[2015-10-05 03:49] gustavokuklinski commented on #468
I solved starting gvim with: `bash -lc gvim`, it will wrap Gvim with the current `.profile`or `.bashrc` file.

[2015-10-06 15:32] Chipsterjulien opened #560 "Saving take long time if using db driver"
Hello
It took long to find out where the problem was. Everything is in the title.
if i use database/sql in my code, saving file or project take ~20s and use 100% of CPU

i tested with postgresql: http://sprunge.us/FUZb?go
It's the same with sqlite3: http://sprunge.us/OTSi?go

Best regards

[2015-10-06 15:37] fatih commented on #560
Hi @Chipsterjulien. Please use `gofmt`. It seems you have a very large GOPATH and it slows down GoImport. Other than this there is nothing vim-go does which would cause a 20 second. It's code agnostic and all is does is invoking `gofmt`, `goimports` ... Do you use plugins like vim-syntastic?

[2015-10-06 15:37] #560 closed

[2015-10-06 15:44] Chipsterjulien commented on #560
I use vim-syntastic for others languages
If i disable it, it's done but it's not a good solution for me

Thx for your quick reply

[2015-10-06 15:48] fatih commented on #560
You can disable it for just Go. Please read the documentation for that.

[2015-10-06 15:56] Chipsterjulien commented on #560
I seek but what I've done so far is not working

[2015-10-06 16:08] WnP commented on #560
@Chipsterjulien use:
[code]

[2015-10-06 16:20] Chipsterjulien commented on #560
Thx for your help

[2015-10-06 18:09] Chipsterjulien commented on #560
The good option is: let g:syntastic_go_checkers = ['golint', 'govet', 'errcheck']

[2015-10-08 17:46] philk opened #562 "GoBuild fails with dispatch enabled"
I just added vim-dispatch for `GoBuild` and started seeing this error:

[code]

Looks like it's actually a `go build` problem that came back in 1.5. And this isn't the only project affected:
https://github.com/scrooloose/syntastic/issues/1436
https://github.com/golang/go/issues/4851

I'm particularly happy with the anger expressed in [this commit](https://github.com/flycheck/flycheck/commit/2ed732

[2015-10-08 17:49] fatih commented on #562
Hi @philk

Yeah I've just discovered it later when I was using a Terminal instead of MacVim. It's really annoying. I'll fix it in 1-2 days. Thanks for opening the issue :+1:

[2015-10-09 00:57] shazow opened #563 "vim hangs during tests"
By default, `go test` times out after 10 minutes. If you have a concurrency bug, it's likely your tests will stall until the timeout.

As far as I can tell, it's impossible to kill the test process from inside of vim, as the full interface is completely blocked until the test process is done. I can kill it from another terminal, then things are fine.

The ideal solution would be to support neovim'

[2015-10-09 09:01] fatih commented on #563
Hi @shazow

I totally agree, this is also the reason I'm executing some tests outside Vim :/

Also the reason I'm still not using neovim and the whole packages around it is because of having limited time to support multiple vim versions. It would just to much for me as a single person.

For the timeout, I think it should be just 30 seconds but with a configurable setting, such as `g:go_test_timeou

[2015-10-09 17:07] shazow commented on #563
Absolutely, I totally understand. Have you had a chance to look at Neomake at all? I think that would make a backwards-compatible partial transition (at least for testing/building) really easy. If that looks like a good fit for you, I can try to put something together for us to experiment with.

Hmm, how about adding a `go-test-short` call which runs `go test -short -timeout $go_test_timeout` and

[2015-10-10 21:54] kalafut opened #566 "Show full error messages from GoRename"
gorename "conflict" and "reference will become shadowed" errors (and maybe others) list the conflict points on multiple lines. vim-go only shows the first line of the output which usually doesn't haven't anything helpful. During complex refactors, I find myself running gorename on the command line to get at the full error message. It would be good if the plugin expose the full output.

[2015-10-11 18:13] fatih commented on #563
I couldn't look at it, but we support for example vim-dispatch with a setting. I'm totally ok to add support for NeoMake too with settings like `g:go_enable_neomake = 1`, which would be disabled by default, but neovim users could make use of it.

Yeah, thinking now it makes more sense. But I think we should not introduce a new command. Just let us use :GoTest and enable the `-short` flag. Even tho

[2015-10-11 18:15] fatih commented on #566
Hi @kalafut

This is a great catch. Right now we don't do any kind of error message parsing for GoRename. Could you please paste some error message examples that I can check? Also a test case (repo maybe) where I can test it would be helpful.

[2015-10-11 18:23] fatih commented on #562
@philk can you test it please with: https://github.com/fatih/vim-go/pull/567 ?

[2015-10-11 18:37] fatih commented on #554
Hi @IchiNiNiIchi

I don't how to solve this issue for you, as this is not vim-go dependent: https://github.com/golang/go/issues/8870 I'm really sad not to provide any kind of fix for this. Changing it to Github would only introduce other problems, which you already have encountered. Just use a VPN or proxy just like the others, or do it with the manually approach. `:GoInstallBinaries` is just an h

[2015-10-11 18:37] #554 closed

[2015-10-11 18:37] fatih commented on #549
Closing this as I didn't receive any response in two weeks.

[2015-10-11 18:37] #549 closed

[2015-10-11 18:38] fatih commented on #542
Closing this as I didn't receive any response in two weeks. Please feel free to reopen.

[2015-10-11 19:18] kalafut commented on #566
I [created a gist](https://gist.github.com/kalafut/a244177e06d320519536) of a sample file that causes this type of error.

[2015-10-11 22:11] shazow commented on #563
Sounds good to me!

I'll try to find some time to fiddle with integrating Neomake. :)

[2015-10-12 15:35] philk commented on #562
:+1: working for me, thanks!

[2015-10-12 15:40] fatih commented on #562
Awesome, I'll use my fix for a couple of days and merge once I feel it's safe to use.

[2015-10-14 05:11] harikb opened #569 "Issue with filepath for error location"
I see that vim-go is prepending $GOPATH/src even if the output of errorcheck is an absolute path (for the location of the error file).

For example (I created a typo, just to show the issue)

    $ errcheck bitbucket.org/yetanotherfella/tagged/server/tagserver
    /home/harry/code/src/bitbucket.org/yetanotherfella/tagged/server/tagserver/login.go:13:27: expected ';', found '{' (and 4 more errors)

[2015-10-14 16:27] tgrosinger opened #570 "go-dev-vertical switch to existing open split"
**Repro Steps**

1. Open a file, use `go-def-vertical` to open a referenced function in another file
2. In new split that opened, use `go-def-vertical` to open a reference in the same file

**Expected**

Move to the new location within the same vertical split

**Actual**

Opens a third vertical split with the same file as the second

**Additional Notes**

I have tried setting `switchbuf=useopen` h

[2015-10-14 16:58] tgrosinger opened #571 "Freezing after save"
I am using [Go Convey](https://github.com/smartystreets/goconvey) to automatically run unit tests whenever a file is saved in my project. Additionally, whenever saving vim-go will perform a build to check for errors. These two operations happening simultaneously can lock up my editor completely for up to 10 seconds.

I switched to Neovim in the hopes that the automatic build from vim-go would happ

[2015-10-15 13:33] piersy opened #574 "GoDoc finds no doc when accessing packages imported under a specific name"
Running GoDoc on some identifier being accessed via a named package does not find any doc

Eg running GoDoc on DecodeImage below

    import i "image"
    i.DecodeConfig(bytes.NewBuffer(contents))

Results in

    No documentation found for "i" .

If the import does not name the package go doc works fine.

[2015-10-15 13:35] fatih commented on #574
H @piersy

I'm aware of this problem. Check https://github.com/fatih/vim-go/issues/465 and https://github.com/fatih/vim-go/issues/332. Closing due duplicate issues.

[2015-10-15 13:35] #574 closed

[2015-10-15 20:44] markwest1 commented on #30
This file opening error occurs when gvim is invoked from bash within MINGW64 terminal, but not when it is invoked from Windows explorer or bash within cmd.exe.

Error when invoked from MINGW64 terminal window:
![image](https://cloud.githubusercontent.com/assets/8137897/10526858/dd5ee4fa-7352-11e5-8b5f-54f8a70b9633.png)

No error when invoked from bash within cmd.exe:
![image](https://cloud.githubu

[2015-10-15 20:59] shawnbon206 commented on #537
":!go run %" works

":GoRun" doesn't
":GoRun" doesn't

I am using the same as poxu, cygwin installed vim. this is because making native gvim for windows play nice with a unix shell is a nightmare.

[2015-10-16 01:52] divan commented on #555
Hit the same issue. As yunkai commented, updating by this command helps:

    go get -u -v golang.org/x/tools/cmd/gorename

[2015-10-16 03:56] mckelvin commented on #144
@ernestas-poskus :+1: for `let g:syntastic_go_checkers = ['golint', 'govet', 'errcheck']`

[2015-10-18 14:58] #562 closed

[2015-10-18 15:35] fatih commented on #570
Hi @tgrosinger

This is expected, because you explicitly want to jump in the same file and want to open a vertical file. Sometimes you have a very long file, say over 600 lines. The definition you want to jump might be at the bottom and opening it on a new vertical window,even although it's in the same file is a preferred action. You are now able to see both definitions side by side.

Pleas use `g

[2015-10-18 15:35] #570 closed

[2015-10-18 15:37] fatih commented on #571
Hi @tgrosinger

vim-go doesn't do building on save. Did you install https://github.com/scrooloose/syntastic?  Please check the issues on how to fix the problem with syntastic: https://github.com/fatih/vim-go/issues/144 and https://github.com/fatih/vim-go/issues/560

[2015-10-18 15:37] #571 closed

[2015-10-18 15:39] fatih commented on #569
Hi @harikb

We recently introduce the fix https://github.com/fatih/vim-go/pull/564 and merged it into the master. Can you pull latest master and try again?

[2015-10-18 16:02] #566 closed

[2015-10-18 16:04] fatih commented on #566
Hi @kalafut

Thanks for the test case. I've fixed it with the the PR #577. Now it parses the error and outputs it in a quickfix window. You can interact with the window just like you did with the other tools. Please test and let me know if something is wrong:

![screen shot 2015-10-18 at 7 03 04 pm](https://cloud.githubusercontent.com/assets/438920/10564836/eb013b38-75ca-11e5-9727-58f2e858a611.png

[2015-10-18 16:13] kalafut commented on #566
Just tried it out and it seems to work fine.  Thanks!

[2015-10-18 16:30] #563 closed

[2015-10-18 16:31] fatih commented on #563
Hi @shazow

Checkout the PR #578. I've didn't add `-short` because I didn't want to change the behavior to much. Also the timeout is only available if no custom flags are passed via `:GoTest`. For example if you call it with `:GoTest -short -timeout=20s` we don't append anything to it.

[2015-10-18 17:14] tmc opened #579 "gometalinter quickfix paths not usable for subdirectories"
[code]

`:GoLint` output:
[code]

:GoMetaLinter output:
[code]
The latter doesn't open the file in question.

[2015-10-18 17:46] shazow commented on #563
:+1: Thanks! Makes sense.

[2015-10-19 14:42] tgrosinger commented on #571
Thank you, sorry for the duplicate issue.

[2015-10-19 14:49] tgrosinger commented on #570
Thank you, I will use `gd` to open in the same split, and `,gd` to open in another split. One more use-case though.

If I have a.go and b.go open in splits next to each other, a.go focused and use `GoDef` on a reference that should open in b.go, how can I move to the correct location in my already open b.go?

[2015-10-19 14:51] fatih commented on #570
We don't have this feature right now. This might be something we could add as feature though. godef opens a buffer directly. What it could do is look for an existing one and then use it to jump. I think it could be fairly easy or a little difficult. I don't know the details.

[2015-10-19 17:57] tgrosinger commented on #570
I think that could be a very popular feature. I know I certainly would enjoy it.

I don't know where in the code this is implemented, but Unite has this exact feature when opening new files. Here are the relevant docs: https://github.com/Shougo/unite.vim/blob/master/doc/unite.txt#L2904-L2905

[2015-10-22 07:00] achanda opened #581 "Another "Not an editor command""
I hate to open another issue that is similar to the ones already reported, but hear me out please. I am using Vundle to install vim-go. My .vimrc looks like:
[code]
I can run all go commands fine and all of my other plugins work. `:scriptnames` shows the file is loaded
[code]
Am I missing something?

[2015-10-22 08:48] opskumu opened #582 "oracle, such as :GoImplements, :GoCallees, and :GoReferrers not work"
oracle, such as :GoImplements, :GoCallees, and :GoReferrers are not work

[code]

It's not import from /usr/local/go/src/(the correct path)

[code]

My Go version and go env:

[code]

[2015-10-23 04:33] paulodiniz commented on #581
:+1: Having the same problem on OSX Yosemite using vundle

[2015-10-23 04:37] achanda commented on #581
I'm using El Capitan with bash

[2015-10-23 04:40] paulodiniz commented on #69
:+1:  for @jonathanwgoodwin comment, worked for me

[2015-10-23 04:41] paulodiniz commented on #581
As @jonathanwgoodwin pointed out on https://github.com/fatih/vim-go/issues/69 , putting `filetype off` before vundle on my vimrc worked

[2015-10-23 04:43] achanda commented on #581
I do have filetype off before vundle. Not sure why it's not working for me.

[2015-10-23 17:39] abelino opened #583 "Auto GOPATH detection question"
Does this feature include `GOPATH` detection for gopm tool?

[2015-10-23 21:59] fatih commented on #583
Hi @abelino

No it doesn't support it. Please check out the documentation for the supported list. Thanks

[2015-10-23 21:59] #583 closed

[2015-10-25 22:42] gertcuykens opened #585 "type info bug"
type info for own functions is adding `()` characters depending on cursor position, see screenshot
![image](https://cloud.githubusercontent.com/assets/863731/10718377/874efa56-7b71-11e5-9de0-a6642c801df9.png)

[2015-10-27 17:56] trotha01 opened #586 "Question: run gometalinter on only the current file"
Is there a way to run gometalinter on only the current file?

I tried ```:GoMetaLinter %```, but that still gives errors for all the files.

The use case is for working on a large code base with lots of errors, but I would like to only look at them one file at a time.

[2015-10-27 19:09] harikb commented on #569
Sorry about the late response. I might have missed the email notification. Thank for you for quick response. The latest fix has solved my original problem. However, I do have an issue with the later example (it no longer works, although I do have a work around).  The later examples that prints relative path, but includes complete import path wouldn't work (makes sense though..) if I started vim fr

[2015-10-27 19:15] fatih commented on #569
Thanks for the response @harikb. I'm using a simple script which is automatically changing the cwd according to the file I'm working. It makes it easy to open and edit files. I'm closing this, feel free to open again if you hit problems.

[2015-10-27 19:15] #569 closed

[2015-10-28 13:45] timfayz opened #587 "How to turn-off a vim-go for a while?"
Today I've installed vim-go using vim-plug package manager. I'm not experienced user in vim (use it less than 1 week). So the question is how can I disable/switch-off vim-go totaly? I don't know maybe there are ways to do it using vim-plug, but I didn't find information about it.

[2015-10-28 13:48] fatih commented on #587
Just comment it out from your plugging manager. Closing because this is not vim-go related. Thanks

[2015-10-28 13:48] #587 closed

[2015-10-28 13:51] timfayz commented on #587
Good, thank you!)

[2015-10-28 14:34] timfayz commented on #587
In order not to pollute the issue tracker - could you explain how vim-go and YCM related to each other? I'm really new to vim so I don't imagine how YCM and your plugin do not overlap. How vim-go and YCM work together without interfering to each other? It would be great if you make things a little bit clearer to me)

[2015-10-28 15:51] casimir commented on #587
@timfayz for vim-plug you can use an [option to lazy load plugin](https://github.com/junegunn/vim-plug#on-demand-loading-of-plugins). For exemple if you want the plugin loaded for `*.go` files only:
[code]

As for YCM, it now provides a semantic completer when compiled with `--gocode-completer` (or something like that), meaning it handle autocompletion without the help of vim-go. If not compiled w

[2015-10-28 15:59] timfayz commented on #587
If I get you right, if I omit `--gocode-completer` flag during the YCM installation vim-go (through `omnifunc`) will be used instead? By the way, do you use YCM personally?

[2015-10-28 16:15] casimir commented on #587
YCM without its completes is just a fuzzy matcher for possible completions. So this is more like `vim-go (querying gocode) → YCM listing → YCM completion` vs `ycmd (wrapping gocode) → YCM listing → YCM completion`.

I use YCM (with its go completer) and vim-go together every day (thank you so much @fatih BTW).

[2015-10-28 16:25] timfayz commented on #587
Good! Things become clearer :) Could you explain the differences b/w these approaches in more details: `vim-go (querying gocode) → ..` and `ycmd (wrapping gocode) → ..`?

[2015-10-28 17:54] barum opened #588 "Syntax highlighting"
Not sure if this a bug or not but the function name when declared is highlighted properly.
However, when used/called the highlight does not work.

func myprint ()  // the name myprint is correctly highlighted

fucn main () {

  myprint() //this is not getting highlighted

}

[2015-10-28 22:07] trotha01 commented on #502
If people don't mind auto-folding based on syntax, one could use
```:set foldmethod=syntax```

If the folds are too deep, one could change foldnestmax. For example, to only fold at the function level:
```:set foldnestmax=1```

To open a single fold under cursor: hit enter (or zo)
To open all folds under the cursor: zO
To close a single fold under cursor: zc
To close all folds under cursor: zC

To

[2015-10-29 15:25] fawick commented on #542
Would reopen this, but I lack the permissions. Here is how I was able to reproduce this:

    $ cat a.go
    package main

    func main() {
            b()
    }
    $ cat b.go
    package main

    func b() {
    }

I opened `a.go` in vim, entered `<leader>r`, and then received the following message:

    # command-line-arguments
    ./a.go:4: undefined: b

`:GoRun` works. The mapping is set up

[2015-11-01 04:59] #582 closed

[2015-11-03 06:35] chrisnc opened #591 "C syntax highlighting inside of `import "C"`"
I have a commit here which is a first pass at this. If you don't do anything weird it basically works, but it'd be nice to have someone more knowledgeable with Vim syntax plugins take a look. I don't think it's ready yet.

https://github.com/chrisnc/vim-go/commit/623c25e21bf07c3eb29872638e8fbf6cadcc8d02

[2015-11-03 07:03] leonlee commented on #144
@ernestas-poskus  +1

[2015-11-04 16:41] fatih opened #592 "Open quickfix with a smaller height if the number of items are less than 10"
Right now we are opening the default, which is 10 height lines. But sometimes we only have one or two items. This can be configured with `copen itemnumber`.

[2015-11-04 18:21] casimir commented on #587
You really should look at YCM's documentation, it's all explained in the README. Very shortly gocode provide a list of possible identifiers while ycmd provide a list a symbols (identifier + type + doc? + ...)

[2015-11-05 14:41] timfayz commented on #587
Ok, got it. I need a little time to sort it out) Thank you)

[2015-11-05 17:03] askb opened #594 "E117 while saving the *.go src files"
I am getting this error while saving `:w` any `*.go` files using vim. This only started when I start using vim-go along with few other plugins. Not sure, if this is directly a result of installing packages `vim-gocomplete` `vim-syntax-go` on Ubuntu:14.04.  Appreciate any help on fixing this.

Error:
[code]

[code]

`:sources`
[code]
[code]

[code]

[2015-11-05 19:35] cochran-at-niche opened #595 "fileformat changed by GoFmt"
I am running gvim on windows 7. When I open a new .go file, I can run the following vim command in order to check the file format:

`:set ff?`

The result is: `fileformat=dos`, which I was I expect, and what I want.

If I then run the GoFmt command, like so:

`:GoFmt`

And again check the fileformat, it now returns `fileformat=unix`, which is undesirable. Furthermore, all of my line endings have c

[2015-11-09 01:05] philwhln commented on #30
I have this set up in .vimrc

[code]

but still hitting issues when trying to save a file

[code]

[2015-11-10 13:31] fatih opened #596 "If gofmt is not installed :GoFmt doesn't return an error"
An issue I've received at DotGo, needs to be debugged and confirmed.

[2015-11-10 13:52] fatih opened #597 "Add refactoring functions from oracle freevars"
This is just an idea, experimental and maybe not worth it.

[2015-11-11 08:13] debuuu commented on #222
I'm getting this problem, fresh install of vim-go, on Windows 10. Looking through the source, I couldn't find the fix that @alexaandru made. Wondering if this is known to be back for Win 10 or if I'm doing something else wrong.

[2015-11-12 21:11] marcvanzee commented on #17
Why is this issue closed?

[2015-11-12 21:16] piersy opened #599 "GoRename does not work if there are compile errors when building the current package"
I would expect gorename to be able to rename within certain scopes regardless of whether the whole package and its dependencies compile. For example in the scope of a function call.

At present I'm only able to use gorename if everything compiles. This makes re-factoring quite tiresome as you get stuck using poor names during the process and only when everything compiles can you go back and rename

[2015-11-13 09:39] fatih commented on #17
See above PR: https://github.com/fatih/vim-go/commit/44e1bfedfe62a102a7a17032d40b295094fc9e24

[2015-11-13 13:52] fatih commented on #599
Hi @piersy

Gorename is doing type based renamings and it also takes care of all packages inside GOPATH. This is how `gorename` was built in the first place. I don't think it can't be changed. Vim-go is just a wrapper so you have to open this issue to the official go/tools tracker. Thanks.

[2015-11-13 13:52] #599 closed

[2015-11-13 16:39] Wizmann commented on #344
+1

[2015-11-15 18:36] fatih commented on #581
Hi @achanda. This is a plugin problem, not a vim-go. Please try with `pathogen` or `plug` and report back. Sorry but there is not much I can do. Thanks.

[2015-11-15 18:36] #581 closed

[2015-11-15 18:37] fatih commented on #548
Closing as I didn't get a response for 1.5 months. Please feel free to reopen in a new issue with a test case included.

[2015-11-15 18:37] #548 closed

[2015-11-15 18:47] fatih commented on #579
It's because gometalinter runs on the directory of the current file. What happens if you add this line to your vimrc:

[code]

This will automatically cd yo to the file you're editing.

[2015-11-15 18:49] fatih commented on #585
Hi @gertcuykens

Can you please add a test case which I can use to reproduce the error? Otherwise it's really hard.

[2015-11-15 18:51] fatih commented on #586
I've just tested it and it works for only one file when I pass the `%`. Can you please add a test case (example code) and explain how to produce it (expected result).

[2015-11-15 18:54] fatih commented on #588
Hi @barum . This is expected. We only highlight function definitions not function calls.

[2015-11-15 18:54] #588 closed

[2015-11-15 18:57] fatih commented on #594
This seems like a poorly installed vim-go. How did you installed it?

[2015-11-15 19:10] gertcuykens commented on #585
Just type a function and move cursor over it in terimal os x, the cursor get replaced by ( in type info

[2015-11-15 21:38] fatih commented on #585
It's not the case for me as I couldn't reproduce it. A fully reproducible test case would be helpful for me.

[2015-11-15 22:01] gertcuykens commented on #585
vim version 7.4.889
vim test.go
[code]
![image](https://cloud.githubusercontent.com/assets/863731/11171273/7674281a-8bec-11e5-91fb-c07ab267aa71.png)

[2015-11-15 22:03] gertcuykens commented on #585
[code]

[2015-11-15 22:07] fatih commented on #585
@gertcuykens this doesn't happen for me. Can you please disable all other plugins and try again? Also can you please update [gocode](https://github.com/nsf/gocode) too?

[2015-11-15 22:19] gertcuykens commented on #585
disbaled plugins
go get github.com/nsf/gocode
stil the same result
are you using vim in terminal mac os x?

[2015-11-15 22:20] fatih commented on #585
No I'm not, but this is a fundamental command. I think something special is going on with your problem, otherwise I would get tons of complaints (which I've didn't received for months)

[2015-11-15 22:23] gertcuykens commented on #585
do you know somebody else with a mac?

[2015-11-15 22:27] fatih commented on #585
I'm using Mac with MacVim. I've tried it with Terminal with no issues.

[2015-11-15 22:28] gertcuykens commented on #585
using self compiled vim from source

[2015-11-15 22:30] gertcuykens commented on #585
[code]

[2015-11-16 03:40] trotha01 commented on #586
main.go
[code]

helper.go
[code]

Open main.go in vim
Run ```:GoMetalinter %```
And you will see a warning:
[code]

[2015-11-16 04:20] moorereason opened #603 "goCharacter syntax region is uncontained"
Using the `gotexttmpl` and `gohtmltmpl` syntax files, the following file content is highlighted incorrectly:

[code]
PR is inbound.

[2015-11-16 06:56] askb commented on #594
Hi @fatih I have followed the instructions [here](http://blog.gopheracademy.com/vimgo-development-environment/). Could this issue occur due to any conflicting pkgs install through `apt-get` ? Thanks

[2015-11-16 08:35] #603 closed

[2015-11-16 09:13] #592 closed

[2015-11-19 04:15] nhooyr commented on #233
I'll take a stab at trying to implement this in neovim soon.

[2015-11-19 04:24] shazow commented on #233
Also related, Microsoft just launched VSCode with a Go plugin with partial delve support: https://github.com/Microsoft/vscode-go

[2015-11-19 04:53] nhooyr commented on #233
thats actually exactly why I came on here. was looking to see if vim-go is going to support it any time soon xD

[2015-11-19 10:05] fatih commented on #233
@shazow @nhooyr I've also switched partly to neovim. I have now an [init.vim](https://github.com/fatih/dotfiles/blob/master/init.vim) file which I use both for Vim and Neovim. However my duties are more about vim rather than neovim. But the great thing is that we can introduce features into vim-go with the guards `has("nvim")` easily. And I really like neovim and think that the async behavior is a

[2015-11-20 18:22] jayunit100 opened #608 "vim-go not working on OS X"
Looks like Vim-GO isn't working on my version vim in OS X... I've tried installing VIM directly from brew as well, and no highlights are shown.

Any hints?  In general it used to work OOTB with no hacking...

Here is my vimrc file.

[code]

And some vim version details....

[code]

[2015-11-20 18:25] jayunit100 commented on #608
and, just an ls in case it helps:
[code]

[2015-11-20 20:22] kriox26 opened #609 "Syntax highlighting not working"
Hi, I've just installed `vim-go` and the commands seem to work fine, I've tried `:GoBuild` and `:GoFmt`. Both worked fine, but the `syntax highlighting` does not work. I tried with 4 different colorschemes, including the one that you recommend(`fatih/molokai`), and it's all the same.
![screen shot 2015-11-20 at 5 21 49 pm](https://cloud.githubusercontent.com/assets/8126891/11310893/3630fc7a-8fab-1

[2015-11-20 20:36] cespare opened #610 "Template syntax doesn't handle foo{{$bar}}baz"
The syntax highlighting doesn't properly handle text like this:

[code]

Here's a screenshot comparing that with `foo{{$bar }}baz` (the space makes it work):

![screen_20151120123556](https://cloud.githubusercontent.com/assets/318501/11311225/4e2110cc-8f83-11e5-9f62-377bf4e5ffda.png)

[2015-11-21 20:40] #610 closed

[2015-11-21 20:41] fatih commented on #609
Hi @kriox26 . This is normal. Please read the documentations to enable more syntax options. Thanks.

[2015-11-21 20:41] #609 closed

[2015-11-21 20:42] fatih commented on #608
Hi @jayunit100,

Please try with https://github.com/junegunn/vim-plug as it works for me and other users on Mac OS X. It seems your configuration is wrong (though I don't know what exactly it is). Thanks.

[2015-11-21 20:42] #608 closed

[2015-11-22 05:11] aftnix opened #612 "vundle install of faith/vim-go asks for github username/password and later fails"
I've tried both ways, Searched with `PluginSearch` and thus selecting `faith/vim-go` and later git cloned it in my bundle directory and initiated a `PluginInstall`. In both cases it asks for github username/password. I know it's not supposed to happen, but still i proceed with giving my username/password. But it fails with `Error processing` message.

[2015-11-22 05:18] aftnix commented on #612
Nevermind, mistyped your name :D so the vundle was unable to find vim-go repo.

[2015-11-22 09:31] #612 closed

[2015-11-22 09:31] fatih commented on #612
Good to know :)

[2015-11-22 19:41] groob opened #613 "Syntastic + packages in gb path."
I'm working on a gb project, and while `:GoPath` reports the correct folder(gb project) `echo $GOPATH` reports the default $GOPATH. This is causing syntastic to fail with "package not found in path" error whenever there is an import of another gb package(from the same project folder).

This issue is specific to syntastic. Using GoBuild does not cause any errors.

I also noticed that my gb path con

[2015-11-23 09:10] fatih commented on #613
Hi @groob I'm not responsible of Syntastic. If you have a problem with vim-go please let me know, otherwise I don't have much to do or say here.

[2015-11-23 09:10] #613 closed

[2015-11-24 03:55] wingyplus commented on #595
I think it changed by `gofmt` not vim-go itself (see https://github.com/golang/go/issues/3961 for more details).

[2015-11-24 14:36] beinnova opened #614 "Show structures"
Hi, In your pictures I can see the application structure ( variables, functions, ecc...). How I can abilitate this?

[2015-11-24 14:43] fatih commented on #614
Hi @beinnova

You need to install tagbar. It's written in the readme. Thanks

[2015-11-24 14:43] #614 closed

[2015-11-24 15:17] cochran-at-niche commented on #595
@wingyplus Then how is the "fileformat" variable, which belongs to vim, getting changed from "dos" to "unix"? If GoFmt is responsible, it should have no effect on the vim variable. Furthermore, when I revert the fmt.go file (ONLY that file), it fixes the problem - how is that explained?

[2015-11-24 19:05] cochran-at-niche commented on #595
I think you're correct. The commit I referenced above introduced the use of gofmt's -w option, followed by reloading the current buffer. Since gofmt changes all my line endings to lf, when the current buffer is reloaded, it therefore detects the fileformat as unix.

I submitted a pull-request which fixes this issue: #615

[2015-11-24 20:23] cochran-at-niche commented on #595
The pull-request was merged in, fixing the issue. This issue can be closed.

[2015-11-24 20:24] #595 closed

[2015-11-25 11:27] svanharmelen opened #616 "question: using GoMetalinter as replacement for Syntastic"
Is there a way to use GoMetalinter on save, more or less in the way I can use Syntastic?

Thanks!

[2015-11-25 16:09] fatih commented on #616
Hi @svanharmelen

Unfortunately right now we don't have that kind of feature. I think I'm not going to add this to Vim too (because it would make it slow). However right now I'm working on Neovim integration and I'm going to make the linters all async. Please check the integration here: https://github.com/fatih/vim-go/pull/607

Also, even though we might add this, it'll not show the errors on the

[2015-11-25 16:09] #616 closed

[2015-11-25 19:58] svanharmelen commented on #616
Sounds good! And I'm already using the `nvim` branch (worked a full day on it today and looks good!) :wink: Thx!

[2015-11-25 21:41] #596 closed

[2015-11-25 21:41] fatih commented on #596
Fixed with #617

[2015-11-25 21:50] shazow opened #618 ":GoTest replaces current buffer with blank"
Running `:GoTest` on passing tests is fine. Running `:GoTest` on failing tests with no logging/output is fine. Running `:GoTest` with a test that hits code which logs or produces output _and_ fails the test will cause vim-go to replace the current buffer with a blank buffer.

The command status line has this in it:

[code]

Minimal code to reproduce:

*main_test.go*

[code]

You can split it up in

[2015-11-25 21:51] fatih commented on #618
We have a fix for `:GoRun` which filters out these kind of problems. We need to do the same thing for this. Thanks for adding a test code, this will simplify and make it easier for me :)

[2015-11-25 22:00] fatih commented on #594
@askb I think yes, though I don't know how your system is built. Please remove anything Go related (all plugins) and only use vim-go. Otherwise you'll get a conflict. Thanks

[2015-11-25 22:00] #594 closed

[2015-11-25 22:00] shazow commented on #618
My pleasure, thanks for being the :sparkles: Bug-fixing Fairy :sparkles:

:D

[2015-11-26 03:19] k4rtik opened #619 "vim-go writes two files on :w <new name>"
Whenever I try to reuse a .go file for writing to a new file (using `:w <newname>.go`), vim-go seems to be writing the contents of the buffer both in the old file and the new file. This is undesirable behavior.

I am using vim-go with all defaults and have looked at the doc for disabling this (autosave) behavior, but it doesn't seem to exist.

[2015-11-26 08:56] fatih commented on #619
Hi @k4rtik

You can disable it with:

[code]

[2015-11-26 08:56] #619 closed

[2015-11-26 11:27] beinnova opened #624 "Cant Use :GoPath"
Hi,
I can't use `:GoPath` for set my project path as gopath. When i try to use it i receive error message from vim.

[2015-11-26 11:28] fatih commented on #624
Please give more information. Right now I'm clueless.

[2015-11-26 12:10] chausat opened #625 "go oracle has no flag "-tags""
the "-tags" flag provided but not defined.
Run 'oracle -help' for more information.

![20151126200736](https://cloud.githubusercontent.com/assets/7158763/11422784/b2292faa-9479-11e5-81b0-d8cc3d68b7bb.png)

![20151126200851](https://cloud.githubusercontent.com/assets/7158763/11422785/ba2c8134-9479-11e5-9428-0f58ffe0bd36.png)

![20151126201156](https://cloud.githubusercontent.com/assets/7158763/1142

[2015-11-26 12:50] beinnova commented on #624
Yes, sorry.
I try to set GOPATH inside vim. I have read in your documentation which for
do that I can write `:GoPath` and set gopath. But when I try to do that i
recive "GoPath is no a vim command". How I can send you more info?

2015-11-26 12:28 GMT+01:00 Fatih Arslan <notifications@github.com>:

--
*Be**innova* di *Giorgio Cerruti*
*WebSites | IT consultant | Web Developer*
*Phone: +39 340/87.68

[2015-11-26 13:25] fatih commented on #624
It seems your're vim-go setup is broken and not installed correctly. This is not a vim-go error you're saying, it's indicating that it's not installed correctly.

[2015-11-26 13:25] #624 closed

[2015-11-26 13:31] fatih commented on #625
Update your oracle binary please. Thanks.

[2015-11-26 13:31] #625 closed

[2015-11-26 16:13] k4rtik commented on #619
Hi @fatih

I do not want to disable running of `gofmt` (or `go fmt`), just that my old file should not be modified. Ideally, go fmt should be run only on the filename I specify in the vim `:w <filename>` command. I don't see a reason why it is run on the old file as well (triggering its undesired modification).

[2015-11-26 17:35] nerdyworm opened #627 ":GoRename error - vim-go: gorename: -to "0": not a valid identifier"
This seems to be the start of the problems for me: https://github.com/fatih/vim-go/pull/577

If there is any additional information I can provide to help fix this please let me know.  Or if you can point me in the right direction then even better :D

[2015-11-27 06:16] chausat opened #629 "incompatible on windows10"
when using :GoCallees, the error occured as follows:
![timline 20151127141218](https://cloud.githubusercontent.com/assets/7158763/11435111/6d6bee96-9511-11e5-9fe2-14a229955ab3.png)
![timline 20151127142146](https://cloud.githubusercontent.com/assets/7158763/11435192/5eda156e-9512-11e5-8239-4f107fdde5c6.png)

[2015-11-27 17:02] mk23 opened #632 "Remote editing wipes out .go files with go_fmt_autosave enabled."
Bisecting revealed this commit to be the culprit:  54946eafacdb6721cad4fd50b803580445d3eb68

I use vim as my IDE and often use netrw(scp) for editing files on remote servers.  I recently updated vim-go bundle and now every time I write the buffer out (ZZ or :w) the resulting file on the remote is completely wiped out.  This only happens with auto gofmt is enabled.
#### Repro
##### Prerequisites
1.

[2015-11-27 18:09] guns commented on #632
Didn't think about netrw with that commit! Looks like this can be hacked around by writing to `b:netrw_tmpfile`. I'll take a stab at it now.

[2015-11-28 14:56] marconi commented on #583
@abelino if you activate `source gvp` before running vim, it'll pickup your current `GOPATH`.

[2015-11-28 20:09] cespare opened #633 "Function names with suffixes that are builtins are highlighted incorrectly"
I think this is a recent-ish regression (I've only noticed it after a recent update).

Any function name that ends with a string that's a Go builtin is highlighted incorrectly:

<img width="273" alt="screen shot 2015-11-28 at 12 08 04 pm" src="https://cloud.githubusercontent.com/assets/318501/11453674/d9ebbc6a-95c8-11e5-8bc7-10866659a2ba.png">

[2015-11-28 20:13] cespare commented on #633
Yeah, this is a regression caused by d52c1644aa0417a5ae613ee13a8b2358d32a1ba1.

/cc @mmlb

[2015-11-29 12:52] fatih commented on #633
This is fixed with #628. Thanks @cespare for mentioning it.

[2015-11-29 12:52] #633 closed

[2015-11-29 12:57] fatih commented on #632
That's an interesting issue :) @guns are you're working on it? If not let me know please.

[2015-11-29 13:03] fatih commented on #629
Can you give please a reproducible test case? How is your package laid out? What's your packages CWD?

[2015-11-29 13:05] fatih commented on #627
Hi @nerdyworm. I don't think that you're given commit id is the root cause here.

Can you please provide more info about what's going on here? Please provide a reproducible test case.

[2015-11-29 17:02] nerdyworm commented on #627
Typing :GoRename<CR> with my cursor on an identifier it spits out the error message.
Typing :GoRename newName<CR> also spits out the same error.

If I run the command definition of the previous version everything seems to function correctly
```command! -nargs=? GoRename call go#rename#Rename(<f-args>)```

however when I use the most recent version, the error occurs.
```command! -nargs=? GoRename c

[2015-11-29 17:08] fatih commented on #627
This is really weird. I'm using the latest master and it works fine. Are you sure you updated all your files?

[2015-11-29 17:21] nerdyworm commented on #627
I'm certain that all the plugin's files are updated correctly.

Here's what I'm going to do.  I'm going to close this issue and just assume it's my local area that is broken and not the wonderful plugin :)  If I find something I'll add another comment or send a PR.

If other people have this same issue they should chime in.  Until then we can assume it's my vim issue, which is extremely likely.

T

[2015-11-29 17:21] #627 closed

[2015-11-29 17:23] fatih commented on #627
@nerdyworm sure :) Btw, I'm really open to resolve issues. But If I can't reproduce it, there is not much I can do. What you can do is compare the files, try to provide more cases and co. Thanks for using vim-go :)

[2015-11-29 18:38] guns commented on #632
@fatih: Yes. I have found a couple of options, but I'm afraid I won't have time to write a solid patch until tomorrow.

[2015-11-29 19:18] fatih commented on #632
@guns no worries! Take your time. I just wanted to be sure if you're working on it :) Thanks on tackling this problem :+1:

[2015-11-30 05:30] hongchaodeng opened #634 "godef in vim-go is too slow"
Compared to Atom, Sublime plugins, godef in vim-go is too slow. This is especially obvious on large projects with 8700+ files.
Is there any plan to improve it?

[2015-11-30 08:48] browny opened #635 "auto completion doesn't show functions available after go1.5"
I use `vim-go` and `YCM` plugins to do auto completion. My go version is `go version go1.5.1 darwin/amd64`.

The problem is that auto completion doesn't show new function available after go1.5 (ex: https://golang.org/pkg/encoding/base64/#Encoding.WithPadding). I use **vim-plug** as plugin manager and I am sure I have updated all the plugin I installed.

How do I check which go version the auto com

[2015-11-30 11:51] Integralist opened #636 "Unknown Flag Error when using new gometalinter feature"
Hello,

I'm using NeoVim on Mac OS X and I'm seeing the following error message when I write my buffer (i.e. "save"):

[code]

Below is my .vimrc file (which is being sourced into my .nvimrc file):

[code]

Below is an example go program:

[code]

[2015-11-30 12:04] Integralist commented on #636
Closing because the issue was that gometalinter needed updating.

I had to completely delete gometalinter from my $GOPATH and then re-`go get` it and run `gometalinter --install --update` (just running the latter command didn't work by itself though; the folder needed to be completely removed)

[2015-11-30 12:05] 7belrhalmia opened #637 "Error on GoInstallBinaries"
vim-go: goimports not found. Installing golang.org/x/tools/cmd/goimports to folder /home/belr/Goprogram/bin     │# command-line-arguments
Error installing golang.org/x/tools/cmd/goimports: Fetching https://golang.org/x/tools/cmd/goimports?go-get=1   │➜  src
Parsing meta tags from https://golang.org/x/tools/cmd/goimports?go-get=1 (status code 200)                      │
get "golang.org/x/tools/cmd/

[2015-11-30 12:06] #636 closed

[2015-12-01 07:26] codeactual commented on #632
Just in case it's helpful for the patch, I also ran into revert/wipe symptoms in local file scenarios.

#### My setup

- `vim 7.4.052-1ubuntu3`
- `vim-go` settings are default except for `g:go_highlight_*` are all enabled
- `syntastic` bundle removed entirely just for testing this

#### Scenarios

These appear 100% reproducible for me in the cited 54946ea (but not in the prior commit) and current

[2015-12-01 18:10] fatih commented on #634
Compared how? Please provide numbers to back up this, as all the editors using the same command line tool. If not please open the issue on https://github.com/rogpeppe/godef. Otherwise godef is pretty fast and there is not much we can do (vim-go just opens the file using the result of godef, there is no intermediate work). Thanks

[2015-12-01 18:10] #634 closed

[2015-12-01 18:13] fatih commented on #635
This is [gocode](https://github.com/nsf/gocode) related. Please ask the question there, as vim-go is just  a wrapper. Thanks.

[2015-12-01 18:13] #635 closed

[2015-12-01 19:18] amsibamsi opened #639 ":GoBuild fails for cgo project with separate header file"
If I use `:GoBuild` command in a project like https://github.com/amsibamsi/opengles-examples/tree/master/window i get the error:
[code]

A normal `go build` in the project directory works. Should `:GoBuild` not work the same as `go build`?

If I remove the header file and put the function definition into the comment section before the C import it works. Could it have something to do with the `go#t

[2015-12-02 19:33] Agnikay opened #640 "Not starting on Windows 10"
I've used GoCode with Windows 8 and it was working perfectly! But once i got update on windows 10 GoCode even not starting. GoClipse stucks when trying to start GoCode server. CMD also stucks on running gocode. I've reinstall both GoCode and Golang and result the same.

GOARCH=amd64
GOBIN=
GOEXE=.exe
GOHOSTARCH=amd64
GOHOSTOS=windows
GOOS=windows
GOPATH=D:\MC\Go
GORACE=
GOROOT=D:\Go
GOTOOLDIR=D:\G

[2015-12-02 19:47] #640 closed

[2015-12-02 21:05] PeterFillerman opened #641 "Starting a new line with "o" doesn't automatically indent it."
If you edit function, cursor is on the end of the line, and you press Enter - vim starts a new line, with all tabs.

If you stand anywhere in the line, and press "o" - vim starts a new line, no tabs, cursor on the left border of the window.

Not sure if that's expected, but it's a bit uncomfortable.

[2015-12-02 21:09] fatih commented on #641
Hi @PeterFillerman

Can you please give more information? I've tested it, and I can see that indents it with `o`. Did you set `autoindent`?

[2015-12-02 21:15] fatih commented on #639
@amsibamsi they should work the same, expect we don't use `go build`. `:GoBuild` doesn't create a binary. To avoid it we're appending a fake package (in our case `errors`). So the actual command is something like: `go build . errors`. What happens if you execute it that way?

cgo support is not so good in vim-go, as I don't work with any cgo related projects (which means that I'm not able it to im

[2015-12-02 21:16] fatih commented on #637
Hi @7belrhalmia . Please try to run the `go get` commands from the terminal. This error is usually due the packages or the host network issues. It's not vim-go related. Thanks

[2015-12-02 21:16] #637 closed

[2015-12-02 21:18] PeterFillerman commented on #641
Just added autoindent, nothing changed.

I can only add that my version is

VIM - Vi IMproved 7.3 (2010 Aug 15, compiled May  4 2012 04:09:27)
Included patches: 1-429

and I remapped "o" to "h".

Don't want to annoy you with my full .vimrc, I'll try again after I'll update my vim to the last version.

[2015-12-02 21:19] #641 closed

[2015-12-02 21:44] fatih commented on #618
@shazow this is fixed with https://github.com/fatih/vim-go/commit/61c9b49f73603f8a9099cc3655e9c218618bd498

It'll be in master once I've merged the neovim integration. It was handy, and the brances master and nvim are really different, I didn't want to cherry pick and and merge them forth and back. So it'll probably be in master in ~1 week.

[2015-12-02 21:56] fatih commented on #586
This is fixed with latest master. Can you please pull and test it?

[2015-12-02 22:17] trotha01 commented on #586
I'm getting this with the latest:
``` || gometalinter: error: unknown long flag '--disable-all', try --help```

[2015-12-02 22:22] fatih commented on #586
It's because you binary is old. Update it please.

[2015-12-03 00:20] garyburd commented on #361
Please feel free to merge a fork of go-explorer into vim-go.

The go-explorer code has been stable and I do not plan to enhance the tool.

[2015-12-03 04:18] trotha01 commented on #586
Okay, I updated gometalinter as well as it's dependencies.

So now I can't get :GoMetalinter to report any problems.

The command line gometalinter is working as expected though.

[2015-12-03 12:29] fatih commented on #586
Well you said that already, didn't you?:

So that is indented, because you only pick the current file, and in main.go there is no dead code.. If you just call :GoMetaLinter it'll take the current directory. I mark this as resolved. Thanks

[2015-12-03 12:29] #586 closed

[2015-12-03 20:28] amsibamsi commented on #639
`go build . errors` works fine. If is set the `let gofiles` line to `= '.'` inside the `go#cmd#Build()` function in `cmd.vim` it works okay. I guess this only works in case the current directory is the package I am editing and want to build. I'm confused what the `go#tool#Files()` in `tool.vim` does. Should it find the package of the currently edited file so only that package can be built?

[2015-12-03 21:40] ChrisMcKenzie opened #642 "Neovim performance"
As far as i can tell right now on neovim the auto fmt feature for example still runs as a standard vim process (blocking the ui thread) is there a plan to move this to a neovim coprocess at some point. I think it would improve saving performance as it would not block the vim ui thread.

Just a though.

[2015-12-04 07:13] fatih commented on #642
@ChrisMcKenzie yeah, will do it in the #607 PR. Did you checked it already, I think your comment is based on that PR right?

[2015-12-04 14:11] fatih commented on #639
That's the case right, it returns the list of dependencies we're passing to go build (actually we're using it also for `go run` too, because `go run` doesn't accept the `.` argument)

[2015-12-04 21:11] PeterFillerman commented on #641
OK, I just had to use CTRL-F in insert mode. This shortcut moves me to the correct indention level automatically, and this way empty lines stay empty.

[2015-12-04 21:24] PeterFillerman opened #644 "Find all usages of an import under cursor"
Is it possible to have it this way:

* My cursor is on the "io/ioutil"
* I type something like :GoReferrers
* I get a list of all things like ioutil.ReadDir, ioutil.ReadFile in the quickfix window

Maybe this is done already?

(And just to not ask in another issue, is there a way to find a main(), while I'm in the netrw in the package folder? How to go to an import folder by placing a cursor on it

[2015-12-05 02:47] daveyarwood opened #645 ":let g:go_fmt_autosave = 0 doesn't work mid-session"
Even after running `:let g:go_fmt_autosave = 0`, when I save a Go file, it formats it.

If I disable vim-go and restart Vim, when I save a Go file, it doesn't format it.

[2015-12-05 02:53] daveyarwood commented on #645
It looks like maybe `let g:go_fmt_autosave = 0` only works if you include it in your vimrc. Running it as a command in the middle of a Vim session doesn't seem to disable automatic GoFmt on save.

[2015-12-05 19:31] cespare opened #646 "No gofmt errors in quickfix window"
Since the location list changes, I no longer get a quickfix window when there's a gofmt error on save. That was quite handy. How can I get it back?

I bisected and 8d2b81e50d6daf43f097779dd5eb4f1faf27c225 is the first commit where it stops working (I get a vim error on save at that commit) and after 056a91144b8d8f7407f3af5cffdc13db504ebfb1 there's no vim error but no quickfix window either.

[2015-12-05 19:50] cespare commented on #646
Never mind -- the problem was that syntastic was somehow preventing the location list from working in vim-go, even though I'd configured syntastic to only run on certain filetypes (not go). Uninstalling syntastic fixed the problem.

[2015-12-05 19:50] #646 closed

[2015-12-06 02:42] asmedrano opened #647 "Blank Identifier in import causes, slow write."
Hi,
I have an import that looks like this
[code]

It seems to me like that blank identifer import is causing some strange behavior when goimports runs.
It takes a while for vim to become responsive again after `:w`.

[2015-12-06 03:17] asmedrano commented on #647
Actually I think its Syntastic exploding... anyone having any similar behavior?

[2015-12-06 09:50] typeless opened #648 "Add support for toggles of compiler flags (gcflags)"
The idea is to add two toggles named GoAsmListingEnable and GoParseTreeListingEnable, for example.

When any of them are set true, appending `-gcflags=-A` and `-gcflags=-W` respectively to the compiler commands, and then redirecting the outputs to dedicated vim buffers for examining.

I find this is helpful for developing insights about how Go turns my source code into raw materials under the hood

[2015-12-08 09:31] fatih commented on #645
@daveyarwood it's probably because of autoload. Please disable it and use `:GoFmt` whenever you want if you don't want autosave. Thanks.

[2015-12-08 09:31] #645 closed

[2015-12-08 09:34] fatih commented on #644
Hi @PeterFillerman

I'm not quite sure what you want. GoReferrers is for variable identifiers. I don't think it shows the public members of an imported package. Why do you need it?

[2015-12-08 09:35] fatih commented on #647
Hi @asmedrano

This is due goimports searching across $GOPATH. There is nothing vim-go can do here. Please use `gofmt`. Thanks

[2015-12-08 09:35] #647 closed

[2015-12-08 09:37] fatih commented on #648
Hi @typeless

I think this is not something I would want to add to vim-go. It's to specific and only covers a certain percentage of vim-go's user base. I never used my self, so I wouldn't maintain something like that as every single feature is going to be more work for me in the future. Feel free to work on a PR if you want, but the possibility of merging something so niche is really low. Sorry :/

[2015-12-08 09:37] #648 closed

[2015-12-08 09:47] fatih commented on #361
Thanks @garyburd. I'm more than happy to look at it. I'm reopening this issue so I don't forget it. I also need to check the source code for any existing duplicate reuse and rearrange it. I'll ping you when I have a ready PR waiting to merge. Thanks for work on go-explorer.

[2015-12-08 13:14] PeterFillerman commented on #644
@fatih I want not just all public members, but public members used in the opened file. With an ability to quickly jump between them with quickfix.

GoReferrers was just a bad example, please forget about it. Maybe it should be called something like :GoFindImportUsage.

I want it because, I think, it's the easiest way to quickly find out where the action is happening, without surfing through the re

[2015-12-08 13:19] fatih commented on #644
Ok there is an easy way. Please do the following (I'm using that way).

* Install [ctrlp](https://github.com/ctrlpvim/ctrlp.vim) plugin for vim if you haven't it yet
* Add the following to your vimrc (you can configure ctrlp for you needs):

[code]

* Create a `~/.ctags` file with the content:

[code]

Now when you call `:CtrlPBufTag` it'll will list all identifiers and you can easily jump to it.

[2015-12-08 15:36] PeterFillerman commented on #644
Yes, something like that! Let's see on concrete example.

In this file: https://github.com/rn2dy/sokoban-go/blob/master/render.go
I place the cursor on the import: "github.com/nsf/termbox-go"
Press some button
Magic happens
And I get this list:
* line 11, termbox.ColorBlack
* line 12, termbox.ColorWhite
* line 13, termbox.ColorBlack
* line 14, termbox.ColorBlue
* line 26, termbox.Attribute
* line

[2015-12-08 16:15] #618 closed

[2015-12-08 21:11] shazow opened #650 ":GoTest quickfix window hides multi-line outputs"
For bigger outputs, I like to have tests that output something like `t.Errorf("failed because some reason\n got: %q\nwant: %q", ...)`, this aligns the got/want nicely to see the diff for larger strings.

With the latest release, the quickfix errors window only shows one line per output. This is great for a quick view but it would be really nice if the lines could be unfolded into their full output

[2015-12-09 05:27] groob opened #651 "GoBuild fails when outside the source folder"
After updating to the latest version, 0aeb07e9305f5696bfc1cffb1e3b2226d851b913, `GoBuild` does not seem to be working properly when called outside the directory where the file is in.
The error I get with `nvim`
`vim-go: [run] Dropped "/incomplete/path/main.go" from location list (nonvalid filename)`
I tried opening the file with vim instead, and got a different error:
`package .: no buildable Go s

[2015-12-09 11:51] fatih opened #652 "Add Neovim integration details both to doc.txt and README.md"

[2015-12-09 12:18] fatih commented on #644
Unfortunately there is no way to get the public member of an import. You can use autocompletion `c-x c-o` on a defined indentifier, which will list it.

[2015-12-09 12:18] #644 closed

[2015-12-09 12:57] fatih commented on #650
Hi @shazow

We were already parsing them like that. Seems the `message` part needs to be revisited. Thanks for reporting.

Ps. I think we already parse for `build` or `run`. But not sure. I'm on it ;)

[2015-12-09 14:49] pcasaretto opened #653 "New test command does not run code in nested packages"
I opened vim at the root path: `/Users/pcasaretto/src/go/src/github.com/ResultadosDigitais/bliss`
Then opened https://github.com/ResultadosDigitais/bliss/blob/master/deployment/gist_output_test.go with `:e deployment/gist_output_test.go`.
Running go test with `go_term_enabled` set to 1 I get:

![screen shot 2015-12-09 at 12 47 12](https://cloud.githubusercontent.com/assets/817039/11688312/ffbe6782

[2015-12-09 17:12] shazow commented on #650
Excellent, yay! :custard:

[2015-12-10 10:21] amsibamsi commented on #639
So coming back to this. Obviously cgo projects build a bit differently. Would it be a good idea to have a command that builds the whole package of the file being edited?

[2015-12-10 13:04] svanharmelen commented on #651
Was just about to report the same problem... Having this issue as well.

[2015-12-11 23:28] shawnps commented on #652
+1 :) I am trying out neovim for the first time and I don't know what I'm doing.

[2015-12-11 23:29] shawnps commented on #652
(and vim-go is the only thing I actually care about getting working)

[2015-12-11 23:30] fatih commented on #652
@shawnps please check out the Issue #607, there you can find the necessary documentations for now. Actually there are not much to do, only if you want to change certain behaviors :)

[2015-12-11 23:41] shawnps commented on #652
@fatih great, thanks! :+1:

[2015-12-12 21:00] shazow opened #654 "Async work indicator"
The new neovim-enabled features are too fast!!

It's really hard to tell if anything is going on. Would be swell to have somekind of indicator to show that work is being done in the background.

Not sure how feasible it is to do this in a way that is compliant with everyone's layout settings, but maybe somekind of automagic [integration with airline](https://github.com/bling/vim-airline#seamless-i

[2015-12-12 21:45] fatih commented on #654
Hi @shazow

Unfortunately I don't know anything that can be added automatically. I'm not in favor of modifying the statusline ourselves btw. However there is a new function called `go#jobcontrol#Statusline()` which is exactly for this. It returns the current job status and is meant to be used as a notification. Right now there are no ways to notify a user in an async way. Please use this function

[2015-12-12 21:45] #654 closed

[2015-12-12 23:50] shazow commented on #654
I think that's fair. :)

[2015-12-13 19:21] tmc commented on #651
99a3a5fec048f0dc8ef65d292e905579b7bcbf73 introduced this breaking change. FWIW this basically breaks my vim-go workflow so i've reverted to before it.

[2015-12-13 20:09] fxkr opened #655 "Not a spacing error: "<-chan <-chan""
[code]

https://play.golang.org/p/CKUYB_PX5D

The space between the two "<-chan" is mistakenly shown as a spacing error.

[2015-12-14 08:35] al3xandru opened #656 "GoCallers/GoCallee: cannot find package "-1" in any of"
Using the latest vim/macvim and vim-go. When trying for the first time `GoCallers` and `GoCallee` I got this weird error:

[code]

GOPATH is correct (well almost correct as there's no vendor dir). But there's definitely no -1. Any ideas?

[2015-12-14 08:43] al3xandru commented on #656
I have found the following mappings which make me believe that's the origin of the -1.

[code]

[2015-12-14 21:29] fatih commented on #653
The NeoVim integration executes `GoTest` inside the your current working directory. What happens if you put this into your vimrc and try again:

[code]

I think it'll be fixed automatically with the code above. I'm looking into making it the same as default `:GoTest` behavior.

[2015-12-14 21:52] #653 closed

[2015-12-14 21:53] fatih commented on #653
This is fixed now @pcasaretto. Please pull latest master to get the update. Thanks for the report :+1:

[2015-12-14 22:27] #650 closed

[2015-12-14 22:27] fatih commented on #650
@shazow This is now fixed. Please pull the latest master to get the update. Thanks again for reporting :+1:

[2015-12-14 22:52] shazow commented on #650
Looking good, thank you!! :custard:

[2015-12-16 01:01] garyburd commented on #361
I created a Neovim remote plugin host for Go and I am moving on to writing plugins in Go.  I plan to create a doc viewer next. You may want to integrate with that plugin when it's done instead of go-explorer.

[2015-12-16 21:26] kriox26 opened #659 "Autocomplete stopped working"
Hi fatih, a few days ago autocomplete was working fine, today it stopped working. Here is the error message I get:
`-- Omni completion (^O^N^P) Pattern not found`.
After trying to autocomplete in `fmt.` or any other installed packages.
I have set the gopath and all the other features are working. I have no idea why this is happening, I tried removing all the last configs I added to my `.nvimrc` bu

[2015-12-16 22:10] fatih commented on #659
Hi @kriox26 . Please `go install` the packages you want to be autocompleted and be sure `gocode` is installed. There is no regression right now as we didn't change anything on completion. Thanks

[2015-12-16 22:48] kriox26 commented on #659
Thanks for the quick response, I've installed the packages and here is the output of `gocode status`
[code]
Okey, then it must be some local config I have that it's causing this to break. Thanks!

[2015-12-16 22:52] kriox26 commented on #659
Okey, now that I read a bit of gocode doc I can see where the problem is. With a simple update to the gocode tool the problem was solved. My mistake thinking it had something to do with the plugin.
Thanks fatih! Closing this up now :+1:

[2015-12-16 22:52] #659 closed

[2015-12-17 17:25] svanharmelen opened #660 ""g:go_auto_type_info = 1" makes nvim super slow since today (?)"
As of this morning nvim is extremely slow. I updated everything to make sure I got the latest and greatest but still everything I type or every command I type in and execute is so super slooow :disappointed:

If I comment the line `g:go_auto_type_info = 1` all is well again. Strangely enough I didn't have any issues with this line before and I do like the feature. It would be great if this call (g

[2015-12-17 17:28] svanharmelen commented on #660
Additionally, it seems like the omnibus completion (using `vim-go`) is able a bit slower as it used to be...

[2015-12-17 17:54] jrwren commented on #660
It does not seem to be just today. I switched to the 1.3 tag and still notice the behavior. The compile fork is taking a long time compiling source on packages with many dependencies.

[2015-12-17 18:49] svanharmelen commented on #660
Check... Well I use `vim-go` together with `nvim` on a daily basis and I truly feel a big difference in the last few days (mainly today that is).

Not saying it's a change in `vim-go` itself that triggers this, but something in the tool chain seems to be changed for the worst...

[2015-12-17 18:56] svanharmelen commented on #660
Just changed a few setting with the `gocode` daemon (mainly changed `autobuild` from `true` to `false`) and this seems to restore the usability for the best part. Still strange as I have that set to `true` for quite some time now.

[2015-12-17 19:01] jrwren commented on #660
Maybe coincidental that I noticed slowness today and I had no idea why. My gocode was over a year old. Hopefully updating helps me with my speed.

[2015-12-17 21:23] wavded opened #661 ":GoTest! is jumping to first failure"
Running nvim and against current master.  Expect it not to jump but remain in the current buffer.

[2015-12-17 23:58] mschenk42 commented on #651
I'm also experiencing this issue since I've recently updated.  It appears that it's looking in the root directory and not the subdirectory it's contained within.

![screenshot of iterm2 12-17-15 5-42-26 pm](https://cloud.githubusercontent.com/assets/630550/11885700/ac49613a-a4e7-11e5-867b-642dbbcdaa81.png)

[2015-12-18 18:20] include commented on #344
+1

[2015-12-19 08:00] shoulinwang opened #662 "about shellescape() in vim-go"
Because the output of the shellescape() controlled by &shellslash in windows. when &shellslash=1,  it will lead :GoRun failure.

Recommended to use function like gocodeShellescape() in 'autoload/go/complete.vim'.

[code]
[code]
[code]
[code]

[2015-12-19 08:09] shoulinwang commented on #537
check the &ssl in vim

[code]
&ssl=1 will lead to this issue

you can try unset it

[code]

[2015-12-20 13:57] nothingelsematters7 opened #663 "Show function signature when filling its arguments"
I like ```:GoInfo``` feature for functions using which I can view function arguments order with their types.

But when typed function name ```someFunction(``` with opening ```(``` I cannot view arguments anymore without returning in Normal-mode and going to function name.

I would be great to have an option to see ```:GoInfo``` for used function when filling its argument list.

[2015-12-21 12:00] fatih commented on #660
I'm closing this as Neovim is second citizen right now. The slowness is probably due Neovims refactored code and due some third party regressions (such as YCM). I for example completely removed YCM as it was slow as hell. Thanks.

[2015-12-21 12:00] #660 closed

[2015-12-22 09:41] nothingelsematters7 opened #664 "GoRename fails if there is some errors in code"
I try to rename some variable in my code when there is some errors in it.

After running ```:GoRename``` command my cursor is moved to first error in code and I cannot even understand what happened. There is any error in status line and Location List with errors is not opened.
Only after running ```:lopen``` I can view list of errors.

Variable is not renamed.

[2015-12-22 09:51] nothingelsematters7 opened #665 "Running :GoMetaLinter command doesn't open Location List (neovim)"
It's because of conflict with Syntastic which uses Location list to show its output as vim-go.
I don't know how to resolve this, maybe I need to create the bug in Syntastic?
Set golang filetypes as passive for ```syntastic_mode_map``` doesn't help.

[2015-12-22 18:28] shazow opened #666 "New binary tool: Interfacer"
Just stumbled on this one, looks really neat:

https://github.com/mvdan/interfacer

Worth keeping an eye on (feel free to close if premature to talk about).

[2015-12-23 14:23] gavrie opened #667 "Add support for Vim tag stack to GoDef?"
I'm a longtime happy user of vim-go, but one thing bugs me: When jumping to a definition with `:GoDef`, I often want to look around and then jump back to the original location. While it's possible to use `CTRL-O` for that, this often requires multiple jumps.

When programming in C, I use `ctags` and Vim allows going to a tag definition with the `CTRL-]` mapping, and then jump back with `CTRL-T`. T

[2015-12-26 17:43] dav- commented on #656
I'm also experiencing this problem with `GoCallers` and `GoCallees`.

    vim-go: cannot find package "-1" in any of:
            /usr/local/Cellar/go/1.5.2/libexec/src/-1 (from $GOROOT)
            /Users/derrick/****/****/api/Godeps/_workspace/src/-1 (from $GOPATH)
            /Users/derrick/gocode/src/-1
    oracle: no initial packages were loaded

[2015-12-27 02:34] stachg opened #668 "combination of golang installed on win and vim cming from cygwin doesn't work properly with vim-go"
In such situation GOPATH format is something like C:\path1\to\go;C:\path2\to\go but in vim, has('win32') etc are 0 and has('unix')/has('win32unix') are 1 which seem to confuse vim-go. For instance, running :GoUpdateBinaries writes to C/bin directory instead of C:\path1\to\go\bin. So it looks like GOPATH is parsed assuming unix syntax instead of windows.

[2015-12-28 09:09] nothingelsematters7 opened #669 "close location list if initiating buffer is closed"
When editing a buffer and the location list is opened, and then the original buffer is closed, the location list remains open. I think the location list should also close if the initiating buffer is closed.

Cloned from here: https://github.com/scrooloose/syntastic/issues/123
Example fix for Syntastic, may be helpful here too: https://github.com/scrooloose/syntastic/pull/126/files

[2015-12-29 19:20] abourget commented on #190
Also using https://godoc.org/github.com/raphael/goa/design/dsl which proposes using dot imports.. but it really hinders navigation.

what I usually do with gomega is have a `utils.go` where I:

[code]

it adds an indirection and avoids imports on all files in the package.  I'd prefer to be able to jump through dot imports though !

[2015-12-30 01:20] kodek commented on #663
:+1:  I'd also love to see function signatures while in insert mode.

[2015-12-30 03:58] shazow commented on #664
Same here, `:GoRename` stopped working at some point with no output generated. Not even in `:lopen` or `:messages`. I'm running neovim, if it matters.

Would be nice if it was easy to run the equivalent of `gorename -v` (verbose mode) to get a better idea of what's going wrong. Definitely need somekind of indicator of failure, at least.

[2015-12-30 04:04] shazow commented on #664
Performing a poor man's bisect, seems failure output was working in d5a1dff5a604c947a7578c19d7d261f7019985ed but missing in ecd2a836d0891fcc8fe39e25cd55296421a06484, so somewhere between those two. :P

[2015-12-30 04:07] shazow commented on #664
Doing a slightly wealthier man's bisect, seems it was semi-working in 0ee6e9135c93bb8b0e5dbbf81c8327ba11d1b3e4 (some errors, probably a broken commit), but 056a91144b8d8f7407f3af5cffdc13db504ebfb1 was the first commit where the output was missing altogether.

[2015-12-31 23:43] ereyes01 opened #672 "Go1.6 Goimports Changes to Support Vendoring / GO15VENDOREXPERIMENT"
I am eagerly anticipating the day when I can smoothly use vim-go with all the GO15VENDOREXPERIMENT bells and whistles. It's all almost there, and I'm so excited I can't sleep anymore! Well... I guess not that excited :-) ... but close enough!

I wanted to bring this CL to your attention because it might require changes to vim-go to work with goimports in Go 1.6: https://go-review.googlesource.com/

[2016-01-01 09:41] yaojingguo commented on #247
The setup as specified in https://github.com/fatih/vim-go/blob/master/README.md#using-with-syntastic solves this problem.

[2016-01-01 23:42] shazow commented on #666
One more:

https://github.com/rjeczalik/interfaces

[2016-01-02 15:09] ironcladlou opened #674 "GoTestFunc produces invalid locations when invoked on a sub package test file"
As of 99a3a5fec048f0dc8ef65d292e905579b7bcbf73, running `GoTestFunc` on a test function in a sub package always produces invalid quickfix locations and an error like "Dropped [...] from location list (nonvalid filename)".

The test file is in `$GOPATH/package/a/b/foo_test.go`, and the error reports that the location from the test failure is in `$GOPATH/package/foo_test.go`.

I don't have time righ

[2016-01-02 21:47] shazow commented on #664
Looks like most (all?) commands' non-success output get eaten in the latest version. `:GoTest` timeout failure doesn't show up anywhere either.

[2016-01-02 21:55] shazow commented on #663
I think there's a way to do this using a preview window but that's not ideal. I've tried to get the completion hover to keep the signature while filling it out, but can't figure out the right approach to do that.

Alternatively, another solution might be to have a binding that fills out the signature as a snippet. That way it will appear inline as a reference but also remain overrideable and let y

[2016-01-03 01:13] fatih commented on #656
Hi. Can you please provide a text snippet which describes your problem so I can describe it? If not there is not much I can do. It seems you're code is not under a valid GOPATH. This error comes when oracle can't find your source code under GOPATH.

[2016-01-03 01:16] fatih commented on #668
Hi @sbdchd, how do you think we should solve this? I'm not using Windows and don't have a clear understanding of your problem. Never used cygwin too.

This is the code we use to detect if it's running under Windows or not. If it's Windows we'll change the Path separator from `/` to `\`:

[code]

[2016-01-03 01:28] fatih commented on #662
Hi @shoulinwang. In your example the file names are the same, they both use backslashes. Are you sure it changes something ?

[2016-01-03 01:29] fatih commented on #662
Btw we have custom function already for windows, which uses backslash automatically, checkout out the autoload/go/tool.vim file for the function `go#tool#Files()`

[2016-01-03 01:38] fatih commented on #651
It seems it's due `cwd`. It was working for me always because I have this piece of code in my vimrc:

[code]

Working on a fix.

[2016-01-03 01:38] fatih commented on #651
Oh I think it's time to introduce some tests for vim-go, I think I'm now fixing the same issue the fourth time this year (well last year actually :))

[2016-01-03 01:52] shazow commented on #664
Continuing the investigation (apologies for the comment trickle/barrage):

The problem is here:
https://github.com/fatih/vim-go/blob/056a91144b8d8f7407f3af5cffdc13db504ebfb1/autoload/go/tool.vim#L50

gorename produces failure messages like "gorename: can't find package containing ..." which is not considered an error by the regexp '^\(fatal error:.*\)$' so it gets swallowed.

I think a better appr

[2016-01-03 02:07] shazow commented on #664
Ok I figured out what's going on and I think I understand how it's supposed to work based on the other commands. Sending a PR. :)

[2016-01-03 02:09] ironcladlou commented on #651
I know how you feel... hang in there! Thanks for the hard work on this plugin.

[2016-01-03 02:10] #664 closed

[2016-01-03 02:45] fatih commented on #651
Can anyone here please try https://github.com/fatih/vim-go/pull/677 It should work both with Vim and Neovim. It seems this problem exists for all instances of plain `make` usage. So :GoRun and co needs to be fixed too, but that's another issues case, just let me know if `:GoBuild` is working well or not :)

[2016-01-03 03:18] fatih commented on #655
Hi @fxkr, seem it's caused by the rule for showing errors of `chan <-`, whereas it's expecting `chan<-`.

[2016-01-03 05:54] fatih commented on #655
Hi @fxkr, can you please pull #678 and let me know if it works for you?

[2016-01-03 08:06] al3xandru commented on #656
GOPATH is correctly set as everything works (you can see it here https://github.com/al3xandru/golang-driver/tree/v2.). The only thing that stands up would be: GOPATH has 2 path components and I have vendoring enabled. I'll post a bit later the output of go env for full details.

[2016-01-03 11:15] fxkr commented on #655
Thanks!

Unfortunately, it introduces a regression. This correct code is now hilighted:

[code]

Luckily `chan` (the keyword) is always a word by itself (`<-` aren't word chars), so you can just always use `\<chan\>` instead of `chan` in all of these regexes and that fixes that, so:

[code]

(Interestingly, the second `chan` in the first regex already had the `\>`)

...and that fixes the problem a

[2016-01-03 16:24] #655 closed

[2016-01-03 21:00] fatih commented on #661
Hi @wavded. This is a bug, it's not implemente for neovim, only for vim. Thanks for mentioning it.

[2016-01-03 21:29] stachg commented on #668
Hi Fatih,

I normally use Linux and vim-go works great. I like the functionality very much. However, I sometimes need to use a windows tablet for golang development. This required installing golang on windows (it creates win style GOPATH) and cygwin to get Linux like environment (vim) on win (win is not my favorite dev env).

I actually tried to use let win = [&quot;win16&quot;, &quot;win32&quot;,

[2016-01-03 22:51] fatih commented on #661
@wavded Please test https://github.com/fatih/vim-go/pull/679 and let me know how it works. I'm going to merge it by tomorrow. Thanks again for reporting :)

[2016-01-03 22:58] fatih commented on #674
Hi @ironcladlou This is fixed with: https://github.com/fatih/vim-go/pull/677 can you test it please ?

[2016-01-04 23:08] mschenk42 commented on #651
I tested the 'fix-build-error' branch and it worked correctly for me and I reconfirmed the same test will fail in the 'master" branch.

[2016-01-04 23:22] eapache commented on #502
This has been annoying me for a while too.

@Konfekt I'm a big fan of `FastFold` and since you know so much about vim's folding mechanism I was wondering if you had any ideas here?

[2016-01-05 01:47] fatih commented on #651
Thanks @mschenk42 for the feedback.

[2016-01-05 01:59] #651 closed

[2016-01-05 02:47] #661 closed

[2016-01-05 02:48] fatih commented on #661
This is fixed with #679

[2016-01-05 03:16] fatih commented on #665
Hi @nothingelsematters7  If you remove syntastic, does it work? Is it because it conflicts with Syntastic?

[2016-01-05 03:18] fatih commented on #667
Hi @gavrie This looks like a nice improvement we could do. I'm looking into it. Thanks for the feedback :)

[2016-01-05 04:00] shoulinwang commented on #662
The different points in the example are 'and"

[2016-01-05 07:08] nothingelsematters7 commented on #665
@fatih yes, it does work after removing Syntastic

[2016-01-05 15:27] ironcladlou commented on #674
@fatih

I've tested with 5573e9c5f0b75bdb2b914ad33e63e153a9b6a5ff and I'm still seeing the bug but with slightly different output: Now, in addition to "Dropped [...] from location list (nonvalid filename)" I also see the output of `go test` which wasn't present before. It looks like:

[code]

Reverting to 5573e9c5f0b75bdb2b914ad33e63e153a9b6a5ff continues to fix the problem.

[2016-01-05 15:27] mk23 commented on #632
Has there been any progress with this bug?  I'm happy to test any experimental changes.

Thanks.

[2016-01-05 17:12] wavded commented on #661
Seems to work good, thx @fatih

[2016-01-05 18:03] Konfekt commented on #502
I am not in the picture what GoFmt does on BufWrite.

How about

autocmd BufWrite *.go normal ! zv

as a provisionary work around?

[2016-01-05 20:03] eapache commented on #502
It runs an external tool to reformat the file, and then simply reloads the modified file with `edit!`. Of course this destroys any folds, which is quite annoying.

[2016-01-06 06:34] riobard commented on #625
@fatih latest oracle binary still does not have the -tags flag. Is there anything wrong?

[2016-01-06 16:57] Konfekt commented on #502
Oh, then give vim-stay a try, or save and load folds by mkview and Loadview. That's an intruuusive cmd then, this GoFmt.

[2016-01-06 19:18] metheon commented on #582
For anyone else tripping on this the solution (at least for me) was running: `:GoUpdateBinaries`

[2016-01-07 12:11] jonaz commented on #625
I have the same issue. -tags is no longer available in oracle.

[2016-01-07 15:10] fatih commented on #625
It has: https://github.com/golang/tools/blob/master/cmd/oracle/main.go#L42

Please update your Oracle binaries, there is not much I can do here.

[2016-01-07 15:15] jonaz commented on #625
Strange. I had to rm -rf $GOPATH/src/golang.org and go get it again.
:GoUpdateBinaries or go get -u did not manage to update it.

[2016-01-07 16:04] riobard commented on #625
@jonaz Thanks for the tip! Yeah, this is really strange. `$GOPATH/src/golang.org` does not seem to be under any version control. Not sure if that's why `go get -u` failed to update it.

@fatih I guess it'll be useful to point the above gotcha somewhere so people know how to deal with it.

[2016-01-09 04:06] fatih commented on #666
What's the difference between https://github.com/josharian/impl and these ? Just curious :) We had a PR open to integrate https://github.com/rhysd/vim-go-impl into vim-go btw.

[2016-01-09 04:16] fatih commented on #672
Thanks @ereyes01 I'm already aware of it. I'm closing this as there is not much I can do right now. Once it's ready I'll look if there are any changes needed.

[2016-01-09 04:16] #672 closed

[2016-01-09 04:17] fatih commented on #674
Can you please provide a test case (example code that compiles). If I can reproduce it I can try to fix it.

[2016-01-09 15:02] ironcladlou commented on #674
@fatih

Sure.

[code]

Output of `GoTestFunc` from `a_test.go:6:2`:

[code]

[2016-01-09 17:50] ernesto-jimenez commented on #627
@nerdyworm did you get this fixed? I've got the same problem :)

[2016-01-10 01:00] #674 closed

[2016-01-10 01:01] fatih commented on #674
Thanks @ironcladlou  for the example case. I've could reproduce it and fixed it successfully. I've pushed it to master. Please reopen and provide the most recent failure if it doesn't work for you. Thank you again for your feedback.

[2016-01-10 08:19] jHorovitz commented on #656
The -1 actually comes from https://github.com/fatih/vim-go/blob/9caa7fa7d43e29af5c616819c765691120b0abd5/autoload/go/package.vim#L66.

I ran into the same issue. I have link /home -> /mnt/home. The $GOPATH was specified as /home/... while the current directory as calculated by pwd is /mnt/home/.... Changing the $GOPATH to start with /mn/home fixed this. I hope this helps you, @al3xandru.

[2016-01-10 10:29] al3xandru commented on #656
@jHorovitz thanks, but there are no symlinks in my GOPATH (as can be seen in the go env output). I'll check the code you linked to.

[2016-01-10 14:52] dune-rocks opened #683 "GoInstall clears my editing window when errors exist"
When I run `:GoInstall` with the following program, the window containing this code gets cleared (there's zero lines in it) and the just the small window at the bottom with the error remains.

[code]

Does anyone else notice this with their installation? I'm a newbie, so it's likely I've screwed something up, but the behaviour smells buggy. After this happens, I have to reopen the file in Vim.

[2016-01-11 04:29] al3xandru commented on #656
@jHorovitz after adding some echoms, I confirm that the issue is indeed related to a symlink present in `$GOPATH`. Once that gets dereferenced the error goes away. Thanks a lot!

I still think that this could be addressed by vim-go, but it's probably low priority.

[2016-01-11 05:40] shazow commented on #666
interfac_er_ is a linter, it suggests existing interfaces for types.

interfac_es is the reverse of impl, it generates an interface declaration from an existing type.

impl generates a type stub from an existing interface.

Getting crowded here, kinda wish some of these got merged (maybe interfacer into oracle for example)

[2016-01-11 11:00] casimir commented on #666
@shazow note that interfacer can be available in vim-go through the `:GoMetalinter` command (see https://github.com/alecthomas/gometalinter/commit/2d14952aaa85b982a8186b33e9e9cdc54452d274 and https://github.com/alecthomas/gometalinter/commit/843d354946808db2965ea67323ad2a38a05c465a).
You just have to set `g:go_metalinter_enabled` accordingly.

[2016-01-11 19:58] shazow commented on #666
@casimir Great point, thank you! I need to setup my metalinter.

[2016-01-13 14:46] peterhellberg opened #684 "Override the :A command to toggle between go implementation code and test code."
I’d like **vim-go** to have the functionality of https://github.com/benmills/vim-golang-alternate and possibly add support for optionally creating missing test files when toggling.

[2016-01-13 15:40] alaska commented on #667
From my initial research, modifying the tag stack is a tricky business.  You might be better off making your own jump stack and remapping `C-T`, `C-]`, and creating your own `:Gotags` to list them. For a reference on how this might be done, check out https://github.com/vim-scripts/VIntSearch/blob/master/autoload/VIntSearch.vim#L258

[2016-01-13 15:51] gavrie commented on #667
@alaska That sounds just great!

[2016-01-13 18:08] fatih commented on #667
Yeah, my initial research didn't lead me to any important direction. There are no public ip's to create tag stack unfortunately. I'm closing this as I don't have the time to do any kind of hacks to support it. Thanks @gavrie for opening it though.

[2016-01-13 18:08] #667 closed

[2016-01-15 11:21] fvdnabee commented on #502
One work-around to avoid this issue is to disable GoFmt: let g:go_fmt_autosave = 0
You can then run GoFmt manually at specific times via :GoFmt in vim.

However, an actual solution would be preferred of course. I'll give the vim-stay solution of @eapache a try.

[2016-01-15 17:33] nerdyworm commented on #627
@ernesto-jimenez I just shoved the following into my vimrc

    map ,rn :call go#rename#Rename()<cr>

(shrug)

[2016-01-16 00:47] fatih commented on #669
Hi @nothingelsematters7

It's not possible anymore to do it that way. That commit is old and causing Vim to print errors. Here is an updated commit which improved it, but also increased the code complexity: https://github.com/scrooloose/syntastic/pull/256

So we need to a lot of work to make it work with vim-go. So because of my limited time, I'm letting this open and come back later in the future

[2016-01-16 01:56] fatih commented on #663
Hi everyone. Can you please try #685? It's far from perfect but at least it's helpful :) I'm thinking to add some docs and putting it behind a flag (maybe). Here is a sneak peak of it:

![](http://f.cl.ly/items/133V371j1d0G1V2z2V13/Screen%20Recording%202016-01-15%20at%2008.52%20PM.gif)

[2016-01-17 23:12] Jmeyering opened #688 "Save slow when using vendor directory"
When using the GO15VENDOREXPERIMENT option and saving dependencies into my projects vendor directory, my saves are taking upwards of 5 seconds to complete really making it more difficult to work.

If I delete the vendor dir my saves are pretty much instantaneous, I'm importing ~8 packages at this point in time.

[2016-01-17 23:16] fatih commented on #688
Hi @Jmeyering . vim-go doesn't do anything when you save expect calling `goimport` or `gofmt` dependent on what you set it up. I think you use syntastic, please disable it:

https://github.com/fatih/vim-go#using-with-syntastic

Thanks

[2016-01-17 23:16] #688 closed

[2016-01-17 23:26] Rmanolis commented on #683
This happens to me also

[2016-01-17 23:28] fatih commented on #683
Are you using the latest master? It was fixed 1-2 weeks ago.

[2016-01-17 23:39] Rmanolis commented on #683
Yes I am sure, I just updated the plugin and the error continues .
I use Vim 7.4.1046 modified by pi-rho

[2016-01-17 23:41] fatih commented on #683
Ok please provide a detailed test case. An example code, the directory you're calling it with exact commands, your vimrc, etc... This is important so I can reproduce it. Thanks!

[2016-01-18 00:05] Rmanolis commented on #683
My vmirc (I am shy because it is not the cleanest)
https://gist.github.com/Rmanolis/8a8d9d252fe7f09395f5
I use golang 1.5.3
My project folders are
ctrls  utils  models  requirements.sh  gin-bin  main.go  confs  webdev  static  cbcli  TODO.md
where in the ctrls has an auth.go
https://gist.github.com/Rmanolis/38a85a441096b483296b
There when I make any error and press ":GoInstall", it opens a new buf

[2016-01-18 00:11] fatih commented on #683
Thanks @Rmanolis but your example is not something I can use. Provide a simple `main.go` which I can use to reproduce the problem. The information you give me is not useful! Thanks.

[2016-01-18 02:28] alaska commented on #667
I'll take a look and submit a PR if I can get anything done in a reasonable time.

[2016-01-18 03:54] fatih commented on #665
@nothingelsematters7 there is much I can do here, as location list is associated with a window. If someone else tries to override it (which can be vim-go too) it causes conflicts. I'm going to provide an option to use quickfix in the future, but this is something I can't change for now. It's a problem of vim, not vim-go.

[2016-01-18 03:54] #665 closed

[2016-01-18 04:15] nhooyr commented on #652
@fatih should I have a separate section for just neovim options or should I include them throughout and label them explicitly as neovim only?

[2016-01-18 04:19] fatih commented on #652
My ideas was put a section in Readme.md, with short explanation of `enhanced` versions of our features.  And after it populate each command in `docs/vim-go.txt` with a new paragraph, such as:

"If NeoVim is being used, :GoBuild runs asynchronously and doesn't block the UI. Errors are populated inside the location list. We provide a new function ... which you can plug into your statusline ..."

[2016-01-18 04:20] fatih commented on #684
Thanks @peterhellberg for the suggestion. This is a nice feature we can add :+1:

[2016-01-18 04:22] fatih commented on #656
@al3xandru please also have a look at this issue: https://github.com/fatih/vim-go/issues/221 It fails due the symlink problem.

[2016-01-18 04:22] #656 closed

[2016-01-18 04:39] nhooyr commented on #652
@fatih it populates the quick fix list for me, not the location list?

[2016-01-18 17:24] #652 closed

[2016-01-18 17:52] fatih commented on #662
I don't have any ways of testing it to produce a fix. All I can say is that `go#tool#Files()` is using `"` instead of `'` if it's Windows. So we already use `"`. The error might be caused by another function which uses shellescape. I've modified it so it uses your fix, can you try it wit this PR: https://github.com/fatih/vim-go/pull/690 as I said I don't have any way to test it.

[2016-01-18 17:53] fatih commented on #668
I don't have and don't use windows, so this option is a very small percentage of vim's userbase (plus when it's being used with cygwin. Please have a look at this issue: https://github.com/fatih/vim-go/issues/662, I think it's a duplicate. Until a Windows user comes and contributes a fix I can't do much. Thanks.

[2016-01-18 17:53] #668 closed

[2016-01-18 17:59] fatih commented on #632
@mk23  not yet on my side as I was clearing my backlog. Just arrived at this issue. @guns do you have any kind of patch (even though it's not finished) ? If not I want to look at this problem.

It's really frustrating that Vim makes it so hard to rewrite/update the content of a buffer. Every single step we make to improve the situation makes something else worse.

[2016-01-18 18:03] fatih commented on #579
Ping

[2016-01-18 18:06] fatih commented on #666
Thanks all for the comment. I'm closing this in favor of #122. We have three tools about interfaces, which one can be included in gometalinter, the other can be used with `vim-go-impl` plugin and the other needs to have a new plugin interface. Please comment on #122 for any new news or contributions :)

[2016-01-18 18:06] #666 closed

[2016-01-18 18:06] fatih commented on #122
Also other tools from: https://github.com/fatih/vim-go/issues/666

To create interfaces based on a given type: https://github.com/rjeczalik/interfaces
To suggest interfaces based on a given type: https://github.com/mvdan/interfacer

[2016-01-18 18:07] fatih commented on #591
Hi @chrisnc.

This is a big contribution. I'm not using cgo, but I've just announced it from twitter. Hope it catches some cgo users!

[2016-01-18 18:15] fatih commented on #642
Just thinking that formatting is already fast and we don't need to complicate the code there. Also having it blocking in way is ok, because we don't want to change the content during the formatting. Thanks @ChrisMcKenzie for the suggestion though :)

[2016-01-18 18:15] #642 closed

[2016-01-18 23:48] fatih commented on #502
Hi everyone. I'm going to work on this as my next issue. Thanks for the feedback. Unfortunately there is no easy way to update the content of a file in vim. There are multiple iterations of :GoFmt (check the history), each with its own problems. Right now :GoFmt is quite stable and works very well. Though, it has problems as seen in this issue.

My plan is to look at mkview based solution and see

[2016-01-19 00:17] stachg commented on #668
Hi Fatih,

I can try to fix it but I would need your help because I am not familiar with the code.

So far it looks like the problem comes from the fact that GOPATH is in windows format (backslashes, because go is installed on windows) and cygwin working with unix paths.

vim-go on cygwin go detects unix system and assumes &#39;/&#39; to be a path separator which causes problems with GOPATH which

[2016-01-19 01:01] fatih commented on #668
Hi @stachg,

Can you please use the web ui of Github? Right now you're email is not readable unfortunately and I have hard time to understand it :/ If you look at it from the webui You understand what I mean. Thanks.

[2016-01-19 01:07] fatih commented on #502
Can you please try this PR: https://github.com/fatih/vim-go/pull/691, I've tried locally and for me it's saving/restoring folds + cursor positions without any problem so far.

[2016-01-19 01:09] fatih commented on #502
@guns you said:

[code]

In my tests (#691), it seems like it works without any problem. Did you encountered any kind of problem, any edge case that I'm not aware of?

[2016-01-19 01:16] #663 closed

[2016-01-19 01:56] xh3b4sd commented on #502
I just tested #691. Works for me. Thanks :)

[2016-01-20 05:17] #662 closed

[2016-01-20 10:42] Rmanolis commented on #683
sorry that I didnt reply earlier, I got very sick.
However with the new plugin it is working correctly.
Thanks for you hard work :)

[2016-01-20 15:02] #683 closed

[2016-01-20 15:03] fatih commented on #683
This is now fixed with #692

[2016-01-21 03:35] fatih commented on #412
We can do it already with `:GoImport!`, closing this as this is not something top priority.

[2016-01-21 03:35] #412 closed

[2016-01-21 03:35] fatih commented on #629
Ping @chausat

[2016-01-21 03:36] fatih commented on #585
I'm closing this as invalid. Don't think this is vim-go related as it would affect anyone. normal completion, `c-x c-o` works without any problem. Thanks.

[2016-01-21 03:36] #585 closed

[2016-01-21 03:37] fatih commented on #469
@adamveld12 can you try with the latest master again? I don't have the ability to test it as I'm not using Windows. We have many fixes for Windows recently in the latest HEAD. So giving a try would be very useful for me.

[2016-01-21 03:38] fatih commented on #501
I'm closing this as there are still no recent changes. Even if there is I think, we as a community, will catch it up fairly quickly. So I'm closing. Feel free to reopen @shazow if you think this should be open. Thanks :)

[2016-01-21 03:38] #501 closed

[2016-01-21 05:26] bmizerany opened #693 "GoRun + GoTest on non-main package segfaults vim"
I've been fat-fingering my `,r` intead of `,t` recently and noticed a pattern where doing so crashes vim. The easy solution is "don't do that." but I think this is a symptom of a knarly bug somewhere. This isn't the only way vim-go crashes vim for me but I can't tell you what I did before because I'm usually working in anger and am like "gah. dang it. can't stop coding. reopen vim!".

This has bee

[2016-01-21 05:27] bmizerany commented on #693
Current setup:

[code]

[2016-01-21 05:27] bmizerany commented on #693
My vim-go is at 3e26758b1421ae88a8750b7c1aeaf8324c6b4912

[2016-01-22 20:11] stachg commented on #668
Sorry about it. I didn't realize my phone's e-mail client was converting quotes. Here is a copy of my previous e-mail:

So far it looks like the problem comes from the fact that GOPATH is in windows format (backslashes, because go is installed on windows) and cygwin working with unix paths.

vim-go on cygwin go detects unix system and assumes "/" to be a path separator which causes problems with G

[2016-01-23 22:59] fatih commented on #693
Hi @bmizerany. I could reproduce it, when you do the combination `:GoRun`, `:GoTest` very fast.  I see the following error:

[code]

But this crash doesn't happen when you use a newer version of Vim (like installed with brew). It only happens for the default version coming from Mac OSX, which has the version:

[code]
This version is really old (the new one is 7.4), and the new version has on top [

[2016-01-24 22:55] bhcleek opened #696 "quickfix vs location list"
The most recent release, 1.4, changed lists to use the location list instead of the quickfix list. This is a useful improvement for functions that operate on a single buffer (e.g. GoCallers). But for functions that operate on a package instead of the buffer (e.g GoBuild), I strongly prefer the quickfix list, (e.g. GoBuild).

I'm not certain, but I think the difference in my mind is that the locati

[2016-01-24 23:14] fatih commented on #696
Hi @bhcleek I would be happy to merge it. I was thinking of having a switch, that changes the functions in  `list.vim` to use `quickfix` instead of `location list`. I've already refactored and laid out the foundation so it's pretty easy! The only change we need is to be inside `list.vim` file, as every other function uses those functions. By default it should be `locationlist` and an option `g:go_

[2016-01-24 23:18] svanharmelen commented on #696
The first option (having a g:go_list_type var) would make me very happy I think :wink:

[2016-01-24 23:34] bhcleek commented on #696
@fatifh, I would be happy with either of your proposals. A strong argument can be made that a combination of the two proposals  is the correct thing to do: some commands unconditionally use the location list, and other commands populate one list or the other based on a switch.

Before we decide, though, can you expand on the second proposal? Wouldn't using the quickfix unconditionally be subject t

[2016-01-24 23:38] fatih commented on #696
Yes, the reason my second proposal was to avoid these kind of things. For example even though we would use quickfix for `:GoBuild`, we could use `locationlist` if it's being used under NeoVim. That would very easy to do if the functions accepts a first parameter, `list_type`, which could change the way a list is created/displayed, etc..

[2016-01-24 23:47] bhcleek commented on #696
Thank you for the clarification. I prefer the second option.

[2016-01-25 00:00] bhcleek commented on #696
Can the two approaches be combined?

I think this could be phased relatively simply: introduce an option now that supports three values: always use the location list, always use the global list, and vary the lists by command. Simultaneously, introduce a new parameter to the `list.vim` functions that specifies the list type. The final step, then, is to modify `list.vim` to use quickfix when the lis

[2016-01-25 00:03] fatih commented on #696
That sounds a good plan to attack the problem :+1: . Just the type names should be consisten, such as `quickfix`, `locationlist`, etc.. We can check the vim docs to get the correct naming. A quickfix can be used for all kind of features, it doesn't need to be errors.

[2016-01-25 00:26] bhcleek commented on #696
I agree fully on the consistency; I only threw out some proposed names to give us a starting point of discussion. The details always come later :+1:

[2016-01-25 06:42] svanharmelen commented on #696
After reading you comments, I guess the second option would make me just a happy :+1:

[2016-01-25 08:09] bhcleek commented on #696
I have a branch that I believe is just about ready. I'll test it tomorrow, resolve any problems I find, and then submit a PR.

[2016-01-25 13:50] ironcladlou commented on #674
Sorry for the delayed response. I verified the fix. Thanks again!

[2016-01-25 17:58] nhooyr opened #697 "flashing cursor after status line update"
This is best explained by a video.

https://youtu.be/PugiOAWZTuQ

I start by typing some random text to show how it normally looks. I run GoBuild and then bam the cursor starts flashing a ton as I type.

It is likely to be a vim-go problem as neomake works perfectly. Neomake also seems faster than vim-go.

Let me know if the video quality is bad.

[2016-01-25 18:18] nhooyr commented on #693
Interestingly I'm getting segfaults as well but on neovim and on a main package. As soon as I have reproduction instructions I'll post them.

[2016-01-25 21:14] nhooyr commented on #693
Figured it out gonna create an issue.