[2016-01-25 21:21] nhooyr commented on #697
It has to do with "go#jobcontrol#Statusline" in my status line. After running GoBuild it causes the cursor to flash.

[2016-01-25 22:30] arghtastic opened #698 "GoMetaLinter Won't Install"
No Matter what I do, the installation for GoMetaLinter Hangs when running the command "GoInstallBinaries"

[2016-01-25 22:52] nhooyr opened #699 "segfaults with neovim and :GoRun"
https://youtu.be/_JqR4irEy1s

As described in this video a very weird issue with :GoRun and splits. Not sure if its a neovim issue or a vim-go issue. The timing also seems to matter though I haven't experimented enough to know for sure.

This was the file I was using https://gist.github.com/nhooyr/805c62370bfb3f3f6a95

Let me know if the quality of the video sucks.

[2016-01-25 23:05] rkulla commented on #277
What ever happened with this? I still have to use the alias trick for the latest vim-go to godef properly

[2016-01-26 09:25] wheelcomplex opened #701 "auto import Complete when typing xxx."
Hi all,

I'm using both liteide and vim(with vim-go) in office, and I found there is a pretty good feature in liteide. I have search over vim-go docs and issues for this feature, looks like it does not exist in vim-go.

The feature is that when typing "xxx." at the same time xxx has not imported, liteide will prompting "do you want to import xxx, press <enter> to import", at this time, press enter

[2016-01-26 15:44] fatih commented on #701
Hi @wheelcomplex  It's written in the README. Please instal YCM or Neocomplete. Thanks.

[2016-01-26 15:44] #701 closed

[2016-01-26 17:20] bmizerany commented on #693
Oh wow. I upgraded and not only does it appear to be fixed, but much faster too! Thanks!

[2016-01-26 17:20] #693 closed

[2016-01-27 01:50] fatih commented on #668
Hi @stachg

We actually removed the way we would detect it: https://github.com/fatih/vim-go/pull/575

So that's win32unix is being detected as unix in cygwin. It's a little tricky and the function is being used by other helper functions. So is the only problem here :GoInstallBinaries? Because according to `575` the problem was solved already. Also how is the filesystem laid out for cygwin? I have

[2016-01-27 02:00] fatih commented on #697
Hi @nhooyr  I don't know what's the correlation with :GoBuild and the cursor. We're not doing anything at the buffer and I'm using GoBuild every single way the same way you do (iTerm2 + nvim + terminal) and I don't have that problem. Do you powerline, airline, lightline or just plain statusline? I'm using lightline without any problem.

[2016-01-27 02:01] fatih commented on #698
Hi @arghtastic It's not a vim-go problem, it must be a network problem of yours. Install it from your command line:

[code]

[2016-01-27 02:01] #698 closed

[2016-01-27 02:04] nhooyr commented on #697
It has to do with the status line function. I'm using lightline.

[2016-01-27 02:07] fatih commented on #699
Hi @nhooyr this is not something I can produce. And honestly I'm not thinking of supporting neovim as a first class citizen. I'm going to update the README to reflect my intentions. It's already hard to keep up with Vim problems, and I don't want to spend time on supporting a platform which is still alpha version. Even though I'm using it, I'm ok with the segfaults (they never happened to me). Wha

[2016-01-27 02:07] #699 closed

[2016-01-27 02:14] fatih commented on #697
You are right, when I disable statusline the cursor flashing goes away. I've just changed my underscore cursor to block cursor and it's more obvious now. I think it evaluates everytime you change something. In my case the flashing was happening inside the `ctrlp` buffer when I was searching for a file.

[2016-01-27 02:27] nhooyr commented on #697
@fatih hmm is it intended that nothing is removed from `s:jobs` in `autoload/go/jobcontrol.vim`?

[2016-01-27 02:37] nhooyr commented on #697
Ok so the problem is line 22
[code]

[2016-01-27 02:49] nhooyr commented on #697
Alright I got the problem, its calling `go env GOROOT` every single time. We should only call it once and store it.

[2016-01-27 02:50] wheelcomplex commented on #701
Thanks for your reply @fatih , I do read the README and actived YCM in vim, it work well to complete the public method/var of "imported" package(already listed in import( ... ) statement), but can not auto import a new package. I mean auto add package name to import ( ... ) list while typing.

For example:

<pre>
package main

func main(){
    // call os.Exit(0) in next line

}
</pre>

In current

[2016-01-27 04:25] nhooyr commented on #699
aha I managed to reproduce the crash without vim-go. Its likely a neovim issue.

[2016-01-27 20:54] arghtastic commented on #698
It's only gometalinter.  If I remove it from vim-go, everything else works fine.  I also did a manual grab, and that worked fine but hangs on update once gometalinter is enabled again. 

Sent from BlueMail

On Jan 26, 2016, 9:01 PM, at 9:01 PM, Fatih Arslan <notifications@github.com> wrote:

[2016-01-28 14:54] #697 closed

[2016-01-28 15:21] nhooyr commented on #669
There are still corner cases with syntactic, https://github.com/scrooloose/syntastic/issues/626

[2016-01-28 15:28] nhooyr commented on #684
@fatih Do we ask the author for permission or can we just take it and credit him?

[2016-01-28 16:03] peterhellberg commented on #684
The only issue on that repo is a question about what license it should have… opened on 24 Jan 2014

I wouldn’t hold my breath for a reply from @benmills, but we should at least try to contact him.

[2016-01-28 16:26] nhooyr commented on #684
Alright, whenever you feel is good I can create the PR.

[2016-01-28 18:35] benmills commented on #684
Sounds good to me! Thanks for thinking of this @peterhellberg

[2016-01-28 18:35] nhooyr commented on #684
Okie, i'll create a PR and stuff.

[2016-01-28 22:58] spsholleman commented on #667
+1 for the request

[2016-01-29 20:51] mmlb opened #705 "GoRename sometimes does nothing"
I'm trying to export a struct and from `xdrDecoder` to `XDRDecoder` but `GoRename` seems to do nothing. Here are the steps of what I've done.

Open the file containing the struct definition. `nvim nv/xdr_decoder.go`
Run `GoRename XDRDecoder` while cursor is on `xdrDecoder`
some message flashes too fast for me to read and for some reason a new file is opened (in this case `clone.go`, which is in a

[2016-01-30 00:16] nhooyr commented on #684
@peterhellberg do you really think we need an option to create the test file? don't you think it should be universally enabled?

[2016-01-30 02:24] peterhellberg commented on #684
@nhooyr I’d be happy if the test file was automatically created.

It might be a good idea to be able to disable that feature using a `let`, what do you think?

[2016-01-30 04:06] peterhellberg commented on #684
@nhooyr Are your code enabling the traditional commands :A :AV and :AS? (alternate, alternate vsplit and alternate split)

[2016-01-30 15:09] nhooyr commented on #684
@peterhellberg oh I didn't know thats a thing. I just used :GoAlternate and a bunch of mappings. I can switch it to that no, problem.

[2016-01-30 15:44] nhooyr commented on #684
It's just that the other mappings (GoRun) use the same setup I implemented instead of overriding :A. There is no GoRunVertical, you instead use the mapping <plug>(go-run-vertical). And it uses a variable to decide the default way you want it. I mean if you really think its necessary, its not that hard to just add over the current code, its like 3 lines.

[2016-01-30 16:06] nhooyr commented on #684
You can also just add this to your .vimrc

[code]

[2016-01-30 16:08] peterhellberg commented on #684
I’m just so used to using a.vim (and for vim-golang-alternate for go) for so many years now that :A and :AV is lodged in my muscle memory.

I can definitely change my .nvimrc if you want to keep the default command as GoAlternate.

[2016-01-30 16:09] nhooyr commented on #684
@fatih lets wait and see what fatih thinks.

[2016-01-30 16:12] peterhellberg commented on #684
I’m going to Vietnam tomorrow and will leave my laptop at home, will be back in Sweden in a month.

@nhooyr I’m happy with letting you and @fatih decide on how to best implement this feature.

[2016-01-30 20:15] nmoadev opened #706 "Turning on all highlighting options causes slow scrolling"
When using the following options for vim-go, scrolling performance is noticeably impacted and vim cpu usage is high (up to 100% while scrolling). The slow down occurs chiefly when vim needs to move new line into view.

**My Configuration**
vim-go is the _only_ plugin enabled.

Relevant contents of `.vimrc`
[code]

**Vim profiling results**
This is for a very short period of scrolling up and down i

[2016-01-30 20:17] nmoadev commented on #706
The default options provide satisfactory performance, but have slight, noticeable impact on scrolling speed.

[2016-01-30 20:25] nmoadev commented on #706
UPDATE: I ran a `syntime` report while scrolling around with all highlighting on
[code]

[2016-02-01 11:47] fatih commented on #684
I've made some comments to the PR #704 I think we shouldn't create a new file at all but it should be created if a bang `!` is passed. Such as `:GoAlternate!` , this would force to create the file. Let's discuss it in the PR.

[2016-02-01 13:33] fatih commented on #371
This seems to be regressed and not working anymore. The most recent error I have:

[code]

Which doesn't get parsed. I need to look at it.

[2016-02-01 14:42] abits commented on #542
Same behavior here for me. Seems like `(go-run)` is defined as `:GoRun %` as discussed [here](https://blog.gopheracademy.com/vimgo-development-environment/). So I was able to word around this behavior by defining the default key binding like this:

`au Filetype go nnoremap <leader>r :GoRun<CR>`

This setting allows me to run the equivalent of `go run *.go` in vim.

[2016-02-01 21:01] nhooyr commented on #706
try adding `set re=1` to your vimrc.

[2016-02-01 22:00] nhooyr opened #707 "GoRename fills in the identifier first"
I find it very annoying sometimes that `<plug>(go-rename)` fills in what I want to rename with the current identifier. Most of the time I have to delete it and then enter the new one in. In fact I've resorted to only using the command as so

[code]

There is a space after `:GoRename` so I can quickly type whatever I want to rename it to, instead of deleting and then renaming.

[2016-02-02 17:40] vorstack-jeff commented on #247
Something else is going on... I don't have syntastic and have this same issue. Open to trying things to debug it.

[2016-02-04 16:45] nhooyr commented on #684
@peterhellberg it was merged. here are the commands you need to put in your vimrc if you want your alternate commands to work.

augroup go
    autocmd!
    autocmd Filetype go command! -bang A call go#alternate#Switch(<bang>0, 'edit')
    autocmd Filetype go command! -bang AV call go#alternate#Switch(<bang>0, 'vsplit')
    autocmd Filetype go command! -bang AS call go#alternate#Switch(<bang>0, 'sp

[2016-02-04 16:49] fatih commented on #684
@nhooyr I've just added myself for `A`. I think we can add them to our `doc` as this is something used by many already. Mind opening a PR ;) ?

[2016-02-04 16:50] #684 closed

[2016-02-04 16:50] fatih commented on #684
Closed as we have this feature now.

[2016-02-04 16:52] nhooyr commented on #684
@fatih should I add this to the readme. It sounds like something more suited for it.

[2016-02-04 16:55] fatih commented on #684
Readme is ok. But also add to the `doc`. The thing is README is getting long everytime we add a new feature and I don't want it to be very long. That's why I do a cleanup every 2-3 months. Vim users should look anything from the `doc` as that's is the place we should put.

[2016-02-04 20:35] nhooyr commented on #707
further discussion at #711

[2016-02-04 20:35] #707 closed

[2016-02-05 03:37] stachg commented on #668
cygwin looks like linux so vim-go detection is fine. The problem is that there is no golang for cygwin and windows installation of golang needs to be used.  Installing golang on windows creates empty GOBIN and creates GOPATH in windows format. As a result vim-go GoInstallBinaries uses GOPATH but expects unix format which fails because path separator in unix is ':'. So instead of installing binarie

[2016-02-05 04:03] krmayankk opened #712 "After using gd to do to a definition, how do i pop the stack"
for e.g. in ctags you can ctrl ] to go to a defintion and Ctrl T to pop the stack and go back. How do we do this in vim-go ?

[2016-02-05 04:22] peterhellberg commented on #684
Thank you guys! I’ll update my config when I get back to Europe :)

[2016-02-05 11:30] fatih commented on #712
Hi @krmayankk. This was talked earlier here: https://github.com/fatih/vim-go/issues/667 It's not possible until there is a custom implementation. @alaska wanted to tackle it though. Thanks.

[2016-02-05 11:30] #712 closed

[2016-02-05 16:32] alaska commented on #712
This is very close now.
![godefstack](https://cloud.githubusercontent.com/assets/926884/12852267/1e28dfd4-cbfc-11e5-86f2-167cc4aaed64.gif)

[2016-02-05 19:19] alaska commented on #712
That said, you can use ctrl-i and ctrl-o to navigate the normal jumpstack

Sent from my iPhone

[2016-02-05 23:26] fatih commented on #705
Hi @mmlb. Please provide a reproducible test case. Otherwise I'm not able to debug or to do anything. Also please note that `gorename` itself is not maintained by vim-go.

[2016-02-05 23:29] fatih commented on #706
Hi @nmoadev  This is a known issue. If you search the repo (issues) you'll find a lot of issues like this coming up from time to time. That's why we disable most of them. It needs to do a regex search and it's just costly. Take a look at @nhooyr suggestions (I also use them). If you have improvements I'm always more than happy to merge them. Thanks

[2016-02-05 23:29] #706 closed

[2016-02-08 11:37] #542 closed

[2016-02-08 11:38] fatih commented on #542
This is fixed now. Please pull the latest master or wait for the next version release.

Thanks for the feedback @fawick @abits .

[2016-02-08 11:47] fatih commented on #701
I don't support YCM anymore. It was already totally optional. I think @oblitum wanted to create a doc: https://github.com/fatih/vim-go/commit/afba982475e1717a6433bfa69ff65ce92f87cd22#commitcomment-15935605 you can ask him too. Thanks

[2016-02-08 13:15] fawick commented on #542
Great! Thanks, @fatih!

[2016-02-08 14:20] BooneJS commented on #542
Thanks!

[2016-02-08 23:06] nicwest opened #715 "Godoc command not found"
when using `K` on a function I'm getting the following error:
[code]

When attempting to go get as instructed I'm getting this:

[code]

`sudo go install` in the `~/go/src/golang.org/x/cmd/godoc` directory complained about not having a $GOPATH set ([this did not seem like a good idea](http://stackoverflow.com/a/33755566)), so in the end I just did a `go build` and copied the binary in to my ~/go/b

[2016-02-08 23:23] spottygreen commented on #715
If you used a package manager to install Go, check to see if there's a second package for Go containing the godoc tool.

The godoc tool is included in the official Go installation.

[2016-02-09 01:13] nicwest commented on #715
you sir where correct.

For anyone that hits the same problem under arch the developer tools are under the separate package `go-tools` so a `pacman -S go-tools` fixes this issue.

[2016-02-09 01:13] #715 closed

[2016-02-09 12:37] oryband commented on #277
abandoned, i guess

[2016-02-09 18:40] mmlb commented on #705
Hey @fatih no I don't have anything available at the moment. I opened this to see if anything may pop into your head, feel free to close if not. I'll keep this in mind and see if I can come up with anything.

[2016-02-09 20:26] fatih commented on #705
Thanks @mmlb What you could do is trying `gorename` from the terminal and see what it outputs. Maybe there is something wrong with the pkg. Thanks for opening. Feel free to open again if you have something useful.

[2016-02-09 20:26] #705 closed

[2016-02-10 07:25] mrwnmonm opened #716 "Error detected while processing function go#fmt#Format"
on ```:w``` i get
[code]

[2016-02-10 07:33] fatih commented on #716
Hi @mrwnmonm. You have permission on the `/tmp` folder. Please check it. It's not vim-go related. Thanks.

[2016-02-10 07:33] #716 closed

[2016-02-10 10:07] fatih opened #717 "Use `go install` instead of `go build` to improve caching for :GoBuild"
Relevant information:

https://twitter.com/davecheney/status/697182715901116416
https://twitter.com/davecheney/status/697360816484573184

[2016-02-10 21:02] fatih opened #718 "Testing framework and travis integration"
This is a longstanding issue that I wanted to tackle. After the next release (1.5), I'm thinking to only work on tests. Please comment and add any additional information you think would be useful for us. Here are couple of things that looks interesting:

https://github.com/syngan/vim-vimlint
https://github.com/thinca/vim-themis
https://github.com/junegunn/vader.vim
https://github.com/kana/vim-vspe

[2016-02-10 23:36] Garoth commented on #502
Just ran into this issue and tested the fix. Working well here so far. Tip for others eager to fix this with vim-plug:

 ` Plug 'fatih/vim-go', { 'commit': '6c1cc914c35735768e54fc4ab0be900a9d62797b' } " fix folds`

[2016-02-11 07:02] fatih opened #719 "Remove and refactor duplicate offset functions"
Right now there are several places in vim-go that parses the byte offset of the position under the cursor. The ones I could see are below. And what interesting is that each of them has it's own way of implementing it:

https://github.com/fatih/vim-go/blob/master/autoload/go/complete.vim#L90
https://github.com/fatih/vim-go/blob/master/autoload/go/rename.vim#L67
https://github.com/fatih/vim-go/blob/

[2016-02-11 08:02] cespare opened #720 "Regression in closing location list"
The commit 8ef677a3625219758a63e1b6826c189a480b4edb introduced a regression where sometimes the location list is not closed even though it should be.

I'm not sure of all the conditions in which this can happen, but here's one way to repro it:

1. Open a valid .go file in vim. This is split A.
2. Open a new split (split B), and open a different .go file in split B.
3. In split B, type some syntax

[2016-02-11 08:23] fatih commented on #720
Thanks @cespare. I'll look into it after merging #700

[2016-02-11 08:32] cespare commented on #720
Actually the fix seems simple. I'll send a PR.

[2016-02-11 08:35] #696 closed

[2016-02-11 08:38] fatih commented on #669
I'm closing this as there is no easy way to do this. And because we have many other things before we even can tackle something like this, the priority is very low and probably we're not going to handle this issue for a very long time. Thanks for opening though. If you have any other comments or new features to improve the situation feel free to open another issue.

[2016-02-11 08:38] #669 closed

[2016-02-11 08:39] #720 closed

[2016-02-11 08:39] cespare commented on #720
Thanks for the super-quick response @fatih :+1:

[2016-02-11 08:42] fatih commented on #720
You're welcome. Thank you too for sending a PR quickly, much appreciated :)

[2016-02-11 19:05] timshannon opened #722 "Add support for gocylco"
Small request, but it'd be nice to have https://github.com/fzipp/gocyclo added to the list of Go binaries and Go<command> calls.

[2016-02-11 19:14] fatih commented on #722
Hi @timshannon We already support it via `:GoMetaLinter`. Please read the docs and add it. Also have a look here: https://github.com/alecthomas/gometalinter

Thanks

[2016-02-11 19:14] #722 closed

[2016-02-11 19:15] timshannon commented on #722
Whelp, sorry.  I Missed that, thanks.

[2016-02-12 12:01] osleg opened #723 "When errors found vim spitting errors "Connot make changes, 'modifiable' is off"
With vim-go when doing save and the source code have errors which are added to 'llist' vim spitting errors `Connot make changes, 'modifiable' is off`.
![modifiable](https://cloud.githubusercontent.com/assets/207721/13006345/6b27abd6-d1c3-11e5-95de-84688b14faaf.png)

[2016-02-13 08:24] fatih commented on #723
Hi @osleg. Please provide a test case. A simple `demo.go` file with errors, and then the exact commands you input to Vim to reproduce it. Also please provide your Vim version and also which Version of vim-go you're using. Thanks

[2016-02-13 08:26] fatih opened #724 "Add CONTRIBUTING guidelines"
It's getting harder because issues are lacking any info that might be useful and therefore are mostly useless. Adding a file that prevents it to new users for increase the number of useful issues.

https://help.github.com/articles/setting-guidelines-for-repository-contributors/

[2016-02-13 08:27] fatih commented on #629
Closing as I don't have any information and ways of testing it. Thanks.

[2016-02-13 08:27] #629 closed

[2016-02-13 08:29] fatih commented on #591
Hi @chrisnc. I'm closing this, as there will be a PR for this feature once you decide to contribute back. Thanks.

[2016-02-13 08:29] #591 closed

[2016-02-13 22:31] alexahn commented on #344
+1

[2016-02-14 21:36] nhooyr commented on #723
@osleg are you trying to modify the location list? You cannot do that lol.

[2016-02-14 21:51] fatih commented on #597
Closing this as oracle will be changed a lot of in the upcoming weeks and there are many other things that can be improved.

[2016-02-14 21:51] #597 closed

[2016-02-15 04:06] msyedmohammad opened #725 "autocomplete on windows using pathogen"
I am unable to turn autocomplete and goimports on my machine. The provided steps are not working out for me.

[2016-02-15 07:22] osleg commented on #723
@nhooyr I know :)

@fatih
That's usually happens when there is syntactic error like missing brackets like this:
[code]

With this case it spitting:
[code]

[2016-02-16 08:08] chrisnc commented on #591
Okay, sounds good. I'll let you know when I have time to polish it and make it robust enough to use. I have had it enabled for a while now but I don't do enough in cgo these days to really test it a lot.

[2016-02-16 08:34] oryband commented on #502
@Garoth :+1: thanks for the quick tip

[2016-02-16 08:46] #502 closed

[2016-02-16 08:46] fatih commented on #502
Thanks for all the feedback.

[2016-02-16 08:50] fatih commented on #723
I don't know what `StripTrailingWhitespace` is doing as it's not a function inside vim-go. I don't think this is vim-go related, one of your plugins is misbehaving. I'm closing this. Thanks

[2016-02-16 08:50] #723 closed

[2016-02-16 09:19] fatih commented on #725
Hi @msyedmohammad I'm not using Windows so I don't know what's your problem. Plus you provide zero information what you did or what's the problem is. There is no problem right now as many windows users are using it already. Thanks.

[2016-02-16 09:19] #725 closed

[2016-02-16 12:05] oryband opened #726 "executing :GoFmt removes vim-airline status and colors, still folds everything"
1. Install https://github.com/vim-airline/vim-airline plugin
2. Notice all the fancy colors in the status bar and bask in their glory
3. Execute `:GoFmt` in some buffer
4. The status bar loses it's status and colors. For example if there were syntax errors in the buffer, they're now removed, not just "greyed out" by the colors being removed.

[2016-02-17 02:49] cespare opened #728 "Saving sometimes changes scroll position"
Some very recent change (ff56a315974f752ab3424ae750548a3a17277f9a?) causes the buffer to be scrolled far up or down after a save (gofmt). I don't yet have good repro instructions (it only happens some of the time) so I will update this bug more later.

[2016-02-17 08:46] fatih commented on #728
Right, that change is too big and honestly I didn't like that much. Maybe we should add it behind a setting like `go_fmt_save_folds`, which is by default disabled. I think the formatting stuff is the most problematic piece of code in vim-go. And it's due Vim's architecture and not having a set of primitives for these kind of stuff. Let me know if you find something.

[2016-02-17 19:37] fatih opened #731 "Create CONTRIBUTING and ISSUE TEMPLATE files"
* https://github.com/dear-github/dear-github/issues/125
* https://github.com/blog/1184-contributing-guidelines

[2016-02-18 03:11] cespare commented on #728
After updating, I can no longer reproduce this bug. Perhaps ba96e1f1fed4317313bb4852293dc1cc5b005a6b fixed it? But when trying to get to the bottom of it, I was unable to find a prior commit at which the problem reproduced either.

Maybe it was some bad state of the vim-go repo on this computer. Or maybe it's just hard to reproduce reliably and it can still happen. I'll reopen if I see it again.

[2016-02-18 05:30] cespare commented on #728
Argh, it just happened again. I'll have to spend more time trying to figure out how to reproduce it. I wrote code for a couple of hours without it happening, but yesterday it was happening on almost every save.

[2016-02-19 20:10] cespare commented on #728
I still don't have exact repro steps, but I'm increasingly confident that ff56a315974f752ab3424ae750548a3a17277f9a caused the issue.

It's hard to track down the problem, because it's tied to some on-disk state. For example, here's the steps I took in my most recent attempt:

* I was able to reproduce the problem at tip by by adding some new code to my test file and saving.
* I checked out a commi

[2016-02-19 20:55] cespare opened #732 "Gofmt-on-save closes folds if foldlevel is >0"
This is another side effect of ff56a315974f752ab3424ae750548a3a17277f9a.

I have `set foldlevel=99` in my vimrc so files open with folds open. After ff56a315974f752ab3424ae750548a3a17277f9a, saving causes my folds to be closed. Repro steps:

1. Open a .go file
2. Fold a section by selecting a visual block and then `zf`
3. Immediately expand the fold (e.g. `za`)
4. Save -> fold is closed

The probl

[2016-02-19 21:00] cespare commented on #732
The symptom is actually identical to #502, which ff56a315974f752ab3424ae750548a3a17277f9a was solving :P

[2016-02-20 10:57] martin-damien opened #733 "Gvim don't load $GOPATH when run from WM"
**OS**: Xubuntu 15.10
**Go**: 1.5.3
**Shell**: zsh 5.1.1
**Gvim**/**Vim** : 7.4

[code]

Running **vim in a terminal**: all is OK
Running **Gvim** by launching it **from the terminal**: all is OK
Running **Gvim** from Xubuntu **GUI** (main menu):

![screenshot_2016-02-20_11-52-35](https://cloud.githubusercontent.com/assets/295478/13196216/8121b494-d7c8-11e5-8237-14cd649e5a69.png)

And when trying

[2016-02-20 11:01] fatih commented on #733
Hi @martin-damien. This is not a vim-go problem, it's your Vim app not sourcing the environment. There is nothing I can do, you have to ask this question to another place (like xubuntu forum). Thanks.

[2016-02-20 11:01] #733 closed

[2016-02-20 11:03] martin-damien commented on #733
That's what I supposed :)
Thank you for your quick answer. And thank you for this awesome plugin :)

[2016-02-20 13:33] ironcladlou commented on #717
One usability issue with `go install` is that you can't always rely on wildcards for specifying the packages to build/install. For example, in most of the complex projects I work in, doing a `go install ./..` almost always fails as it tries to install packages it shouldn't. The solution to this I've implemented in other integrations has been to allow the user to specify an "installable package" li

[2016-02-20 20:27] mildred commented on #86
I'm having the same problem and I set my GOPATH in my shell initialisation files using backticks. When I run `:echo $GOPATH` I get the value I expect. However vim-go still tells me $GOPATH not set.

[2016-02-20 22:15] vaijab commented on #613
@groob I have got exactly the same issue. Syntastic calls `go build` which is unaware of the gopath which vim-go sets.

It would be great if @fatih considered overwriting `$GOPATH` once vim-go successfully detected it.

As a workaround, I added the following to my vim configuration:
[code]

[2016-02-20 23:49] groob commented on #613
@vaijab I wrote a gb syntax checker, but the PR was rejected from syntactic, even though it works fine with gb and vim.

If you'd like to use it, you can download it and add it your folder under syntax checkers https://github.com/groob/syntastic/blob/gb_checker/syntax_checkers/go/gb.vim

[2016-02-21 12:32] fatih commented on #717
Thinking now, we have already `:GoInstall`. So it's there and can be used and mapped to any key. I'm closing this, I think the current status is already perfect and in a good situation.  Thanks @ironcladlou for the comment.

[2016-02-21 12:32] #717 closed

[2016-02-21 17:37] relappi opened #734 "Goimports not working with vendored packages (only through vim-go, working with cmd in terminal)"
On go 1.6, Reproduction steps...

Project structure
[code]

test.go
[code]

- Note: go get github.com/chzyer/logex was never run
- Running :GoImports (or saving with let g:go_fmt_command = "goimports") does nothing
- In a terminal running `goimports test.go` yields...

[code]

[2016-02-23 15:15] mhamrle commented on #734
I had the same problem, https://github.com/fatih/vim-go/pull/735 fixed my problem.

[2016-02-24 11:04] nerakhon opened #736 "All :Go commands missing"
All :Go commands are missing except :GoInstall/UpdateBinaries and :GoPath. I am running Vim 7.3 and installed via Vundle. Need any data? Found another related issue, but really I cannot switch a plugin manager for the sake of one plugin, so I would like to help to troubleshoot why the issue happens.

[2016-02-24 11:41] nerakhon opened #737 "GoRun messes up terminal"
After issuing go run on following go file

package main

import "fmt"

func main() {
         fmt.Println("Hello")
 }

the terminal content gets messed up (empty with cursor on the last location blinking). After issuing :w or any other screen redrawing commands the issue is gone.

[2016-02-24 11:41] nerakhon commented on #736
with vim-plug the plugin works, but that sounds like a workaround to existing issue.

[2016-02-24 12:09] fatih commented on #736
Hi @nerakhon There is no issue, it works already. Your vim setup is broken imho. The :Go commands are there if you install it correctly. Thanks.

[2016-02-24 12:09] #736 closed

[2016-02-24 21:03] nerakhon commented on #736
Sorry but I cannot agree, the same issue happens on a fresh OS account with no vim settings except vundle and your plugin. We should really debug this or please remove vundle from your supported plugin managers as it is evidently broken.

[2016-02-24 21:16] fatih commented on #736
No it works. Read https://github.com/fatih/vim-go/wiki/FAQ-Troubleshooting. Otherwise I would expect hundreds of issues from other vundle users that it doesn't work (which is not the case). I still think you have wrongly configured vimrc.

[2016-02-24 21:18] #731 closed

[2016-02-24 21:19] fatih commented on #731
We know use `ISSUE_TEMPLATE` and `CONTRIBUTING`. It's a start and we can improve the text in the future.

[2016-02-24 21:20] fatih commented on #737
Hi @nerakhon: Please open a new issue according to the new issue template so I know how to reproduce: https://github.com/fatih/vim-go/issues/new. Thanks

[2016-02-24 21:20] #737 closed

[2016-02-24 21:25] nerakhon commented on #736
I went through the troubleshooting and non applies, here is a full .vimrc the minimalistic one:

[code]

then I execute :PluginInstall and installation succeeds with no errors.

[2016-02-24 21:38] nerakhon opened #739 "GoRun messes up terminal"
### Expected behavior

When issueing :GoRun I expect the go to output to standard output "bellow vim" and return to editor seeing the edited file as before executing this command.

### Actual behavior

The window has no content except cursor and this situation can be resolved by either restarting vim or issuing write (doesn't always help) or new tab commands

### Steps to reproduce:

Please create

[2016-02-24 21:42] fatih commented on #734
This is fixed with @mhamrle work #745. Please open an issue if the problem still insist. Thanks!

[2016-02-24 21:42] #734 closed

[2016-02-24 21:44] fatih commented on #579
Closing this as I didn't get an response. Feel free to open again with a more detailed informations. Thanks.

[2016-02-24 21:44] #579 closed

[2016-02-24 21:45] #724 closed

[2016-02-24 21:45] fatih commented on #724
This is done now.

[2016-02-24 23:52] cespare commented on #728
Update: I still don't have repro steps, but the problem is not due to the on-disk state: it's the editor process itself that's in a bad state.

I know this because I've only seen the problem occur after using the editor for a while. Once it starts happening, it keeps on happening on most saves. Deleting the views/ dir doesn't fix it, but restarting the editor (while leaving views/ alone) does fix

[2016-02-25 02:50] fshiori commented on #739
I have the similar question on  MacVim.
Can't see any output below vim when execute GoRun.

[2016-02-25 08:16] fatih commented on #728
@cespare this is so weird. And this is also one of the reasons I've was not much inclined to merge that particular PR as it has tons of side effects :/ I'm going to put it behind `go_fmt_experimental` setting so people who want to use save folding can enable it. And once we have the solution/fix for this, we can pull it out from that flag.

[2016-02-25 12:20] oryband commented on #726
@fatih did you manage to check this issue?

[2016-02-25 12:26] oryband commented on #726
i think this also causes all folds to close even after updating with #502
might be somehow related to #732 ?

[2016-02-25 15:57] makedonian commented on #739
I'm having the same issue with terminal vim. This didn't used to happen before. Running `:!go run %` still works as expected

[2016-02-25 16:06] oryband commented on #502
@fatih looks like this issue isn't resolved for me, even though I'm using latest vim-go version. Calling `:GoFmt` still folds everything.

[2016-02-25 18:46] nerakhon commented on #739
@makedonian I second that, same result with running go run via shell pipe.

[2016-02-25 21:49] nhooyr opened #742 "feature request gorun autocompletion"
Since `:GoRun` can take file arguments, i think we should create an autocomplete function for it with all the go files in the current directory of the current file.

[2016-02-27 09:36] hongzhouchen-oceanwing commented on #247
@pengux Thanks for your comment. It solved my problem.

[2016-02-27 23:21] charignon commented on #214
I am using vim 7.4 and it happens frequently. This makes vim-go unusable for me.

[2016-02-29 18:08] makedonian commented on #739
There is a pull request here https://github.com/fatih/vim-go/pull/743 that the author says it should fix the issue (still doesn't work for me), maybe it's something as simple as that @fatih?

[2016-02-29 20:13] cespare commented on #728
I've reverted the mkview changes locally and have been using vim-go for several days now without seeing any of these issues, so even though I still don't have an explanation for this issue, I am very confident that that change is the source of the problem.

@fatih Do you have the `go_fmt_experimental` change ready, or should I send a PR?

[2016-02-29 20:14] fatih commented on #728
@cespare I'm a little bit busy recently, I can do it in 2-3 days, if you have it I can merge it.

[2016-02-29 21:03] cespare commented on #728
@fatih See #745.

[2016-02-29 21:21] #728 closed

[2016-02-29 21:21] #732 closed

[2016-03-01 07:08] andrey-tpt commented on #739
Tested pull request #743 - works just fine for setup mentioned by @nerakhon (with the only difference as go1.6 vs go1.5.2)

[2016-03-02 09:32] oska874 opened #747 "when I save xxx.go it shows me “-- more --” and force me to the bottom of the file"
### Expected behavior

type `:w` and immediately leave

### Actual behavior

when I save xxx.go it shows me “-- more --” and force me down to the bottom of the file

### Steps to reproduce:

1.  input codes long enough to across multiply pages
2.  type `:w`

### Configuration

#### `vimrc` you used to reproduce:

#### vim version:
7.4
#### vim-go version:
newst
#### go version:

[2016-03-02 09:36] fatih commented on #747
Please provide your vimrc that we can use to reproduce. It's missing above. My initial thought is that you are using `goimports` and it's not updated (it's an old version). Be sure you have the latest.

[2016-03-02 21:37] gypsydave5 commented on #739
Yeah, `redraw!` is a handy command to run when Vim comes back all messed up; just run it as a Vim command as a stopgap :smile:

[2016-03-02 23:44] makedonian commented on #739
@gypsydave5 my issue is that before, when you ran :GoRun it would show the output of the program until the next keypress. This is what's happening right now:

![test](https://cloud.githubusercontent.com/assets/471787/13479678/e6f8c7d2-e095-11e5-88e0-e22668d38fba.gif)

I'll try to go back few versions to see where it broke

[2016-03-03 04:12] bhcleek commented on #739
@makedonian Can you try #748 to see if it resolves your issue?

[2016-03-03 04:24] makedonian commented on #739
That worked:) Thanks for the quick turnaround @bhcleek

[2016-03-03 07:39] fatih commented on #739
Fixed with: https://github.com/fatih/vim-go/pull/748 Thanks for the feedback. Please feel free to open again if it's not fixed.

[2016-03-03 07:39] #739 closed

[2016-03-03 07:41] fatih commented on #726
This is probably due `mkview`. Can you please update to latest master and try again ?

[2016-03-03 08:20] nerakhon commented on #739
Yep fix works, I verified it.

[2016-03-03 08:58] oryband commented on #726
@fatih do I have to enable `g:go_fmt_experimental` ?

[2016-03-03 09:02] fatih commented on #726
No, I think `mkview` is the culprit and it destroys it. Just use without the experimental and see what happens.

[2016-03-03 10:21] oryband commented on #726
Looks like the color removing is fixed, but i still get everything folded randomly. This doesn't always happen and I can't pin point what is causing this.

With the experimental turned on, colors are still removed.

[2016-03-03 10:28] oryband commented on #726
UPDATE: this happens on almost every `:GoFmt` call

[2016-03-03 11:55] lpil opened #749 "Permit disabling of snippets"
Hello!

I use https://github.com/honza/vim-snippets/ to get the majority of my snippets, and I prefer the snippets there to these ones for various reasons.

Is it possible to use vim-go without loading the snippets? It overwrites the ones provided by vim-snippets, which is frustrating.

Cheers,
Louis

[2016-03-03 18:43] nhooyr commented on #749
let g:go_snippet_engine = "ultisnips"

[2016-03-03 18:46] fatih commented on #749
Hi @lpil . As @nhooyr said, just add it and you're good to go

[2016-03-03 18:46] #749 closed

[2016-03-04 19:54] tschottdorf opened #751 "Trailing slash in oracle scope triggers bug"
### Expected behavior
`:GoCallers` should omit the trailing slash at the end of the line
[code]

### Actual behavior

it uses the trailing slash in the package scope, which triggers https://github.com/golang/go/issues/14584#issuecomment-192329232

### Steps to reproduce:

[code]

Use :GoCallers on anything, get
[code]

### Configuration

#### vim version:
VIM - Vi IMproved 7.4 (2013 Aug 10, compil

[2016-03-05 23:11] fatih opened #753 ":GoDef should jump to an existing buffer if it's exists"
### Expected behavior

I expect to jump to an existing file via :GoDef.

### Actual behavior

If the target file exists, :GoDef creates another view. We end up with two window with the same file.

### Steps to reproduce:

1. Jump to a file via :GoDef
2. Go back to the source file and jump again via :GoDef
3. :GoDef creates a new file

### Configuration

#### `vimrc` you used to reproduce:

https:/

[2016-03-06 10:24] oryband commented on #726
@fatih any progress?

[2016-03-07 02:16] oska874 commented on #747
fixed with a specific `vimrc`

[2016-03-07 02:16] #747 closed

[2016-03-07 22:24] eduncan911 opened #754 "Preview buffer does not show Comments"
### Expected behavior

Upon selecting an item from `C-x C-o` omnicomplete's menu, the Preview window/buffer:

1) should open, showing the function signature (check, it does this)
2) should show the Documentation from `// FuncName does this and that` of the comment, usually UNDER the function name (that's how other languages do it in vim).

Here's a screenshot I found of python:

![Preview buffer s

[2016-03-08 07:13] ibash commented on #144
Thanks @ernestas-poskus!

[2016-03-09 09:46] bahlo opened #755 "Feature request: Atoms Go-Plus like inline coverage"
This is a feature request, so I'm not sure how to fill in the fields, but I tried my best :grin:.
The Go-Plus package for Atom is able to highlight the covered and uncovered branches in green and red.
This is so awesome, it makes my team use Atom almost exclusively for Go development.
Is this possible with Vim? You'd need to wait a few seconds on every save since it's synchronous, but I think this

[2016-03-09 09:50] fatih commented on #755
Do you mean something like: https://github.com/t-yuki/vim-go-coverlay ?

[2016-03-09 09:51] bahlo commented on #755
:hear_no_evil: Awesome, thank you! :100:

[2016-03-09 09:51] #755 closed

[2016-03-09 09:56] fatih commented on #755
Bitteschön :) Btw I've live near Frankfurt for 17 years, great city :)

[2016-03-09 09:58] bahlo commented on #755
Nice :ok_hand:. I't really is. :city_sunrise:

[2016-03-09 09:59] fatih commented on #754
Thanks @eduncan911 for the report. I'll look into it soon, I don't have much time nowadays.

[2016-03-09 13:45] eduncan911 commented on #754
If you can take 5 minutes and point me to where it is in code, 'll try my luck at a PR.  :+1:

* Would I need to lookup the func in GoDoc?  Or, do you think it is ctags related (e.g. ctags not finding the comments)?
* What file(s) can you think of to look in for 1) finding the comments and 2) what to modify?

I know 0 about vimscript.  So any help u can give would help!

[2016-03-09 13:47] eduncan911 commented on #753
I actually like the existing functionality.  It keeps it consistent with other `:GoDef` lookups popping up.

Maybe when changing this feature, create a config flag to enable the "jump to existing buffer instead of opening new window"?

[2016-03-09 13:56] eduncan911 commented on #726
@oryband Faith is a busy guy.  If you can help find the problem, issue a PR.

FWIW, I cannot reproduce your issue.  `:GoFmt` works for me on master.

* Remove all your plugins, except vim-go and vim-airline.  Don't configure vim-airline, leave it default.
* Empty your .vimrc, only source vim-go and vim-airline and have no other files.

Try `:GoFmt` again.

It may be better for you to follow the fo

[2016-03-09 14:13] fatih commented on #754
I think it's not possible @eduncan911. The information is passed via `gocode` and we print the result. The code is in `complete.vim`. Of course I didn't looked into that much, but just wanted to give heads up until I have more information.

[2016-03-10 04:15] eduncan911 commented on #754
Hey @fatih !  You're right.  I dug into `gocode` by @nsf and saw where it does not do comments.

So, this particular issue could possibly be closed... Except...

I saw @nsf's [call to arms to rewrite the codebase](https://github.com/nsf/gocode/issues/307) because is, in his own words, horrible and is a miracle that it actually works (it was written for pre Go 1.0 code, using ast - precompiled anal

[2016-03-10 07:01] eduncan911 commented on #754
I don't think `oracle` does doc comments.

I found out that Go 1.5 has a new feature of `go doc`:

[code]

It requires the "package", not file path and the func name.

I dumped the output of `gocode` from the complete.vim:

[code]

I am not sure how the Preview window is opening though through the omnicomplete stuff.  because there has to be additional parameters for the omnicomplete menu: one for

[2016-03-10 12:51] peterhellberg commented on #684
I’ve now updated my config and this feature works really well, but I get a `vim-go: PANIC PANIC PANIC` message when calling `:A!`

Is this the intended behavior?

[2016-03-10 14:29] nhooyr commented on #684
No, I'll look into it.

[2016-03-10 14:34] peterhellberg commented on #684
Note that it functions just fine, it is just an unexpected error message (possibly due to the created empty buffer not having a package line)

[2016-03-10 14:37] nhooyr commented on #684
Yea I understood. I'm in class atm, i'll look into it at lunch.

[2016-03-10 14:37] nhooyr commented on #684
So it only happens in empty files?

[2016-03-10 14:39] peterhellberg commented on #684
@nhooyr Take your time, no stress :)

And yes, it only happens when an empty file/buffer is created.
Calling `:A!` on a file that has a corresponding test work just fine.

[2016-03-10 14:42] nhooyr commented on #684
I'm not stressed, its my way of having fun :P

alright thanks.

[2016-03-10 14:43] nhooyr commented on #684
`PANIC PANIC PANIC` is what gocode returns if there is an error, do you have autocomplete?

[2016-03-10 14:48] peterhellberg commented on #684
Yes, and I guess gocode is called when the buffer is switched.

Calling `:A` (with no trailing !) first shows the message `vim-go: couldn't find foo_test.go` and then after a few hundred ms `vim-go: PANIC PANIC PANIC`

[2016-03-10 14:49] nhooyr commented on #684
I don't think that can be fixed then, its a harmless error message though.

[2016-03-10 14:54] peterhellberg commented on #684
No, unless populating the buffer with `package <name>` :)

I think I found the underlying issue now, and it was that I have `let g:go_auto_type_info = 1` in my config.

[2016-03-10 14:55] nhooyr commented on #684
ah yes, that calls gocode as well.

[2016-03-10 14:56] nhooyr commented on #684
Maybe we shouldn't print the `PANIC PANIC PANIC` in that case?

[2016-03-10 14:56] peterhellberg commented on #684
It might too much of an edge case to really care about?

[2016-03-10 14:59] nhooyr commented on #684
I meant, ignore the `PANIC PANIC PANIC` if `g:go_auto_type_info = 1`

[2016-03-10 15:04] peterhellberg commented on #684
Probably not, but @fatih maybe want to decide on this?

[2016-03-10 15:05] nhooyr commented on #684
Yup. but I did find a bug in the implementation of this thanks to you. it doesn't handle empty filenames.

[2016-03-10 15:25] webhat commented on #616
[gometalinter](https://github.com/alecthomas/gometalinter) is supported by [syntastic](https://github.com/scrooloose/syntastic) see
https://github.com/scrooloose/syntastic/wiki/Go:---gometalinter

[2016-03-10 15:54] nhooyr commented on #684
Alright my improvements are in #758

[2016-03-10 21:36] rajasharan commented on #360
@jvillasante @fatih
Is there a way to run `:retab` command after gofmt is done by adding something to my .vimrc?

That will resolve the issue (because I already have all my tab settings in place - just need to find a way to automatically run `:retab`)

[2016-03-10 21:43] fatih commented on #360
@rajasharan no. This is a fundamental decision. Gofmt uses tabs so I don't want to change the way it's doing. You're free to modify the code yourself.

[2016-03-10 21:59] rajasharan commented on #360
@fatih sorry I meant to ask is there a vim trick that I can add to my .vimrc file to make this happen
(i am not too good with vim)

[2016-03-10 22:37] mmlb commented on #360
@rajasharan you'd be going against the huge majority of go code out in the world. gofmt was created specifically so all go code looks essentially the same, and you'd be removing one of go's best features. Not to mention any time you ask for help with any code the first comment is likely to be "run gofmt" (as it should be IMO,  check out the reddit.com/r/golang for some examples)

[2016-03-11 00:10] nhooyr commented on #754
@eduncan911 it is being set here https://github.com/fatih/vim-go/blob/master/autoload/go/complete.vim#L102

Read `:h complete-items`

[2016-03-11 14:23] nhooyr opened #760 "vim-autoformat and :GoFmt's problems"
[vim-autoformat](https://github.com/Chiel92/vim-autoformat) doesn't seem to have any of the weird problems in vim-go's `:GoFmt`. Folds are intact etc. We should take a look at how its done in that plugin.

[2016-03-11 14:26] fatih commented on #760
Seems like it uses Python, maybe it doesn't have those problems with it. Also we should first know what these `weird errors` are. Right now the only problem is folding as I know.

[2016-03-11 14:37] nhooyr commented on #760
Yea, its really only folding.

[2016-03-11 19:16] guns commented on #760
A quick glance at the code shows the magic sauce:

[code]

I quickly hacked that into fmt.vim and noticed:

1) The buffer is updated in-place again, so no need to `silent edit!` to re-open the buffer

2) Manual fold state is respected since the buffer is not re-initialized (the position of the manual folds, being line-based, do not account however for imports being added, etc)

3) Syntax fold stat

[2016-03-11 20:50] nhooyr commented on #726
@oryband can you check if https://github.com/Chiel92/vim-autoformat fixes all your problems?

[2016-03-11 22:13] nhooyr commented on #760
If we do change it, lets make sure to credit @Chiel92.

[2016-03-12 16:26] #742 closed

[2016-03-12 16:27] fatih commented on #742
@nhooyr please pull latest head, it now completes the files. Thanks for the suggestion.

[2016-03-13 14:40] oryband commented on #726
@eduncan911 @fatih I'm sorry if I was too pressing on this, didn't mean to come out like this.
I've tried autoformat and disabled auto formatting via vim-go, and it does seem to fix the issue.

@nhooyr thanks for the tip, didn't know about this plugin.

@eduncan911 maybe it's a good idea to add new issue templates, like YouCompleteMe has: https://github.com/Valloric/YouCompleteMe/issues/new

Thank

[2016-03-13 14:40] #726 closed

[2016-03-13 14:41] oryband commented on #726
I see issue templates are already in use, alrighty then.

[2016-03-13 15:01] #751 closed

[2016-03-13 15:02] fatih commented on #751
Thanks @tschottdorf for the detailed bug report and how to reproduce it (it really helped me!). I've fixed it by removing trailing slashes for each path in the scopes. I've also tested it and it works well. Please pull the latest header to test it. You are free to reopen if the bug still exists. Thanks.

[2016-03-13 15:02] tschottdorf commented on #751
Thanks!

On Sun, Mar 13, 2016, 11:01 Fatih Arslan <notifications@github.com> wrote:

[2016-03-13 15:53] fatih commented on #760
vim-go  was always pure vim-script (except some of the code in snippets, which I wanted to remove anyways). I'm for any improvements, but we should add them in a way that enhances the current functionality.

For example let us take `:GoBuild`. It works perfectly with `Vim` and `MacVim`. But if you use it with `NeoVim` it builds the source code in async behavior.

We should do the same for `:GoFmt`

[2016-03-13 16:55] eduncan911 commented on #726
@oryband cool that it was resolved!

GitHub's "new issue template" is a new feature they just released a few weeks ago.  @fatih has added it here; but, it was after you created this issue.  :+1:

I actually pasted faith's new issue template above, as quoted.  Try it.  Hit New Issue now.

[2016-03-13 17:08] oryband commented on #726
Yeah I noticed it, very nice!

[2016-03-14 08:33] fatih commented on #469
Closing as I didn't received any response in two months. Please reopen with the new issues template. Thanks

[2016-03-14 08:33] #469 closed

[2016-03-14 08:35] nhooyr commented on #760
@guns since you already added it and tested it, can you create the PR?

[2016-03-14 08:38] nhooyr commented on #313
This is closed, I added it myself to gocode in nsf/gocode#332.

All you need to do is update gocode, it should work perfectly :dancer:

[2016-03-14 08:41] fatih commented on #313
@nhooyr How did you get it working? I've tried it but with no luck (I've updated gocode btw). Deoplete-go doesn't auto complete it, nor does `c-x c-o` when I'm inside a import declaration. Do you think there is something I'm missing?

[2016-03-14 08:42] nhooyr commented on #313
@fatih run `gocode close` and then try. Deoplete-go was recently updated as well to support it, and it should work out of the box with `c-x c-o`.

[2016-03-14 08:49] fatih commented on #313
Alright, `gocode close` did the trick. Thanks for the new feature @nhooyr, even though I'm not using it much It's a valuable addition to those who use it. Closing this issue.

[2016-03-14 08:49] #313 closed

[2016-03-14 13:18] andrej-talon commented on #736
I experience the same problem. I have syntax highlighting and code check on save etc, but the Go* are not showing except the one mentioned up top. I used pathogen to install vim-go and it is a completely fresh install of Ubuntu as well.

[2016-03-15 03:53] nhooyr commented on #719
I'll work on this tomorrow.

[2016-03-15 15:48] mbsulliv commented on #217
I believe I can speak to the nature of this problem when using vim-go on cygwin.  I'm using goimports as my format command and what vim attempts to execute is `goimports -w  /tmp/vDU9qNa/1`.  That file exists but the command as written fails because the Windows version of goimports (the version compiled by go on Windows) expects drive letter qualified paths.  If I rewrite the command as `goimports

[2016-03-16 06:11] marcosnils opened #761 "Add support for unused (https://github.com/dominikh/go-unused)"
It'd be nice if vim-go had support for unused (https://github.com/dominikh/go-unused)

Seems like metalinter is evaluating the possibility to include it in their linting suite (https://github.com/alecthomas/gometalinter/issues/98).

Which would be the proper way to proceed?.

1. Wait until metalinter adds it and provide a configuration variable in vim-go to enable this?. Or make vim-go users compl

[2016-03-16 06:20] nhooyr commented on #761
I think its a better idea to let metalinter handle it. It is just another linter after all. We already have a configuration variable to enable different linters

[code]

[2016-03-16 06:26] nhooyr commented on #719
The ones in oracle.vim and rename.vim are the exact same.

[2016-03-16 07:10] fatih commented on #761
Thanks for opening the PR @marcosnils. I'm not thinking anymore to add specialized tooling for these tools. We have settings to change the behavior and it's just a matter of time it's being included. Thanks for opening the PR.

[2016-03-16 07:10] #761 closed

[2016-03-16 08:17] remexre opened #763 "IF YOU SEE THIS, REPORT A BUG"
https://github.com/Shougo/neocomplete.vim/issues/530

[2016-03-16 08:57] hhrutter opened #764 "GoDoc: -src"
Hi Fatih,

godoc comes with an option to show source code eg:
godoc -src fmt

Am I missing something here or is this not supported in vim-go?

What I am getting for
GoDoc -src fmt
is: No documentation found for "-src".

Is there any other way to open go library source files with vim-go?

Thx
Horst

#### vim version:
VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Jan 30 2016 10:09:26)
MacOS X (unix)

[2016-03-16 09:02] nhooyr commented on #763
@remexre this is a problem with nsf/gocode

Not vim-go.

[2016-03-16 09:04] nhooyr commented on #763
https://github.com/nsf/gocode/blob/40385eba48ae61394e5d2935b1e5c7130fa9b46b/decl.go#L50

[2016-03-16 09:05] remexre commented on #763
Thanks

[2016-03-16 09:05] #763 closed

[2016-03-16 10:00] fatih commented on #764
Hi @hhrutter. Our `:GoDoc` is a command that displays the underlying documentation. It's using godoc under the hood, but in the future it might use something else. If you want to jump to a source code, please use `:GoDef` which will show you the source code of the underlying identifier. Thanks.

[2016-03-16 10:00] #764 closed

[2016-03-16 10:14] #719 closed

[2016-03-16 11:25] hhrutter commented on #764
ok. godoc -src is already there and it works on the command line.
I understand that vim-go does not support this option neither does it intend so in the future.

GoDef: unfortunately does not work reliably for me.
Sometimes, especially for small, simple source files it works,
but once dealing with more elaborate source code it either is unable to locate an identifier
or it jumps somewhere that doe

[2016-03-16 11:28] fatih commented on #764
Did you looked at our oracle functions? Such as :GoCallers, :GoCallees or :GoReferrers ? I quite don't get it what you are searching for but we have plenty of features to get information. Check out the docs please.

[2016-03-16 11:50] hhrutter commented on #764
Tried them all.
Read the docs.

All I need is being able to see the source code for any function call under my cursor.

So I have a similar problem with GoCallees:
Sometimes it works sometimes it does not.
I have noticed, sometimes it thinks it is in a different line (1 line above) and therefore gets confused.
At this point it has to be related to the code I am looking at or its structure respecti

[2016-03-16 11:59] fatih commented on #764
`:GoDef` does it. If it doesn't please open a bug report with detailed information so I can fix it. Thanks.

[2016-03-16 18:35] nhooyr opened #766 "fzf support for GoDecls and GoDeclsDir"

[2016-03-16 18:37] fatih commented on #766
@nhooyr can you please write more descriptive issues, is this a bug, or a feature request, and co... I know what you mean but please remind that a lot of people are reading the issues and we need to be more clear on this :)

[2016-03-16 18:53] nhooyr commented on #766
@fatih sorry. It's a feature request, those commands are currently only supported for ctrlp.

[2016-03-16 20:53] #487 closed

[2016-03-17 10:54] fatih opened #768 ":GoTest doesn't close the location list if the test succeeds on next iteration (neovim only)"
### Expected behavior

The location list should be closed after the test succeed

### Actual behavior

If the test is fixed and we run `:GoTest`, the location list is still there.

### Steps to reproduce:

1. Run `:GoTest` on neovim with a test that fails
2. See that the location list is opened
3. Fix the test, and run `:GoTest` again
4. Location list is not closed

### Configuration

#### `vimrc`

[2016-03-18 09:58] tbruyelle opened #770 "Text object functions: support the inner operator"
### Expected behavior

If I type `diw` it deletes the whole word, whereas the cursor position inside the word. So I expect `di]]` or `di[[` to delete the whole function.

### Actual behavior

`di]]` or `di[[` does nothing.

### Configuration

#### `vimrc` you used to reproduce:

#### vim version:
7.4
#### vim-go version:
1.5
#### go version:
1.6

[2016-03-18 10:03] tbruyelle opened #771 "Text object functions: d]] eats next function's comment"
### Expected behavior

`d]]` shouldn't delete the next function's comment.

### Actual behavior

`d]]` delete the next function's comment.

### Steps to reproduce:

Type `d]]` while the next function has a comment. This comment is deleted.

### Configuration

#### `vimrc` you used to reproduce:

#### vim version:
7.4
#### vim-go version:
1.5
#### go version:
1.6

[2016-03-18 13:00] fatih commented on #770
`[[` is a `text object motion`, whereas `if` is a `text object selection`. They are different. If you want to delete/yank/etc.. any kind of selection you have to use `if` and `af`. `w` is different that it's both a `text object motion` (you can move with it) and there is a seperate text object selection called: `iw`. Even though people think that there is only one single `w` that does it, they are

[2016-03-18 13:00] #770 closed

[2016-03-18 13:02] fatih commented on #771
Thanks @tbruyelle for the bug report. I'll look into it.

[2016-03-18 13:43] brenol opened #772 "feature request: dsf (delete surrounding function)"
Hi!

I'm not sure if this should be posted here or in the motion repository, if so, please tell me and I'll post there!

I'd like to have the possibility of deleting/changing the surrounding function call easily, for instance:

[code]

Using DSF inside the strings.Join call would delete the strings.Join() call;
Then, when used again, it would delete the URLQueryEscaper call;
Leaving the following

[2016-03-19 01:12] xh3b4sd commented on #502
I checked master and the issue is not solved for me. I used #691 all the time and everything was fine. Now back to master the issue is present again.

[2016-03-19 07:22] jzelinskie commented on #217
Same exact issue as @mbsulliv. Did you ever find a workaround?

[2016-03-19 13:13] mbsulliv commented on #217
I did.  I temporarily modified the `system()` command in `autoload/go/fmt.vim` to prepend the missing portion of the file path.  For example: `let out = system(command . " C:/cygwin-1.7.31-3" . l:tmpname)`.

[2016-03-19 13:48] eapache commented on #502
#691 was effectively reverted by default in #745 although I believe there is still a vimrc flag to re-enable it.

[2016-03-19 21:50] jzelinskie commented on #217
Awesome! I got things working now. Thanks @mbsulliv

[2016-03-21 17:35] myitcv opened #773 "go#complete#Info interface changed in v1.5"
### Expected behavior

Under `v1.4`, given the sample program

[code]

with your cursor somewhere over `Println`, `:call go#complete#Info()` should echo the following to the status line:

[code]

### Actual behavior

Under `v1.5`:

[code]

Looks like the interface changed in `v1.5` but I couldn't see anything in the release notes?

### Steps to reproduce:

Per above

### Configuration

#### `vimrc

[2016-03-21 17:44] fatih commented on #773
Hi @myitcv
There was a recent change in those functions (refactoring). Just glancing over,  what gives `:GoInfo` ? I'll look into it, thanks for the report!

[2016-03-21 17:53] myitcv commented on #773
@fatih - thanks. `:GoInfo` should I guess be considered the interface here.

This was internal refactoring - I'll close this issue.

[2016-03-21 17:53] #773 closed

[2016-03-21 21:51] fatih commented on #754
The problem with `go doc` and others are, they are not identifier based. For example suppose you have something like `x.Foo()`. What is `x` here? Is it package name? Is it local variable? Is it a receiver? Gocode traverses the AST and returns the correct candidate for it. But as you also said, it's current architecture needs a rewrite as it doesn't provide that functionality.

Until gocode has wri

[2016-03-21 21:51] #754 closed

[2016-03-21 21:53] fatih commented on #771
Hi, @tbruyelle

Just looking at it and seems it's totally correct. `]]` means until the next function. So you delete until the next function, which in your case are the comments. Is there anything I miss or you think it should be different?

[2016-03-21 21:59] fatih commented on #772
Hi @brenol

This looks like a good idea, I just need to get  a better understanding of it. Are there any other `ds` motion objects you are aware of? (maybe from other plugins) ?

As I see what left is the function parameter. Our current `if` and `af` are about function declarations. `]]` and `[[` are also used to jump between function declarations. It's all about function declaration.

But in your

[2016-03-22 09:35] tbruyelle commented on #771
Hi @fatih, yes this is questionable. When I read your blog post I probably misunderstood the notion of object in vim. I thought if a function is an objet, then its comment is part of it.

[2016-03-22 13:45] brenol commented on #772
Hey @fatih!

Besides vim-surround with ```ds<key>```, nope, not that I'm aware of.

And yes, it's a different use from what is done nowadays, perhaps the correct naming would be ```dsfc (delete surrounding function call)```? I'm not sure.

If I can assist in any other way, please tell me! I don't think the args being passed into the function should be deleted too, although I'm not sure.

Thanks :+

[2016-03-23 17:40] zmb3 commented on #332
I wrote a [tool ](https://github.com/zmb3/gogetdoc)that uses `go/types` to get documentation, which may be useful to you here.  It may need some work yet before it's ready for integration, but I'd be happy to work with you on this.

There's even a blog post showing how it handles several cases that vim-go currently chokes on: https://zmb3.github.io/post/gogetdoc/

[2016-03-23 21:59] bwmarrin opened #774 "Breaking links on save"
### Actual behavior

When I edit a symlink or hardlink of a .go file and save it, the link is broken.

### Expected behavior

I expect the link to still be a link.

### Steps to reproduce:

[code]

### Configuration

* `vimrc` : https://github.com/bwmarrin/dotfiles
* vim version: 7.4.898
* vim-go version: 1.5
* go version: 1.5.3
* OS : FreeBSD 10

[2016-03-25 07:45] velovix opened #775 ""vim-go: goimports does not support srcdir" and file clearing"
### Actual behavior

When GoImports is set to run when the file is saved (or perhaps more accurately, when GoFmt is run), vim-go complains with the following: "vim-go: goimports does not support srcdir." and the file is cleared and overwritten.

I have run `:GoUpdateBinaries`, but the problem persists.

### Expected behavior

GoImports would function normally without the error message, or at least

[2016-03-25 08:31] fatih commented on #775
Hi @velovix

What happens if you run `goimports --help` from the terminal? I think it seems like you still have the old one. In the flags you should see the `-srcdir` flag, if that is not the case, you still have the old one.

[2016-03-25 20:43] velovix commented on #775
Results of `goimports --help`:
[code]

It looks like I'm up to date.

[2016-03-25 22:29] fatih commented on #775
What gives this ex command when you execute it from inside vim:

[code]

And from your terminal:

[code]

Seems like your Vim picks up an old version somehow. This is not something I can reproduce, let's see if we can find something.

[2016-03-26 22:08] moorereason opened #777 "syntax: gotexttmpl identifier and string highlighting broken"
### Actual behavior

Given the following Go HTML template:

[code]
Two issues arise:

1. `.Site.Data.Level` is not highlighted as an Identifier
2. The string `" }}\n<p class="` is highlighted as a string.  The first `"` on the first line is ignored.

### Expected behavior

1. I expect `.Site.Data.Level` to be highlighted as an Identifier.
2. I expect `"premier"` to be highlighted as a String.

###

[2016-03-26 22:15] velovix commented on #775
It looks like this wasn't an issue with vim-go after all. I found that any `echo system()` command would print nothing, so after some messing around, I decided to reinstall vim and now everything seems to be working fine again. I have no idea what happened, but I suspect that while I was experimenting with neovim, I must have messed up something. I can't seem to reproduce it, though. Thanks for wo

[2016-03-26 22:15] #775 closed

[2016-03-27 17:02] jzacsh commented on #332
**tl;dr** someone w/enough VimL-foo, can update [`pkg` in `s:godocWord()` of doc.vim](https://github.com/fatih/vim-go/blob/1b1c80b65533c7a99b1/autoload/go/doc.vim#L58-L63) to ask oracle instead

If cursor's word is passed to golang's oracle **first** to determine "package", I think this will be solvable inline in the current `autoload/go/doc.vim`. Here's what I've learned:
[code]

In the below, `m

[2016-03-28 10:18] #777 closed

[2016-03-28 10:22] fatih commented on #332
@jzacsh thanks for the feedback. Your solution requires two roundtrips and will increase the UI latency. This needs to be done in one single query. @zmb3 has a great tool that does it already (and I've also wanted to use something like that already. But my original plan was to use oracle's new `definition` to provide the necessary documentation. That would make it really useful and would minimize

[2016-03-29 00:18] eduncan911 opened #779 "Autocomplete: show identifier information after completion is done"
### Actual behavior

Omnicomplete isn't inserting the parameters' of the function.

When browsing the omnicomplete options (arrowing up/down):

* the Preview window changes to show the selected item in the menu.
* the current line changes to show the select with an open `(`.

For example, when typing `fmt.` and then C-X and C-O, this is what is shown when I arrow-down to the `func Fprint(w io.Writ

[2016-03-31 19:51] fane89 commented on #376
@fatih , any thoughts on this now ?

[2016-04-02 18:12] tsirolnik commented on #144
I've reproduced this issue.

For anyone looking for the problem - It's probably syntastic (This was the problem for me)

[2016-04-02 19:41] fatih commented on #332
Hi everyone, please try #782 which uses @zmb3 new excellent tool called `gogetdoc`. It solves most of our problem here. Just call `:GoDoc` and it should show the documentation for the identifier under the cursor. Hit `esc` or `enter` to close the window easily.

[2016-04-02 20:44] fatih commented on #779
Hi @eduncan911

This is how the completion is done. For the last `)` it depends on which plugin you use (such as `neocomplete`, `deoplete`, etc ....). You should configure to add the parentheses or remove them.

Unfortunately there is now way to complete it based on the arguments. The reason is the arguments are something that needs to be changed and Vim doesn't have a snippet based replacement sy

[2016-04-02 20:44] #779 closed

[2016-04-02 20:58] fatih commented on #774
Hi @bwmarrin

Thanks for the bug report. Can you please try this fix: https://github.com/fatih/vim-go/pull/783

Thanks

[2016-04-02 22:17] eduncan911 commented on #779
Ah, i completely mis-read that PR.  I thought you were doing auto-complete.  Turns out you were updating the statusline with that info.  Yeah, I've had that working.

And yes, I've used neocomplete (vim) and switched to deoplete (neovim) lately.  I've experienced the closing `)` with them but never had parameters inserting between it, like full blown IDEs have.

Thanks for the info about the snipp

[2016-04-03 09:27] igungor commented on #332
#782 definitely solves the problem I had (https://github.com/fatih/vim-go/issues/332#issuecomment-96749557)

[2016-04-03 09:41] #768 closed

[2016-04-04 03:05] bwmarrin commented on #774
Hey! Awesome :)

That seems to fix it for symbolic links, but it is still breaking for a hard link.

[2016-04-05 07:29] fatih commented on #774
@bwmarrin seems like there is an option to follow links, checkout:

http://stackoverflow.com/questions/13563627/how-does-vim-save-files
http://vim.wikia.com/wiki/Editing_a_hard_link_to_a_file

There is no other way to me to follow hard links, I'm already using Vim's own function.

[2016-04-07 01:55] bwmarrin commented on #774
I'll read though these and report back. I am traveling this week so it might be a couple days before I can test things. When I did my previous testing though, using the exact same vimrc when editing any other file (non .go file) vim did not break hard or symbolic links.  Not sure if that helps at all..

[2016-04-08 08:32] kron4eg opened #788 "GoCoverage fails silently when g:go_term_enabled = 1 in neovim"
### Actual behaviour
In neovim with `g:go_term_enabled = 1` enabled in `.vimrc`, `:GoCoverage` fail to highlight test covered parts.

### Expected behaviour
Should highlight covered and uncovered parts of source.

### Steps to reproduce:
* Add `g:go_term_enabled = 1` to vimrc
* run nvim
* open any go source file
* run `:GoCoverage`

### Configuration

* VIMRC for:
[code]
* neovim version: v0.1.3
*

[2016-04-08 08:33] peterhellberg opened #789 "Calling :GoCoverage on a buffer containing a test file empties the buffer"
### Actual behavior

When calling :GoCoverage on a buffer containing a test file it (sometimes) empties the buffer.
It also seem to interfere with `vim-gitgutter` since it clears all colors in the gutter.

### Expected behavior

To do nothing with the buffer containing a test file.

### Steps to reproduce:

1. Create test file containing `package minimal`
2. Call :GoCoverage
3. See the buffer empt

[2016-04-08 09:54] fatih commented on #789
@peterhellberg is there another file called `minimal.go` next to `minimal_test.go`? You should actually call `:GoCoverage` on a non test file, but I've added a case where you could run it on a test file, and it would open the non test file. Seems like you don't have it?

[2016-04-08 09:55] fatih commented on #788
Thanks @kron4eg. This is a known bug that I also discovered. I'll look into it.

[2016-04-08 11:05] peterhellberg commented on #789
This also happens when I have minimal.go and minimal_test.go in two (split) buffers.

[2016-04-08 11:09] peterhellberg commented on #789
Also, it seems that the coverage report is only run on buffers I’ve actively "visited" with my cursor. (If i open three files in vertical buffers and run :GoCoverage in the first buffer, then I only get a coverage report for that buffer… which is fine, but if I move to the second or third file they all get a coverage report)

[2016-04-08 11:17] fatih commented on #789
@peterhellberg please say the problems one by one, it's getting confusing otherwise. I'm not sure what this issue is about now.

For your first comment, I've pushed a fix to master: https://github.com/fatih/vim-go/commit/5ce65295c297a99012756d63b3a6dae579cefc02

I can't reproduce it unfortunately. Maybe it's due cwd problems. Can you add the following to your vim/nvim settings and try again:

[cod

[2016-04-08 11:24] peterhellberg commented on #789
Thank you, and sorry for any confusion I caused. Your fix seems to work just fine.

[2016-04-08 11:24] #789 closed

[2016-04-08 21:32] #788 closed

[2016-04-08 21:57] fatih commented on #788
Hi @kron4eg This is fixed now. Please pull latest master. If it still persists please open another issue. Thanks!

[2016-04-09 20:45] CodingBerg opened #791 "jump to definition under cursor: go-def-tab"
### Actual behavior

If the target buffer is already displayed in one of the tabs, instead of focusing that tab and jumping to where definition line begins, I got an error:

[code]

After this, It goes to already opened tab at line 1.

### Expected behavior

It should focus already opened tab and jump to definition line no matter how many times I jump to the same definition using Go-To-Definiton.

[2016-04-10 17:48] fatih commented on #772
Two related links for further work:

* http://stuff.fork-bomb.org/expand_region.gif
* https://go-review.googlesource.com/21754

Seems like a better way can be done with guru's new `what

[2016-04-10 18:07] fatih commented on #791
Hi @CodingBerg

I Couldn't reproduce. Seems like you have a setting or plugin that infers with you settings. Please remove all plugins and try again. The current version works as expected.

[2016-04-10 18:07] #791 closed

[2016-04-10 18:17] #332 closed

[2016-04-10 19:01] fatih commented on #221
I'll close this as this issue is just an dead end with no solutions and it's a very special case (files being outside of GOPATH but a symlink to GOPATH). I don't have any specific answer nor do I know how to solve it in near term. We didn't had any reply to this issue for ~1 year, which seems like everyone found a way of fixing/changing their workflow. Thanks for all the comments. As always please

[2016-04-10 19:01] #221 closed

[2016-04-10 19:02] fatih commented on #248
I'm closing this as the underlying functions and tools changed a lot. Please re open if you still have the issue with a reproducible case. Thanks!

[2016-04-10 19:02] #248 closed

[2016-04-10 19:05] fatih commented on #353
I don't see any use case for this.  Closing.

[2016-04-10 19:05] #353 closed

[2016-04-10 19:19] CodingBerg commented on #791
I had to install newer vim version because of neocomplete. And I did that using brew. When you use `vim` than you get the mentioned error. If you still use just `vi`, than everything is working fine. Also I tried to remove all plugins and clean config, still I'm having an error. Have you tried to reproduce with vi or vim?

[2016-04-10 19:30] fatih commented on #791
@CodingBerg I've did. Here is a demo that shows it. I've recorded it for you. I'm using your own `,f` mapping:

![screen recording 2016-04-10 at 10 29 pm](https://cloud.githubusercontent.com/assets/438920/14412459/cbc800e6-ff6b-11e5-9e9f-b45ce79e7443.gif)

[2016-04-10 19:54] fatih commented on #771
`]]` means the beginning of the `func` keyword. So this actually pretty consistent. It might take some time to get used to it, but this is how it's being done. Thanks for opening the issue.

[2016-04-10 19:54] #771 closed

[2016-04-10 19:55] CodingBerg commented on #791
Are you using same VIM ?

[code]

[2016-04-10 20:02] CodingBerg commented on #791
I have only vim-go plugin enabled.

![ezgif com-video-to-gif](https://cloud.githubusercontent.com/assets/8282230/14412663/b9d07ff2-ff67-11e5-9ca7-4c04c59dc482.gif)

[2016-04-10 20:32] CodingBerg commented on #791
It works only with older vim editor which comes with OSX by default:
[code]

But to use neocomplete, I need to install vim with lua support:

`brew install vim --with-lua`

which installs vim 7.4 (1707) with which I'm getting an error.
Same thing with MacVim 7.4-101 also installed using brew.

[2016-04-10 20:57] fatih commented on #791
No, it also works with my current Vim version. I also installed it via Brew:

[code]

[2016-04-10 21:09] fatih commented on #791
@CodingBerg can you share your minimal vimrc please, let me test it to (It might be because you have a latest version of Vim maybe, still not sure)

[2016-04-10 22:06] ashee opened #793 ":PlugInstall fails - could not read Username"
### Actual behavior
x vim-go:
    Cloning into '/Users/amitava/.nvim/plugged/vim-go'...
    fatal: could not read Username for 'https://github.com': terminal prompts disabled

### Configuration
In my .vimrc (neovim), I have added the following
call plug#begin()
Plug 'faith/vim-go'
call plug#end()

Afterwards, I invoke :PlugInstall which produces the error above.
vim version
[code]
*vim-go version:

[2016-04-10 22:49] CodingBerg commented on #791
[code]

[2016-04-11 06:02] fatih commented on #793
Hi @ashee

This is related with your Github setup, it's not a vim-go problem. Here are couple of links to help you:

* http://stackoverflow.com/questions/22147574/fatal-could-not-read-username-for-https-github-com-no-such-file-or-directo
* https://github.com/kemayo/sublime-text-git/issues/176

Thanks

[2016-04-11 06:02] #793 closed

[2016-04-11 08:24] CodingBerg commented on #791
I've downgraded vim to your version 7.4.1589 and it works.
As you already have suggested it doesn't work for current Vim 7.4.1707.

This will be a good remedy for now. However, the issue will be present for every new user installing vim for the first time, or when upgrading to this particular version, or perhaps newer. I believe it needs a fix. Can this be fixed?

Steps how to downgrade:

1. I hav

[2016-04-11 21:08] fatih commented on #667
This is now in master. Though I'm still going to work on this for the `guru` branch and the final commands might change. Fyi.

[2016-04-12 08:30] gavrie commented on #667
Very cool! Thanks @alaska and @fatih. This will make the user experience much better.

[2016-04-12 15:18] fatih commented on #791
I'll going to install the latest and test it, no worries :+1:

[2016-04-13 05:17] jakebasile commented on #667
Awesome feature, but I wanted to point out that just in case anyone ends up here because their `<C-t>` maps stop working with error message `godef: tag stack empty`, you can disable this feature with `let g:go_def_mapping_enabled=0`

I have NERDTree mapped to `<C-t>` and [this line](https://github.com/fatih/vim-go/commit/80f6cf8fa443b259af8f90762ec51fadde57873e#diff-0ad1676dd1d31e7de174d292cadf0ce

[2016-04-13 08:25] myitcv opened #796 "guru: flag provided but not defined: -format"
### Actual behavior

A call to `:GoReferrers` (or any other `guru`-based command) should work

### Expected behavior

Error because of incorrect flag usage

### Steps to reproduce:

Please create a reproducible case of your problem. Re produce it
with a minimal `vimrc` with all plugins disabled and only `vim-go`
enabled:

1. Open a `.go` file
2. Hover over an identifier
3. Invoke `:GoReferrers` (o

[2016-04-13 09:07] fatih commented on #796
Hi @myitcv It's because 1-2 days Guru changed completely again. I'll fix it. Thanks for the reporting

[2016-04-13 09:09] myitcv commented on #796
@fatih thanks. I suspect as much. Does suggest that `vim-go` should be using vendored binaries....agree?

[2016-04-13 09:23] fatih commented on #796
CL that breaks this: https://go-review.googlesource.com/#/c/21397/

@myitcv yeah, the problem is that guru doesn't have versions or whatever, so even if it's vendored, it's not sufficient enough, as we don't know in which state the binary was built. I'm thinking of using github.com/vim-go to have vendored source code or binaries, but it would be an overkill for now. That's why I occasionally recei

[2016-04-13 10:22] Cymonn commented on #796
I think temporarily commenting out following line in file **guru.vim** would be work correctly before updated.

[2016-04-13 10:48] #796 closed

[2016-04-13 10:48] fatih commented on #796
The fix is in master. Thanks for the opening the issue again.

[2016-04-13 10:53] fatih commented on #667
Nice pic from xkcd @jakebasile  :) We tried to emulate as possible as current Vim default commands. By default `C-t` and `C-]` are used for jumping between the tag stack so we enabled them by default. Of course as you also mentioned, it can be disabled.

But reading the source code, seems like the default keybinding its bound to `CTRL-T` not `CTRL-t`, fixing it now, thanks for bringing this up @ja

[2016-04-13 10:57] fatih commented on #667
Fixed with https://github.com/fatih/vim-go/commit/16cc4d62c6c14f5d59c7b0e5182fc724d601b97d /cc @jakebasile

[2016-04-13 11:00] myitcv commented on #796
@fatih

But there is the concept of commits which is ultimately far stronger. `vim-go` should probably pin itself to specific commits of its dependencies. Whether it vendors the code or not is really neither her nor there - ideally it should in case the dependencies or their repos disappear (etc, the whole vendoring discussion could be replayed here)

This would mean however that `vim-go` would no

[2016-04-13 14:05] alaska commented on #667
It's actually bound to both by default.  I disagree with this change VERY strongly, as I learned using `CTRL-t`, and I'm sure many others did, too.  You shouldn't have to type shift for one command and not for another (`CTRL-]`) source: http://vim.wikia.com/wiki/Browsing_programs_with_tags

[2016-04-13 14:24] fatih commented on #667
@alaska I'm trying to be consistent with the tags documentation. You can check it via `:help tags`. Nowhere does it write it's using `CTRL-t`. It's all upper case. Our main goal is never create mappings that is not defined in Vim, so this totally makes sense.

But I've also added plug mappings, so you are free to use `CTRL-t` if you wish by adding the following to your vimrc:

[code]

Now `CTRL-t`

[2016-04-13 14:30] alaska commented on #667
Do you hit `ctrl-shift-u` or `ctrl-shift-d` to move up and down in the document?  I'm betting you don't.  I'm betting you use `ctrl-u` and `ctrl-d` like the rest of us, yet they are not mentioned in the documentation as such:

`:help ctrl-u` gives:
[code]

[2016-04-13 14:34] fatih commented on #667
Valid point. Reverted it back

[2016-04-13 14:36] alaska commented on #667
Of course, I don't think your mapping change would have made a difference in regular vim as, once again, it doesn't really care.  But I don't know about neovim, so it's best to play it safe. :+1:

[2016-04-13 15:05] jakebasile commented on #667
fwiw, I have no problem just turning it off as I don't use the tag stack functionality. Out of curiosity, is there a way to have this GoDef feature enabled but mapped to something else? If base Vim has the tag stack keys mapped to something else, can you query for and use those?

[2016-04-13 16:29] alaska commented on #667
Base Vim already does use those keys, which is kind of the issue here.

If you're asking whether or not you can detect alternative mappings made by .vimrc or some other plugin this is, in theory, possible by doing something like the following, and parsing the variable:

`:redir => mappingsText | :silent :map | :redir END`

But it's a lot of trouble.

[2016-04-13 16:32] #753 closed

[2016-04-13 16:33] fatih commented on #753
@eduncan911 it's behind a new flag `g:go_def_use_buffer` and is disabled by default, so nothing has changed for you, FYI :)

[2016-04-13 16:36] jakebasile commented on #667
Yeah, that's what I was asking. It's no big deal, as I can just turn it off and manually map GoDef if I still want the tag stack in the future.

[2016-04-13 19:54] peterhellberg opened #797 "Go to definition in file outside $GOPATH/src/dir/ returns out of range error"
### Actual behavior

![screen shot 2016-04-13 at 21 37 18](https://cloud.githubusercontent.com/assets/565124/14506876/4a886d20-01c0-11e6-99b9-83b3cb76bffb.png)

And then the buffer is cleared and renamed `guru`

### Expected behavior

That either go to definition works for the standard library, or that it does nothing when the file is outside of a `$GOPATH/src/<dir>/`

### Steps to reproduce:

1 -

[2016-04-14 00:41] supermarin commented on #797
Confirming on all vim versions (vim, macvim, nvim)

[2016-04-14 13:29] fatih commented on #797
Thanks for the feed back @peterhellberg. This is now fixed in master.

[2016-04-14 13:30] #797 closed

[2016-04-14 15:31] rboyer opened #798 "E117: Unknown function: matchaddpos when using :GoCoverage"
### Actual behavior

After recently updating `vim-go` to latest the following happens when I run `:GoCoverage`:

[code]

### Expected behavior

The previous version of vim-go I had been using opened the coverage reports in a browser window.  I believe the version I updated to was supposed to do the inline red/green highlighting of the covered code, but that's not working.

### Steps to reproduce:

[2016-04-14 15:38] fatih commented on #798
The browser command is still there with the command `:GoCoverageBrowser`, can you try please that too?

Seems like `matchaddpos` is a very new function. Let me check when it was introduced.

[2016-04-14 15:41] rboyer commented on #798
Yay `:GoCoverageBrowser` works in the interim.

What version of plain vim is the min version `vim-go` targets?

[2016-04-14 15:42] fatih commented on #798
@rboyer there is no specific vim version targeted. I'm using 7.4.1702 for example (very new). I'll add a check for this function soon.

[2016-04-14 18:00] fatih commented on #798
Seems like the minimum patch version needed for `:GoCoverage `is `7.4.330` http://ftp.vim.org/vim/patches/7.4/7.4.330. I'll add a warning to it.

[2016-04-14 19:56] #798 closed

[2016-04-15 02:26] apporc opened #800 "<Plug>(go-run) doesn't run for the current file"
### Actual behavior

<Plug>(go-run) doesn't run the current file.
I have many .go files in the same directory, each of them contains "package main" and run on itself. When i do \<Plug\>\<go-run\> on one file, it complains "redeclaration of main".

I have to use "GoRun %" to replace <Plug>(go-run) to run just on the current file only.

### Expected behavior

As what said in the doc, (go-run) should

[2016-04-15 17:42] fatih commented on #800
Hi @apporc .The doc is wrong. It's for the whole package. To run for a single file you should use `:GoRun %`. Here is a mapping that runs it only for a single file you can use:

[code]

[2016-04-15 17:45] #800 closed

[2016-04-16 07:27] fatih commented on #718
With Vim 8.0 we also have several `assert_XXX()` functions

[2016-04-17 12:21] ashee commented on #793
Turns out it was a typo - I wrote "faith" as opposed to "fatih" in my ~/.vimrc. After correction,
[code]

[2016-04-18 03:15] nishanths commented on #30
@philwhln Uninstalling and reinstalling `vim-go` fixed this for me.

I'd love to know if you found the real cause of the issue.

[2016-04-18 13:35] nothingelsematters7 commented on #674
For me the same problem is reproducible with :GoVet now. Should I open new issue for that?

[2016-04-19 03:52] HackToday opened #804 "vim-go auto imports can not correctly detect right imports"
### Actual behavior

I am debugging docker code, and have one test file as this

https://github.com/docker/docker/blob/master/integration-cli/docker_cli_events_test.go#L14

when edit something in that test file and save, that
`"github.com/docker/docker/daemon/events/testutils"` would disappear.

I need to manually disable vim-go to edit that file

### Expected behavior

vim-go should not delete th

[2016-04-19 21:30] LK4D4 opened #805 "guru definition is much slower than godef"
### Actual behavior

go to definition is very slow even for moderate sized projects, I think it's like hundreds times slower. godef was milliseconds, guru is 5-6 seconds for me in docker project

### Expected behavior

go to definition is very fast

### Steps to reproduce:
1. Update vim-go to latest
2. Try :GoDef in big projects

### Configuration

* vim version: neovim-0.1.3
* vim-go version 4f67

[2016-04-19 21:42] LK4D4 commented on #805
Here is some numbers:
[code]
It's not like I think it's vim-go bug, but I propose to move back to godef as default for now :)

[2016-04-20 01:40] drewvanstone commented on #217
This behavior seems to happen whenever the go* tools fail for any reason. I was getting this issue on Mac OSX El Capitan. I'd installed the go* tools with `:GoBinariesIstall` and they were properly on my path, but when manually executed, I'd get this error:

[code]

This is a known issue with Websense, which my company has installed on each laptop. Here's the issue: https://groups.google.com/forum

[2016-04-20 01:44] bradleyfalzon opened #806 ":GoCoverage behaviour"
Hi,

This is a small discussion on vim-go's newest :GoCoverage inclusion and it's default behaviour.

The original behaviour of [t-yuki/vim-go-coverlay](https://github.com/t-yuki/vim-go-coverlay) (as I understand it) via its (go-coverlay) would not toggle the coverage report, and instead rerun the test and highlight coverage. To clear the coverage report, you would use (go-clearlay).

Because this

[2016-04-20 02:13] bradleyfalzon commented on #806
Happy to send in PRs to adjust this behaviour if desirable.

[2016-04-20 12:59] svanharmelen commented on #805
I noticed the same... Moving back to `godef` until the performance to `guru` is improved seem like a good solution for the time being...

[2016-04-20 16:24] fsouza commented on #805
Indeed I find guru to be very _slow_. Can we move to godef, please? :-D

[2016-04-20 20:01] itsjamie opened #807 "Feature Request: gotests support"
It would be great to be able to run :GoGenerateTest which would build the basic scaffolding for table-driven tests.

You can find the tool here: https://github.com/cweill/gotests

Not knowing what's possible with vim as far as determining context, the way I would imagine it working:
* When inside a function in normal mode, a :GoGenerateTest would generate tests for that single function
* When insi

[2016-04-21 23:05] supermarin opened #809 "Goto definition still broken for packages"
### Actual behavior

Typing `gD` on a package function (even system packages) like time.Tick says that my source file is not in the path where it actually is.

I haven't bisected too much, but at `a60a932` it was working as expected.

### Expected behavior

`gd` brings you to where the function is defined.

### Steps to reproduce:

1. Update vim-go to master
2. type `gd`
3. profit

### Configurati

[2016-04-22 23:17] louwers opened #810 "commentstring not set for gohtmltmpl"
### Actual behavior

Vim's fold-markers and external plugins such as [vim-commentary](https://github.com/tpope/vim-commentary) use commentstring (see `:h commentstring`) to determine how to comment out a block of text for the current filetype. This is set for html, but not for gohtmltmpl.

The actual behavior is that vim inserts C-style comments in gohtmltmpl files.

[code]

### Expected behavior

[2016-04-24 07:39] psankar opened #811 "Please provide docker image"
This is an enhancement request and not a bug.

Please provide official docker image of vim-go along with neocomplete, youcompleteme or some such auxiliary plugins already installed. Getting neocomplete + vim-go to work on mac has been very problematic (at least for me), with too many dependencies like brew, lua, macvim etc. having troubles. A official vim-go capable vim docker image for golang dev

[2016-04-24 15:45] heipacker commented on #86
i encount thiis problem too, but when i config the GOBIN var, this solved.

[2016-04-24 18:03] heipacker commented on #157
i solve this problem set go:go_gotags_bin manually in my own .vimrc. likes below:
161 let g:go_gotags_bin = '/home/fupan/golib/bin/gotags'
162 let ctagsbin = 'gotags'
163 " check if vim-go is available and has the binary
164 if !executable('gotags') && !exists("g:go_gotags_bin")
165      let ctagsbin = expand(g:go_gotags_bin),
166 endif
167 let g:tagbar_type_go = {
168         \'ctagstype' : 'go',

[2016-04-24 18:22] heipacker commented on #157
but i should do the same work for other command like GoDef

[2016-04-24 18:39] fatih commented on #804
Hi,

This is because you're using `goimports` for your gofmt save command. Please remove it from your vimrc and you're good to go. Thanks.

[2016-04-24 18:39] #804 closed

[2016-04-24 18:42] fatih commented on #806
Hi @bradleyfalzon

This is a valid concern. We still have time to change it. So we might use the followings

[code]

[2016-04-24 19:21] #806 closed

[2016-04-24 19:22] fatih commented on #806
Fixed and pushed to master. Thanks for the feedback.

[2016-04-24 19:31] fatih commented on #805
It's slow and I agree. But `guru definition` will be faster with time (hopefully). It's much more reliable and fixes  a lot of our past bugs (see CHANGELOG.md).

I'm not thinking to revert it and I believe this is the right way to go. Go's compilation also was slow, but they improved it with time. The point here is that it's always an equilibrium and we have to choose what to sacrifice. We earn st

[2016-04-24 19:31] #805 closed

[2016-04-24 19:45] fatih commented on #810
Hi @louwers

Thanks for the feedback. Can you please try https://github.com/fatih/vim-go/pull/813 and report if it works for you? Thanks.

[2016-04-24 19:47] fatih commented on #809
Hi @supermarin

Can you please provide a test case as the steps you said to reproduce are not reproducible. Also note that the shortcut is `gd` not `gD`.

[2016-04-24 22:17] fatih commented on #811
Hi @psankar

Checkout https://medium.com/google-cloud/my-ide-in-a-container-49d4f177de#.fi16w4g6u

There are already some solutions when you search them on Google. Thanks for the feedback!

[2016-04-24 22:17] #811 closed

[2016-04-24 23:45] fsouza commented on #805
@fatih my main reason to switch back to godef was that vim-go + ``guru definition`` didn't behave well on new tabs. My current setting is: if the identifier is defined in the same file, jump to it in the same window, otherwise open a new tab. I failed to reproduce this configuration with vim-go. My configuration was:

[code]

Did I use the wrong settings? x)

[2016-04-25 00:18] HackToday commented on #804
hi @fatih why can't I use `goimports` ? Does `vim-go` have compatibility issue with `goimports` ?

[2016-04-25 08:25] fatih commented on #805
@fsouza you need to create a custom function to emulate the behaviour you want. The settings above are all valid (though `go_def_use_buffer` will be renamed to `go_def_reuse_buffer`). We don't check if the next target is the same file or not.

[2016-04-25 09:50] ashb commented on #221
Is it worth tidying up the error message? `package "-1"` is sort of confusing at least.

[2016-04-25 09:51] fatih commented on #221
@ashb of course, mind opening an issue on when it appears `package -1`? I'll fix it.

[2016-04-25 14:10] fsouza commented on #805
@fatih thanks!

[2016-04-25 17:15] smreed commented on #809
I'm seeing similar behavior this morning. I'm editing a file in my home directory (this also repros inside of a `gb` project structure).

Using NVIM 0.1.4-dev

### vimrc:
[code]

### ~/test.go:
[code]

### Repro:
1. cursor over `Println`
2. `gd`
3. `vim-go: guru: directory /home/sreed is not beneath any of these GOROOT/GOPATH directories: /usr/local/go/src, /home/sreed/go/src`

I can still use `gd

[2016-04-25 17:26] smreed commented on #809
The GOPATH reported by the `guru` error is different than what is being detected by `let $GOPATH = go#path#Detect()`.

[2016-04-25 19:07] LK4D4 commented on #809
@supermarin @smreed yeah, seems like guru can't inspect in files outside `GOPATH`, encountered that as well.

[2016-04-25 22:29] lorin opened #814 "Option to auto-open location list if tests fail"
If I run `:GoTest`,  and there are test failures, to see them I need to open the location list (`:lopen`). I would love if the location list opened automatically if any tests failed. An option to enable this would be great.

[2016-04-26 03:48] bwmarrin commented on #774
Sorry for the delay but I remembered this today when I saw teh 1.6 post on reddit.  So I quickly updated to 1.6 and decided to give this a try again.  So, soft-links seem to not be altered and writing to a softlink will update the original file and not break the link.  Perfect.

Hard links however are still breaking.  I tested the exact same thing with non `.go` files like a `.mk` file and with an

[2016-04-26 04:00] niftylettuce commented on #214
Same here

[2016-04-26 06:58] alienth commented on #162
Microsoft/vscode-go also uses gocode, and they get around this issue by enabling that autobuild option.

@fatih, would it be reasonable to have a default-disabled vim-go option which enabled autobuild on gocode? I understand it is experimental, but vscode-go seems to use it successfully, and after a cursory try on my end it seems to do the job. My only alternative at the moment is to manually enab

[2016-04-26 08:19] fatih commented on #162
@alienth that sounds a good plan. We can also enable it, just we need to be sure we do it the right way. Do you mind to open an issue and also point to the code how vscode-go does it? I know actually how to implement it, I just want to have some references for others. Thanks!

[2016-04-26 08:35] alienth opened #815 "Feature req: Add a flag to tell gocode to autobuild"
As mentioned [in this comment](https://github.com/fatih/vim-go/issues/162#issuecomment-214637882), gocode can be configured to autobuild any sources which haven't been built, which will address people not getting autocomplete for stuff which isn't yet in `go/pkg`.

Microsoft/vscode-go uses this same feature. Relevant code is here: https://github.com/Microsoft/vscode-go/blob/932ccd1cf114cb38b5fef96

[2016-04-26 08:38] fatih commented on #814
Hi @lorin It opens automatically. Are you sure it doesn't ?

[2016-04-26 08:38] alienth commented on #815
Side note: Microsoft/vscode-go is considering on moving to guru. The author of gocode has indicated that it has [many problems and likely needs a rewrite](https://github.com/nsf/gocode/issues/307), but doesn't seem like they have the time to do it anytime soon. Microsoft may help get auto-completion into guru, as mentioned [here](https://github.com/fatih/vim-go/issues/162#issuecomment-214637882).

[2016-04-26 16:06] fsouza opened #817 "GoCoverageClear and GoCoverageToggle when syntax is off"
### Actual behavior

I use vim with ``syntax off``. When I run GoCoverage, it turns syntax on for displaying the colors, but when I run GoCoverageClear or GoCoverageToggle it lets syntax on. Some screeshots:

*Right after opening the file:*

<img width="1391" alt="screen shot 2016-04-26 at 1 01 14 pm" src="https://cloud.githubusercontent.com/assets/108725/14825125/fdb9f902-0bae-11e6-92b6-acaae6498

[2016-04-26 16:10] fatih commented on #817
This is a bug, should check if the user really uses syntax before I enable it. Good catch. I'll fix it.

[2016-04-26 17:23] heipacker commented on #277
the godef repo no man maintain?

[2016-04-26 17:35] supermarin commented on #809
@fatih oh sorry about that, edited the headline. It's indeed `gd`.

I updated the plugin to v1.6 and it seems like it's working again, just a bit slow.

[2016-04-26 17:39] supermarin commented on #809
Steps to reproduce - nothing too fancy.
There's a project in the standard $GOPATH (e.g. ~/code/go/src/github.com/fatih/awesome),
that's using `godep` thus has some deps in the vendor/ dir.

`gd` was broken on system libraries though when opening this issue.
Before that it was broken for vendored libs, but I saw that was tracked / fixed [here](https://github.com/fatih/vim-go/issues/797).

[2016-04-26 22:01] supermarin commented on #809
Update: seems like there's still some weird behavior;
It's probably guru's fault rather than vim-go.

[code]

[2016-04-27 03:19] surest opened #818 "Jump to implementation of a interface"
Hi faith,

    I have a problem about jump to the implementation of a interface.

    For example,

    1 package main
    2
    3 func main() {
    4     var ref Interface = &Impl{}
    5     ref.Do()
    6 }
    7
    8 type Interface interface {
    9     Do()
   10 }
   11
   12 type Impl struct{}
   13
   14 func (this *Impl) Do() {}

   When my cursor is at line 5 and just at the letter 'D',

[2016-04-27 03:21] #818 closed

[2016-04-27 03:27] surest opened #819 "Jump to implementation of a interface"
Hi faith,
     I have a problem about jump to the implementation of a interface.
     For example,

    1 package main
    2
    3 func main() {
    4     var ref Interface = &Impl{}
    5     ref.Do()
    6 }
    7 type Interface interface {
    8     Do()
    9 }
   10 type Impl struct{}
   11 func (this *Impl) Do() {}

   When my cursor is at line 5 and just at the letter 'D', I use GoDef and t

[2016-04-27 03:41] #819 closed

[2016-04-27 03:45] surest opened #820 "Jump to implementation of a interface"
Hi faith,
I have a problem about jump to the implementation of a interface.
For example,

![image](https://cloud.githubusercontent.com/assets/4004195/14841100/24d1d7a8-0c6d-11e6-8962-5e8c5368959e.png)

When my cursor is at line 5 and just at the letter 'D', I use GoDef and the cursor will jump to line 9, but I want to jump to the line 13.

Which command can I use?

[2016-04-27 14:01] steveeJ opened #822 "source files with unmatched build constraints will be ignored by vim-go and cause errors"
### Actual behavior

After adding a custom tag as a build constraint in a `.go` file, which could look like this

[code]

vim-go no longer functions properly. When trying to jump to a definition an error occurs:

[code]

In this case I created a package in an existing project directory with only this new file with the build constraint that is not matched.

### Expected behavior

vim-go should be a

[2016-04-27 20:10] rogpeppe commented on #277
The godef repo is maintained but I don't have enough spare time to fix substantial issues with it currently,  I'm afraid. PRs gratefully received, but given that the guru tool now supports "show location of definition", in a more comprehensive (though probably slower) way,  it may be best just to move to using that.

[2016-04-27 21:19] fatih commented on #805
This is for example a CL that makes `guru definition` faster: https://go-review.googlesource.com/#/c/22526/ just adding it to show that this was what I mean when I said it'll be improved with time.

[2016-04-27 21:38] fatih commented on #277
Thanks @rogpeppe for all the hard work. @heipacker we switched to `guru definition` in the new version. It's slower than @rogpeppe's godef, but it handles cases like this better.

[2016-04-28 00:27] bradleyfalzon opened #824 "GoCoverage broken in recent commit"
### Actual behavior

Checkout f830d0dc170adfd7854532d571d2a0ecf818633e and try to use GoCoverage
Tests run, but coverage report doesn't appear.

See also PR #801

### Expected behavior

Write here what you're expecting ...

### Steps to reproduce:

Please create a reproducible case of your problem. Re produce it
with a minimal `vimrc` with all plugins disabled and only `vim-go`
enabled:

1. Open a

[2016-04-28 00:52] bradleyfalzon commented on #824
So the issue, as I believe is due to https://github.com/fatih/vim-go/pull/801/files#diff-4

This line has recently changed from:

[code]

To:
[code]

Which appears to be a typo, as the call to call is only executed when ShellError is non-zero - i.e. when there's an error.

The issue should be straight forward to fix in this case, but there's other logic errors in the change which may need to be re

[2016-04-28 00:54] bradleyfalzon commented on #824
@mattn - can you look over this and verify if this is a problem?

[2016-04-28 00:56] mattn commented on #824
No
[code]

bang command should be set v:shell_errors always. maybe error occur at another part.

[2016-04-28 01:01] bradleyfalzon commented on #824
Can you double check the logic in coverage.vim too, line 57 and 93: https://github.com/fatih/vim-go/pull/801/files#diff-4

[2016-04-28 01:06] mattn commented on #824
Ah, sorry. My fix is bad. However I found some bug from your points. Thanks.

[2016-04-28 01:12] mattn commented on #824
strange. I can't reproduce it . do you install vimproc? or not?

[2016-04-28 01:18] bradleyfalzon commented on #824
These are the steps I used to reproduce:

main.go
[code]

main_test.go
[code]

Checkout vim 1.6 in vim-go:
[code]

[code]

You should then see the main func statements change to the colour green.

Close the file and checkout later commit:
[code]

[code]

The test should pass, but the statements should not change to the colour green this time.

The following patch then fixes the issue:

[code]

[2016-04-28 01:19] bradleyfalzon commented on #824
The proposed patch could easily be ```go#util#ShellError() == 0```, I just used ```!go#util#ShellError()``` as an example.

[2016-04-28 01:24] mattn commented on #824
Thanks figure out. Could you please try below.
put following line into above on

[code]
like
[code]

And check with `:echo g:vimgo_debug`. What value returned?

[2016-04-28 01:26] mattn commented on #824
Ah, one more. please check actual value of `go#util#ShellError()`.

[2016-04-28 01:27] mattn commented on #824
Hmm, I can't reproduce.

![](http://go-gyazo.appspot.com/28b1477097ece478.png)

[2016-04-28 01:31] bradleyfalzon commented on #824
Yes the test passes, but the coverage isn't shown.

I think you maybe debugging in the wrong area, look at the lines that changed:

From:
[code]

To:
[code]

In the first case, the call to overlay only occurs when `v:shell_error == 0`, but in the second case, it's only called when `v:shell_error == 1` - I believe this is the error.

[2016-04-28 01:33] bradleyfalzon commented on #824
This is what should happen:
![screen shot 2016-04-28 at 11 01 43 am](https://cloud.githubusercontent.com/assets/1834577/14872978/ac3f5a44-0d30-11e6-9adf-bb880e9620ef.png)

This is what happens:
![screen shot 2016-04-28 at 11 02 49 am](https://cloud.githubusercontent.com/assets/1834577/14872985/c4ff166e-0d30-11e6-97c0-9113492121f4.png)

Ignore the colour scheme I'm using, but that's the behaviour.

[2016-04-28 01:37] sillyousu commented on #822
You can set tags manually:
`let g:go_guru_tags="aTag" in vim vimrc or  `:GoGuruTags aTag`

And then apply this patch:
https://github.com/fatih/vim-go/pull/821

[2016-04-28 09:45] #824 closed

[2016-04-28 09:50] fatih commented on #822
@steveeJ that's normal. `guru` uses the loader to load a valid go program, and if you don't tell them it'll not work. The PR #821 allows you to pass the necessary tags either statically via a variable or dynamically via the `:GoGuruTags` command

[2016-04-28 11:11] #822 closed

[2016-04-28 11:11] fatih commented on #822
Fixed with #821

[2016-04-28 19:40] fatih commented on #774
There are no ways to fix the hardlink unfortunately as vim doesn't provide the necessary tooling (functions) for it. I suggest not to use any kind of hardlinks for your Go projects.Thanks for opening the issue though.

[2016-04-28 19:40] #774 closed

[2016-04-28 19:59] #817 closed

[2016-04-28 20:01] fatih commented on #817
This should be now fixed @fsouza. Thanks for the feedback.

[2016-04-28 20:02] #810 closed

[2016-04-28 20:05] fatih commented on #809
@supermarin @LK4D4  your code needs to be beneath GOPATH. If it's not, `guru` will not work unfortunately. Closing this as there is not much I can do. Thanks!

[2016-04-28 20:05] #809 closed

[2016-04-28 20:11] fatih commented on #820
Hi @surest

You can jump from 5 to 13 via `:GoCallees`
You can jump from 13 to 9 via `:GoImplements`

Please read http://golang.org/s/oracle-user-manual to get more info about the various Guru modes (previously it was called Oracle, but the user manual still applies)

Thanks for opening.

[2016-04-28 20:11] #820 closed

[2016-04-28 20:30] fatih commented on #807
Closing per my comment here: https://github.com/fatih/vim-go/pull/808#issuecomment-215553108 Thanks again for the feedback.

[2016-04-28 20:30] #807 closed

[2016-04-28 21:07] fsouza commented on #817
@fatih thanks for fixing it! :D

[2016-04-28 22:08] bwmarrin commented on #774
Reasonable enough, and I don't plan to use hardlinks either but I wanted to at least document all the details :) Thanks a lot fatih for all the help and the most wonderful vim plugin I use.

[2016-04-29 02:29] surest commented on #820
Thanks a lot! @fatih

[2016-04-29 08:41] moogle19 opened #828 "Slow scrolling when cursorline is enabled"
### Actual behavior

If I activate vim-go syntax highlighting with:

[code]

and also activate `set cursorline` in my .vimrc, vim gets really slow.
Without the hightlights functions and/or cursorline it works perfectly.

### Expected behavior

vim should run smooth as always

### Steps to reproduce:

1.Create minimal vimrc:

[code]

2.Put (only) vim-go into ~/.vim/bundle (if using pathogen)
3.Open

[2016-04-29 09:22] fatih commented on #828
Hi @moogle19

There are many highlight groups, and Vim continuously tries to rematch them. That's why we have flags, to disable some of those. You can these settings to make it faster:

[code]

Other than this there is not much we can do. Thanks for opening.

[2016-04-29 09:22] #828 closed

[2016-04-29 09:45] moogle19 commented on #828
Okay, thanks for the info and keep up the good work!

[2016-04-30 10:55] aktau opened #829 "godef replacement guru doesn't handle files outside of of GOROOT/GOPATH?"
### Actual behavior

Often, I like to browse the source for golang/go:

$ git clone https://github.com/golang/go.git && cd go
$ vim src/runtime/mheap.go
... go to line 265 (	if s == nil || b < s.base() || b >= s.limit || s.state != mSpanInUse { )
...                                                          ^
...press 'gd' to invoke 'go to definition'
vim-go: guru: package "runtime" doesn't contain

[2016-04-30 17:08] smalldirector opened #830 "Failed to run ```:GoInstallBinaries``` command"
### Actual behavior

When I run :GoInstallBinaries command, I faced the following errors:
[code]

### Expected behavior

Run ```:GoInstallBinaries``` successfully.

### Steps to reproduce:

Just run ```:GoInstallBinaries``` command

### Configuration

go1.6.2 darwin/amd64
vim 7.3
vim-go latest code in master branch

[2016-04-30 19:00] docwhat opened #831 "Possibly use vim-projectionist?"
In your documentation you mention how to setup `:A`, `:AV`, etc. up...

Instead, you could use [vim-projectionist](https://github.com/tpope/vim-projectionist) if it is installed...

[code]

(based on http://ahamidi.com/projectionist-for-go/)

You could actually replace the `go/alternative.vim` script with vim projectionist altogether.  The logic looks the same.  One less thing to maintain!

[2016-04-30 20:21] louwers commented on #810
Sorry for the late reply. Yes, it absolutely does. :+1:

[2016-04-30 20:46] nhooyr opened #832 "freevars is a normal mode mapping"
[code]

This mapping in `ftplugin/go/mappings.vim` cannot be used because it is a normal mode mapping whereas go-freevars is only usable with a selection. So it should be a visual mode mapping.

[2016-05-01 00:17] lorin commented on #814
I did some digging to track this down. The problem seems to only manifest on neovim (not officially supported, I know...), and only when [syntastic](https://github.com/scrooloose/syntastic) is loaded.

Here's a minimal .nvimrc file that reproduces the issue on my machine:

[code]

[2016-05-01 19:15] fatih commented on #829
Hi @aktau

There is not much I can do as we use `guru definition`. This is the original query for my case:

[code]

Calling it will say:

[code]

Simple main packages work outside GOPATH, but I think there is a special case for runtime. Can you please open an issue here https://github.com/golang/go/issues/ with the command above that matches your own filesystem? The title should start with `x/tool

[2016-05-01 19:15] #829 closed

[2016-05-01 19:16] fatih commented on #830
Hi @smalldirector

The error says it:

[code]

It's because you're connection is blocked or somehow timing out due your network conditions. It's not a vim-go issue. This means `go get` in your terminal also would fail. Thanks.

[2016-05-01 19:16] #830 closed

[2016-05-01 19:17] fatih commented on #831
Hi @docwhat

Thanks for the suggestion. vim-go's way is providing useful features with no big dependencies. I don't want to remove a really useful feature and point people to use an external plugin, set it up, and then use it. It's not something I want. Also we can change the way we provide the command. Thanks!

[2016-05-01 19:17] #831 closed

[2016-05-01 19:18] smalldirector commented on #830
@fatih Thanks for your suggestion, solved this by added http_proxy for ```go get```.

[2016-05-01 19:28] #832 closed

[2016-05-01 19:28] fatih commented on #832
Fixed. An example mapping you can add to your vimrc to test it:

[code]

[2016-05-01 19:31] nhooyr commented on #832
alright thanks

[2016-05-01 19:32] fatih commented on #814
I'm also using `neovim` and I think this is due `syntastic` (which I don't use btw). Closing this as this is not a vim-go issue. Thanks!

[2016-05-01 19:32] #814 closed

[2016-05-02 01:08] docwhat commented on #831
No worries. If you are careful adding the above then it'll work for people with and without projectionist.

I figured it out because your commands were overwritten by projectionists. Eg `:AV`

[2016-05-02 05:12] lcd047 commented on #814
Nope, the problem is that both `vim-go` and `syntastic` are trying to manage the same loclist.  As I pointed out [elsewhere](https://github.com/scrooloose/syntastic/issues/1650), this is not going to work, and the solution is for the OP to configure `vim-go` to use quickfix lists instead of loclists.

Which is great: you can blame everything on syntastic, and since I'm not using `vim-go`, I can bl

[2016-05-02 06:23] fatih commented on #814
@lcd047 I'm not trying to blame or start a tension. Please talk for yourself. Here is a gif that shows how vim-go behaves:

![screen recording 2016-05-02 at 09 14 am](https://cloud.githubusercontent.com/assets/438920/14948194/5a5bcd8e-1046-11e6-96a0-7c8bbdeeb52f.gif)

And here is the code: https://github.com/fatih/vim-go/blob/master/autoload/go/cmd.vim#L63-L69 I even have an explicit settings just

[2016-05-02 06:25] fatih commented on #831
@docwhat we actually don't have `:AV`, `:A` or `:AS`. It's up to the user to add them on their own. For Example I have these in my own vimrc:

[code]

Thanks!

[2016-05-02 07:34] lcd047 commented on #814
Then please stop assigning blame without doing proper research, thank you.

Then perhaps the answer to the OP's question should have been to set `g:go_list_type` to `quickfix`, rather than hand waving at `syntastic`?

Neither `vim-go` nor `syntastic` are broken.  They just can't hope to control quickfix windows at the same time.  This is the root cause of the problem, and the fix is to configure t

[2016-05-02 11:12] fatih commented on #814
I'm not blaming. I'm saying it's due syntastic, which is true ;)

It's because it's the only and most used Go plugin. We have tons of features, with those we have issues, feedbacks and co. I think it shows the quality of the project, if you could interpret it that way you would understand it.

Well I've just noted my frustration with syntastic. Because you started saying that I'm blaming. I'm sayi

[2016-05-02 13:07] fatih commented on #814
@lcd047 also I'm more than happy to solve problems. If there is anything we can do make the situation better let me know. We had a massive refactoring the last months to support custom list (quickfix vs location list), just so we can prevent issues like this. If you think there are still improvements to co exists together, happy to hear them.

[2016-05-02 14:26] lcd047 commented on #814
On second thought, there is something I can do to solve this for good: drop all support for `go` from `syntastic`.  There doesn't seem to be anything `syntastic` can do about Go files that `vim-go` can't do better, and `go` itself doesn't fit too well with `syntastic`'s idea of a checker.  So this shouldn't be a huge loss for anybody.  Good enough for you?  Any other opinions?

[2016-05-02 14:41] fatih commented on #814
@lcd047 that would sadden a lot of people. People still use it. I think we just need to be more aware of the certain cases, slow save, not jumping to first error and then warn people about it.

[2016-05-02 15:12] gonzaloserrano commented on #814
Hi guys! First let you know that i love vim-go and syntastic! <3

I use syntastic with go because even it lags a bit on my company's projects (maybe in bigger projects is worse, i don't know) when saving i like to have direct feedback on what's the build error. In 1.7 it's gonna be at least twice as faster we know that already.

Then i wanted to report a possible improvement for the build time, no

[2016-05-02 15:29] lcd047 commented on #814
I genuinely believe most people who use both `syntastic` and `vim-go` do that mainly because they are using a canned Vim environment like [spf13](https://github.com/spf13/spf13-vim) which came pre-packaged with syntastic.  Anyway, I posted an informal request for comments [here](https://github.com/scrooloose/syntastic/issues/1759).  I can make s similar post here if that's fine with you.

[2016-05-02 16:04] lcd047 opened #833 "OT: dropping support for Go from syntastic"
Hi, I'm the maintainer of the [syntastic](https://github.com/scrooloose/syntastic) plugin, and I'm currently considering dropping support for Go files from syntastic in favour of `vim-go`.  If you happen to use both syntastic and `vim-go`, and / or you have strong feelings about the Go checkers in syntastic, please make your point at the [syntastic tracker](https://github.com/scrooloose/syntastic/

[2016-05-02 17:46] akacase opened #835 "autocomplete fails on gorm package."
### Actual behavior

While using gorm (```"github.com/jinzhu/gorm"```), autocomplete (for this package) isn't functioning with neocomplete. The manual trigger (```C-x, C-o```) also does not function. Everything works with YCM.

```var DB *gorm.DB``` is a member of the main package and is globally accessible, when typing DB and then ".", completion doesn't work for package members, only local.

![s

[2016-05-02 18:25] fatih commented on #835
Hi @akacase

You need to `go install` your package, otherwise `gocode`, the underlying completion tool doesn't work. Thanks for opening!

[2016-05-02 18:25] #835 closed

[2016-05-02 21:17] akacase commented on #835
@fatih, heads up. It was my Godep folder, once removed, it started completing again.

[2016-05-04 11:28] Marneus68 opened #837 "Unabled to get completion when pressing <C-x> and <C-o>"
### Actual Behavior

Whlile trying to get completion working on vim using vim-go I get the following outputs when entering <C-x> and <C-o> :

`-- (insert) --`

`-- ^X mode (^J^D^E^F^I^K^L^N^O^Ps^U^V^Y)`

Unlike in the demonstration videos and gifs, I see no contextual completion window popping up.

### Configuration

I'm running vim on Arch Linux.

My `vim --version` outpupt is the following:

[co

[2016-05-04 11:43] fatih commented on #837
Hi @Marneus68

Did you installed `gocode`? Also where do you call it? For example do you call it after the dot of a `fmt.` string?

[2016-05-04 11:50] Marneus68 commented on #837
I do have `gocode` installed in `$GOPATH/bin`. I do have `$GOPATH/bin` in my path too!

I also forgot to mention that I use fish and have applied all specific configuration mentioned [here](https://github.com/fatih/vim-go/wiki/FAQ-Troubleshooting#im-using-fish-shell-but-have-some-problems-using-vim-go) in my `.vimrc` and `fish.config`.

[2016-05-04 11:58] fatih commented on #837
Seems like it's a wrong usage. The error message in case of a `<c-x> <c-o>` usage is `"Pattern not found"` for a Go file. Can you please try it with a minimalistic vimrc and bash? After that use minimalistic vimrc and fish. I'm not sure what the problem here is. Can you just test it with `vim-go` installed, minimal vimrc and bash first please ?

[2016-05-04 12:01] Marneus68 commented on #837
I'm going to try it out with minimalistic configurations files. Maybe it's something specific to fish. I'll keep you posted if it's something important.

[2016-05-04 14:41] Marneus68 commented on #837
I don't exactly know how, but I fixed it. Sorry of the inconvenience and thanks for your help and your time on this great project.

[2016-05-04 14:41] #837 closed

[2016-05-04 14:42] fatih commented on #837
No worries, great that you fixed it :)

[2016-05-05 16:49] jdubya80 commented on #214
This is happening to me.  This issue is closed... should I re-open it or is create a new issue?

Error:
[code]

OS X El Capitan 10.11.2

[code]

vim-go: 6e1072e78c06eac707a5eb8b20b8362c803857a6

[2016-05-06 20:16] supermarin commented on #809
@fatih FWIW my code is beneath $GOPATH

[2016-05-07 10:11] vrischmann opened #839 "Executing :GoFmt or :GoImports does not work on Windows"
### Actual behavior

Just updated vim-go on my windows machine, and looks like I can't execute any commands (I didn't test everything, just GoFmt and GoImports).

This is the error I get:

    Error detected while processing function go#fmt#Format..go#path#CheckBinPath:
    line   17:
    E117: Unknown function: exepath
    E15: Invalid expression: exepath(binpath)

I confirmed that it works befor

[2016-05-07 13:58] #839 closed

[2016-05-07 13:58] fatih commented on #839
Thanks @vrischmann 👍 . Fixed it back.

[2016-05-08 10:33] fatih commented on #833
Thanks @lcd047 for opening the issue. Seems like you decided to completely turn off the checkers for Go with this commit: https://github.com/scrooloose/syntastic/commit/f280ff22207ffcddaabc8557d32ceaae03aa3975

And on vim-go side we improved the Readme that contains to use quickfix:
https://github.com/fatih/vim-go/commit/5a846f35835656c52b0d3c639922dc548885ed31

I'm closing this issue now as I bel

[2016-05-08 10:33] #833 closed

[2016-05-09 08:20] bl-nero opened #841 "vim-go stopped working for go 1.4"
### Actual behavior

I've updated vim-go, and it stopped working for me. It started complaining about missing binaries (guru), and it looks like I can't install them, because things like `imports go/constant: unrecognized import path "go/constant"`.

### Expected behavior

Being able to run vim-go in my environment.

### Steps to reproduce:

Please create a reproducible case of your problem. Re pr

[2016-05-09 12:21] fatih commented on #841
Hi @bl-nero

Vim-go works with Go 1.4, however seems like `guru` requires a higher version to be compiled. Here is a binary that I've compiled for you if you need it:

[guru-darwin-amd64.tar.gz](https://github.com/fatih/vim-go/files/254921/guru-darwin-amd64.tar.gz)

Put it somewhere where Vim-go can read it (i.e: PATH, GOBIN, etc..). You are also free to compile it with 1.6 and use it yourself. Th

[2016-05-09 12:21] #841 closed

[2016-05-09 13:28] rahmatawaludin opened #842 "why hf snippet not using http?"
### Actual behavior

I want to use `hf` snippet. Currently, it was set like this..

[code]

### Expected behavior

As I read many tutorial (like what I got from gopl.io), handler for http would look like this..

[code]

My question is, is this snippet without `http` is intentionally?

If not, should I make PR for this?

[2016-05-09 21:40] fatih commented on #842
Hi @rahmatawaludin

Good call. No it's not intentional, it should be a part of the `http` package. Happy to accept a PR if you make one ;)

[2016-05-09 23:31] Mehradzie commented on #457
I have set the Oracle scope and it worked (partially) but it seems it requires to kinda compile the project to get the results as I am receiving

`oracle: couldn't load packages due to errors: ...`

My project won't build without specific tags and all, is there a workaround for this ?

[2016-05-10 03:25] ljfuyuan opened #844 "why "gd" is do nothing?"
my english is so poor,sorry ^ ^!

when i press "gd", there is nothing happend

the vim-go version is 1.7,but last version doing this well...

i set the g:go_bin_path = $HOME."/vim-go/",and run ":GoInstallBinaries",the "goru" is exsited in go_bin_path

is there something wrong?

[2016-05-10 06:27] kevinburke commented on #833
It'd be nice to have docs around the easiest way to provide syntastic-like functionality, e.g. "to display errors on save in the quickfix menu, add the following to your .vimrc"

[2016-05-10 07:14] bon-ami opened #845 "Is it possible to get offline package for GoInstallBinaries?"
I am from China, so I cannot visit Google. I failed to install many binaries. Is there an easy way or at least practical way to install offline? I know I can download different binaries manually but I do not know what should I do with and where to put them. (I have way to connect with Google, but vim cannot.)
I am using Ubuntu and installed "golang" only. I suppose installing more would help.
Than

[2016-05-10 10:54] fatih commented on #457
Hi @Mehradzie

Yes, use `:GoGuruTags`, to define your own tags. Read the doc, it contains more info about it. Thanks.

[2016-05-10 10:54] fatih commented on #844
Do not set `go_bin_path`. Remove it please. Open you terminal and just write `guru`, if it's there it should work. Thanks!

[2016-05-10 10:54] #844 closed

[2016-05-10 11:00] fatih commented on #845
Hi @bon-ami

I'm not sure how to deal with it. There is no offline binaries unfortunately, because there are multiple OS's and it's not worth to provide precompiled binaries of all binaries. Maybe in the future we might provide it, but for now it's not a priority. It's also not actually a vim-go problem. Can you please ask your question to `goland-dev` mailing list?

Thanks

[2016-05-10 11:00] #845 closed

[2016-05-10 11:00] fatih commented on #842
Fixed with https://github.com/fatih/vim-go/issues/843

[2016-05-10 11:00] #842 closed

[2016-05-10 13:17] #122 closed

[2016-05-10 13:20] fatih commented on #122
This is now merged to master .Thanks again for @rhysd for his initial work 👍

[2016-05-11 02:02] jseaidou opened #848 "vim-go not showing GoFmt errors"
### Actual behavior
Normally when I save a file, vim-go will show the errors in the gutter, in airline etc ... but now I see nothing. If I run `GoFmt` manually I will actually see the following though:
[code]
### Expected behavior

vim-go should show errors in gutter and airline etc.
### Steps to reproduce:

Here's the vimrc I was able to create:
[code]
The vim bundles I have installed are:
[code]

[2016-05-11 07:50] AdoHe opened #849 "vim-go gets too slow on Linux when save changes."
### Actual behavior

Every time I use `:w` to save change, vim becomes quite slow, and it takes several minutes to complete the save process.

### Expected behavior

Write here what you're expecting ...

### Steps to reproduce:

Please create a reproducible case of your problem. Re produce it
with a minimal `vimrc` with all plugins disabled and only `vim-go`
enabled:

1.
2.
3.

### Configuration

[2016-05-11 08:45] fatih commented on #849
Hi @AdoHe

It's due syntastic. Check out the README to solve it: https://github.com/fatih/vim-go#using-with-syntastic

Thanks.

[2016-05-11 08:45] #849 closed

[2016-05-11 08:46] fatih commented on #848
Hi @jseaidou

vim-go doesn't have support for airline or gutter.

Thanks

[2016-05-11 08:46] #848 closed

[2016-05-11 12:07] sbinet opened #850 "hysteresis effect in `:w` -- saving takes a good while"
### Actual behavior
Saving a `.go` file with the `goimports` hook takes a while after having saved a few `.go` files multiple times (ie: at first, it takes a reasonnable time, but after having saved ~5-10 times a `.go` file, it builds up to ~5-10 **minutes**, even when only whitespace has been added.)

### Expected behavior
Saving a `.go` file shouldn't take ~5-10 minutes when hitting `:w`.

### S

[2016-05-11 12:07] sbinet commented on #850
@tbellembois, I believe you have the same issue.

[2016-05-11 12:13] fatih commented on #850
@sbinet can you remove please this line from your vimrc:

[code]

Also be sure you configured `syntastic` correctly if you have installed it. From the virmc it seems like you don't have it, but I'll ask again to be sure :)

Other than this there shouldn't be a problem on vim-go side. I've just tried and it works without any problem. I would definitely catch it as I'm using it for 5-6 hours daily.

[2016-05-11 12:19] sbinet commented on #850
no, I don't have `syntastic`.
and, yes, commenting out the `GoImports` line seems to prevent the hysteresis effect to build up.

replacing it with:
[code]

fixed everything.

Thanks for the prompt support :)

[2016-05-11 12:19] #850 closed

[2016-05-11 12:24] tbellembois commented on #850
Thanks a lot ! I had the same problem. Even with `syntastic` it works like a charm !

[2016-05-11 15:57] jseaidou commented on #848
@fatih It might not support them but it is also not giving the errors it should when its supposed to run `gofmt` on save there are still no errors showing up until I manually run it

[2016-05-11 19:18] jefferai commented on #814
I apologize for commenting on a closed issue, but as a casual user that is not using a canned environment but has used vim-go and syntastic together for their various strengths, what is the best way forward here for someone that really likes having errors displayed for me on save?

[2016-05-11 19:24] lorin commented on #814
@jefferai Adding this to your vimrc file will do the trick:

[code]

This is documented in the README.

[2016-05-11 21:33] jefferai commented on #814
@lorin it didn't work for me. I didn't know if that's because it's old information or just...didn't work.

[2016-05-11 21:36] jefferai commented on #814
I figured that it was just "old information" which is why I posted here.

[2016-05-12 02:55] aletheia7 opened #851 "GoDef returns "vim-go: guru no object for identifier""
### Actual behavior

Put cursor on a func such as zmq4.NewSocket(zmq4.ROUTER) and type :GoDef.

### Expected behavior

vim would open a new window just like it does for log.Println().

### Steps to reproduce:

Please create a reproducible case of your problem. Re produce it
with a minimal `vimrc` with all plugins disabled and only `vim-go`
enabled:

1. Create a go test program using the following

[2016-05-12 23:10] thiberaw opened #852 "open the Godoc in browser"
Cursor is under **package**  keyword and I _\<leader\>gb_
The browser opens at [https://godoc.org/package#](https://godoc.org/package#) instead of [https://godoc.org/?q=package](https://godoc.org/?q=package) so I get to a Not Found Page.

[2016-05-13 00:25] DAddYE commented on #848
@fatih same issue here but other than that doesn't even show any errors like syntax or wrong variable names etc...

[2016-05-13 00:43] bradleyfalzon commented on #848
The change is likely due to this recent update in syntastic: https://github.com/scrooloose/syntastic/commit/f280ff22207ffcddaabc8557d32ceaae03aa3975

To enable Syntastic with Go, add this to your vimrc:

[code]

See if that resolves the issue, else it may have been unrelated.

[2016-05-13 00:45] DAddYE commented on #848
@bradleyfalzon I tried with:

[code]

Still same issue

[2016-05-13 00:48] DAddYE commented on #848
Oh, for me the issue was this line in my .vimrc:

[code]

[2016-05-13 00:48] bradleyfalzon commented on #848
Not sure then possibly also caused by `let g:syntastic_mode_map = { 'mode': 'active', 'passive_filetypes': ['go'] }`

[2016-05-13 01:28] jseaidou commented on #848
@bradleyfalzon was right, but I added this:

[code]

[2016-05-13 02:39] jzila opened #853 "GoDef doesn't work when there are build tags"
### Actual behavior

I'm in a file with a build tag, attempting to `:GoDef` on a symbol defined in a _different_ file with that same build tag. This results in the following error message:
[code]

### Expected behavior

I'm taken to the definition.

### Steps to reproduce:

1. Create "foo.go":
[code]
2. Create "bar.go":
[code]
3. On the symbol `foo` in `bar.go`, attempt to `:GoDef`.

### Configura

[2016-05-13 08:48] sillyousu commented on #853
Have you set the build tags?
https://github.com/fatih/vim-go/blob/master/doc/vim-go.txt#L565

[2016-05-13 08:49] fatih commented on #853
HI @jzila

You have to pass your build tags  via `:GoGuruTags` or the variable `g:go_guru_tags` because guru expects them. Checkout the docs please fore more info:

Unfortunately this is the way `guru` works. Maybe we can parse the first line of the package and add the tags ourself automatically. Can you open an issue for `guru` issue tracker (https://github.com/golang/go/issues)  to ask whether t

[2016-05-13 08:50] fatih commented on #852
@thiberaw please give more information. What is `<leader>gb` doing?

[2016-05-13 12:22] thiberaw commented on #852
@fatih :open the Godoc in browser

[2016-05-13 12:24] fatih commented on #852
@thiberaw please reopen the issue according to the [template issue](https://github.com/fatih/vim-go/blob/master/.github/ISSUE_TEMPLATE.md) , this doesn't help me unfortunately. Thanks.

[2016-05-13 12:24] #852 closed

[2016-05-13 12:25] thiberaw commented on #852
ok, I will reopen this tonight

[2016-05-13 23:37] jzila commented on #853
Thanks for the quick responses! I suspect the golang people will say that it's not go-like to try to guess the tags. This is especially true when there could be an ambiguity, for example when build tags are used to implement the same functionality on multiple systems (+build windows, +build linux).

I'll try to hack around to see if there's a way to parse them.

P.S. Amazing work on vim-go, @fatih

[2016-05-14 10:00] fatih commented on #853
Thanks for the response @jzila Closing this as there is already a solution to this (`:GoGuruTags`).

[2016-05-14 10:00] #853 closed

[2016-05-14 20:07] fatih commented on #851
Hi @aletheia7. That's because probably of cgo and how guru finds them. There is not much I can do on vim-go because the underlying `guru` can't find these. Please open an issue on https://github.com/golang/go/issues to get more information. Thanks

[2016-05-14 20:07] #851 closed

[2016-05-14 20:21] fatih commented on #766
There is no help or documentation for FZF. Seems like there is not plugin feature like we have in ctrlp. And because I'm not using it I don't have time to implement this myself from scratch. I'm open to contributions. Thanks.

[2016-05-14 20:21] #766 closed

[2016-05-14 22:43] #351 closed

[2016-05-14 22:44] fatih commented on #351
This is finally closes after a long time. Give it a try and let me know how it works. Just pull the latest master and you're good to go.

[2016-05-15 10:35] fatih commented on #371
This seems like to work again with some of the refactor changes we made recently. Closing it back.

[2016-05-15 10:35] #371 closed

[2016-05-15 10:46] fatih commented on #211
I'm closing this because CGO errors are not Go errors and needs to be handled outside this plugin. I'm not using CGO, also when you look at how the Go developers seeing CGO as no-go for applications I see no value investing time into something that will be eventually not used much in the future. It'll be 1.5 years and no comment was made to this issue as well, which shows how less this is a concer

[2016-05-15 10:46] #211 closed

[2016-05-15 10:55] fatih commented on #639
I'm closing this based on my comment here: https://github.com/fatih/vim-go/issues/211#issuecomment-219278089 I also couldn't check out the given file as it doesn't exists anymore. If it's a really big problem for a daily Go workflow, please reopen a new issue with the new Template and provide a reproducible test case. Thanks.

[2016-05-15 10:55] #639 closed

[2016-05-15 11:34] #815 closed

[2016-05-15 11:35] fatih commented on #815
Hi @alienth . This is now implemented on latest master. Just pull it to use. It'll be a part of the upcoming release. Thanks!

[2016-05-16 08:07] umitkablan opened #857 "Windows GVim File Path Issue"
### Actual behavior

When run :GoMetalinter:

|| WARNING: failed to execute linter errcheck -abspath .: chdir C:UsersUmitkSRCGosrctutorialhello_world: The system cannot find the file specified.
|| WARNING: failed to execute linter golint -min_confidence 0.800000 .: chdir C:UsersUmitkSRCGosrctutorialhello_world: The system cannot find the file specified.
|| WARNING: failed to execute linter go tool

[2016-05-16 08:46] fatih commented on #857
Hi @umitkablan

This error is not coming from vim-go:

[code]

Seems like it's coming straight from gometalinter. Can you please try it a with a minimal vimrc setup, and use only vim-go without any plugins.

Thanks

[2016-05-16 19:21] gerep opened #858 "Failed to run GoUpdateBinaries command"
### Actual behavior

When running `GoUpdateBinaries` I guest this error:

[code]

### Steps to reproduce:

Run `GoUpdateBinaries`

### Configuration

* `vimrc` you used to reproduce
[code]

* vim version: `VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Mar 31 2015 23:35:48)`
* vim-go version `1.6`
* go version `go version go1.5.3 linux/amd64`

[2016-05-16 20:29] fatih commented on #858
Hi @gerep

Can you please run it from terminal:

[code]

You'll see it errors. It's because it needs `Go 1.6`. Thanks!

[2016-05-16 20:29] #858 closed

[2016-05-16 20:33] gerep commented on #858
@fatih thanks a lot! I'll update it

[2016-05-17 00:29] aletheia7 commented on #851
Thank you.

[2016-05-17 07:49] umitkablan commented on #857
Hi @fatih,

I suspected your generic suggestion and started digging the code and come up with a pragmatic solution for [[ movement:

diff --git a/autoload/go/textobj.vim b/autoload/go/textobj.vim
index 1901d06..e53d24e 100644
--- a/autoload/go/textobj.vim
+++ b/autoload/go/textobj.vim
@@ -116,7 +116,7 @@ function! go#textobj#FunctionJump(mode, direction)
     return
   endif

-  let command = prin

[2016-05-17 11:20] fatih opened #859 ":GoCoverage does return SUCCESS if no test files exists"
It should either assume the coverage is `0` or we should echo an error that :GoCoverage can't be run because there is no test files.

[2016-05-17 14:24] briantigerchow opened #860 "Build errors no longer appear in the left gutter"
### Actual behavior

After updating vim-go recently, build errors no longer appear in the gutter. They only appear in the quick fix window.

### Expected behavior

Previously, errors would show up in the gutter on the lines where they occur. Did this become an opt-in option?

### Configuration

Add here your current configuration and additional information that might be
useful, such as:

* vim ver

[2016-05-17 14:27] briantigerchow commented on #860
Turns out it is caused by a recent change to syntastic. Sorry for the confusion.

https://github.com/fatih/vim-go/issues/848#issuecomment-218924693

[2016-05-17 14:27] #860 closed

[2016-05-18 12:47] fatih commented on #857
@umitkablan I'm still not sure what the problem is. Your first issue doesn't mention anything `textobj` related. Can you give please more details?

[2016-05-18 14:25] umitkablan commented on #857
@fatih sorry if my question was buried in the details but I was mainly distracted by :GoMetalinter complaining about filepath cannot be located. It was clear that file path seperator (which is backslash in windows) is missing in the path. See my original question: `C:UsersUmitkSRCGosrctutorialhello_world `should be `C:\Users\Umitk\SRC\Go\src\tutorial\hello_world`

Simply said: plugin execs the exe

[2016-05-18 20:21] fatih commented on #857
Thanks @umitkablan, can you please test the following PR: https://github.com/fatih/vim-go/pull/862 It escapes the arguments if none is passed and seems like it solves your problem. Let me know how it works for you.

[2016-05-19 13:24] SpComb opened #863 ":GoCoverage highlight colors broken on xterm"
### Actual behavior

Running vim on a remote machine over SSH from an Ubuntu laptop's xterm or gnome-terminal:

![20160519-vim-go-coverage-xterm-editing](https://cloud.githubusercontent.com/assets/3950373/15394749/6112f4e6-1ddd-11e6-91a1-29976cb4d8a3.png)

Using  `:GoCoverage` to highlight covered/uncovered lines in a trivial `.go` file, all syntax highlighting for the file disappears:

![20160519

[2016-05-20 06:12] umitkablan commented on #857
Yes it worked @fatih, but we still need a treatment for [[ motion, like:

`diff --git a/autoload/go/textobj.vim b/autoload/go/textobj.vim
index 1901d06..e53d24e 100644
--- a/autoload/go/textobj.vim
+++ b/autoload/go/textobj.vim
@@ -116,7 +116,7 @@ function! go#textobj#FunctionJump(mode, direction)
     return
   endif

-  let command = printf("%s -format vim -file %s -offset %s", bin_path, fname,

[2016-05-20 13:47] marcopeereboom opened #865 "feature request: don't open file with syntax error in current tab if file is open in other tab"
### Actual behavior

I have go-install mapped to `m` so with `,m` code is saves and installs program I am working on.  If there is a compilation error then the error is displayed.  So far so good but, I really want the error to be displayed in the tab where that file is already open (if that's the case of course).  I tend to end up typing :e# all day long because of this.
### Expected behavior

Op

[2016-05-20 21:01] ashb opened #867 ":GoRename with cgo can't find indentifiers"
### Actual behavior

Edit a file with `import "C"` and try to use the `:GoRename` command. I get an error:

[code]

### Expected behavior

It works without error and renames the file

### Steps to reproduce:

Sample file:

[code]

1. Place the cusor on foo
2. Run `:GoRename foo2`

I also found a *really* odd case where my .go file was replaced with the mangled version produced by cgo, removing my

[2016-05-20 21:04] ashb commented on #221
My vim-go was previously ~9 months out of date -- I can't reproduce this one anymore. :+1:

[2016-05-21 15:25] tsne opened #868 "Error executing :GoDef with tcsh"
### Actual behavior

I'm using tcsh as my default shell and every time I execute `:GoDef`, I get the following error:

    Error detected while processing function go#def#Jump[18]..go#util#System:
    E484: Can't open file /var/folders/gy/y60619bd0t95zcxs326y1f8r0000gn/T/vufGvHW/0

### Expected behavior

I would expect that the cursor jumps to the definition of the method or type.

### Steps to re

[2016-05-21 22:24] #857 closed

[2016-05-21 22:24] fatih commented on #857
Thanks @umitkablan I've also added those fixes to the motions. It's merged to master.

[2016-05-21 22:30] #868 closed

[2016-05-21 22:31] fatih commented on #868
Hi @tsne

Thanks for your feedback. Vim needs a POSIX compatible shell actually. I'm not sure if that is true for your case, but check out these instructions as well: https://github.com/fatih/vim-go/wiki/FAQ-Troubleshooting#im-using-fish-shell-but-have-some-problems-using-vim-go

According to your solution, that would be an improvement probably.  I've pushed it to master as well, let me know if th

[2016-05-21 22:42] fatih commented on #867
Hi @ashb

Unfortunately this is due the underlying tool `gorename`. I've just tried myself from the terminal with the following command (I've saved your file as `demo.go`):

[code]

And it gives the error:

[code]

Can you please open an issue for gorename under https://github.com/golang/go/issues, with my command above (you also can test it yourself to make sure it really doesn't work). Thanks!

[2016-05-21 22:42] #867 closed

[2016-05-21 22:50] #863 closed

[2016-05-21 22:51] fatih commented on #863
Hi @SpComb

Thanks for the feedback. I've pushed the fix to master as you said. It's due xterm and vim problems (check out `:help ctermfg` for more info).

[2016-05-21 23:33] tsne commented on #868
Hi @fatih

thank you very much for pushing the change to the master. I played a little bit with `:GoDef` and it seems to work now.

Actually I would like to avoid switching the shell for Vim. All the features I use are working so far. If there are any major problems in the future which are not fixable that easily, maybe I will consider configuring another shell. Thanks for the information.

[2016-05-22 17:45] xDinomode opened #870 "vim.go: $GOPATH is not set"
### Actual behavior

When I run :GoInstallBinaries I get:

but it is set because in the terminal I run $GOPATH and get /home/dino/work: Is a directory

and I've googled everything from putting that path in my .bashrc and every other dumb place linux sets its variables

BTW: I installed this by installing Vundle which I've never used.

### Expected behavior

To work

[2016-05-22 17:50] fatih commented on #870
This is not a vim-go problem. Be sure you really have set up your `GOPATH` and VIM can pick it up. I suggest to ask it to your OS forums or in IRC. Thanks.

[2016-05-22 17:50] #870 closed

[2016-05-22 17:52] xDinomode commented on #870
Nah Il;l just uninstall your crap

[2016-05-22 17:53] fatih commented on #870
Go ahead Troll, I don't care ;)

[2016-05-22 19:17] PenguWin commented on #775
I have the same error like above everytime a vim-go command gets called.
Unfortunately reinstalling vim completely hasn't fixed the error for me.
The issue doesn't appear in the bash shell but in zsh it keeps to appear.

- Vim version 7.4
- OSX 10.11.5
- Go Version 1.6.2 darwin/amd64

[2016-05-22 20:36] ashb commented on #867
Thanks - have done!

[2016-05-23 10:51] timfayz opened #871 "Can't install gogetdoc using :GoInstallBinaries"
I'm trying to make vim-go work properly, but I stack at GoInstallBinaries step.

### Steps to reproduce:
1. Add line `Plug 'fatih/vim-go'`
2. Run `:PlugInstall` using vim-go plugin installer
3. Run `:GoInstallBinaries`

* vim version -  7.4
* vim-go version  - master branch
* go version - 1.6.2

Here are the error after running `:GoInstallBinaries`:
[code]

**UPDATE**

After updating Go to the lat

[2016-05-23 11:07] umitkablan opened #872 "Windows GVim :GoCallers Problem"
Hi @fatih,

I came up with another path backslash problem and a toy/raw solution for :GoCallers command.

[code]

I wish it will help you to solve the issue in a more elegant way.

Best,

[2016-05-23 12:41] timfayz commented on #871
**SOLVED**

It was needed to add `$GOPATH/bin` directory to `$PATH` variable.

[code]

[2016-05-23 12:41] #871 closed

[2016-05-26 11:57] fatih opened #873 "godef doesn't work for modified files"
We need to pass the current modified file as a content or use the `-modified` flag of `guru`.

[2016-05-26 22:49] tsne commented on #859
Hi,

how about adding the `-o` flag to `go test` and check if a binary was created or not? If there are no test files, no binary will be created. In this case we can print a message in the `go#cmd#Test` function.
For the coverage it is basically the same. We could check if the profile file was written.

[2016-05-27 17:14] vort3x opened #874 "feature request: GoBuildAll"
Would be nice to add **:GoBuildAll** command which will recursively build all underlying packages.

[2016-05-29 12:07] vaidik opened #875 "GoXXX commands not working"
### Actual behavior

None of the GoXXX commands other than the binary commands work.

### Expected behavior

All GoXXX commands work or at least appear as available options.

### Steps to reproduce:

Just followed the steps as in the README. Even with a pristine Vim configuration and Vundle plugin, it doesn't seem to work for me for some reason.

[2016-05-29 12:38] boomlinde commented on #875
Same here. In addition, `gd` seems not to work. gofmt at save works fine. Vim 7.4, latest vim-go (e9f44d933e38bf3193ac5cce15f08fdc7e54814b)

[2016-05-29 13:22] boomlinde commented on #875
@vaidik, see if #295 helps. For me, setting the shell to /bin/sh helped, and I can now use the GoXXX commands.

[2016-05-30 15:53] kevinburke opened #876 "Replicate Syntastic behavior, or, easier go build"
Hi,
Per the README, I've disabled Syntastic's error checking on my Go code. I mapped the following keyboard shortcut to `GoBuild`:

[code]

Previously I tried building on BufWritePre and BufWritePost, but those would occasionally require two saves to clear the errorlist.

If I run `GoBuild` while a test file has build errors, vim-go immediately reports SUCCESS instead of pointing out the build fai

[2016-05-30 20:40] xh3b4sd commented on #502
Is there any progress on this issue? I am hitting this over and over again.

[2016-05-31 09:30] oryband commented on #502
Update: I've switched to [vim-autoformat](https://github.com/Chiel92/vim-autoformat), which takes care of code formatting for various languages, go included. It works ok there. Give it a try.

add this to your `.vimrc` to only use gofmt without goimports:
[code]

[2016-05-31 10:11] fatih commented on #502
@xh3b4sd folds are saved if you enable experimental mode with `let g:go_fmt_experimental = 1`

@oryband your plugin uses python to format the code. I'm explicitly not using any binding (ruby, lua, python, etc..) for compatibility. We only use pure vimscrirpt and so far it's all good. But we have an open issue to provide a python based formatter as an additional feature for those who wish it.

[2016-05-31 16:11] kevinburke opened #877 "Dropped from location list (nonvalid filename)"
### Actual behavior

When I run a test with a failure, I get the following message:

 Dropped "/Users/burke/code/go/src/github.com/Shyp/rickover/test/server/test-tools.go" from location list (nonvalid filename)vim-go: --- FAIL: TestFailedUnretryableAr
chivesJob (0.01s)

### Expected behavior

I expect to see a normal "test failed" message with details about the failure.

### Steps to reproduce:

P

[2016-06-01 20:24] fatih commented on #872
Thanks @umitkablan for the report. What exactly is this solving? I assume GoCallers is not working well because it can't return correct paths?

[2016-06-01 20:39] fatih commented on #876
Hi @kevinburke

We have two commands to get compile errors, one is being `:GoBuild` and second `:GoTestCompile` which you're using already. It's compassable and you can assigned them to anything (checkout the readme under the section mappings)

However we do not have automatic build on save feature. In long term I'm not thinking to add it, but I'm working on vim 8.0 integration, which provides asy

[2016-06-01 20:41] fatih commented on #877
Hi @kevinburke

Can you please provide the test output from your terminal without using `vim-go` at all? I think it's because you're using a non Go standard test suite? We only support `go test`  and the `testing` package.

[2016-06-01 21:09] fatih commented on #876
Alright `:GoTestCompile` doesn't create any binary anymore if you pull the latest master. For the other feature, as I said that's a future work.

[2016-06-01 22:24] HakShak commented on #872
Basically you get the "-1" problem because it can't match anything due to the escape sequence and the slash direction.

How would I "log" the results of this function? (Never done any vim plugin work)

[2016-06-01 23:08] kevinburke commented on #877
@fatih - here's what I get when I run `go test ./test/services` (I removed some irrelevant console output from the run code)

[code]

This is test-tools.go: https://github.com/Shyp/rickover/blob/master/test/test-tools.go, or the package of assertions here: https://godoc.org/github.com/Shyp/rickover/test

We're still using `t.Fatal` and company, just calling them from a helper method.

[2016-06-01 23:08] kevinburke commented on #877
(this is also the approach taken by the Boulder project: github.com/letsencrypt/boulder)

[2016-06-02 03:25] nhooyr opened #880 "add missing mappings to vim docs and create some more mappings"
Noticed that a few mappings such as `<go-import>` and `<go-imports>` are missing from the vim docs.

I also noticed that we are missing a `:GoDrop` mapping or a `:GoFmt` mapping.

[2016-06-02 15:27] umitkablan commented on #872
Hi @fatih,
Sorry for the late response - just saw your comment.

When I do :GoCallers  I get
    vim-go: current directory is not inside of a valid GOPATH

And after digging inside I sketched out such a solution to help you reason about the solution.

Actually as far as I used today, you had vimproc awareness in the plugin and thought you are going to that direction in order to avoid such platform

[2016-06-02 20:09] fatih commented on #877
[code]

This is not a valid `testing` package. Which file belongs it to? `test-tools.go` or  `status_callback_test.go`? That's the error itself.

[2016-06-02 20:26] fatih commented on #880
Thanks @nhooyr

Fixed with https://github.com/fatih/vim-go/commit/acb2d8c91d94a383b68a429273c2f51d11a2d242

I don't think we should add mappings for both :GoFmt or :GoDrop. First one is always used with autosave and the second is barely used anymore because of `goimports` thanks.

[2016-06-02 20:26] #880 closed

[2016-06-02 20:36] fatih commented on #859
My fix is wrong, reverting :)

[2016-06-02 20:37] fatih commented on #859
@tsne that sounds like a good plan to tackle. Or we just can check if there is any `_test.go` and abort  if there is any.

[2016-06-02 20:55] #859 closed

[2016-06-02 20:57] fatih commented on #859
@tsne this is now fixed. We just check if there is any _test.go files and abort. Let me know if it doesn't work for you :)

[2016-06-02 21:15] nhooyr commented on #876
@fatih not directly related to this but I remember you saying you would drop neovim support when vim would become async. Are you going to or will you leave it?

[2016-06-03 06:37] umitkablan commented on #872
And I experimented more with newly added vimproc-utilized system runs.
When I have let `g:go#use_vimproc = 0` in my vimrc the above patch is enough to GoCallers successfully. But when I `let g:go#use_vimproc = 1` enabled then I need additional patch:
[code]
Which makes me think vimproc needs forward slashes to work correctly independent of OS.

[2016-06-03 12:47] tsne commented on #859
Hi @fatih.

The fix works fine for me. Thank you.

[2016-06-03 16:20] kevinburke commented on #877
It comes from here: https://github.com/Shyp/rickover/blob/master/test/test-tools.go#L62-L67. As I understand it, any test where the `t.Fatal` or the `t.Error` is not generated in the function body will have this problem.

(we use that helper because a lot of team members aren't super familiar with Go, so I wanted to make testing a little more familiar/friendly)

[2016-06-03 17:27] tsne commented on #877
That is not completely correct. If `t.Fatal` or `t.Error` are called from another function and this function replaces the output by the position of the call, then it should work correctly.

If you want to implement it that way, you can have a look at facebook's [ensure](https://github.com/facebookgo/ensure).

[2016-06-03 18:45] fatih commented on #877
I'm closing this as this is really not a vim-go problem. We don't support third party wrappers or anything else. The errorformat is strict and that means we only support the `testing` packages errorformat. Thanks.

[2016-06-03 18:45] #877 closed

[2016-06-03 19:08] fatih commented on #875
It's because of wrong installation. The `GoXXX...` commands show up if the plugin is installed correctly. Please double check your installation. Thanks!

[2016-06-03 19:08] #875 closed

[2016-06-03 19:21] fatih commented on #876
@nhooyr there is still plenty of time we have support for Vim, and even if we had it, neovim support will stay for a time. I'm still using Neovim too. So for now I'll leave it.

[2016-06-03 21:31] ae6rt opened #884 "vim-go requires vim-enhanced on Fedora 23"
I discovered that vim-go wants vim-enhanced on Fedora 23, vs vim-minimal.  The latter was what was installed out of the box.  Maybe it's worth pointing this out in the docs?  Or maybe I missed it?

Many thanks for vim-go.

[2016-06-04 01:08] sigmap commented on #668
add this to your `.bash_profile`
[code]
You might need to change `$USER` and adjust for x86 if you're not using x64.
Compiles will go to `$GOPATH/bin`
That should help.

[source](http://dimig.ga/2016/01/27/cygwin-go/)

[2016-06-04 03:44] tidezyc opened #885 "completion problem when cursor at **"
when cursor at char of `**` in a `.go` file, I get error shown this:
<img width="617" alt="screen shot 2016-06-04 at 11 28 25" src="https://cloud.githubusercontent.com/assets/1592766/15797406/76034ec8-2a49-11e6-9e9a-7bf4283f9a0f.png">
 how can I fix this!
 thx

[2016-06-04 11:32] tsne commented on #874
Can't we use `:GoBuild ./...` here?

[2016-06-05 17:04] apriendeau opened #886 "Syntastic Inline error gutter markers"
### Actual behavior

I no longer can receive gutter markers in Neovim or Vim when I save a file and there is a build error.

### Expected behavior

I use to receive gutter markers showing the line where the build occurred not just a quick-list after saving a file.

### Steps to reproduce:

Please create a reproducible case of your problem. Re produce it
with a minimal `vimrc` with all plugins disa

[2016-06-05 22:38] bradleyfalzon commented on #886
Your vimrc configuration suggests that go checks are only performed using the `golint`, `govet` and `errcheck` commands, and not `go` (`go` runs `go build`, provides Syntastic the information on where the errors are). This configuration is usually used when building on each save is too slow and not required. Running `:SyntasticCheck` should probably show you your build errors.

But recently Syntas

[2016-06-05 23:05] apriendeau commented on #886
So you answer was in combination of removing those lines and adding `go` to the checkers in the file.

So I removed the second line and modified the first line to be:
`let g:syntastic_go_checkers = ['govet', 'errcheck', 'go']`

[2016-06-05 23:05] #886 closed

[2016-06-06 05:20] mahendrakariya commented on #791
Faced the same issue with latest VIM.
[code]

Downgrading to v7.4.1589 works fine.

[2016-06-06 07:39] vort3x commented on #874
If you run :GoBuild ./... from main package - then yes, but if you want to run :GoBuild ./... from sub-package (helpers) and have problem in main.go file, it won't catch it.

[2016-06-06 07:51] mrnugget commented on #859
I think this change breaks the expected behaviour when running `:GoTest ./...`. I often open Vim from the root directory of a project, in which several subdirectories are Go packages. Running `go test ./...` in the root runs every test in every subdirectory -- even if no test files exist in the root directory.

This change breaks the documented behaviour of `:GoTest` with `./...` as argument. It c

[2016-06-06 14:33] sduchesneau opened #887 "add support for GoDef call instead of go guru"
### Actual behavior
Go Guru is used for "GoDef" or "gd" to jump to definition by default.

### Expected behavior
Have config parameter to use "godef", which is faster in most circumstances.

### Steps to reproduce:

open a go project
put cursor on a function
type ":GoDef"
wait for go guru to do its thing....

Let me know if you need any more info!
Running both in parallel and getting the fastest r

[2016-06-06 16:19] fatih commented on #859
@mrnugget good point. I'll change the check so it only covers `:GoCoverage`

[2016-06-06 16:44] marcosnils commented on #887
Is running both in parallel the best alternative?. Or maybe just allow to switch between one and the other one?

[2016-06-06 21:28] fatih commented on #859
@mrnugget This is now fixed in master. Thanks for the feedback.

[2016-06-06 21:50] fatih commented on #884
Hi @ae6rt

What is the difference between vim-enhanced and vim-minimal? I'm not sure why it either depends as I've heard these packages the first time. I'm not using Fedora. vim-go only depends on certain binaries which are already state in the Readme. Besides that it doesn't have any other dependencies and should just work. If you give more specific details I'm more than happy to improve the Read

[2016-06-06 21:50] #884 closed

[2016-06-06 21:51] fatih commented on #885
@tidezyc please reopen the issue with the issues template. Unfortunately you didn't answer those questions and I don't have zero information what you're using, what you did, etc.. Thanks!

[2016-06-06 21:51] #885 closed

[2016-06-06 21:52] fatih commented on #874
@tsne I think the problem is that `:GoBuild ./...` is not working. I'm checking it now.

[2016-06-06 21:54] fatih commented on #874
Just tested it and `:GoBuild ./...` with latest vim does indeed work. I'm closing this. @vort3x feel free to comment on this if you think it's wrong. But the command works fine. Thanks!

[2016-06-06 21:54] #874 closed

[2016-06-06 22:23] meowgorithm opened #889 "Syntastic integration not working"
### Actual behavior

Syntastic (say, `:SyntasticCheck`) no longer reports errors. `:GoVet` and `:GoLint` still report as normal.

### Expected behavior

`:SyntasticCheck` normally highlights and outlines errors. `:SyntasticInfo` reads:

    Syntastic version: 3.7.0-144 (Vim 704, Darwin)
    Info for filetype: go
    Global mode: active
    Filetype go is active
    The current file will be checked

[2016-06-06 22:24] #887 closed

[2016-06-06 22:25] fatih commented on #887
I always prefer simple and well known solutions, so there will be no such parallel calling. Beside that currently Vim doesn't have a way to call things in parallel, even with vim 8.0 with it's async jobs, I think it's not worth to implement concurrent callings of the same problem just to gain milliseconds, because vim itself is already single threaded.

The feature is now merged to master. You can

[2016-06-06 22:26] fatih commented on #889
Checkout https://github.com/fatih/vim-go/issues/886 and the Readme please. vim-go is not responsible for syntastic so there is not much I can  do. Thanks!

[2016-06-06 22:26] #889 closed

[2016-06-06 22:32] meowgorithm commented on #889
Ah, wonderful. Sorry about that. Wonderful work you've done with go-vim, by the way.

[2016-06-07 00:59] nhooyr opened #890 "doc and spelling errors"
`g:go_highlight_fields` and `g:go_highlight_structs`'s documentation is switched.

Also, `g:go_highlight_fields` is mistakenly spelled as `go:go_highlight_fields` in vim-go.txt and the changelog.

In fact it is incorrectly spelled in `syntax/go.vim`

[2016-06-07 04:27] mrnugget commented on #859
@fatih Thanks so much, that was fast :)

[2016-06-07 09:05] vort3x commented on #874
Ok, so it looks we have a misunderstanding here.

Steps to reproduce:
1. Prepare structure:
helpers/
   helpers.go
main.go

2. Write anything into main.go (shouldn't compile)
3. Go to helpers.go
4. Run :GoBuild ./... from helpers.go file

Expected result:
Build error in main.go.

Actual result:
Build success.

[2016-06-07 14:34] thrisp opened #891 "vim-go package is not inside GOPATH src"
### Actual behavior

No error checking after update to new.

:GoErrCheck returns

'vim-go package is not inside GOPATH src'

### Expected behavior

Automatic error checking on file save

### Steps to reproduce:

See that error checking isn't running automatically on save, run :GoErrCheck

### Configuration

just using go1.6

my config from using this for a while

"let g:go_autodetect_gopath = 0
le

[2016-06-07 20:34] #890 closed

[2016-06-07 20:34] fatih commented on #890
Thanks @nhooyr. The doc is fixed and the syntax file was fixed https://github.com/fatih/vim-go/pull/892

[2016-06-08 00:37] mattn opened #893 ":GoDoc flag doesn't work"
### Actual behavior

As far as I remember, `:GoDoc flag` works well. But says `vim-go: gogetdoc: no documentation found`

### Expected behavior

No use gogetdoc.

### Steps to reproduce:

Please create a reproducible case of your problem. Re produce it
with a minimal `vimrc` with all plugins disabled and only `vim-go`
enabled:

1. open some go file
2. `:GoDoc flag`

### Configuration

On windows,

[2016-06-08 21:58] tthanh commented on #734
I still have this issue
I try update latest goimports and vim-go but still have issue

Project structure

[code]

main.go
[code]
If I run `goimports -srcdir . main.go`, it import like normal:

[code]

[2016-06-09 09:04] Integralist opened #898 "Error Checker Doesn't Work"
### Actual behavior

I write invalid code, but go-vim doesn't pick it up unless I manually run `:GoErrCheck`.

### Expected behavior

I should write invalid code and when I write the buffer `:w` vim-go should automatically open up a pane to show me the errors in my code (especially considering I'm using the gometalinter for configuring multiple checkers)

I would expect errors to be highlighted th

[2016-06-09 15:51] ly-william commented on #344
@Wizmann How did you do to disable tabs ? Tried to remove the line of change it by `setlocal setexpandtab` but it doesn't seem to work for me.

[2016-06-09 21:59] bradleyfalzon commented on #898
See #848 and #896 for some discussions on this, as they maybe related.

[2016-06-10 07:24] Integralist commented on #898
Thanks @bradleyfalzon that did the trick :-)

https://github.com/Integralist/dotfiles/commit/83c03b0f850f8faf5800f936dc78c3b4b8745bee

[2016-06-10 07:24] #898 closed

[2016-06-10 15:05] samedson commented on #344
@fatih why force users to use tabs when many programmers prefer spaces? I have to edit vim-go to disable tabs, which is a huge pain because every time I update the plugin it gives me an error from of uncommitted changes (using Vundle). I would rather have a setting to use spaces instead, or allow my .vimrc to override the plugin (like any other normal vim plugin). The plugin should not override my

[2016-06-10 21:05] ricardoseriani commented on #734
I have this problem too (and even if I run goimports without the -srcdir . it will work)

[2016-06-10 21:11] fatih commented on #344
@samedson

gofmt is based on tabs. The whole Go community uses this formatting style for years. There is basically no space. Even though you go and use space, gofmt will reformat it with tabs. That's the only reason. The setting was there before I've started the `vim-go` project, it was an official setting from the core Go repo. Thanks for asking.

[2016-06-11 00:48] sir-wiggles opened #899 "GoCoverage fails with cannot find package '-coverprofile'"
### Actual behavior

Executing :GoCoverage causes the following error:

    vim-go: FAILEDvim-go: can't load package: package '-coverprofile': cannot find package "'-coverprofile'" in any of:

### Expected behavior

Coverage report to overlay buffer

### Steps to reproduce:
Minimal main.go

[code]
Minimal main_test.go

[code]

`:GoCoverage`

### Configuration

I can run coverage outside of vim jus

[2016-06-11 00:52] fatih commented on #899
Hi @sir-wiggles

Just discovered this myself too in `Neovim`. If you run it in `Vim` you'll see there is no problem. Must be something that was introduced with the latest version. I'll take a look at this. Thanks.

[2016-06-11 09:57] fatih commented on #874
@vort3x this is not possible and I don't think it's intended. You can change your `cd` into the folder of `main.go` and then execute `:GoBuild ./...`.

[2016-06-11 10:04] fatih commented on #891
Hi @thrisp

This is a normal error. Your package needs to be under `GOPATH`. This is not a vim-go limitation, it's an errcheck requirement, see: `https://github.com/kisielk/errcheck#use`

[2016-06-11 10:04] #891 closed

[2016-06-11 10:09] #893 closed

[2016-06-11 10:32] fatih commented on #899
Alright it's broken due this line:

https://github.com/fatih/vim-go/pull/869/files#diff-a3998a862a20bc1665a15c84f401349fR200

Not sure how to fix it without pulling it out. We only need to escape the file after `-coverprofile` , but not the flag itself. Checking now.

[2016-06-11 10:53] #899 closed

[2016-06-11 10:53] fatih commented on #899
The fix in master. Thanks for the feedback.

[2016-06-11 15:49] sir-wiggles commented on #899
Wow you're fast! I was taking my first dive into vim scripting with this and was WAY off. 😛

Thanks for the amazing work!

[2016-06-12 18:07] vort3x commented on #874
@fatih ok, still thanks!

[2016-06-12 23:04] FiloSottile opened #901 "Reinstall binaries when a GOROOT change is detected"
When GOROOT changes, for example if you simply upgrade Go with Homebrew, all binaries compiled with the old compiler will end up with a stale GOROOT. This is confusingly breaks tools like gocode.

Maybe vim-go could (suggest to?) rerun InstallBinaries when a GOROOT change is detected.

See also: https://blog.filippo.io/stale-goroot-and-gorebuild/

[2016-06-13 19:27] zachgersh opened #902 "Gofmt fails to find dependencies in the vendor directory"
### Actual behavior

I attempt to auto import `gopkg.in/yaml.v2` and instead I get nothing. Rolling back to v1.6 fixes the issue completely.

### Expected behavior

`gofmt` auto imports the file like before

### Steps to reproduce:

Please create a reproducible case of your problem. Re produce it
with a minimal `vimrc` with all plugins disabled and only `vim-go`
enabled:

1. Install vim-go latest

[2016-06-13 21:05] fatih commented on #902
Hi @zachgersh

`gofmt` doesn't auto import dependencies. Did you add the following line to your `vimrc`:

[code]

[2016-06-13 21:16] fatih commented on #901
Hi @FiloSottile

Thanks for the feedback. This seems like a very niche problem you have. I don't know how many people compile Go on daily basis, I assume it might be very very low?

I'm always open for new features and improving the user experience for vim-go. If this is something we can incorporate in an easy way and don't require a lot of maintenance in the future, I'm more than happy to add it.

[2016-06-13 21:27] FiloSottile commented on #901
Thanks for the response!

I'm afraid I didn't explain my case well, this happens every time a new version of Go is published for all Homebrew users, and it's incredibly hard to diagnose. Empirical evidence: http://www.reddit.com/r/golang/comments/4nss0v/stale_goroot_and_gorebuild/d46ytkd

About how to do it, does vim-go have permanent storage? Or maybe detecting a special error message? Or just al

[2016-06-13 21:37] zachgersh commented on #902
Yessir! Works fine in 1.6 so there was some sort of regression. I could try to do a git-bisect to find the commit.

[2016-06-14 15:09] haruyama opened #903 ""-srcdir" option of goimports is not set"
### Actual behavior

"-srcdir" option of goimports is not set.

At https://github.com/fatih/vim-go/blob/a9611d7d691994a1fd33821ce4220366d8711300/autoload/go/fmt.vim#L116,
vim-go compares fmt_command and "goimports".

But fmt_command is set at https://github.com/fatih/vim-go/blob/a9611d7d691994a1fd33821ce4220366d8711300/autoload/go/fmt.vim#L107, this comparison is always false in my environment.

#

[2016-06-14 20:13] #902 closed

[2016-06-14 20:14] fatih commented on #902
This is now fixed in master. Thanks for the feedback @zachgersh. I've renamed some of the variables to prevent a regression like this again.

[2016-06-14 20:15] fatih commented on #903
This is now fixed in master. Thanks for the feedback @haruyama. This seems like to be a regression.

[2016-06-15 00:07] haruyama commented on #903
Thank you!

[2016-06-15 00:07] #903 closed

[2016-06-16 07:25] EricYT opened #905 "Disable split windown function document"
Hi,
  How to dsiable split windown at the vim top to display function document.Thanks.

[2016-06-16 12:09] fatih commented on #905
Hi @ebfe. Checkout https://github.com/fatih/vim-go/issues/223#issuecomment-62619901 , it's not a vim-go issue. Thanks.

[2016-06-16 12:09] #905 closed

[2016-06-17 03:04] justmao945 opened #906 "VIM froze and can't do anything when enter new buffer"
### Actual behavior

VIM froze and can't do anything when enter new buffer.

### Expected behavior

Any work should be running in background and not freezeVIM.

### Steps to reproduce:

The first time to open a large Go project

PS. I don't known whether vim-go run jobs when enter new buffer or not, please tell me if I'm wrong.

[2016-06-18 10:35] Limdi opened #907 "GoTestCompile not always deleting created test-binary with Neovim"
Hi,
#879 said GoTestCompile removes its created test-binaries which works fine working on go-files in the same directory, I'd love to see this removing of the test-binary incase it got created in another directory too.

### Actual behavior

[code]
For me it reproduces nicely for other directories too
[code]

### Expected behavior

[code]

### Configuration

Add here your current configuration and

[2016-06-18 12:15] nightlyone commented on #907
I can reproduce this too:
* Linux (Ubuntu 16.04, codename Xenial) using go 1.6.2 too.
* Vim: VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Apr 08 2016 11:38:28)

**Note:**
A simple workaround for me was to use `/dev/null` (or `NUL` on windows) instead of "vim-compile-test" as the compiler target at https://github.com/fatih/vim-go/blob/master/autoload/go/cmd.vim#L194 in order to discard compiler res

[2016-06-22 22:43] fatih commented on #907
Thanks @Limdi for the report. I'm looking into it.

@nightlyone unfortunately `/dev/null/` is not supported by the go tool. We have the same problem for `go build ` as well. I know the problem for this issue. I have a fixed version for Vim already, testing it now for NeoVim.

[2016-06-22 22:50] #907 closed

[2016-06-22 22:50] fatih commented on #907
Thanks for the feedback. This issue is now fixed both for Vim and NeoVim. Please pull the latest HEAD of the master branch. Thanks.

[2016-06-22 22:52] fatih commented on #906
Hi @justmao945

Vim-go doesn't do anything blocking if you enter a new buffer. I think you have installed syntastic which causes this. Checkout https://github.com/fatih/vim-go#using-with-syntastic for more info. Please reopen another issue with more info (by following the template) if you have problems. Thanks

[2016-06-22 22:52] #906 closed

[2016-06-23 00:43] #873 closed

[2016-06-23 02:32] roxma opened #911 "omnifunc doesn't leave completion mode properly"
Hi, I created a [simple auto complete plugin](https://github.com/roxma/SimpleAutoComplPop#config), to work with vim-go, I encounter this minor issue:

When the `.` is typed, neither `CompleteDone` event is triggered nor a popup menu is popped for me, I don't think this is a graceful behavior.

It's not a big issue, close this if you want.

[2016-06-23 10:47] Misfit-John opened #912 "How to disable the scratch buffer opened when you use <c-x><c-o> ?"
This feature is good but annoying because I have to close this buffer after the completion. Can I just disable it or make it close after the completion is done? Also, if this is a function , can I make it also complete ')' as well?

[2016-06-23 10:52] bradleyfalzon commented on #912
Does `set completeopt-=preview` in your vimrc solve the issue?

[2016-06-23 15:34] Limdi commented on #907
Wonderfull, thanks you fatih!

[2016-06-23 22:31] fatih commented on #912
H @Misfit-John

This is not a vim-go issue, as @bradleyfalzon said it's a Vim feature and you have to disable it. Thanks!

[2016-06-23 22:31] #912 closed

[2016-06-24 00:59] Misfit-John commented on #912
Great thanks, fixed.

[2016-06-24 09:56] sameeroak opened #913 "how to disable gofmt in vim-plug/vim-go?"
### Actual behavior:
gofmt formats go source code. It adds 8-space tabs for indentation.

### Write here what's happening:
Hello,
I'm using vim-plug as my vim based IDE for golang.
I've a very specific query. I don't want gofmt to do any unnecessary formatting for my code. I raised an issue with vim-plug but I was suggested to post an issue here.

I've my own "set tabstop=4" in my .vimrc.
I add he

[2016-06-24 10:30] bradleyfalzon commented on #913
Can you try adding `let g:go_fmt_autosave = 0` to your vimrc file ?

[2016-06-24 10:37] bradleyfalzon commented on #913
Just to clarify, `let g:go_fmt_autosave = 0` will stop vim-go from running gofmt on your source code, which is what you've already stated you have tried.

If you want to modify some of the behaviour of gofmt, see its arguments (run `gofmt -help`) and add any options you would like vim-go to execute by adding them to your vimrc using `g:go_fmt_options`, eg:

[code]

But I'm not certain if this is w

[2016-06-24 21:01] fatih commented on #913
Hi @sameeroak

Add something like this to your vimrc to change how you want to represent a tab:

[code]

This is a vim issue. vim-go doesn't set anything to 8-space tab. It's your setting which you have to change. Thanks!

[2016-06-24 21:01] #913 closed

[2016-06-24 21:40] fatih commented on #911
Hi @roxma

Thanks for the feedback. Our code is here: https://github.com/fatih/vim-go/blob/master/autoload/go/complete.vim and this is the place we set the omnifunc: https://github.com/fatih/vim-go/blob/master/ftplugin/go.vim#L24

Feel free to check the code and send a PR, which plays nice with your plugin but doesn't break other plugins (such as deoplete, neocomplete , etc...) Those plugins work

[2016-06-24 21:40] #911 closed

[2016-06-24 23:19] fatih commented on #901
Ok now I get what you mean, thanks for the clarification 👍

There is no global storage unfortunately. We only read the settings, if any, from vimrc and that's it.

We already have a helper method to get `GOROOT` in vim-go: https://github.com/fatih/vim-go/blob/master/autoload/go/util.vim#L48

The issue though here is, how do we get the embedded GOROOT from the binary itself without using any extern

[2016-06-24 23:32] fatih commented on #872
@umitkablan

Actually vimproc is just a plugin that allows us to call process in async way. It's not meant for cross compatibility. I'm going to remove it in the future with vim 8.0.

I've added one your fix here: https://github.com/fatih/vim-go/pull/914  Can you try it and see if this works for you? I've didn't changed the bin_path as I think we don't need it, but if that fixes l'll can add it. I

[2016-06-25 09:50] cherrot commented on #829
Is there any way to switch back to `godef`? Using `guru` would restrict my projects underneath $GOPATH. And it make me uncomfortable, especially some of them are not "pure Go" projects :(

[2016-06-25 11:37] fatih commented on #829
@cherrot there is with the latest region:

https://github.com/fatih/vim-go/blob/master/doc/vim-go.txt#L985

just set it to `godef` and you'er good to go.

[2016-06-28 20:23] bettinson commented on #468
Do you have Xcode developer tools installed?

[2016-06-28 21:26] raphael opened #916 "GoTest does not handle errors in sub-packages"
### Actual behavior

GoTest does not handle errors happening in files located in a sub-directory, instead vim-go prints:

[code]

The file is actually in:

[code]

But the test function lives in:

[code]

### Expected behavior

GoTest should list all the errors in the `QuickFix` window. If possible it should also link to the right file.

Here is the output from `go test`:

[code]
As you can see it

[2016-06-29 06:42] roxma commented on #911
I found that these special cases are handle nicely by other plugins. It's hard to do it perfectly inside vim-go, and it would be better handled by other plugins. So there's no need for a PR. Anyway, I've already got a nicely working one :)

[2016-06-29 16:40] bruschill commented on #916
I'm having this same issue.

<img width="1440" alt="screen shot 2016-06-29 at 11 38 58 am" src="https://cloud.githubusercontent.com/assets/621389/16460676/251b466a-3dee-11e6-9585-6c5fffb57abb.png">

I'm not sure if it's where the root of issue is, but it doesn't look like any recent change to [`go#tool#ParseErrors`](https://github.com/fatih/vim-go/blob/1a9cc786751947441f05b92f380540dee388feff/auto

[2016-06-29 19:14] fatih commented on #916
Hi @raphael @bruschill

Can you please provide a test that use a sub-package which fails the tests? I didn't undestand how you call the test inside the sub-package, from the upper level test? Do you call something like `:GoTest ./...` ?

[2016-06-29 19:18] bruschill commented on #916
@fatih I can't speak for @raphael, but I call `:GoTest -bench .`.

[2016-06-29 19:19] fatih commented on #916
@bruschill could you please provide the necessary files to reproduce it? I really have hard time following what the problem is from the comment. I just want to know how the files are laid out with the sample files, like `foo.go`, `foo_test.go`, etc.. so I can reproduce and fix the issue.

[2016-06-29 19:19] fatih commented on #916
@bruschill btw, I have an idea, but I have to be able to reproduce it.

[2016-06-29 19:22] bruschill commented on #916
@fatih Absolutely. The project files are [here](https://dl.dropboxusercontent.com/u/8137552/gigasecond.zip). The project is from the free programming language learning site Exercism.

[2016-06-29 19:26] fatih commented on #916
@bruschill the problem you have is different than what @raphael has. You have a `t.Errorf`, `t.Fatal` that is multiline so it's hard to parse it. It's dropping the other lines as they are not valids but jumps to the correct file. Please open another issue if you think it's wrong or if it doesn't jump to the error.

[2016-06-29 19:30] bruschill commented on #916
@fatih my mistake. I'll submit a separate issue in a bit. Thanks for your help!

[2016-06-29 20:01] raphael commented on #916
@fatih thanks for looking into it, here's a repro: https://github.com/raphael/vim-go-test-issue

[2016-06-29 20:23] fatih commented on #916
@raphael  alright ,this is the first time I see someone importing a test and using it :) I didn't know that there was a case for this. Is this a case people use a lot? Why is the test inside another package?

[2016-06-29 21:03] bradleyfalzon commented on #916
@fatih hashicorp talk about providing helpers in their recent talk: https://speakerdeck.com/mitchellh/advanced-testing-with-go?slide=53 / https://youtu.be/yszygk1cpEc (53:56)

Although mostly to provide helpers, some of the functions also do execute t.Fatal/t.Error themselves, eg: https://github.com/hashicorp/consul/blob/master/testutil/wait.go

[2016-06-29 21:28] raphael commented on #916
Yeah that's the exact use case: test helpers. These are not part of the test per se but they do accept `t` as argument and may make the tests fail it they can't setup / mock / do whatever it is they are supposed to be doing that's always supposed to work.

[2016-06-29 21:44] fatih commented on #916
Thanks all for the info. This is enough for me to fix the problem. The main problem is that `go test` prints file names relative to the `package`. So here is the problem:

[code]

So where is this `fail.go` file now? Exactly you don't know it! Because it just prints the filename relative to the `package`. So it's extremely difficult to solve it unfortunately as there is no easy way to know where t

[2016-06-29 21:57] raphael commented on #916
The initial description was saying as much :)

I'm suggesting `vim-go` could do a best effort and look in all sub-directories - recursively - for a file with the same name. Yes there may be false positive and yes the file might not be there but in reality it will work 90% of the case and when it doesn't it won't be worse than the current behavior.

[2016-06-29 22:03] raphael commented on #916
Also a quick note that the "false positive" problem exists today: if a file in a sub-package has the same filename as a file in the current directory then vim-go ends up using the file in the current directory instead of the one in the sub-package. That got me confused a few times (understand there isn't much you can do about it).

[2016-06-29 22:07] raphael commented on #916
I understand - that's why I noted "the file might not be there". Still in all the cases that I've seen the helpers are in a sub-directory of the package being tested. Agreed that it would be better for the `go` tool itself to list the relative path instead of just filenames.

[2016-06-30 10:35] ashb commented on #901
I think I just hit this problem too - I tried to use `GoRename` and I got errors like this:

[code]

(My go version is now 1.6.2)

I tried running `:GoInstallBinaries` but it didn't help. I understand and probably agree about the complexity. It could be argued that this is a bug in the tools we are using and they they should either not hardcode the gopath, or should respect GOROOT. _Edit_: It turn

[2016-06-30 10:53] fatih commented on #901
@ashb in your case, can you call `:GoUpdateBinaries` ? `:GoInstallBinaries` only installs it.

It's great that setting GOROOT is fixing it. Maybe I can initially set GOROOT as you did when vim-go is loaded and override the env inside the binaries. The only concern is that, we also would override the value if the user has set GOROOT already. But I can check if GOROOT has been set, and only override

[2016-06-30 14:24] dobegor opened #919 "Typo: calling echoWarning instead of EchoWarning causes :GoDocBrowser to fail if godoc is missing"
https://github.com/fatih/vim-go/blob/1a9cc786751947441f05b92f380540dee388feff/autoload/go/doc.vim#L22

GoDocBrowser call fails because of this.

[2016-06-30 14:49] #919 closed

[2016-06-30 15:47] joegrasse opened #921 "Original file permissions are lost on gofmt"
### Actual behavior

When editing a go source file, the file permissions can be changed.

### Expected behavior

The file permissions should not be changed

### Steps to reproduce:

1. set umask to 0022
2. touch test.go
3. chmod 666 test.go
4. vi test.go
5. save and quit
6. file permissions are now 644

[2016-06-30 17:13] serussell opened #923 "go-explorer is abandonware"
This is merely a comment that go-explorer is abandoned, and has an "abandoned" notice on the front git page.  The README for vim-go still (implies) that go-explorer is recommended -- is this still the case?

[2016-06-30 19:54] fatih commented on #872
Ping @umitkablan @HakShak

[2016-06-30 20:45] fatih commented on #923
Hi @serussell

Go-explorer is a nice plugin that makes exploring and navigating `Go` docs inside vim very easy. I didn't know it was abandoned.  I still recommend it (even though it's not maintained). We can remove it from the README when it's not usable anymore or we integrated the plugin into vim-go (which is something I would want, but it would also bring maintenance burden that I alone can't c

[2016-06-30 20:45] #923 closed

[2016-07-01 07:43] umitkablan commented on #872
Hi @fatih,

I can, in short, say this patch is not working and I can prepare a PR if the plan is changing to/from forward/backward slashes? This PR could cover all filepath tricks needed for Windows. Are we gonna concentrate on that slash changing strategy or something else?

[2016-07-01 08:41] umitkablan commented on #872
Hi @fatih,

My above observation was with:

`let g:go#use_vimproc = 1`

And it seems we need just this patch when we do not use vimproc@vim-go on windows platform:

[code]

So, I believe we can fix issue without considering vimproc since it complicates stuff - it needs forward slashes and the commands like guru.exe do work with backward slashes... In order to avoid complexity at the moment I will

[2016-07-03 16:14] HakShak commented on #872
Mobile with no Windows machine at the moment. Will chime in once I get a chance to test.

[2016-07-03 22:15] leakingtapan commented on #775
I just had the same issue and was able to reproduce it. The symptom happens when I am using tmux.

[2016-07-05 17:17] yotamN opened #929 "GoInstallBinaries crash"
### Actual behavior

When I try to use features like :GoDoc I get a message that tells me to install binaries so I do :GoInstallBinaries and I get an error.

Output:
[code]

### Expected behavior

I was expecting to install the needed binaries

### Steps to reproduce:

I minimized the init.vim file to this:
[code]

### Configuration

Add here your current configuration and additional information t

[2016-07-06 09:11] nhooyr commented on #929
Your vim version is 0.1.3? Also, can you try and upgrade to go 1.6?

[2016-07-06 10:23] yotamN commented on #929
@nhooyr It's Neovim, sorry I forgot to mention
And with Go 1.6.2, GoDoc works and I don't have an error on :GoInstallBinaries

[2016-07-06 10:23] #929 closed

[2016-07-07 08:43] ashb commented on #901
`:GoUpdateBinaries` did work for me.

The main thing that was confusing to me as a user was that the tools sort just mysteriously stopped working. It would be nice if there was some way of detecting this and just telling the user "You need to :GoUpdateBinaries" -- but I'm immediately sure how we might be able to do that.

[2016-07-08 14:01] korya opened #932 "When a buffer for nonexisting file is opened, it is prefilled with some template"
### Actual behavior

When I open a new buffer for filepath that does not exist yet, vim-go fills it with a template:

[code]

This is really annoying, because when I open a nonexisting file directly from command line: `vim some-nonexisting-file.go`, the buffer is empty just you would expect.

### Expected behavior

The buffer stays empty. No file – no contents.

### Steps to reproduce:

1. Go to y

[2016-07-08 16:09] mmlb commented on #932
You can disable this feature by doing
[code]

[2016-07-08 16:11] mmlb commented on #932
My mistake it should be:
[code]
see https://github.com/fatih/vim-go/blob/master/doc/vim-go.txt#L1311

[2016-07-09 17:49] tpudlik commented on #775
I ran into this problem, too.  My issue was apparently that `$GOPATH/bin` was not in PATH.  (How vim-go managed to find a version of goimport, however outdated, I'm not sure.)  Once I set `export PATH=$PATH:$GOPATH/bin` in `.bashrc`, everything worked fine.

[2016-07-11 17:05] korya commented on #932
Thanks.

The inconsistency however is still there. When you open a new buffer it is prefilled. When you open a new file from command line, the buffer is not prefilled.

[2016-07-12 14:44] magicalbanana opened #934 "Add support for gutentags"
### Actual behavior
Currently we use Tagbar for to define the `ctags`.

### Expected behavior
Add support for [gutentags](https://github.com/ludovicchabant/vim-gutentags)

[2016-07-15 04:21] bruschill commented on #934
I believe @magicalbanana is referring to [this issue](https://github.com/ludovicchabant/vim-gutentags/issues/25) in vim-gutentags.

After some _very_ high-level testing, I've found that if I have `go_metalinter_autosave = 1` and `go_metalinter_autosave_enabled = ['golint']` the issue goes away, so it seems to be related to having the `vet` linter included with the other autosave linters.

[2016-07-15 07:03] dobegor opened #941 ":GoSameIds doesn't work in Neovim: GoWhat is not supported in Neovim (though JSON support is already there)"
We can't use `:GoSameIds` in Neovim due to this error.

[2016-07-15 07:04] dobegor commented on #941
JSON support has been merged: https://github.com/neovim/neovim/pull/4131

[2016-07-16 21:16] fatih commented on #934
Why do we need to add it ?

[2016-07-18 14:14] bruschill commented on #934
@fatih I don't believe gutentags support something that needs to be added, as much as there's a error that arises when `vet` is run and gutentags is updating tags.

Ultimately, I believe it comes down to preventing those kind of conflicts within vim-go, rather than adding support for another plugin.

[2016-07-18 20:14] corylanou opened #947 "Implement Go Guru whicherrs"
Feature request to add `whicherrs` from the Go Guru tool.

[2016-07-19 18:04] erikh opened #950 "Templates should inherit package name"
### Actual behavior

* Create a package `x`
* Fill it with a file with package `x` as the first line
* Create another new file in package `x`'s directory
* Created with `package main` stanza that always comes up

### Expected behavior

I'd love it if you parsed out the package name from the current directory (presuming it's consistent so you can act sanely) and prefilled the first line with `packa

[2016-07-19 21:43] ludovicchabant commented on #934
I may just be some obscure bug in my code (I'm gutentags' author), in which case you don't have anything to do over here. That bug is tracked over at https://github.com/ludovicchabant/vim-gutentags/issues/25. Fingers crossed!

[2016-07-19 22:04] gatspy opened #951 "GoDoc can't work"
### Actual behavior

:GoDoc occurred a error as bellow:
gogetdoc: couldn't get package for $GOPATH/src/github.com/fatih/vim-go-tutorial/main.go: can't find package containing $GOPATH/src/github.com/fatih/vim-go-tutorial/main.go

### Steps to reproduce:

1. backup my vimrc
2. clone your vim configuration https://github.com/fatih/dotfiles/blob/master/vimrc
3. PlugInstall
4. clone fatih/vim-go-tutori

[2016-07-20 00:22] fatih commented on #932
Hi @korya

This is a feature to make it easier to create a Go file. AS @mmlb mentioned you can disable it very easily. If you add it to your vimrc, nothing will be prefilled. Thanks

[2016-07-20 00:22] #932 closed

[2016-07-20 00:24] #921 closed

[2016-07-20 00:29] #941 closed

[2016-07-20 00:31] fatih commented on #951
Hi @gatspy

I think you're `GOPATH` does is not setup correctly. I've just tried it and it works.  Please check your `GOPATH` and try to fix it.

[2016-07-20 00:31] #951 closed

[2016-07-20 00:37] fatih commented on #950
Hi @erikh

I'm not sure I've understand you're problem. vim-go is filling the new line with the package name according to the directory. It's not just adding a `package main`. You're sure you tested it correctly? Can you provide a testable example please with the source code as well.

[2016-07-20 01:02] fatih commented on #947
Implemented via https://github.com/fatih/vim-go/pull/948

Please pull the latest HEAD and try it. Note that you need to set a scope `:GoGuruScope` as the automatic scope setting of vim-go might not sufficient to get show all the error implementations.

[2016-07-20 01:02] #947 closed

[2016-07-20 02:17] fatih commented on #934
I'm closing this as I don't think we need to add support for this right now. Thanks.

[2016-07-20 02:17] #934 closed

[2016-07-20 03:17] erikh commented on #950
Sure.

Basically, if I have a file like this in the 'mytest' directory already: https://gist.github.com/643bbb365cad44c7e537736fe27027f9

I think vim-go should somehow be able to assume that the package name is not 'main' but is 'mytest'. Here's a screenshot of what I'm talking about:

<img width="493" alt="screen shot 2016-07-19 at 8 15 22 pm" src="https://cloud.githubusercontent.com/assets/18923

[2016-07-20 03:20] fatih commented on #950
But it's like that already :/ I mean if it's `mytest` and you open a new file, it'll be also `mytest`. Look here is a GIF that I've just made for you:

![screen recording 2016-07-19 at 11 20 pm](https://cloud.githubusercontent.com/assets/438920/16974120/67f4d4b4-4e07-11e6-86f0-b28916bf7615.gif)

[2016-07-20 03:25] erikh commented on #950
interesting, because I'm not seeing this behavior; I just upgraded just in
case. What I am seeing is the behavior described above.

If you look at the screenshot above, you can see that it's importing the
`hello_world.go` when I opened the new file with `:e` it did not show the
same behavior yours did.

here's my .vimrc if that helps:
https://gist.github.com/73a5f2bac4e754b7410167a24dab6bb8

On Tu

[2016-07-20 03:44] erikh commented on #950
Here's my `vim --version` too (I'm guessing, but presuming this isn't operator error, this seems like a portability bug to me)

https://gist.github.com/6bd56487570e9b547f7a66f2b9bf79d3

[2016-07-20 03:46] fatih commented on #950
Can you execute

[code]
in that directory?

[2016-07-20 03:46] fatih commented on #950
Also can you please test it on another package as well

[2016-07-20 03:49] erikh commented on #950
[code]

Works fine in another (compiling) package where go list also works appropriately. I guess I just hit this without knowing what the cause was a number of times. I've been doing a lot of code moving in this tree lately.

Very sorry to take so much of your time!

[2016-07-20 03:49] #950 closed

[2016-07-20 03:49] fatih commented on #950
No worries, happy to see you resolved it :)

[2016-07-20 09:10] gatspy commented on #951
Thank you for your reply.
That's really so, i link a external disk into `HOME` named as `WORK` ,then `GOPATH` setting as `$HOME/WORK`, in most cases it's correct.
now i changed `GOPATH`  directly to the physical hard disk.

[2016-07-20 16:15] trevrosen opened #953 "GoPlay hits a 404 URL"
### Actual behavior
`GoPlay` command hits a URL that is 404

### Expected behavior
Server should respond by placing contents of range or file in a Go Playground screen

### Steps to reproduce:

1. Use `GoPlay` with either a range or a file. It will hit `https://play.golang.org/p`
2. Server responds with 404

[2016-07-21 00:40] fatih commented on #953
Hi @trevrosen

`:GoPlay` works without any problem. You might had a bad connection at that time. Thanks.

[2016-07-21 00:40] #953 closed

[2016-07-21 02:07] fatih commented on #901
@FiloSottile @ashb

Can you please try the PR: https://github.com/fatih/vim-go/pull/954 ? We're using a cached version of `GOROOT` now. It should be fast enough and also should fixed the problem we have.

[2016-07-21 13:41] trevrosen commented on #953
Hi thanks for taking a look, and thanks for vim-go!

I didn't have a bad connection and can reproduce this issue at will. I'm on OS X 10.10.5 (Yosemite) and this happens with either MacVim or Vim in the terminal. I've used Wireshark to verify that my code payload is being sent to the share endpoint. I appear to be losing the identifier for the share somehow, which is why the 404 to `https://play.g

[2016-07-21 15:10] trevrosen commented on #953
Meh someone else on OS X here at the office tried it and it appears to work for them so I guess I'll go off and figure out whatever the hell this is.

[2016-07-21 17:13] xibz opened #955 "Printing escape sequences"
### Actual behavior

When typing in vim, while vim-go is installed, the terminal prints escape sequences when in command mode. I have to `CTRL c` then `:q` to get out.

### Expected behavior

To behave like vim

### Steps to reproduce:

Please create a reproducible case of your problem. Re produce it
with a minimal `vimrc` with all plugins disabled and only `vim-go`
enabled:

1. Have vundle instal

[2016-07-21 20:05] bradfitz opened #956 "goimports -srcdir will soon also accept a full filename"
As discussed in https://github.com/dominikh/go-mode.el/issues/146 for emacs,

As of https://golang.org/cl/25140, `goimports -srcdir=....` will accept a full filename of the file being edited, instead of just its directory. (But directory will still work as it does today)

You'll probably want to update vim-go to pass the full name, which will enable some new features in goimports. (analyzing other

[2016-07-22 02:55] fatih commented on #956
Thanks @bradfitz for the feedback 👍 Agree that it's a terrible name as well :)  Btw, we also write to a temp file first (to catch errors and not lose undo history) and then rename the tempfile to the actual one.

With the patch #957, the final command will be something like:
[code]

Let me know if you need anything else. I'll merge it once the CL is being accepted.

[2016-07-22 04:03] bradfitz commented on #956
I submitted https://golang.org/cl/25140 so feel free to make the change whenever.

Thanks!

[2016-07-22 14:22] #956 closed

[2016-07-23 18:00] vrischmann opened #959 "quotes problem with the template"
### Actual behavior

I'm on Windows.
I have a directory called clog, with a clog.go file containing `package clog`.

Then when I open another file foobar.go, vim-go auto creates the package line, but it's wrong: it creates _package 'clog'_.

### Expected behavior

vim-go should write the correct package line.

### Steps to reproduce:

Problem only appears on Windows, on my OS X machine it's fine.