[2019-08-01 15:42] svanburen commented on #2423
FWIW, I've had this happen when using a small enough terminal that fills up the screen with the messages from the installation (https://asciinema.org/a/dFzxJcM1gz3Yx0YHFqKTz1Eyo). Not sure if this is the same issue; this doesn't seem to happen if the terminal is large enough.

[2019-08-01 16:29] vagababov commented on #2435
+1 See this since last update.

[2019-08-01 17:28] vagababov commented on #2435
disabling GOPACKAGESDRIVER seems to work, but that's strange that pls would be broken with it.

[2019-08-01 17:41] bhcleek commented on #2435
I'm not sure what effect `GOPACKAGESDRIVER=off` will have, but I'd check with the gopls team to see whether that setting is advisable or not.

Whatever is going on here seems to be related to gopls. I'm going to close for now.

[2019-08-01 17:41] #2435 closed

[2019-08-01 17:51] bhcleek commented on #2423
@svanburen Yes, that's the only way I can duplicate this, too.

@horseinthesky what size is your screen?

[2019-08-01 18:43] bhcleek commented on #2423
@horseinthesky can you also try https://github.com/fatih/vim-go/pull/2437 and let me know if it solves your problem?

[2019-08-01 19:42] stamblerre commented on #2435
It seems like both @vagababov and @poy are Googlers, and as a result, would have the internal go/packages drivers by default on their workstations. If you are trying to do open-source work on a corp machine, you will need to set `GOPACKAGESDRIVER=off` so that it will use the `go list` driver rather than the internal driver.

[2019-08-01 19:42] wavded commented on #2366
FWIW, renaming only works at a package level currently with gopls, although arguable better than `gorename` not working at all for modules.

https://github.com/golang/go/issues/32877

[2019-08-02 03:58] bhcleek commented on #2412
Fixed via #2434

[2019-08-02 03:58] #2412 closed

[2019-08-02 04:22] Hyvi commented on #2149
i have switch to guru,  and find guru is also fast.   and the godef 's problem not sovled

[2019-08-02 09:29] horseinthesky commented on #2423
Yes. I've scaled terminal size to full screen and it definitely solved the issue.
It's not really handy to change the terminal size =(

And it doesn't work if my terminal is in full screen but installation goes via Ansible or bash script with  `nvim +PlugInstall +qall `.

[2019-08-02 22:53] bhcleek commented on #2423
Did you try #2437?

[2019-08-03 05:49] horseinthesky commented on #2423
Yes. I've tried it and it helped. BUT ONLY if I do `:GoUpdateBinaries` manually.
It doesn't work if `:GoUpdateBinaries` executed by Ansible no matter terminal windows size is.

[2019-08-05 00:19] bhcleek commented on #2423
The issues you're seeing with ansible aren't specific to vim-go per se. I'd recommend using `: silent`. e.g.
* https://github.com/fatih/vim-go/blob/master/scripts/install-vim#L96
* https://vim.fandom.com/wiki/Avoiding_the_%22Hit_ENTER_to_continue%22_prompts

[2019-08-05 09:33] horseinthesky commented on #2423
@bhcleek Thank you very much for this. Now it works as I expected!

[2019-08-05 09:33] #2423 closed

[2019-08-05 17:37] oshriPP commented on #1869
I'm having the same issue, I tried to delete the `~/.vim` and reinstall the plugin but without success.
What do you mean by clean everything?
How do you install the plugin?
To install, I ran these lines.

[code]

Thank you.

[2019-08-05 22:15] AaronM04 opened #2441 "Saving file (even to another file name) prevents redoing changes with Ctrl-R"
### What did you do? (required: The issue will be **closed** when not provided)

Press `u` multiple times to restore file state to an old version, then type `:w! main.go.bak` to save a backup, then press ctrl-R multiple times.

### What did you expect to happen?

I would go back to the latest file state (that is, before I pressed `u` the first time). The file I am editing would be unchanged on dis

[2019-08-06 00:40] jawang35 commented on #2036
I had this exact problem and came across this issue. For me it was that I had symlinked the repository into my `$GOPATH`. @mgartner not sure if that's what was causing the issue for you but if anyone else runs into the same problem and comes across this issue hopefully this helps.

[2019-08-06 02:12] bhcleek commented on #2441
I suspect this is because the file is saved in order to format it and `g:go_fmt_autosave` is enabled by default. I'll do some analysis and see if I can fix it quickly.

[2019-08-06 02:21] bhcleek commented on #2441
Confirmed that this is because of `g:go_fmt_autosave`. As a temporary workaround, you can disable it when you need to do this operation. I'll work to get a fix in place ASAP.

[2019-08-06 02:48] bhcleek commented on #2441
@AaronM04 I believe #2442 addresses the issue you encountered. Please feel free to give it a try. If I don't hear back from you in the next 12-16 hours, I'll likely merge it to master.

[2019-08-06 04:35] xuxinx opened #2443 "error when imported package using custom package name by go modules"
### What did you do? (required: The issue will be **closed** when not provided)

Example:
[code]
- this example file does not use go modules.
- `github.com/airbrake/gobrake` uses go modules and has a custom package  name https://github.com/airbrake/gobrake/blob/14536eb9ff9cceb764325823e286573d05cd614f/go.mod#L1 and uses this name in its package.
- this example `go run main.go` is ok

Call `:GoCall

[2019-08-06 05:04] AaronM04 commented on #2441
It'll be another 12 hours before I can try it out (this is my work laptop). Thank you for (probably) fixing it! :)

On August 5, 2019 7:48:24 PM PDT, Billie Cleek <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-08-06 08:50] oshriPP opened #2444 "Can't get install to work."
### What did you do? (required: The issue will be **closed** when not provided)

installed plugin via several methods, vim8 plugin, pathogen, zip, etc. essentially a fresh install, no other custom vim plugins before this.

### What did you expect to happen?
Propper installation.

### What happened instead?
I can use `:help vim-go` and`:GoUpdateBinaries` and `:GoPath` and `:GoInstallBinaries` . All

[2019-08-06 16:33] bhcleek commented on #2444
Add `filetype plugin indent on` to your vimrc.

[2019-08-06 16:37] AaronM04 commented on #2441
@bhcleek the fix looks good. Thanks for your help!

[2019-08-07 02:32] acgreek commented on #2416
I believe I was using stock EverVim setup (https://github.com/LER0ever/EverVim) at work but experience the same issue with Spf-13 (http://vim.spf13.com/).they both auto-install your vim-go module.

After installing the go tools binaries via GoInstallBinaries, I close vim and open a new file go file
vim test.go

then I type in the following bad go source
....
package main

func main() {
  fmt.Print

[2019-08-07 04:35] #2444 closed

[2019-08-07 04:41] bhcleek commented on #2416
Thank you for taking the time to explain what you're seeing in more detail. Just to be clear; what you're seeing is not from a linter. It's the output of `gofmt` or `goimports`. Since it applies to only the buffer in the window being saved, it's the location list, not the quickfix list that's populated. You can navigate it by using `:lne` et al. instead of `:cn`.

It doesn't jump to the first erro

[2019-08-07 04:42] #2441 closed

[2019-08-07 04:47] bhcleek commented on #2443
`:GoCallers` uses `guru`, which is not module aware. If you're in module aware mode (e.g _not_ in `$GOPATH/src`, then `:GoCallers` won't work.

[2019-08-07 16:41] acgreek commented on #2416
thanks

[2019-08-07 16:51] #2416 closed

[2019-08-07 19:19] janbaer opened #2445 "Vim error in hoverHandler when open go file with active module support"
When I open a go file with activated modules I get the following error in VIM.

![2019-08-07_1151x364](https://user-images.githubusercontent.com/528331/62650566-794ea000-b957-11e9-8a88-0c41d5726b47.png)

Whenever I change to another line in the code I get the error again

The error comes from vim-go and points to here: https://github.com/fatih/vim-go/blob/master/autoload/go/lsp.vim#L594

Why do I

[2019-08-07 23:35] bhcleek commented on #2445
gopls and vim-go have each changed quite a bit since vim-go v1.20. vim-go's master is pretty stable right now; I recommend upgrading to vim-go's master, running `:GoUpdateBinaries gopls`, restart vim afterwards and see if you still have problems.

[2019-08-08 04:01] janbaer commented on #2445
I just updated yesterday all of my Vim-Plugins and also executed *:GoInstallBinaries*. But today I tried your tip with `:GoUpdateBinaries gopls` and it helped!  Thank you very much!

[2019-08-08 04:01] #2445 closed

[2019-08-09 04:47] #2408 closed

[2019-08-09 17:22] bhcleek commented on #2443
@xuxinx do you need more assistance?

[2019-08-09 17:22] #2383 closed

[2019-08-09 19:05] skanehira commented on #1902
How about use popup window or terminal on vim8?

[2019-08-09 19:32] skanehira commented on #1902
Example popup window.
[code]
![image](https://user-images.githubusercontent.com/7888591/62804241-a651ad00-bb27-11e9-938b-4b21282f36d9.png)

Example terminal.
[code]
![image](https://user-images.githubusercontent.com/7888591/62804280-c5e8d580-bb27-11e9-80e3-1f6bc9841b71.png)

[2019-08-10 00:29] frescoraja opened #2448 "cannot use :GoLSPDebugBrowser"
### What did you do? (required: The issue will be **closed** when not provided)

add following line to `.vimrc`:
[code]
open go file in vim, see the `golsplog` buffer at the bottom of my window populated with items like `received: Content-Length: XXX...{"jsonrpc":"2,0", ....}`

also see `vim-go: initialized gopls` in messages

enter `:GoLSPDebugBrowser` command

### What did you expect to happen?

[2019-08-10 00:36] xuxinx commented on #2443
@bhcleek no, I'll close it.

[2019-08-10 00:36] #2443 closed

[2019-08-10 00:40] bhcleek commented on #2448
This might be related to the version of gopls you're using. Can you paste the first few lines of the gopls output from the gopls messages?

[2019-08-10 01:42] frescoraja commented on #2448
[code]

hope that helps

when i run `gopls version` from command line, i get
[code]

[2019-08-10 01:58] bhcleek commented on #2448
It seems that you're using an older version of gopls. Please run `:GoUpdateBinaries gopls` from within vim, restart vim after it completes, and then try `:GoLSPDebugBrowser` again.

[2019-08-10 02:23] frescoraja commented on #2448
thank you! resolved.. i never noticed that running `:GoUpdateBinaries` always errored when trying to update `gopls` .. so it never got updated. it tries to install `golang.org/x/tools/gopls@latest` version, but the projects i'm working on are using GOPATH mode..
i was able to update gopls from cmd line using
[code]
and GoLSPDebugBrowser works fine
thanks again

[2019-08-10 02:23] #2448 closed

[2019-08-10 02:31] bhcleek commented on #2448
It shouldb't matter that you're in GOPATH mode, but you are using an older version of Go, and that probably makes the difference. Updating gopls the way you did, you'll be using the latest master from golang.org/x/tools instead of the most recently released version of gopls.

[2019-08-12 08:51] NewUserHa opened #2452 "can gorun be async in vim8?"
### What did you do? (required: The issue will be **closed** when not provided)
use `gorun`

### What did you expect to happen?
can modify file while  `gorun`

### What happened instead?
can't modify file while  `gorun`

### Configuration (**MUST** fill this out):
nothing

#### vim-go version:
don't know since vim-plug cloned it

####  `vimrc` you used to reproduce (use a *minimal* vimrc with othe

[2019-08-12 17:40] bhcleek commented on #2452
It's on the list of things to implement.

[2019-08-13 01:07] NewUserHa commented on #2452
thanks

[2019-08-13 01:07] #2452 closed

[2019-08-13 03:55] frescoraja commented on #2448
got it, thank you for help

[2019-08-14 14:29] tsony-tsonev commented on #1963
I had problem with balloons auto closing very quickly after showing on vim version 8.1.1073, so I built the latest version and the problem disappeared. I even made franken balloonexpr gathered from different approaches from the internet.

I'm using zsh5.4.2 tmux2.9a vim8.1-1826

The custom balloon func previews - folds, [ale](https://github.com/dense-analysis/ale) lint warnings/errors, golang info

[2019-08-16 22:22] mbyio opened #2456 "Manage tools using go modules"
I wasn't sure if the issue template was appropriate for this. Filled it out anyway. This is a feature request - it would be nice if `vim-go` used go modules to manage the integrated tools. That way, it can use its own, consistent versions (or users can specify their own versions), and `go` will take care of keeping everything organized. People wouldn't have to run `:GoInstallBinaries` or `:GoUpdat

[2019-08-16 23:10] bhcleek commented on #2456
You're exactly right, and I have a local branch where I'm working on exactly this using a proof of concept that we worked out last year. It turns out that you don't even actually need Go modules (e.g. in a `go.mod`) for this. Here's my acceptance criteria if you want to work on it:

* `:GoUpdateBinaries` and `:GoInstallBinaries` needs to continue to work so all the tools can be installed updated t

[2019-08-17 20:43] svko commented on #1945
BTW, handy command to update all needed programs (including gorename): :GoUpdateBinaries

[2019-08-18 12:39] Michael-F-Ellis commented on #1945
Thanks svko. That's very helpful.

On Sat, Aug 17, 2019 at 4:43 PM svko <notifications@github.com> wrote:

[2019-08-19 18:44] mbyio commented on #2456
Cool! I figured someone else had already thought of doing this. My plate is full currently, but I may have time next week. Is the existing code in a branch somewhere?

[2019-08-19 23:15] bhcleek commented on #2456
The code is in a stash on my local branch; it's not ready to be pushed any place yet.

[2019-08-20 12:40] arp242 commented on #2456
Note this already exists in the form of [gopher.vim](https://github.com/arp242/gopher.vim). It works pretty well. Most of the code for it is in autoload/gopher/system.vim.

The advantage of adding a go.mod is that you can use all the regular Go tooling. Want to update stuff? `go get -u`, want to use a local copy? `replace original => /path/to/replacement`, etc. etc. I'm not sure how else to do it

[2019-08-20 14:52] bhcleek commented on #2456
`go.mod` isn't needed at all, because `go get` will do just fine in module mode.

[2019-08-20 14:57] arp242 commented on #2456
How do you record which version to use?

[2019-08-20 15:05] mattbailey commented on #2423
This sill happens on neovim (v0.3.8) and vim-plug (latest) with `Plug 'fatih/vim-go', { 'do': ':GoUpdateBinaries' }`

if you run `:PlugUpdate` I get all these `ENTER` prompts. (even on a huge terminal window)

sort of fix:

`Plug 'fatih/vim-go', { 'do': ':silent :GoUpdateBinaries' }`

But this obviously shows zero feedback, which might be confusing.

[2019-08-20 17:28] bhcleek commented on #2423
@mattbailey I don't normally monitor closed issues. If you're still seeing problems on the latest master (https://github.com/fatih/vim-go/pull/2457 is relevant), please feel free to open a new issue.

[2019-08-21 07:46] frescoraja opened #2459 "feature request: go doc popup window for neovim"
### What did you do? (required: The issue will be **closed** when not provided)

set  `g:go_doc_popup_window = 1` in my vimrc

### What did you expect to happen?

executing `:GoDoc` would open doc inside popup window near cursor

### What happened instead?

documentation info opened in buffer at bottom of window

.. would this be very difficult to do?

thanks for all your awesome work on this plug

[2019-08-22 17:22] dhulihan commented on #2283
in certain cases, the latest version of `gopls` (v0.1.3) can eat up a lot of CPU on OSX. It's not uncommon to work on several go codebases at a time in vim. When each vim session starts its own `gopls` (started by `vim-go`), you're going to start burning a LOT of CPU.

Here's an example where I have 10 vim sessions open and 10 corresponding `gopls` processes:

![Screen Shot 2019-08-22 at 11 15 29

[2019-08-22 18:36] janbaer commented on #1945
I still have the problem that GoRename will not work. I've updated my binaries with :GoUpdateBinaries before. But I always get `gorename: can't find package ...`

My project is using go modules. This is my go env:

[code]

[2019-08-22 18:42] janbaer opened #2460 "GoRename fails"
I have the problem that GoRename will not work. I've updated my binaries with :GoUpdateBinaries before. But I always get gorename: can't find package ...

gorename from the commandline is working.

`go version go1.12.5 linux/amd64`

My project is using go modules. This is my go env:

[code]

[2019-08-22 18:57] bhcleek commented on #2460
Unfortunately, `gorename` doesn't work in modules. There's already an open issue for converting vim-go to use gopls for renaming, #2366 , and I plan to work on that as soon as I can get to it.

You might also find https://github.com/golang/go/issues/24661 to be of interest.

[2019-08-22 19:01] janbaer commented on #2460
Thank you for the quick response. So I'll close this issue and follow #2366

[2019-08-22 19:01] #2460 closed

[2019-08-26 10:00] xbsura commented on #2338
Hi:

I have the same request, and I have finished it

But I dont know whether this repo is still developing, so maybe I will do a pull request, and then, I will fork a branch

[2019-08-26 10:35] wangtiga commented on #2353
我也遇到了相同的问题，每次都是重启 vim 解决。
我目前的 gopls 版本是
[code]

使用以下方法更新了 gopls ，先观察几天
[code]

[2019-08-26 13:23] msAlcantara opened #2462 "Unknown function: go#path#ToURI"
### What did you do? (required: The issue will be **closed** when not provided)
Update vim-go with `:PlugUpdate`

### What did you expect to happen?
No errors when open a .go file

### What happened instead?
Errors when open .go files
[code]

### Configuration (**MUST** fill this out):

#### vim-go version: v1.20

####  `vimrc` you used to reproduce (use a *minimal* vimrc with other plugins disabl

[2019-08-26 13:37] msAlcantara commented on #2462
Som errors occurred when try to update go bineraries with `:GoUpdateBinaries`

[code]

[2019-08-27 11:44] xbsura commented on #2338
I have made a pr for this, and for your questions, I will try to answer it:

1. vim-go does not have this command, in my pr, I add a command: GoDebugGoroutines to show all goroutines running(but maybe a lot)

2 & 3 , it seems different, but the have the same reason, a little difficult to expain because my poor english...

In golang dlv(which vim-go use this to debug), breakpoint will stop all goro

[2019-08-27 18:31] georgijd commented on #2459
Hi @frescoraja ,

I've recently submitted a PR which adds this funtionality: https://github.com/fatih/vim-go/pull/2451. Feel free to give it a go. I've been using it ever since with no issues.

[2019-08-28 11:46] silencer001 opened #2465 "the lastest version have not supported "Vi IMproved 7.4",please update the README.md"
### What did you do? (required: The issue will be **closed** when not provided)
When I execute “:PluginUpdate” in vim，vim-go can't be work ，the error messages：
[code]
After I degrade to 1.16， All be ok :)

#### Vim version (first three lines from `:version`):

VIM - Vi IMproved 7.4 (2013 Aug 10, compiled Dec 21 2016 17:10:41)
Included patches: 1-207, 209-629
Modified by <bugzilla@redhat.com>

####

[2019-08-28 12:09] niks3089 opened #2466 "GoGuru: GoCaller and GoCallee doesn't work for some go packages"
### What did you do? (required: The issue will be **closed** when not provided)

`go get github.com/nabla-containers/runnc`

- Move cursor over function definition
- Type :GoCallers
- Error message is displayed:

[code]
I didn't have to set the GoGuru scope, since I am in the TLD.  I created another directory with a single and that works.

### What did you expect to happen?

- Move cursor over fun

[2019-08-28 20:08] aj3423 opened #2467 ""Invalid channel id" error in go#lsp#DidChange"
### What did you do? (required: The issue will be **closed** when not provided)
:w to save any .go file

### What did you expect to happen?
no error
### What happened instead?
![image](https://user-images.githubusercontent.com/4710875/63888561-c92dfd80-ca11-11e9-8b95-3b4a2cbe9c92.png)

### Configuration (**MUST** fill this out):

#### vim-go version:
1.20

####  `vimrc` you used to reproduce (use

[2019-08-29 09:00] K-jun1221 opened #2468 ":GoMetaLinter not working"
GoVersion: 1.12.9
OS: Ubuntu 16.04

[code]

I'm just a newbie to vim and having trouble now. Could someone help me out?
I'm using vim-plug and typed these commands as written on the tutorial.

[code]

[code]

[code]

[code]

After opened the main.go file in vim, the `:GoMetaLinter` command seems not detected any syntax error. `:GoMetaLinter` are running `:GoVet`, `GoLint`, ..etc right? when I type

[2019-08-29 11:42] #2468 closed

[2019-08-30 02:14] nad2000 commented on #2315
@bhcleek ,
All **Go.*** commands still map to *guru*:
https://github.com/fatih/vim-go/blob/master/ftplugin/go/commands.vim#L6
https://github.com/fatih/vim-go/blob/94fe300c93f715e20a1f167b5e5098b2b32ea047/autoload/go/guru.vim#L407
...
https://github.com/fatih/vim-go/blob/94fe300c93f715e20a1f167b5e5098b2b32ea047/autoload/go/guru.vim#L7

I ran into an issue related to go modules not being supported b

[2019-08-30 10:19] wining opened #2469 "GoDebugStart star failed on windows"
### What did you do? (required: The issue will be **closed** when not provided)
GoDebugStart or GoDebugStart foo

### What did you expect to happen?
debug start well
### What happened instead?
![image](https://user-images.githubusercontent.com/4005513/64012759-dbfb1c00-cb50-11e9-99d6-d11181588087.png)

### Configuration (**MUST** fill this out):

#### vim-go version:
the master branch
####  `vimrc

[2019-08-30 11:00] arp242 commented on #2465
Yeah, 7.4.629 is really old. You'll need to update your Vim to 7.4.2009 or newer. You should get a message about this on startup though?

[2019-08-30 11:06] arp242 commented on #2465
Also note it's mentioned in the README already: https://github.com/fatih/vim-go#install

[2019-08-31 17:54] bhcleek commented on #2462
These functions all exist. It seems likely that you may have multiple versions of vim-go installed, and that the loading order of the disparate versions of vim-go is the source of your issues.

[2019-08-31 18:06] bhcleek commented on #2466
Can you enable `go_echo_command_info` and then run the command it reports for your `:GoCallers` invocation in a shell and provide the error that the invocation in the shell outputs? Be sure to run the shell command in the directory that contains the file that you're calling `:GoCallers` from.

[2019-09-02 12:26] msAlcantara commented on #2462
Yes, I review some folders in my `~/.vim` folder and I see some other folders of vim-go, I removed all and installed again with `:PlugInstall`, and now, all worker good. Thanks!!

[2019-09-02 12:26] #2462 closed

[2019-09-02 19:45] bhcleek commented on #2467
The gopls integration has changed quite a bit since vim-go 1.20. I'd recommend that you upgrade to the latest master and also that you upgrade your Go version. After doing both of those things, run `:GoUpdateBinaries gopls` see if you still experience problems.

[2019-09-02 20:11] bhcleek commented on #2469
This error seems to be coming from delve. Can you enable `g:go_echo_command_info`, run the command that it outputs in `D:\GOPATH\src\foo`, and see if it provides any additional information?

Are there any Go files in `D:\GOPATH\src\foo` other than `main.go`?

[2019-09-02 20:40] bhcleek commented on #2466
`guru` can't find all the callers for a function when some of the packages won't build and will fail under such conditions.

If you'll run `:messages` after `:GoCallers`, you'll see a lot of errors. Try resolving those first (`go build ./...` will be helpful for you), and then try `:GoCallers` again.

[2019-09-03 02:28] wining commented on #2469
Only the file main.go is in this folder.

There is no additional information.
![image](https://user-images.githubusercontent.com/4005513/64139986-713e2f00-ce35-11e9-9827-60a12092d129.png)

[2019-09-03 02:31] wining commented on #2469
dlv command runs well。
![image](https://user-images.githubusercontent.com/4005513/64140137-f6294880-ce35-11e9-9b45-df79a7e9dbd0.png)

[2019-09-03 03:58] dcu commented on #2348
I'm having the same problem and I don't understand what @bhcleek said. The command is not returning 0 when I run it from the terminal, either from the same or different working dir

[2019-09-03 09:05] aj3423 commented on #2467
I tried update Go to the latest version go1.12.9,  and update vim-go to the latest master, then `:GoUpdateBinaries gopls`,  but problem still exists.

[2019-09-03 09:11] dolmen opened #2470 "syntax/gomod.vim: add syntax for "go 1.12" line"
### What did you do? (required: The issue will be **closed** when not provided)

When editing `go.mod`, the "go 1.12" line is not colored

### What did you expect to happen?

The `go` keyword should be colored like `module` or `require`.

### What happened instead?

The `go` keyword is not colored like `module` or `require`.

### Configuration (**MUST** fill this out):

#### vim-go version:

1.20

[2019-09-03 17:51] nolash opened #2471 "No format on save with go_fmt_autosave"
### What did you do? (required: The issue will be **closed** when not provided)

Trying to achieve auto-formatting of go files on buffer write.

### What did you expect to happen?

on :w the file should be automatically goformatted

### What happened instead?

nothing happened. I tried explicitly setting `let [g:]go_fmt_autosave = 1` and `let [g:]go_fmt_command = goimports"'`. I _have_ run `GoBina

[2019-09-03 23:48] dcu commented on #2331
@preslavmihaylov were you able to solve this?

[2019-09-04 04:56] preslavmihaylov commented on #2331
So I migrated to golangci-lint and it still doesn’t show errors.

But I installed YouCompleteMe for auto completion, and it has error detection in it apart from the code completion. Hence, I use golangci-lint for govet, lint, errcheck, etc and YCM for code completion and error detection.

[2019-09-04 12:56] dcu commented on #2331
well that's not good. it used to work fine with gometalinter.

@bhcleek can you explain why the exact same command that's executed by vim-go returns exit code 1 in the shell and 0 in vim? I don't understand

[2019-09-04 14:41] bhcleek commented on #2331
@dcu, I don't normally monitor closed issues. If you believe you've found a new bug, please open a new issue.

I do not recall having seen golangci-lint exit 1 in the shell and 0 in vim.

relevant:
* https://github.com/fatih/vim-go/issues/2331#issuecomment-498804018
* https://github.com/golangci/golangci-lint/issues/592

[2019-09-04 15:37] carnott-snap commented on #2344
@bhcleek [1.13](https://golang.org/doc/go1.13) is out

[2019-09-04 15:39] carnott-snap commented on #2344
nevermind, looks like this got fixed in 68126af7941994658e16af912ae1b51b7e06a47d

[2019-09-06 01:11] bhcleek commented on #2471
Can you duplicate this on master?

[2019-09-06 14:08] guyfedwards commented on #2467
@aj3423 I solved this by making my directory a go module. My directory was outside the go path and so I think that was causing issues without being a module.

You can make you project a module like so:
[code]

[2019-09-06 14:26] aj3423 commented on #2467
@guyfedwards This works, for modules ouside *gopath*, but some project are inside *gopath*, it says:

`go: modules disabled inside GOPATH/src by GO111MODULE=auto; see 'go help modules'`

There may be another workaround, but for now this is not big problem, I just press 'Enter' one more time when save file.

Wait for the *gopls* upgraded to solve the problem.

[2019-09-06 14:39] bhcleek commented on #2467
You definitely do not need to be in a module in order to avoid this issue. I work in both GOPATH mode and module aware mode regularly and never see this issue. I'm not sure if it's related to the version of Neovim you're using or something else, but anything you can do to help identify unique characteristics of your configuration may be helpful.

[2019-09-06 14:48] bhcleek commented on #2471
I also use Vim's native packages to host vim-go and don't see any issue, so I'm pretty sure that's not a relevant factor here, and the fact that `:GoFmt` exists suggests that it i not.

Why did you spell `let [g:]go_fmt_autosave = 1` with brackets? 🤔

Autoformatting generally works well. Let's see if we can isolate the problem to whatever may be unique about your configuration...

[2019-09-06 14:58] aj3423 commented on #2467
@bhcleek My vimrc can be found in origin post (the vimrc section), I use *vim-plug*, and I tried to erased everything else in vimrc except vim-go, but still the same.

[2019-09-06 15:00] bhcleek commented on #2467
Does `:messages` show anything useful? Perhaps an error is getting output and then overwritten before you see it.

[2019-09-06 15:11] aj3423 commented on #2467
@bhcleek Oh, yes I forgot to mention, there is a red message on startup: `vim-go: initialized gopls`.  It's is confusing that the text looks like *gopls* is successfully initialized, but it's in red which means it's an error.

![image](https://user-images.githubusercontent.com/4710875/64438658-10477d00-d0fb-11e9-80cb-4c4ba6904596.png)

[2019-09-06 17:02] bhcleek commented on #2467
the coloring there is an artifact of your syntax file. vim-go's progress messages are highlighted as `Identifier`.

[2019-09-06 17:04] rjshrjndrn opened #2474 "[Question] Completion with ncm2"
Hi,
First of all, thank you for this awesome plugin.
Is there any way to do autocompletion with [ncm2](https://github.com/ncm2/ncm2/)

[2019-09-06 17:41] bhcleek commented on #2474
I don't know. I'd suggest checking the docs for ncm2 to see how its autocompletion can be configured. If you have specific questions about what vim-go provides, I'm happy to help.

[2019-09-06 19:52] taybart commented on #2467
I am also getting this issue
[code]
vim-go is at master

[2019-09-07 11:38] gun1x opened #2475 "errors don't appear on save with go 1.13"
### What did you do? (required: The issue will be **closed** when not provided)
I update to go 1.13.

### What did you expect to happen?
Everything to work fine.

### What happened instead?
Vim is not showing errors any more

### Configuration (**MUST** fill this out):

#### vim-go version:
1.20-1

####  `vimrc` you used to reproduce (use a *minimal* vimrc with other plugins disabled; do not link

[2019-09-07 12:17] gun1x commented on #2475
![image](https://user-images.githubusercontent.com/11086708/64474797-7e835280-d182-11e9-8275-e5bf76cd4107.png)
As can be seen in the picture, I don't get any errors pointing the row on the left side of the line numbers.

[2019-09-07 13:43] mb0 opened #2476 "test error format for wrapped errors using go1.13 or xerrors"
### What did you do?

I wrote go code using the new error wrapping features in tests.

### What did you expect to happen?

Being able to jump to the file location in the quickfix list.

### What happened instead?

I looked for issues, then at the vim-go code and the documentation of vim's error format and added three lines to `vim-go/autoload/go/test.vim`:

[code]
### Why not a pull request?

I am

[2019-09-07 15:10] bhcleek commented on #2476
Thank you for the contribution.

Can you give more information about your use case for this? Were you using Go tests?

[2019-09-07 15:29] bhcleek commented on #2475
The errors you're expecting to see on save would be compilation errors, and since the file isn't compiled on save, I'm not clear on why you would expect to see the errors when saving the file. What am I missing? 🤔

[2019-09-07 16:13] gun1x commented on #2475
Before the upgrade, I was getting errors on save.

[2019-09-07 16:19] gun1x commented on #2475
@bhcleek syntax errors are presented at 1:35 in [this video](https://www.youtube.com/watch?v=Gen2OXG-3f8)

[2019-09-07 16:33] bhcleek commented on #2475
I'll see what I can do, but the errors in that video are different from what you're seeing. In the video, the errors are for an undeclared variable. In the case you've presented, it's a type that's not defined.

I'll see what I can do, but it's possible that this is a result of a change to gofmt.

[2019-09-07 16:36] mb0 commented on #2476
Sure thing. If you use go tests and print extended error information of wrapped errors:
`t.Errorf("my test error: %+v", err)` where error itself uses the new error decoration `fmt.Errorf("decorated message: %w", err)` the output has the following form:
[code]

Without the patch the whole block is used as message, not detecting the wrapped file locations.

[2019-09-07 16:36] gun1x commented on #2475
![image](https://user-images.githubusercontent.com/11086708/64477650-d16f0100-d1a6-11e9-9bb8-1a5a95c53e02.png)

[2019-09-07 16:58] bhcleek commented on #2476
Thank you, that's helpful. I'll take a look at some features and see whether or not I think this makes sense to support.

If I do decide to merge it, do you mind if I push any needed changes and tests to your branch?

[2019-09-07 16:59] bhcleek commented on #2475
Thanks, I'll take a closer look in the next couple of days.

[2019-09-07 17:43] mb0 commented on #2476
Not having a clone on github right now, but I can create one and send a pull request if that helps.

To advocate for a change, not necessarily this one: Thinking back this feature is the main ~~pain~~ inconvenience point when using vim-go, because most of the locations I want to jump to are part of the wrapped error, not in the test file. It was the one and only thing I checked after updating vim-

[2019-09-07 17:46] bhcleek commented on #2476
Thanks for the feedback, and I realize now that of course you hadn't created a PR 😀.

[2019-09-08 06:34] bhcleek commented on #2475
@gun1x  I've taken another look at this.

The error you were seeing on save was never from `gofmt` from what I can tell. The _only_ way that I can duplicate showing compilation errors on save is if `g:go_metalinter_autosave` is enabled, `g:go_metalinter_command` is set to `gometalinter`, and Go 1.12.9 or lower is installed.

After a lot of digging, I tracked the problem you reported down to a chan

[2019-09-08 07:25] bhcleek commented on #2469
My previous instructions had a typo.

Should have been:
 Can you enable `g:go_debug=['shell-commands']`, run the command that it outputs in `D:\GOPATH\src\foo`, and see if it provides any additional information?

[2019-09-08 07:44] hmgle commented on #2421
I found a trick to share the gopls server with all other editor instances, not only with ycm.

1. Rename the gopls, in order not to start gopls by vim-go or ycm, vim-lsp...

[code]

2. Create the gopls script:

[code]

3. We start the gopls in TCP server mode, this command can be registered to system services to run on system startup:

[code]

4. Then open the `go` files with vim, no matter how ma

[2019-09-08 07:44] bhcleek commented on #2475
Despite finding a workaround for `gometalinter`, I'm re-opening so that we can finish the conversation just in case you have something else going on

[2019-09-08 08:06] bhcleek commented on #2476
Are you sure you're using the Go 1.13 release? I am unable to duplicate the behavior you're describing. Here's a couple of plays to demonstrate.

* https://play.golang.org/p/7_c3w8qeRZs
* https://play.golang.org/p/by5TWJdtD1t

[2019-09-08 08:23] wining commented on #2469
I try this in another computer which has the save error.
Is this message ok?
![image](https://user-images.githubusercontent.com/4005513/64485533-b8bd2480-d254-11e9-940c-782bdde907a2.png)

[2019-09-08 08:34] bhcleek commented on #2421
@stamblerre can you weigh in regarding whether the technique that @hmgle suggests is supported by `gopls` and what the ramifications for adopting it may be?

[2019-09-08 08:41] bhcleek commented on #2467
@aj3423 Try updating `gopls` by runnning `GoUpdateBinaries gopls`. Afterwards, if you still experience this problem, can you check that `gopls` is running immediately after you get the `gopls initialized` message and again after trying to save your file?

If it's running after you get the `gopls initialized` message, but you still get the error message when trying to save a file, then exit out of

[2019-09-08 08:54] bhcleek commented on #2469
That's helpful. Can you give #2480 a try to see if it fixes the problem for you?

[2019-09-08 08:56] mb0 commented on #2476
ah ok, that explains it. I am still using a vendored xerrrors package. I though that change made it in.
Before that i used pkg/errors which has a similar feature, I think.

Anyway, sorry for the confusion, i should've checked,  and have a nice sunday.

[2019-09-08 09:02] hmgle commented on #2421
As @thomasfaingnaert mentioned https://github.com/prabirshrestha/vim-lsp/issues/469#issuecomment-523162746,  we can start the gopls server outside of Vim, and use `ch_open` instead of `netcat` or `socat`.

[2019-09-08 09:02] #2465 closed

[2019-09-08 09:10] bhcleek commented on #2421
@hmgle there are more concerns here than simply whether or not the technique is theoretically possible. `gopls serve` is mostly intended for debugging right now, and I'm concerned that advising people to use it and multiplexing connections may be sending them down an unsupported path that will make it difficult for those of us that are editor maintainers and the gopls maintainers to analyze issues

[2019-09-08 09:12] #2476 closed

[2019-09-08 09:20] wining commented on #2469
This problem is Fixed. But the command "GoDebugContine" dosenot work well.
![image](https://user-images.githubusercontent.com/4005513/64486229-ce364c80-d25c-11e9-8095-abc0b8a706cf.png)

[2019-09-08 09:20] #2469 closed

[2019-09-08 09:37] bhcleek commented on #2469
@wining please open a new issue for the problem you're having with `:GoDebugContinue` with information that can be used to duplicate the problem you're having (e.g. did the second invocation of `GoDebugContinue` fail or the first invocation?).

FWIW, it's probably a good idea to `:GoUpdateBinaries dlv` if you haven't updated it recently.

[2019-09-08 09:46] wining commented on #2469
Ok! I have duplicate the problem and i will open a new issue.

[2019-09-08 10:33] wining opened #2481 "GoDebugContinue doesnot work in windows 10"
### What did you do? (required: The issue will be **closed** when not provided)
I debug the only  file "main.go" in path "E:\GoProjects\src\foo".

The dlv version:
Version: 1.3.0
Build: $Id: 2f59bfc686d60989dcef9de40b480d0a34aa2fa5 $

The commands:
GoDebugStart
GoDebugBreakPoint
GoDebugContinue

### What did you expect to happen?

### What happened instead
After about 10 more seconds, it disappear

[2019-09-08 12:51] gun1x commented on #2475
@bhcleek Thank you for your interest on the subject.

### Go 1.12

Yea, downgrading back to `pacman -U /var/cache/pacman/pkg/go-2:1.12.9-1-x86_64.pkg.tar.xz` restores old behavior:
![image](https://user-images.githubusercontent.com/11086708/64488284-d1c2d700-d24e-11e9-91e1-373dcef6c831.png)
This helps a lot with writing code, as you don't have to do GoRun and manually check the lines where problem

[2019-09-08 15:33] bhcleek commented on #2475
That's odd. I'm not sure how you're getting this behavior with Go 1.12 🤔

In any case, I'd recommend not using `:GoRun` for this. Though it will do what you want, it's a bit of an abuse of of the command and won't really be much better than simply doing `:GoBuild`.

You _could_ run `:GoBuild` on save pretty easily by adding `autocmd <buffer> BufWritePre go#cmd#Build(0)`, but I think you can do bet

[2019-09-08 15:40] bhcleek commented on #2475
I should also point out that I expect v1.22 of vim-go (i.e. the release after next) to have automatic, real time support for identifying this kinds of errors, so you'll be told about these kinds of errors in real time, without even having to save. Now that I think about it, I could modify vim-go to provide it on save no pretty easily, because `gopls` provides the information already, so I'll look

[2019-09-08 15:54] bhcleek commented on #2481
There's an error in the delve output there. Perhaps you're not using the version of delve that you think you are. Like last time, can you start vim with `vim -c 'let g:go_debug=['shell-commands']`, duplicate y our problem, and then run the delve command that's output in the directory of the file you're debugging? You can safely elide the `---headless`, `--listen`, and `127.0.0.1:8181` options.

No

[2019-09-08 20:31] gun1x commented on #2475
I install my plugins from AUR instead of using a package manager. These are the `vim` packages which I installed:
[code]
One of them might throw the syntax errors. I suspect ale.

[2019-09-08 20:55] gun1x commented on #2475
both on `vim-go 1.20-1` and on `vim-go-git 20150710-1` ([from here](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=vim-go-git)) I can add
[code]
To get warnings at the bottom of vim:
![image](https://user-images.githubusercontent.com/11086708/64494322-fa20f480-d293-11e9-9816-0987118a8632.png)
But without arrows. This is still awesome, though, cause typecheck will display all errors and you

[2019-09-09 00:22] bhcleek commented on #2475
What do you means by vim-go 1.20-1?

[2019-09-09 02:02] bhcleek commented on #2160
I've been taking a closer look at the debugger code in preparation for merging some PRs for it, and I've realized that the behavior you reported actually is a bug, because the code _already_ tries to send continue when the application starts.

I'll resolve this as soon as I can.

[2019-09-09 04:08] rjshrjndrn commented on #2474
Thank You.

[2019-09-09 04:08] #2474 closed

[2019-09-09 12:27] preslavmihaylov opened #2482 "Make GoDoc run in the background"
Running `:GoDoc` makes my vim session block as it is not ran in the background. This might not be an issue for small codebases, where the blocking call is quick enough, but it causes frustration when using the command on larger codebases.

It would be great if `:GoDoc` runs in the background, without blocking my editor, similar to how  the guru-related commands work (e.g. `:GoReferrers`)

### Conf

[2019-09-09 12:40] gun1x commented on #2475
I don't get the question. If you ask what's up with `-1`, it's probably [just this](https://github.com/fatih/vim-go/releases/tag/v1.20) but pacman adds the `-1`.

If you are asking about the strange behavior. I was hitting `:w` and it was randomly closing the active file and opening the hello world template. I tried again on another system today and I don't see this problem. Maybe it was some stra

[2019-09-09 14:55] bhcleek commented on #2475
yeah, that's weird, but since we're getting ready to release v1.21. and v1.20 is pretty old, I'm inclined to not worry about.

I think we've come to an end for this conversation and should close this issue then unless there's still something unresolved for you. WDYT?

[2019-09-09 14:58] gun1x commented on #2475
You've been really helpful. I think anybody interested in the topic will also find all required information here. Ticket can be closed, yes.

Have fun releasing v1.21!

[2019-09-09 15:08] #2475 closed

[2019-09-09 16:12] taybart commented on #2467
Getting a panic from an interface conversion. This all happend around the time I updated to 1.13 last week. I can't imagine what would cause the lsp to go crazy.

![image](https://user-images.githubusercontent.com/3513897/64547591-1a7b9e00-d2ea-11e9-9dd1-3143bb0cedcb.png)

[2019-09-09 16:46] aj3423 commented on #2467
@bhcleek I'm using the *nvim-qt.exe*, it doesn't support `-c`, so I put `let g:go_debug=["lsp"]` at the top of my *vimrc*. When I open an HelloWorld .go file, this is the output:

	sent: Content-Length: 384
	{"method": "initialize", "jsonrpc": "2.0", "id": 1, "params": {"rootUri": "file:///E:/go/2", "capabilities": {"workspace": {"workspaceFolders": true, "configuration": true, "didChangeConfigura

[2019-09-09 18:18] stamblerre commented on #2421
I would not recommend doing this, as we do ultimately intend to support this in `gopls` directly (https://github.com/golang/go/issues/34111). It probably won't happen very soon, as it's not a high priority, but I would not endorse hacks to get around this, for the reasons that @ianthehat describes in his comments on that issue.

[2019-09-09 20:36] bhcleek commented on #2467
@taybart is that relevant to @aj3423's issue? If not, feel free to open a new issue to ask for help (FWIW, try `:GoUpdateBinaries gopls`)

[2019-09-09 20:40] bhcleek commented on #2467
@aj3423 it looks like you may be using an old version of `gopls`. To verify, can you also add `'shell-commands'` to `g:go_debug` (e.g. `let g:go_debug=["lsp", "shell-commands"]`). That will cause vim-go to output the full shell command that it uses to start `gopls`, including the full path to `gopls`.

[2019-09-09 21:46] bhcleek opened #2483 "format with gopls"
Add support for formatting with gopls instead of `gofmt` or `goimports`.

##### acceptance criteria
* when `g:go_fmt_command` is `gopls` vim-go uses `gopls` to format Go source files
* when `g:go_fmt_command` is set to `gopls`, `gopls` should be used regardless of the value of  `g:go_fmt_experimental`.
* `g:go_fmt_experimental` should be respected regardless of the value of `g:go_fmt_command`.

[2019-09-10 02:35] wining commented on #2481
It seems to work well with dlv command.

![image](https://user-images.githubusercontent.com/4005513/64579758-89bec400-d3b6-11e9-9f44-1f369c387150.png)

![image](https://user-images.githubusercontent.com/4005513/64579757-89bec400-d3b6-11e9-8973-7b5162caecea.png)

[2019-09-10 04:30] bhcleek commented on #2481
Do you see the same problem with `:GoDebugContinue` even when debugging a very simple application? e.g.:

[code]

[2019-09-10 04:44] wining commented on #2481
Yes. The example has the same problem.

[2019-09-10 04:46] bhcleek commented on #2481
What's the output in the __GODEBUG_OUTPUT__ window when debugging the simple example?

[2019-09-10 04:51] wining commented on #2481
![image](https://user-images.githubusercontent.com/4005513/64585014-ad3f3a00-d3c9-11e9-8116-ef76d12e7f89.png)

[2019-09-10 04:54] wining commented on #2481
It seems to work well.  But when the first time run GoDebugContinue, it will stop for about 10 seconds.

[2019-09-10 05:01] wining commented on #2481
Is this gif helpful?
![GoDebugContinue](https://user-images.githubusercontent.com/4005513/64585364-14112300-d3cb-11e9-81f4-902535bca859.gif)

[2019-09-10 06:30] al-maisan commented on #2078
did you find a faster tool in the end? If so, which one?

[2019-09-10 06:54] preslavmihaylov commented on #2366
FYI, related issue in `gorename` repo: https://github.com/golang/go/issues/27571

TL;DR; - `gorename` will no longer be supported. `gopls` already has rename functionality

[2019-09-10 07:06] al-maisan commented on #2078
Never mind, switched to `godef` and it's fast enough for me :)

[2019-09-10 07:44] lxstorm opened #2484 "GoVet can not jump to err place with go1.13"
### What did you do? (required: The issue will be **closed** when not provided)
use  :GoVet
enter on the error line below

I think this error may correspond to the change of the output which `go vet` produce
in before version: go vet will output err message like `./xxx.go:12:2: err msg`,
in 1.13 go the go vet produce `vet: /xxx.go:12:2: err msg`
so when enter on error line it will jump to a "vet:

[2019-09-10 09:25] aj3423 commented on #2467
@bhcleek Thanks. I checked the modify-date of the *gopls.exe*, it's 2019.4.16, Maybe it's too old. I updated to latest version by `set GO111MODULE=on` and `go get golang.org/x/tools/gopls@latest`. Now everything works fine, no more error.

[2019-09-10 14:09] bhcleek commented on #2484
I only see the problem you describe when there's a compilation error in the file I'm trying to vet.

[2019-09-10 16:39] #2467 closed

[2019-09-10 16:57] lxstorm commented on #2484
yes, that is the point, the problem is jump to the wrong place. I guess the vim-go use `:` and `/` to split the args and use the first item as filepath, when apply to go1.13's `go vet`, the splited first arg become `vet: .` and that is an wrong path
execute `go vet` in the directory which has an error main.go, the outputs are different
go1.10.7's vet
`./main.go:4:2: cannot use _ as value`
go1.13's

[2019-09-10 23:33] #2484 closed

[2019-09-11 15:01] bhcleek commented on #2481
The gif doesn't seem to show much else other than what we've already talked about. 🤔

[2019-09-11 15:17] CalebLarsen opened #2487 "No AST for new files"
### What did you do? (required: The issue will be **closed** when not provided)
Frequently I will make a new go file or read somebody else's code, and then attempt to use :GoDef on functions and have the function fail. The error I get is that there is no AST for that file. I've tried to search how to resolve this issue and have not found any resolutions (although I found another soul on reddit had

[2019-09-11 15:58] bhcleek commented on #2487
The default for `g:go_def_mode` is `gopls`, which requires that the file is on disk, so just save the file before trying to jump to a definition.

This will be remedied in a future version of `gopls`.

Alternatively, if you're in GOPATH mode, then you can set `g:go_def_mode` to `godef` or `guru`.

[2019-09-12 04:18] bhcleek opened #2488 "drop support for Vim 7.4"
Drop support for Vim 7.4

- [ ] update build scripts
- [ ] update warning messages
- [ ] update checks for Vim 7.4

[2019-09-12 04:19] bhcleek opened #2489 "drop support for gometalinter"
gometalinter is deprecated and archived; it's time for vim-go to fully drop support for it.

[2019-09-12 05:14] Tahuri opened #2490 "Error on the installation of vim-go"
### Configuring the vim-go with vim-plug

`
Plug 'fatih/vim-go', { 'tag': '*', 'do': ':GoUpdateBinaries' }
`

After the configuration, when I execute the command ":PlugInstall" the package gopls could not install, the error that is showing is:

`
Error installing golang.org/x/tools/gopls@latest: go: cannot find main module; see 'go help modules'^@
`

with the version v1.20 it work and I can instal

[2019-09-12 05:41] zhangbo1882 commented on #2471
I have met the same issue after I upgrade the vim-go to the latest version

[2019-09-12 07:24] hellodudu commented on #2487
Same problem, using godef can solve this. But it's much more slower when jumping.

[2019-09-13 05:22] nikchis opened #2491 "Screen corruption on version 1.21 & tmux"
### What did you do? (required: The issue will be **closed** when not provided)

1. Download & unpack vim-go v 1.21 to `../start/`
2. Install gopls: `GO111MODULE=on go get golang.org/x/tools/gopls@latest`
3. Open file: `vim config.go`

### What did you expect to happen?
v 1.20
![Screenshot_2019-09-13_10-50-06](https://user-images.githubusercontent.com/43509868/64838315-61340580-d614-11e9-9687-f2ba

[2019-09-13 06:22] #2491 closed, assigned to nobody

[2019-09-13 17:32] niks3089 commented on #2466
No, thanks. Closing..

[2019-09-13 17:32] #2466 closed

[2019-09-15 18:57] yangmillstheory opened #2492 "Prompt user for confirmation when uploading snippet to play.golang.org."
Simple request: prompt the user for confirmation when `:GoPlay` is called.

Currently no confirmation is required, so this is a security risk, since uploaded code can be private, but the play.golang.org is public. We should make the risk absolutely clear to the user.

[2019-09-16 10:13] dvrkps opened #2493 "nvim: GoUpdateBinaries fails for keyify"
### What did you do? (required: The issue will be **closed** when not provided)

:GoUpdateBinaries

### What did you expect to happen?

No errors

### What happened instead?

<details><pre>

vim-go: Updating keyify. Reinstalling honnef.co/go/tools/cmd/keyify to folder /Users/davor/bin/
Error downloading honnef.co/go/tools/cmd/keyify: get "honnef.co/go/tools/cmd/keyify": found meta tag get.metaImpo

[2019-09-16 14:37] bhcleek commented on #2492
This was previously discussed in #1615. You may be interested in Fatih's answer on that issue: https://github.com/fatih/vim-go/issues/1615#issuecomment-351929088

[2019-09-16 14:41] bhcleek commented on #2493
It looks like you may have keyify in your GOPATH already and a detached head checked out. Can you verify, and if a detached head is checked out, checkout its master branch and then try `GoUpdateBinaries` again.

[2019-09-16 17:41] rbisewski commented on #2489
If no one else is working on this, I'll see if I can make a pull request later today.

[2019-09-16 18:14] #2493 closed

[2019-09-16 19:49] arumals commented on #86
This worked for me.

[2019-09-16 21:01] rbisewski commented on #2488
I'll see if I can make a pull request soon enough.

[2019-09-16 23:06] #2492 closed

[2019-09-17 09:35] zoliky commented on #474
I confirm GoImports doesn't work in Neovim when saving a file but it works when calling it manually :GoImports. I don't have that issue in Vim. GoImports works automatically when saving a file in Vim. However in Neovim nothing happens when saving.

[2019-09-17 22:00] ehrktia opened #2496 "ctags /gotags stopped working"
### What did you do? (required: The issue will be **closed** when not provided)
started new project outside $GOPATH and ran Ctags -R . command in terminal to generate tag file .
tag file was empty so added support to go in Ctags using custom ~/.ctags file.
Tag generation was successful after custom tag file .
when trying to jump to defn using `C-] ` command the following error message is flashing

[2019-09-17 22:16] bhcleek commented on #2496
vim-go doesn't use tags files for jumping to definitions.

Can you provide some more details on how to duplicate the error you're seeing? (e.g. path to a file to jump from and path to a file to jump _to_, perhaps a simple reproduction case with code).

How did you update `gopls`?

Finally, this _might_ be related to https://github.com/golang/go/issues/34298.

[2019-09-17 22:27] ehrktia commented on #2496
`goals`
went in to $GOPATH in terminal and ran the following command
`go get -u golang.org/x/tools/cmd/gopls`
`go install golang.org/x/tools/cmd/gopls`
output of `gopls version` command
` version v0.1.6-cmd.gopls, built in $GOPATH mode`

[2019-09-17 22:56] rbisewski commented on #2483
I'll take a shot at doing this, if nobody else is.

[2019-09-17 23:15] ehrktia commented on #2496
thanks very much 👍 some how it started working again now.
i did install govim and remove it from system.
All went fine left the vimrc with C-] mapping i had created for govim.

[2019-09-17 23:41] #2488 closed

[2019-09-17 23:41] #2489 closed

[2019-09-17 23:41] bhcleek commented on #2471
closing for lack of feedback

[2019-09-17 23:41] #2471 closed

[2019-09-17 23:42] #2338 closed

[2019-09-17 23:50] bhcleek commented on #2483
This will be a bit tricky to get right, but the basics are that `gopls` will provide a list of changes to make. Those changes need to be applied starting in reverse order (i.e. starting at the last line), because of the way the LSP protocol defines them.

Let me know if you have any questions or need a hand.

[2019-09-17 23:54] bhcleek commented on #2496
Just FYI: installing gopls that way will install its master, which may be in a broken state. You can install using `go get golang.org/x/tools/gopls@latest` at the command line or `:GoUpdateBinaries gopls` from within vim with vim-go to install the latest release of gopls.

[2019-09-17 23:54] #2496 closed

[2019-09-18 06:40] AckslD opened #2498 "Passing flags to vet?"
### What did you do?
This is a question: Can I pass arguments to vet? For example can I disable the following warning
[code]
This can be done from terminal as `go vet -composites=false .`, however I don't know how to set this in the settings.

[2019-09-18 12:49] ehrktia commented on #2496
thanks bhcleek for your additional info.

[2019-09-18 15:23] bhcleek commented on #2498
Yes, you can pass flags to `go vet` with `:GoVet`: https://github.com/fatih/vim-go/blob/master/doc/vim-go.txt#L243-L254

[2019-09-18 15:23] #2498 closed

[2019-09-18 18:22] rbisewski commented on #2483
So you think a simple `gopls format -w /path/to/file.go` and some new tests won't suffice? I've been testing this on my own code for the last day or so and it seems to format correctly; to my knowledge anyway, I will admit I am far from a gopls expert.

If it's alright with you, I have pushed my changes to a branch, so I'll make a pull request in a few minutes and we can continue the discussion th

[2019-09-19 01:32] bhcleek commented on #2483
Yeah, as I mentioned on the PR, `gopls format` doesn't add any value over `gofmt`, because they both use the same underlying packages to do the formatting. However, `gopls` regularly outputs a  formatted file.  Basically, any time it's sent the `document/didChange` or `document/didOpen` request, it will send a diagnostic with the formatted output.

As I've been thinking about it more, I'm starting

[2019-09-19 02:03] rbisewski commented on #2483
Agreed and yeah, `gopls` doesn't add imports, so probably your suggestion is the most straightforward way it could be done :)

[2019-09-19 02:33] bhcleek opened #2500 "use gopls for same ids"
`go#guru#SameIds` should be replaced with a function that uses `gopls` instead of `guru` so that same id highlighting will work in module aware mode and to reduce battery drain when `g:go_auto_sameids` is set.

The `textDocument/references` LSP request returns references to the identifier at a cursor location.

[2019-09-19 02:33] bhcleek commented on #2483
FWIW, I think that `gopls` will add imports, but `gopls format` does not.

[2019-09-19 02:43] jschwinger23 opened #2501 "make `--exclude-use-default` configurable"
### What did you do? (required: The issue will be **closed** when not provided)
composed a golangci-lint config file under the project root dir but failed to make it work

[code]

### What did you expect to happen?
it's expected that `exported method should have comment or be unexported` is hidden because I specified `exclude-use-default: true` in config file.

### What happened instead?
error `ex

[2019-09-19 02:45] jschwinger23 commented on #2501
I believe the issue is caused by https://github.com/fatih/vim-go/blob/75fa6fe70c5b9d7f7856bc26972d9ee97d99f7db/autoload/go/lint.vim#L251, could we add a variable to toggle this flag?

[2019-09-19 04:12] bhcleek commented on #2501
I'm reluctant to add specific support for this for reasons that are outlined in https://github.com/golangci/golangci-lint/issues/456.

However, vim-go does support specifying your own metalinter command to run by setting `g:go_metalinter_command` to the value you want. 🤔

[2019-09-19 04:29] bhcleek commented on #2501
I'll give this some more thought; it may be possible to provide a feature to do this easily in a way that gives you more control generically and will be extensible in the future. 🤔

[2019-09-19 04:39] AckslD commented on #2498
Thanks for your reply @bhcleek! What about when using `let g:go_metalinter_autosave = 1`?

[2019-09-20 05:09] AckslD opened #2502 "Disable composite warnings"
### What did you do? (required: The issue will be **closed** when not provided)
After updating to latest version (031b81c) vim-go has become unusable for me. It keeps warning about `composites: xxx composite literal uses unkeyed fields (govet)` every 10 seconds or so and jumping to a line with this warning, without me executing any command or saving the file.

### What did you expect to happen?
No

[2019-09-20 05:25] hermantai opened #2503 "Error detected while processing function <SNR>13_register[9]..go#lsp#DidOpen[19]..9[33]..12:"
### What did you do? (required: The issue will be **closed** when not provided)

**Environment**
In Chrome OS, with VIM version 8.0.707
$ ls ~/.vim/autoload/
pathogen.vim

vim-go is the only package in bundle.

**Repro**
Open a go file, then got this error:

When saving the go file, I got:

Ran :GoInstallBinaries got: vim-go: installing finished!  The problem was not solved.

### What did you expe

[2019-09-20 08:47] jschwinger23 commented on #2501
never mind, I made it by implementing a crude compiler:

1. compose a compiler file:
[code]

2. configure project lint:
[code]

3. add some shortcuts for auto lint once `:w`
[code]

4. then simply type `:w` and voilà, use ctrl-n / ctrl-p to jump.

Thanks all the same.

[2019-09-20 08:47] #2501 closed

[2019-09-20 14:31] theclapp opened #2504 "GoDef that takes you to a file that's already open in another Vim doesn't work correctly"
### What did you do?

`^]` (aka `:GoDef`) on a Go type
**The file that holds the type is being edited by another Vim.**  So, for example, a swapfile for that file exists.

### What did you expect to happen?

Open the other file, with the cursor on the type.

### What happened instead?

Error / exception:
`Found a swap file by the name ... [etc]`
and these messages:
[code]

(I believe the above is

[2019-09-20 14:40] theclapp commented on #2504
I believe the root of the problem is in autoload/go/def.vim, in
[code]

Since there's an exception when opening the file, the rest of the function after that (and in the rest of the call stack) isn't executed.

I added these lines around that `exec` to `set shortmess+=A` ([shortmess help](http://vimdoc.sourceforge.net/htmldoc/options.html#'shortmess')):

[code]

This saves `&shm`, adds `A` (`don't

[2019-09-20 16:57] robjloranger opened #2505 "neovim: term close on exit - not closing"
### What did you do? (required: The issue will be **closed** when not provided)

I set up vim-go with neovim.

I ran `GoTest` and `GoTestFunc` with `go_term_enabled = 1` and after the tests pass, the terminal stays open. I tried explicitly setting `go_term_close_on_exit = 1` with no luck. This was also checked with all plugins disabled **except** vim-go.

### What did you expect to happen?

I thou

[2019-09-20 18:46] bhcleek commented on #2503
On master, vim-go requires Vim 8.0.1453 or later.  If you can duplicate this problem on at least version, I'll be happy to take a closer look.

[2019-09-20 18:59] bhcleek commented on #2502
Since you have `g:go_metalinter_autosave=1`, the most likely culprit is that you have something that's saving the file regularly. Since you're using Plug, but there's no Plug calls in your vimrc, I presume that you've elided some relevant bits from your vimrc.

Short of figuring out what's causing your file to be saved every 10 seconds (if that's what's happening), then you may also try any or all

[2019-09-21 00:15] bhcleek commented on #2366
`gopls` CLI support for rename, `gopls rename` just landed. As soon as it's released, I'll update vim-go to use it instead of `gorename`.

[2019-09-21 03:58] AckslD commented on #2502
@bhcleek Thanks for your reply! I update the vimrc with the Plug calls I have. I like the linting on save, I just don't see why not setting the field-names should be a linting error and if there is a way to keep the linter on save but not check for this warning. I don't know what might be saving continuously, I could try to investigate whether this is actually the case.

[2019-09-21 04:17] bhcleek commented on #2502
Checking for unkeyed fields in struct literals is default `go vet` behavior. The linting you're seeing is coming from golangci-lint, and there's an open issue there to be able to disable the `composite` check: https://github.com/golangci/golangci-lint/issues/446.

`go vet` added this check quite some time ago, because using unkeyed literals is a bug waiting to happen. Imagine that you have this co

[2019-09-21 18:46] bhcleek commented on #2504
Thank you for the bug report.

You're right that your solution masks the error. I'd like to find a way to show the message about the the swap file without also exiting the function prematurely, but so far my attempts have always result in being placed in an empty buffer (except for when choosing the Recover option) 🤔

[2019-09-21 19:01] bhcleek commented on #2503
FWIW, the last release of vim-go, https://github.com/fatih/vim-go/releases/tag/v1.21, supports the version of Vim that you're using.

It looks like the problem you're encountering is because your version of Vim doesn't support the `cwd` argument for jobs, which vim-go requires as of https://github.com/fatih/vim-go/commit/25905d22f25e88db5a8425b47e1ef4960bdf89e9.

[2019-09-21 23:05] AckslD commented on #2502
@bhcleek Thanks again for being responsive! I might try to refactor my code. Otherwise I'll checkout the issue you linked for the golangci-lint.

[2019-09-21 23:05] #2502 closed

[2019-09-22 02:04] bhcleek commented on #2505
The terminal window is only closed when the command run in it fails for some reason; that's by design. I've created #2508 to clarify the documentation and to resolve the problem that you noticed when you change windows before the command finishes.

[2019-09-22 02:21] robjloranger commented on #2505
awesome, that makes sense then. Thanks @bhcleek

[2019-09-22 03:16] #2505 closed

[2019-09-22 07:06] hermantai commented on #2503
Thanks, using v1.21 works.

[2019-09-22 07:06] #2503 closed

[2019-09-22 17:33] bhcleek commented on #2482
I regularly use vim-go on a large codebase, and I don't see `:GoDoc` taking too long, though "too long" can be subjective. Can you give me an example of a large code base that demonstrates the problem you're seeing?

A profile might be helpful here:

[code]

[2019-09-23 09:34] hlcfan commented on #2445
I'm still seeing this with latest `vim-go` and `gopls`. When I enable `let g:go_auto_type_info = 1` and hover the cursor on import statements, such errors show up.
[code]

[2019-09-23 09:43] jimbo5644535 commented on #1202
@guoxingx thanks for sharing the solution, saved me time <3

[2019-09-23 14:55] mengyaoss77 opened #2509 ":GoReferrers too slow and high CPU usage"
### What did you do? (required: The issue will be **closed** when not provided)
:GoReferrers command on a function.

If possible, please provide clear steps for reproducing the problem.
-->

### What did you expect to happen?
return references quickly

### What happened instead?
GoReferrers never returns while CPU load 100% for a long time

### Configuration (**MUST** fill this out):

#### vim-go

[2019-09-23 15:17] ctrom opened #2510 "Calling :GoRun multiple times results in multiple panes"
### What did you do? (required: The issue will be **closed** when not provided)
When I call `:GoRun`, it opens a pane where the result of the execution is displayed. If I call the command again, an additional pane opens to display the output.

### What did you expect to happen?
I expected that the output pane would be reused for each subsequent execution.

### What happened instead?
After calling

[2019-09-23 15:20] bhcleek commented on #2510
With the vimrc that you provided, `:GoRun` should not be running in a separate window at all. Do you have `g:go_term_enabled` set?

[2019-09-23 15:25] ctrom commented on #2510
@bhcleek here is a screenshot of what I see after a single `:GoRun` execution:
![Screen Shot 2019-09-23 at 10 22 42](https://user-images.githubusercontent.com/1041401/65439090-3ef86f80-ddec-11e9-922b-dbc8c0b25500.png)
Here's one after a second execution:
![Screen Shot 2019-09-23 at 10 24 26](https://user-images.githubusercontent.com/1041401/65439159-59324d80-ddec-11e9-949d-ef933e7b72b8.png)

I hav

[2019-09-23 15:38] mengyaoss77 commented on #2509
Maybe it's problem from guru.

[2019-09-23 19:30] bhcleek commented on #2510
Sorry about the confusion; I was mis-remembering how `g:go_term_enabled` is used.

You're right, it doesn't re-use the terminal window. But I'm not sure if it _should_ 🤔

[2019-09-23 20:39] cjcjameson commented on #2365
Bump that it's annoying, lingering on my terminal's stdout after I close vim (using neovim)

[2019-09-24 07:39] preslavmihaylov commented on #2482
So I just went through the steps you told me.

Here is the output: https://pastebin.com/0Aae8jLT

The TLDR; of that paste is this:
[code]

So I'd guess around 28s is the total time GoDoc takes on my environment.

Here are some things that might help figure out where this comes from:
1. The codebase is proprietary and not hosted on `github.com` or any `godoc.org` index.
2. Running `:GoDoc` initiall

[2019-09-24 14:10] ctrom commented on #2510
How do you envision the workflow? Having to close the pane after every run (or multiple panes after every few runs) doesn't seem ideal to me.

[2019-09-24 15:33] thingsis opened #2511 "Debugger not working on Windows"
### What did you do? (required: The issue will be **closed** when not provided)

Installed vim-go
Compiled and ran program with :GoRun (works)
Tried debugging with :GoDebugStart, :GoDebugBreakpoint, :GoDebugNext

### What did you expect to happen?
The Program to be executed in the debugger as per the manual

### What happened instead?
It throws error messages already when trying to create the brea

[2019-09-24 19:10] kurtpeek commented on #2149
I have the same problem: I've created a sample Cobra app using
[code]
which has the following structure:
[code]
where `main.go` reads
[code]
and `cmd/root.go` reads
[code]
However, when I right-click on `Execute()` in `main.go` and select "Go To Definition", I get "No definition found":
![image](https://user-images.githubusercontent.com/54870775/65542423-01671580-dec4-11e9-9ad3-0b3571672a43.png)
I

[2019-09-25 02:52] bhcleek commented on #2511
I think this is a duplicate of #2481 .

I don't have a window machine, but I'd love to get to the bottom of it. If anyone can help, I would surely appreciate it.

[2019-09-25 02:54] bhcleek commented on #2510
It's a fair question. But let's turn it on its head: let's say you run `:GoRun` in multiple packages. What do you think the behavior should be?

What's the use case for overwriting a `:GoRun` terminal window? With things being async, would it make sense to overwrite an existing terminal window?

[2019-09-25 10:59] alopumomovia commented on #2078
I also switched to godef and it works now! With the default options, it is really too slow.
Are there functional differences between godef and the default?

For newcomers, add the following line to ~/.vimrc:
   let g:go_def_mode='godef'

[2019-09-25 11:10] thingsis commented on #2511
It looks slightly different, but could still very well be the same. I am sadly not very knowledgeable when it comes to VIM and how to find these errors. Yet I am willing to help if there is anything I can do/try. Just let me know!

[2019-09-25 16:40] bhcleek commented on #2511
what I really need is to figure out what delve is sending on Windows and why it's different than on other systems. Can you run vim with `vim -c "let g:go_debug=['debugger-commands']` and then provide the full contents of the `__GODEBUG_OUTPUT__` window after you see the erorrs?

[2019-09-25 20:04] Rican7 commented on #2445
I just started running into this too, after recently updating `gopls`.

To be fair, the `gopls` utility is rapidly changing, so it might just be a new error condition for it.

[2019-09-26 02:41] smartding commented on #2459
I've set `let g:go_doc_window_popup_window             = 1`  in my neovim config file, and I'm running neovim 0.4.2 on a debian box. But the `GoDoc` still shows up in a separate preview window. Is there any additional neovim configuration I should do?

[2019-09-26 03:00] smartding opened #2513 "popup window for godoc doesn't work in neovim"
### What did you do? (required: The issue will be **closed** when not provided)

run the K and GoDoc command

### What did you expect to happen?

with `g:go_doc_window_popup_window=1` in my vimrc, I expect the godoc info to show in a popup window

### What happened instead?

the godoc info showed up in a separate preview window

### Configuration (**MUST** fill this out):

#### vim-go version:

la

[2019-09-26 03:10] bhcleek commented on #2513
The option is `g:go_doc_popup_window`, not `g:go_doc_window_popup_window`.

[2019-09-26 03:18] smartding commented on #2513
thanks, popup works after changing the option name.
It seems the option name changed a few days ago.

[2019-09-26 03:18] #2513 closed

[2019-09-26 03:21] bhcleek commented on #2513
The option name has not changed, it was just spelled wrong in the changelog.

[2019-09-26 07:17] yshadow opened #2514 "Error when I hover a package within the import section"
### What did you do? (required: The issue will be **closed** when not provided)

I have a simple code like this:
package messaging

import (
	"go.uber.org/zap"
	"google.golang.org/grpc"
)

type Producer struct {
	lg     *zap.SugaredLogger
	conn   *grpc.ClientConn
}

when I hover the grpc package within the import section It throws an error

### What did you expect to happen?
If not some useful inf

[2019-09-26 08:31] thingsis commented on #2511
I hope this is what you are looking for. I did the following: I opened a file, set the current working dir to that files location. I tested the program with :GoRun, which works great. Then :GoDebugStart, :GoDebugBreakpoint, :GoDebugNext. Then the error happens...

`ERR: 2019-09-26T10:20:11+02:00 info layer=debugger launching process with args: [C:\Users\henri\AppData\Local\Temp\VIA2785.tmp]
ERR: 2

[2019-09-26 08:33] ehrktia commented on #2514
Having same issue from past week,have you got YCM and UltiSnips together along with vim-go?
Am guessing it a conflict between YCM and gopls not definitive. Trying to debug to get root cause before reporting.

[2019-09-26 08:47] yshadow commented on #2514
Hello here are the plugins I currently have installed:
Plug 'ctrlpvim/ctrlp.vim'
Plug 'fatih/vim-go', { 'do': ':GoInstallBinaries' }
Plug 'SirVer/ultisnips'
Plug 'morhetz/gruvbox'
Plug 'vim-airline/vim-airline'
Plug 'vim-airline/vim-airline-themes'

[2019-09-26 09:23] yshadow commented on #2514
hmm I thought it has something in common with g:go_info_mode ... which uses gopls by default. I wasn't trying to use autocompletion at that time. However I've changed the godef option to: let g:go_def_mode = 'gopls', but I'm not sure if it's sufficient. Anyway it didn't help. Thanks

[2019-09-26 09:39] mirza-s commented on #2484
FYI: https://github.com/golang/go/issues/34142

[2019-09-26 16:10] bhcleek commented on #2511
Do you have the same problem if you run `:GoDebugContinue` instead of `:GoDebugNext` after setting your breakpoint?

[2019-09-26 16:17] bhcleek commented on #2514
Which version of gopls are you using? You can use `gopls version` to find out.

[2019-09-26 16:51] invine commented on #2514
Having the same issue
gopls version
golang.org/x/tools/gopls v0.1.7
    golang.org/x/tools/gopls@v0.1.7 h1:YwKf8t9h69++qCtVmc2q6fVuetFXmmu9LKoPMYLZid4=

[2019-09-26 16:53] thingsis commented on #2511
If I remember correctly there was no difference. I will try again a little later. Do you need the dump again?

[2019-09-26 17:53] bhcleek commented on #2511
I don't need the dump again.

[2019-09-26 17:57] bhcleek commented on #2514
I am unable to duplicate this. I'm trying a simple reproduction of what you provided @yshadow using this file (and it's the _only_ file in the package):

[code]

If you can provide a simple reproduction case, I'm sure we can get to the bottom of the problem.

[2019-09-26 18:00] bhcleek commented on #2514
Having the gopls debugging output would be useful. If you can start up vim with `-c let g:go_debug['lsp']`, you'll get a log window with the gopls output.

[2019-09-26 18:49] yshadow commented on #2514
hello my gopls version is:
golang.org/x/tools/gopls v0.1.7
    golang.org/x/tools/gopls@v0.1.7 h1:YwKf8t9h69++qCtVmc2q6fVuetFXmmu9LKoPMYLZid4=

[2019-09-26 18:59] yshadow commented on #2514
I run vim with -c let g:go_debug['lsp'] and got this output:

<pre>
"g:go_debug[lsp]" [New File]
airline_detect_crypt  #1
gruvbox_improved_warnings #0
rainbow_conf          {'guifgs': ['#d65d0e', '#cc241d', '#b16286', '#458588'], 'ctermfgs': ['166', 'red', 'magenta', 'blue']}
airline_left_sep
loaded_plug           #1
niji_light_colours    [['blue', '#458588'], ['magenta', '#b16286'], ['red', '#cc2

[2019-09-26 19:01] yshadow commented on #2514
The minimal program which causes the problem is this:

package main

import (
	"fmt"

	"go.uber.org/zap"
	"google.golang.org/grpc"
)

type Producer struct {
	lg   *zap.SugaredLogger
	conn *grpc.ClientConn
}

func main() {
	fmt.Println("test")
}

Please note that the code is located outside of GOPATH as I'm using go modules and I have export GO111MODULE=on in my .profile

[2019-09-26 19:42] thingsis commented on #2511
Just checked. Exact same behavior.

[2019-09-26 20:21] dambrisco commented on #2514
Getting the same error when hovering over package references in code. For example in the following code black, the error would be triggered when hovering on `packets` in the line `packets.NewPacket()`. This *only* happens with non-stdlib imports (e.g. `fmt` doesn't cause it). And I'm also using go modules.
[code]

[2019-09-26 21:56] bhcleek commented on #2514
I've pushed workaround to master, but I don't really consider this issue fixed, but the info you've provided will be enough for me to figure out what's going on.

[2019-09-26 21:59] bhcleek commented on #2514
@yshadow I apologize, but that wasn't the output I need. You'll need to quote that argument to `-c`: `-c  "let g:go_debug=['lsp']"`.

[2019-09-26 23:09] bhcleek commented on #2514
The only way I can duplicate these errors is if there package being hovered over is not in the module cache and can't be found by gopls either. That would cover your use case @dambrisco . What about yours @yshadow ?

If that is in fact the problem, then the fix is already on master.

[2019-09-26 23:52] bhcleek commented on #2511
@thingsis the output I need is what's in `g:go_debug_commands`, not the `__GODEBUG_OUTPUT__`  window. Can you get that for me?

[2019-09-27 03:56] bhcleek commented on #2482
I think this is probably the key. Are you in GOPATH mode or module aware mode? What's the value of `GO111MODULE` and what's the output of `go env` when run in your package directory? Also, knowing the information that the issue template prompted you for would be helpful: vimrc, Go version, vim-go version, etc.

[2019-09-27 06:29] yshadow commented on #2514
Hello @bhcleek I pulled the latest master and the fix worked. Good job! Thanks.

[2019-09-27 06:37] yshadow commented on #2514
thanks for this instruction. It's really interesting to see the inner working of this plugin. Cheers

[2019-09-27 07:04] invine commented on #2514
Issue is fixed for me as well.

Just in case if you're still interested in gopls output:

Here's my file's imports:
package main

[code]

gopls output for hovering over "fmt" package:
[code]

[2019-09-27 08:23] thingsis commented on #2511
I hope this is what you need. Otherwise let me know how I can get to the required output.

![vim-go-error2](https://user-images.githubusercontent.com/55752765/65754166-c279cf80-e110-11e9-9ba2-db4f0a5b42e0.jpg)

[2019-09-27 16:24] chadcao opened #2517 "vim-go: could not determine appropriate working directory for gopls"
### What did you do? (required: The issue will be **closed** when not provided)

When I use vim to oepn a golang file (*.go), it show error message:
vim-go: could not determine appropriate working directory for gopls
Press ENTER or type command to continue

After I pressed ENTER to continue, the file can still be opened and it seems VIM-go works fine

### What did you expect to happen?

I do not w

[2019-09-27 16:26] #2517 closed

[2019-09-27 16:28] chadcao commented on #2517
the issue is closed.
The root cause is because the /tmp directory on my service does not exist which caused Go did not work

[2019-09-28 00:08] NerdsvilleCEO commented on #1086
I am running into this too, the snippet engine is set to neosnippet

[2019-09-28 15:24] #2514 closed

[2019-09-28 17:25] bhcleek commented on #2504
I've submitted a pull request, #2518, that mostly resolves this, but unless you choose the recover option when presented with the option of what to do about the swap file, for some reason the buffer it initially displays is empty. You can execute `:edit` to reload it, and then it's fine. I know this isn't ideal, but I'm very reluctant to completely hide the message about the swap file.

[2019-09-28 20:09] dradtke opened #2520 "errors on installing on Vim 8.0.1831 and below"
### What did you do? (required: The issue will be **closed** when not provided)

While installing `vim-go` in a fresh development environment, I ran into a couple issues. I installed the plugin using vim-plug like this:

[code]

and when I run `:PlugInstall` the first time, I get this:

[code]

Re-running installation indicates that the plugin is already installed, so it seems to have worked despi

[2019-09-28 21:22] bhcleek commented on #2520
Given that `:GoInstallBinaries` works, but the post hook doesn't, it seems like this _might_ be an issue in Plug, but let's rule issues with vim-go to be sure. Can you reliably duplicate the problem?

[2019-09-28 22:04] divan commented on #2234
Somehow exactly this message was triggered in my case by disabled `tpop/vim-fugitive` plugin, which has been used in statusline. Enabling it back, solved the issue, as well as removing call to `figutive#statusline()` in vimrc.

[2019-09-28 22:17] dradtke commented on #2520
Yep, and it looks like it's not an issue with Plug. If I run `rm -rf ~/go/bin` and then re-open a Go file in vim, I get

[code]

The first line makes sense, but the rest of it seems odd. Running `:GoInstallBinaries` then works, but it first prints out a "trailing characters" error.

[2019-09-28 22:36] bhcleek commented on #2520
yeah, the first line makes sense, and I can take care of the rest of it once we know what's actually wrong here.

Can you see if #2521 solves the issue for you? If it does, then you should also have some output that will tell us more about what's wrong. If it goes by faster than you can read it, `:messages` will show the messages I need.

[2019-09-28 22:57] dradtke commented on #2520
Looks like it didn't solve it, but here are the messages:

[code]

[2019-09-28 23:01] dradtke commented on #2520
I just confirmed that this seems to be the line it's complaining about, at least as far as the `go#lsp#DidOpen` error: https://github.com/fatih/vim-go/blob/a7b5edc1872b76e6c0cc18b89fcda3aa98422961/autoload/go/lsp.vim#L508

[2019-09-28 23:03] dradtke commented on #2520
Even with that commented out, I still get the `could not unset` error though, so the two don't seem to be directly related.

[2019-09-28 23:16] bhcleek commented on #2520
The issue with `sendMessage` is a red herring. I'm aware of where that line is, but the error is just a consequence of something else.

The messages you most recently reported don't seem to actually match what you originally reported. Can you duplicate the `x Post-update hook for vim-go ... Vim(unlet):E488: Trailing characters` message?

[2019-09-28 23:24] dradtke commented on #2520
It looks like that `sendMessage` error is likely to happen anywhere `gopls` isn't already installed, since it returns a blank `l:lsp` object here, but callers of this function seem to treat it as a successful result. https://github.com/fatih/vim-go/blob/a7b5edc1872b76e6c0cc18b89fcda3aa98422961/autoload/go/lsp.vim#L363

Yeah, the post-update hook error is easily repeatable by deleting both `~/go/bi

[2019-09-28 23:34] bhcleek commented on #2520
Do you have the problem when you:
* exit vim
* delete ~/go/bin and ~/.vim/pluggged
* open vim (don't try to open a Go file!)
* execute `:GoInstallBinaries`
* open a Go file.

[2019-09-28 23:52] bhcleek commented on #2520
I've pushed fixes to #2521 that will allow us to focus on the problems you're having with vim-plug.

[2019-09-29 00:01] dradtke commented on #2520
Ah, it looks like `unlet $VAR` is in a newer version of Vim than what I'm running. I have patches 1-1568, and it looks like the ability to unlet environment variables was introduced in 1832. https://github.com/vim/vim/issues/1116

Thanks for the update, I'll give it another shot with your change to see if that helps the lsp issue.

[2019-09-29 00:05] dradtke commented on #2520
Yep, with those changes the only errors I get are `could not find 'gopls'` (which is expected) and `could not unset $GO111MODULE`, which is unfortunate but also kind of expected.

Interestingly, now it tries to initialize gopls twice:

[code]

This is still a lot better than it was, though.

[2019-09-29 00:08] bhcleek commented on #2520
Thanks for the link to the Vim issue; that makes sense.

Yes, it's going to keep trying to initialize gopls until it's available.

[2019-09-29 00:28] #2504 closed

[2019-09-29 00:35] #2500 closed

[2019-09-29 00:42] bhcleek commented on #2520
Fixed in #2523 and #2522 .

Thanks for the report and for helping me figure out the problem with Vim 8.0.1831 and below.

[2019-09-29 00:42] #2520 closed

[2019-09-29 00:50] #2459 closed

[2019-09-29 00:51] bhcleek commented on #2459
Fixed in #2451

[2019-09-29 01:05] bhcleek commented on #2511
Thanks, @thingsis. What I need is the value of `g:go_debug_commands` after all those errors. You can get that by running vim with `vim -c "let g:go_debug=['debugger-commands']"` and then running `echo g:go_debug_commands` after you get your errors.

[2019-09-30 07:15] preslavmihaylov commented on #2482
I just filled out the configuration in the issue description.

I'm in `GOPATH` mode and modules are off in `GOPATH`.

Another remark:
4. I am using `dep` for package management

[2019-09-30 14:29] delphinus opened #2524 "Suggestion: Use separated interval for AutoTypeInfo/AutoSameids other than updatetime"
### What did you do?

1. Prepare vimrc

[code]

2. Launch (Neo)Vim with clean env.

[code]

2. You can see the default value set to `updatetime`.

[code]

3. Open `*.go` files in a new buffer.

[code]

4. You can see the value from `vim-go` set to `updatetime`.

[code]

5. Press `<C-w>w` and return to the original window: `new_file.txt`.

6. You can see `updatetime` set to the value from `vim-go`!

[2019-09-30 17:58] bhcleek commented on #2524
I agree that it should user a timer, and I think your basic plan is correct. However, it should probably be modified slightly:

1. Call func on CursorMoved.
1. In the func, cancel the previously scheduled timer and then call timer_start() and wait some interval.
1. After interval, do the job (ex. AutoTypeInfo, AutoSameids)

[2019-09-30 18:31] bhcleek commented on #2482
Is it _always_ slow the first time you run `:GoDoc` in a vim session, or is it only slow when your code has changed since you last ran `:GoDoc`? And if it _is_ slow when your code has changed since you last `:GoDoc`, is `:GoDoc` faster if you run `:GoBuild` first?

[2019-09-30 18:47] pwntester commented on #2510
I would also like to have an option to be able to reuse the terminal. I think it should be safe if the process is over, otherwise you could get confising output, but if its implemented as an optional flag, I dont see any problems

[2019-09-30 19:49] salarkhan opened #2525 "folds get closed on write (unfocused split)"
### What did you do? (required: The issue will be **closed** when not provided)
installed vim-go
set `let g:go_fmt_experimental = 1`
folded some code
vertically split the screen (editing different locations of the same file)
wrote to the file

### What did you expect to happen?
folds are maintained. related to https://github.com/fatih/vim-go/issues/502

### What happened instead?
the folds on the

[2019-09-30 20:26] bhcleek commented on #2525
This can likely be improved with gopls by using its incremental updates to format specific areas, but it might be a little tricky and will take me some time to get to. Short of that, I'll take a look soon to see if I can identify any fixes for this with the current method of formatting.

[2019-10-01 04:01] bhcleek commented on #2511
@thingsis I've been able to figure out at least part of the problem and will be putting up a PR in the next couple of days to eliminate the errors you're seeing.

[2019-10-01 05:31] jabalsad opened #2528 "Environment problems with vim-go and GOPATH"
### What did you do? (required: The issue will be **closed** when not provided)
`:GoUpdateBinaries`

### What did you expect to happen?
The binaries update successfully.

### What happened instead?
[code]

Output of `:echo $GOPATH`: `/Users/jleroux/code/go`
Output of `:echo $GOROOT`: ` `

### Configuration (**MUST** fill this out):

#### vim-go version:

####  `vimrc` you used to reproduce (use a

[2019-10-01 06:29] preslavmihaylov commented on #2482
It's slow without any code changes. Running `:GoBuild` did not cause any significant improvement.

[2019-10-01 21:00] lhanson commented on #2525
I'm experiencing this without any splits. `let g:go_fmt_experimental = 1` will allow folds to remain after saving the file.

[2019-10-01 23:26] itzamna314 commented on #2366
I was able to work around this with `gorename` with:
[code]
My package was in `GOPATH`, but with GO111MODULE=on, or without the dependencies vendored, it failed anyway.

[2019-10-02 00:14] salarkhan commented on #2525
`let g:go_fmt_experimental = 1` is set in my .vimrc -- that's the bummer

[2019-10-02 00:19] bhcleek commented on #2525
The fix is relatively simple. These two blocks need to be updated to iterate through all windows that are displaying the buffer being formatted:
* https://github.com/fatih/vim-go/blob/master/autoload/go/fmt.vim#L30-L42
* https://github.com/fatih/vim-go/blob/master/autoload/go/fmt.vim#L75-L84

[2019-10-02 06:59] preslavmihaylov opened #2530 "vim-go 2.0 will drop support for Neovim?"
I was just looking at the vim-go milestones and I noticed the following note for the upcoming switch to version 2.0 of vim-go:
![image](https://user-images.githubusercontent.com/7642330/66023921-36461e80-e4fb-11e9-9ba7-35a5f4cddbc7.png)

I was wondering why that decision was taken, how it will impact NeoVim users, like myself, and if there are other vim-go users that are using nvim and might be af

[2019-10-02 07:11] thingsis commented on #2511
@bhcleek I will try this today since I was travelling the last few days. I will post my feedback here later.

[2019-10-02 12:59] mnarrell commented on #2530
There are absolutely other NeoVim users this would affect, if support is possibly dropped.

[2019-10-02 19:16] #2511 closed

[2019-10-02 19:16] #2481 closed

[2019-10-02 19:44] bhcleek commented on #2530
It's something we've talked about. There is no timeline for vim-go 2.0, and nothing is written in stone yet.

Neovim is not Vim. It's a Vim clone in the same way that Vim is a Vi clone, and it continues to diverge. The effort it takes to deal with the divergence is often quite frustrating, so dropping support for Neovim is something that Fatih and I discussed last year as a possibility for vim-go

[2019-10-02 19:46] bhcleek commented on #2528
It looks like you don't have `GOPATH` set. Are you using the gvim on macOS?

[2019-10-02 19:52] bhcleek commented on #2530
I should

[2019-10-02 19:53] #2530 closed

[2019-10-02 22:20] bhcleek commented on #2528
This is really odd. The only thing I see that might be a clue to the root cause is the `$GOPATH must not be set to $GOROOT` message. 🤔

What version of vim-go are you using?

[2019-10-03 12:36] korjavin opened #2532 "A way to find all the implementations of the given Interface"
[code]

Who can I jump or get a list with B and C types from interface A

[2019-10-03 16:27] dcu opened #2533 "Broken code is not reported as broken by the linter"
### What did you do? (required: The issue will be **closed** when not provided)
1. enable golint-ci with auto checking when saving the file
2. Create a broken program like

[code]
3. Save it

### What did you expect to happen?
Get the possible lines where the code is broken, it used to be like that with gometalinter

### What happened instead?
No errors were reported

### Configuration (**MUST** f

[2019-10-03 16:39] dcu commented on #2533
I tracked down this issue to https://github.com/golangci/golangci-lint/issues/276

[2019-10-03 17:14] bhcleek commented on #2533
You can workaround this by including `typecheck` in your enabled linters.

[2019-10-03 17:15] bhcleek commented on #2532
see `:help :GoImplements`.

[2019-10-03 17:17] dcu commented on #2533
is it documented somewhere? It was really frustrating

[2019-10-03 17:20] dcu commented on #2533
I just tried it, enabling `typecheck` didn't work

[2019-10-03 21:38] hkparker commented on #2471
I'm having the same issue, only on Arch Linux.  Seems to be an arch thing, though I haven't been able to figure out why.  Very frustrating.

[2019-10-03 21:46] bhcleek commented on #2533
we discovered that while looking into a similar issue: https://github.com/fatih/vim-go/issues/2475

[2019-10-03 22:08] dcu commented on #2533
looks like that workaround is no longer working @bhcleek in the terminal it's still 0 exit code (successful)

[2019-10-03 22:16] dcu commented on #2533
the commit from golangci-lint that breaks the workaround is 95ec0cf21ea4720ec9555c43176ab8b1d1b035f2 I just bisected it

[2019-10-03 22:21] bhcleek commented on #2533
Thanks for the heads up.

There's not much that vim-go can do about this; ultimately, it's a bug in golangci-lint.

[2019-10-03 22:37] korjavin commented on #2532
It doesn't work for me.

There is my full example: https://github.com/korjavin/goimplements/tree/master

[2019-10-03 22:46] bhcleek commented on #2532
Because it relies on guru, you'll need to be in GOPATH mode to use it.

[2019-10-03 22:54] korjavin commented on #2532
I tried
`export GO11MODULE=off`
and pwd is according to GOPATH, but it doesn't work still.

[2019-10-03 22:55] bhcleek commented on #2532
Do you mean GO111MODULE=off?

[2019-10-03 22:57] korjavin commented on #2532
yes
[code]

[2019-10-03 23:10] bhcleek commented on #2532
Can you run vim with `let g:go_debug=['shell-commands']` and try again? Then take the guru command output when running `:GoImplements` and run it in a shell to see what the output is?

[2019-10-03 23:14] korjavin commented on #2532
I'm sorry.
I set g:go_debug
![image](https://user-images.githubusercontent.com/148765/66170370-ab753900-e64c-11e9-9d65-5ec9d58d1f14.png)
But I can't see anything like output on :GoImplements (too fast?)

[2019-10-04 00:45] #2533 closed

[2019-10-04 00:46] bhcleek commented on #2532
If it's too fast, you can execute `:messages` to see it.

[2019-10-04 01:02] bhcleek commented on #2532
Since the implementation is in another package, you'll need to set the scope (by default the guru scope for `:GoImplements` is set to the package of the current buffer). You can set the scope by using `:GoGuruScope`.

However, even without the scope set, I'd expect to see results in the quickfix window _and_ output showing the command that was run if you set `g:go_debug=['shell-commands']` prior t

[2019-10-04 11:36] korjavin commented on #2532
[code]

[2019-10-04 11:39] korjavin commented on #2532
It works now with setting guruscope.

Is it possible to set guruscope to a point where .git folder located, somehow automatically?

[2019-10-04 19:52] bhcleek commented on #2532
It wouldn't make sense to base it on a `.git` folder, because code doesn't just live in git repositories. We can actually remove the default scope for `:GoImplements` so that by default all of `GOPATH` will be searched, but I'm a little reluctant to do that, because the default scope for `:GoImplements` was added because of the performance of searching all of `GOPATH` for implementations.

[2019-10-04 20:01] korjavin commented on #2532
From my point of view: code does live in git repos.

[2019-10-04 20:29] bhcleek commented on #2532
You're free to write a function that will walk up your directories to find a git repo and set the scope when you find it.

However, there are many other source control tools other than git, and many repositories nare structures differently such that they contain a GOPATH within them, and it wouldn't make sense to set the scope to a directory that's above GOPATH.

vim-go is focused on Go, not sourc

[2019-10-04 22:51] bhcleek commented on #2532
@korjavin I think we've resolved the issue that you reported, but I want to make sure you agree before I close this, because it's odd that `:GoImplements` wasn't working for you in your example in pkg1 at first, and it's not clear to me what you did to get it to work. Setting `:GoGuruScope` shouldn't be necessary in GOPATH mode to see the types that the implement an interface in the same package a

[2019-10-04 22:58] korjavin commented on #2532
Setting :GoGuruScope certainly works, and it doesn't works without it.

I think we can close this one. And thank you a lot for your help.

[2019-10-04 23:07] bhcleek commented on #2532
That's really odd. In the output you provided, the scope was the default that's used by vim-go for `: GoImplements`.

[2019-10-05 05:05] hitigon opened #2534 "function signature refactoring support?"
gofmt and gorename provide certain refactoring capabilities, but is there a tool that supports changing signatures?

[2019-10-05 06:39] thingsis commented on #2511
@bhcleek At the moment the master branch doesn't seem to be in a state in which I could try this - getting errors as soon as I open go files or try to install the go binaries. I will wait till the next release and try again.

[2019-10-05 06:56] bhcleek commented on #2511
I'm not aware of any issues on master similar to what you're describing. Please open a new issue if you need help or want to see them fixed.

[2019-10-05 21:57] bhcleek commented on #2534
Not that I know of.

[2019-10-05 21:57] #2534 closed

[2019-10-05 22:00] dch commented on #2510
this happens to me also. The most common use case is that I am writing and compiling a single file. Re-using the output pane saves me continually closing it.

[2019-10-06 07:12] thingsis opened #2536 ""Error detected while processing function" after install when opening go files"
### What did you do? (required: The issue will be **closed** when not provided)

Clean install of both vim and vim-go on windows with a working install of go 1.13. Everytime I load a go file I get the above error. See below for details

### What did you expect to happen?
The editor to open without en error message so that I can at least :GoInstallBinaries to finish the installation - this has not

[2019-10-06 14:47] preslavmihaylov commented on #2348
I finally managed to find an alternative which works for me. Nowadays, I am using the [ALE plugin](https://github.com/dense-analysis/ale). It has `golint` support by default. Just install it with pathogen and it works out of the box.

Here's how the plugin works:
![image](https://user-images.githubusercontent.com/7642330/66270926-53635000-e861-11e9-86e7-70ce7c7ab321.png)

[2019-10-06 19:26] bhcleek commented on #2348
@preslavmihaylov ALE is a good plugin.

If, however, you just want to run `golint`, vim-go provides that for you with `:GoLint` and also with its `go-lint` plugin mapping, which you can setup anytime you want to make it easier to run.

If you want `golint` to run when saving a buffer, you can add something like this to your vimrc:
`  autocmd BufWritePost *.go call go#lint#Golint(1)`

[2019-10-06 19:29] bhcleek commented on #2536
@thingsis thank you for the bug report; I'll try to get this fixed quickly for you.

Does this happen for you anytime you open a go file, or only when you try opening a new Go file? Are you specifying the file to open on the command line or opening after you've started Vim?

[2019-10-06 19:29] #2532 closed

[2019-10-06 20:16] thingsis commented on #2536
It doesn't matter whether I open the file in vim or via the command line. No difference. What do you mean by only when opening a new go file?

[2019-10-06 20:29] bhcleek commented on #2536
Does it happen when you open a file that's already on disk?

I've tried duplicating this on a Windows laptop that's been tucked away in a closet without success.

The the `go env` section of the original bug report isn't populated. Can you please run `go env` from your working directory so I can see information about your Go environment? I'm also curious what your TMPDIR is set to.

I can provide

[2019-10-06 20:34] bhcleek commented on #2536
Can you give #2537  a try? I don't expect it to fully fix your issue, but it should at least eliminate the errors you're seeing now.

[2019-10-07 06:44] nguyenhoaibao commented on #2482
Hi @bhcleek, I have the same issue, `:GoDoc` is very slow on my machine.

Here is the profile.log
[code]

<details><summary>My<code>go env</code> </summary><br><pre>
$ go env
GO111MODULE=""
GOARCH="amd64"
GOBIN=""
GOCACHE="/home/bao/.cache/go-build"
GOENV="/home/bao/.config/go/env"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="amd64"
GOHOSTOS="linux"
GONOPROXY=""
GONOSUMDB=""
GOOS="linux"
GOPATH="/home/bao/go"

[2019-10-07 13:16] thingsis commented on #2536
I tried this. It does get rid of those errors, but I still get
`vim-go: could not determine appropriate working directory for gopls`
when starting vim with a go file.

Also, :GoInstallBinaries still doesn't work. This is the output:
[code]

[2019-10-07 16:11] bhcleek commented on #2536
I'm wondering if your TMPDIR is missing or something. Does `C:\Users\hguschov\AppData\Local\Temp` exist on your system? And is writeable by you?

[2019-10-07 18:20] thingsis commented on #2536
I was wondering the same and had checked that already. It exists and is writable. It even has some temporary go files in it already. It does seem strange though...

[2019-10-07 18:34] bhcleek opened #2538 "support staticcheck"
Support staticcheck as a metalinter.

#### acceptance criteria
* staticcheck is supported as a metalinter
* staticcheck is supported as a metalinter for autosaving

#### open questions
* should the `g:go_metalinter_enabled`, `g:go_metalinter_disabled`, and `g:go_metalinter_autosave_enabled` options apply to staticcheck? If so, should `g:go_metalinter_autosave_disabled` be allowed, too? Given stati

[2019-10-07 23:41] bhcleek commented on #2536
The errors you're seeing now when running `:GoInstallBinaries` are also likely caused by the same problem; an inability to access a temporary directory. Can you create a directory _in_ your $TMPDIR (e.g. C:\Users\hguschov\AppData\Local\Temp) manually?

By some chance, is vim running as a different user or with a restricted set of permissions somehow?

[2019-10-08 02:49] bhcleek commented on #2536
@thingsis I've modified #2537 such that it should output the error when running `:GoInstallBinaries`. To gather as much information as possible, can you give it another shot with `g:go_debug=['shell-commands']` set. I'd like to know:

1. the output from `:GoInstallBinaries
1. the output of `:messages` after running `:GoInstallBinaries`
1. whether there are any new directories in $TMPDIR (i.e. `C:\

[2019-10-08 05:59] Cornos opened #2539 "Why :GoBuild is not for go build command?"
Hello, I have a general question here, I don't get it why :GoBuild don't stand for go build command on vim-go.
Why :GoBuild don't generate an output file and we need to do :Make otherwise

If someone can explain me cause I even don't get what :GoBuild do and help :GoBuild doesn't helped me :)

[2019-10-08 15:34] bhcleek commented on #2539
`:GoBuild` does call `go build`. vim-go also configured `&makeprg` in https://github.com/fatih/vim-go/blob/master/compiler/go.vim so that you can use `:Make` if you want.

To avoid littering your system with files.

[2019-10-09 11:58] laotoutou commented on #2353
version v0.1.6-cmd.gopls, built in $GOPATH mode.
is ok!

[2019-10-09 12:10] Cornos commented on #2539
Thank you for your response

So what :GoBuild do?

[2019-10-09 16:07] Cornos commented on #2539
I get it thank you Billie

[2019-10-10 01:50] #2539 closed

[2019-10-10 01:52] bhcleek commented on #2528
closed for lack of feedback

[2019-10-10 01:52] #2528 closed

[2019-10-12 07:26] lpy-neo commented on #2078
This works!

[2019-10-16 15:04] pengio opened #2544 "macOS catalina version vim gofmt Vim: Caught deadly signal ABRT"
### What did you do? (required: The issue will be **closed** when not provided)

### What did you expect to happen?

### What happened instead?

### Configuration (**MUST** fill this out):

#### vim-go version:

####  `vimrc` you used to reproduce (use a *minimal* vimrc with other plugins disabled; do not link to a 2,000 line vimrc):
<details><summary>vimrc</summary><br><pre>

</pre></details>

##

[2019-10-17 06:37] #2544 closed

[2019-10-18 05:46] danishprakash commented on #2482
@bhcleek can we use `jobs` to make this async at least for vim/nvim versions that support jobs? Is there a specific reason to not have this asyn apart from backwards compatibility?

[2019-10-19 03:56] bhcleek commented on #2482
Making it async when possible is an option. My only concern is that the concern will go from "it locks up my system," to "it doesn't do anything," especially if it's taking 30 seconds to get the doc.

[2019-10-19 05:06] danishprakash commented on #2482
That makes sense but I'm not so sure about putting on hold the entire session for that much time. We can, for that matter, let the user know that the job is running in the background via some message on the command line. What do you think?

[2019-10-19 05:47] preslavmihaylov commented on #2482
GoReferrers works the same way I would expect GoDoc to work after implementing this. It’s true that Im not using GoReferrers anymore as it takes >30s for simple queries.

But at least for GoDoc, it works okay for some of the queries so I would still use it

[2019-10-19 15:32] bhcleek commented on #2482
@danishprakash it will definitely have progress messages; all the jobs that vim-go executes display status to the user.

@preslavmihaylov give `:GoReferrers` another try if you're using latest master; I recently refactored it to use `gopls` under the hood, and it's much faster now.

[2019-10-19 16:22] preslavmihaylov commented on #2482
Oh I wasn’t aware that you migrated GoReferrers to gopls. Thanks for letting me know, I will give it another try

[2019-10-19 17:16] danishprakash commented on #2482
@bhcleek In that case, I think we can have it as an option and not enforce it.

[2019-10-19 17:18] bhcleek commented on #2482
Have what as an option?

[2019-10-19 17:28] danishprakash commented on #2482
Sorry, I meant having run `:GoDoc` async as an option and not enforce it all the time.

[2019-10-19 17:29] bhcleek commented on #2482
There's no need for an option; if jobs are available, it should be async and synchronous otherwise.

[2019-10-19 17:36] danishprakash commented on #2482
I'm willing to take this up in that case, I was just thinking about a point of yours you made previously:

[2019-10-20 00:40] #2524 closed

[2019-10-21 01:50] bhcleek commented on #2536
@thingsis have you resolved your issue, or should we keep this issue open?

[2019-10-21 01:54] bhcleek commented on #2225
@emil2k are you still seeing this problem?

[2019-10-23 18:00] jcordasc opened #2548 "FileChangedShell autocmd blocks reload/prompt on file changes"
### What did you do? (required: The issue will be **closed** when not provided)

1. Open a go source file in vim w/ vim-go plugin loaded.
1. Update the file outside of vim.
1. Return to vim.

### What did you expect to happen?

Expect either:
* you get prompted that the file has changed
* the file reloads if you have `autoread` set

### What happened instead?

Nothing. No prompt or reload is trigg

[2019-10-23 21:15] mnarrell opened #2550 "Reinitialize gopls"
I apologize for opening an issue for this, but I was unsure how to ask a question.

Is there a method for restarting or reinitializing gopls?  Often I get into a state where goals is unhappy, either from switching complex branches, or some error in another package.  I can resolve this by simply restarting vim, but I'd prefer a different approach.

If there is a better way to ask questions to this

[2019-10-24 13:41] bhcleek commented on #2550
Thanks for asking the question, @mnarrell. Switching branches without restarting Vim will put you in a bad state with `gopls` right now, but that won't always be true. I definitely recommend exiting Vim before switching branches. However, if you have problems with `gopls` because of some error in a package, please create issue in https://github.com/golang/go/issues so the maintainers can address t

[2019-10-24 14:29] mnarrell commented on #2550
Thanks Billie, you’re doing great work.

On Thu, Oct 24, 2019 at 7:41 AM Billie Cleek <notifications@github.com>
wrote:

[2019-10-24 16:26] #2550 closed

[2019-10-25 02:19] weijunyi commented on #1228
I also want an option to allow  expandtab to work in vim-go.

[2019-10-25 11:13] hupfdule opened #2551 "Differentiate between functions and other blocks for folding"
### What did you do? (required: The issue will be **closed** when not provided)

[code]

### What did you expect to happen?

I expected functions to be folded, but other block constructs (like, if-blocks, switches, etc.) not to be folded.

### What happened instead?

All blocks are folded.

### Configuration (**MUST** fill this out):

(like written above)
[code]

#### vim-go version:

v1.21

####

[2019-10-25 15:36] emil2k commented on #2225
I can't reproduce it anymore.

[2019-10-25 16:03] bhcleek commented on #2225
Thank you for confirming

[2019-10-25 16:03] #2225 closed

[2019-10-27 10:07] marselmustafin opened #2552 "Highlight function calls if them not defined yet"
### What did you do?
[code]
### What did you expect to happen?
Given I have following test, I want to `Bar()` be highlighted as an error and `Bar is undefined` message be shown
[code]
### What happened instead?
`Bar()` is not highlighted, no message is shown
### Configuration (**MUST** fill this out):
(written above)
#### vim-go version:
v1.21

#### Vim version (first three lines from `:version`):

[2019-10-27 14:21] bhcleek commented on #2551
Thank you for the suggestion.

AFAIK, Vim doesn't support the kind of folding you are expecting. Folding based on syntax works on nesting levels. See `:help syn-fold` for more information. The problem here is not the syntax block name, is that's that `syn-fold` is the only way to fold a block; it's inherent to Vim and is not something that vim-go can change.

[2019-10-27 22:48] #2551 closed

[2019-10-27 22:52] bhcleek commented on #2552
gopls diagnostics may make this possible, but this particular feature is low priority. Closing for now, because there's a lot of groundwork that would have to be laid first and I don't expect to get to this particular feature any time soon.

[2019-10-27 22:52] #2552 closed

[2019-10-28 09:48] gonzaloserrano commented on #2366
Hi @bhcleek, gopls rename is on `master` but a new version has not been published. Do you have any vim-go branch around where I could try the gopls rename integration? Thanks.

[2019-10-28 10:22] thingsis commented on #2536
@bhcleek Let's keep it open. I am currently finishing up a project and will then gladly keep working on it. Sorry for the delay!

[2019-10-29 08:02] GRbit opened #2553 "GoFmt doesn't jump to first error"
I think it would be great if `:GoFmt` jumps to first error encountered

<details><summary>patch suggestion git diff</summary><br><pre>
diff --git a/autoload/go/fmt.vim b/autoload/go/fmt.vim
index 54d773b..36ce94a 100644
--- a/autoload/go/fmt.vim
+++ b/autoload/go/fmt.vim
@@ -82,7 +82,7 @@ function! go#fmt#Format(withGoimport) abort
     else
       call winrestview(l:curw)
     endif
-  else
+  el

[2019-10-29 16:19] #2548 closed

[2019-10-29 21:03] patrickdappollonio opened #2554 "Unknown function: go#config#Updatetime"
Hello, I just updated after not updating for a while and I noticed that latest breaks my vim-go installation. I reproduced it by trying to get a smaller `.vimrc` while still including the other plugins that might conflict with `vim-go`...

### What did you do? (required: The issue will be **closed** when not provided)

* Opened or created a go file with `vim main.go`
* Navigated through the lines

[2019-10-29 23:51] bhcleek commented on #2554
https://github.com/fatih/vim-go/blob/master/doc/vim-go.txt#L2244-L2248 explains the solution.

[2019-10-29 23:51] #2554 closed

[2019-10-29 23:59] bhcleek commented on #2553
Similarly to how linting works, if this is implemented, then it should not jump to the error when `gofmt` is on save.

[2019-10-31 13:16] drewbailey opened #2555 "GoTest with go_term_mode enabled does not reset pwd"
### What did you do? (required: The issue will be **closed** when not provided)

Ran `:pwd` with autochdir off, output -> `/home/drew/go/src/github.com/hashicorp/nomad`

Open a test file `/home/drew/go/src/github.com/hashicorp/nomad/commanda/agent/monitor/monitor_test.go`
`:pwd` -> `/home/drew/go/src/github.com/hashicorp/nomad`

run `:GoFuncTest!`, close terminal split vim-go opens

`:pwd` -> `/ho

[2019-10-31 13:28] drewbailey commented on #2555
it seems like it only happens with `let g:go_term_enabled = 1` and `let g:go_term_close_on_exit = 0` while calling `:GoTestFunc!`, `:GoTestFunc` reverts back to the original pwd

[2019-11-01 18:08] ls-devon-hakel-kinko commented on #2510
Does anyone have a workaround so that `:GoRun` reuses the same pane?

[2019-11-01 20:47] pwntester commented on #2510
Probably not the cleaner solution but it works for me:

[code]

[2019-11-03 16:15] aigo-tech opened #2558 ":GoDef didn't work, just report error"
### What did you do? (required: The issue will be **closed** when not provided)
[code]
[code]
That two go files above are in the same package `main`.
I invoked `:GoDef` when my cursor was hovering on the indentifier `PrintHello`, but it didn't work.
### What did you expect to happen?
Go to the definition for the function `func PrintHello ...`
### What happened instead?

vim-go: no file for file://

[2019-11-03 16:22] bhcleek commented on #2558
What version of vim-go are you using? What version of gopls do you have installed? Does the file that you're jumping from exist on disk?

[2019-11-03 22:49] fr3fou opened #2559 "Can vim-go underline / highlight / actually lint in my vim buffer any errors like gocode?"
I basically want this:
![image](https://user-images.githubusercontent.com/1344906/68093291-be259c80-fe9c-11e9-961b-78f3e85da3d5.png)

This is a feature that [mdempsky/gocode](https://github.com/mdempsky/gocode) had but I want to only use `vim-go`, is there any way to get this here too? gocode also ran linting in real time (or at least on save)

[2019-11-03 22:56] bhcleek commented on #2559
gocode was not a vim plugin. I'm not sure how you were accomplishing this feature.

As it stands, vim-go doesn't have this.

[2019-11-04 02:45] aigo-tech commented on #2558
Thanks for the reply
1. For gopls, I am sure that  I am using the latest version by running `go get golang.org/x/tools/gopls@latest`.
2. For vim-go, using commit `c0bff0c9cd8998c1a82002af93c689b492f24011`, and it's master
[code]
3. Those two go files in `main` package do exist on my disk, and Jumping is ok while using vscode with gopls.

[2019-11-04 02:56] aigo-tech commented on #2558
If i remove `import "C"` and `C.sayHello()` in `util.go`,  jumping will work well.
Just as:
[code]

[2019-11-04 02:57] aigo-tech commented on #2558
Is there anything wrong with `import "C"`

[2019-11-04 02:57] bhcleek commented on #2558
This may be a bug in gopls. Can you try using the latest that is installed by vim-go by running `:GoUpdateBinaries gopls`?

[2019-11-04 03:01] aigo-tech commented on #2558
Jumping is ok while using vscode with gopls

[2019-11-04 03:14] imjm opened #2560 "question how to reload vendor changes"
This just a question, not issue/bug

I am using go modules in project A and pointing one of a package project B to my local folder, that I am working on adding some new methods.

I add some new methods into the project B, and how could I reload the new methods in project A that I am opening in vim?

so far I have to quit the vim, and reopen it.

[2019-11-04 04:38] bhcleek commented on #2560
Can you be more specific about what you're doing and why you're closing and reopening vim?

[2019-11-04 04:44] imjm commented on #2560
project A is opening in vim, and I add some new methods in project B, now I want to use the new methods in project B in project A without reopening vim

in vscode, I just reload window, it will reload new methods as well.

[2019-11-04 04:45] bhcleek commented on #2560
How are you adding methods to project B? Is it also open in Vim?

[2019-11-04 04:49] imjm commented on #2560
not always, sometimes just git pull the changes from my coworkers

[2019-11-04 05:01] bhcleek commented on #2560
Gopls doesn't notice changes on disk yet, so updating outside of vim won't work.

[2019-11-04 18:44] stamblerre commented on #2558
`gopls` does not yet work with cgo (see https://github.com/golang/go/issues/32898, also listed in [Known Issues](https://github.com/golang/tools/blob/master/gopls/doc/status.md#known-issues)).

[2019-11-04 21:20] bhcleek commented on #2558
Closing, as it appears to be an issue with gopls and not something that's handleable by vim-go currently.

[2019-11-04 21:20] #2558 closed

[2019-11-05 04:40] #2560 closed

[2019-11-05 14:55] navel3 opened #2561 ":GoInstallBinaries gocode fails on windows"
### What did you do? (required: The issue will be **closed** when not provided)

When I call `:GoInstallBinaries gocode` following error occurs.

[code]

The error is caused by following code.
[code]

The code compose`go build` command. l:platform is appended as build flags, but the syntax is as follows.

`usage: go build [-o output] [-i] [build flags] [packages]`

### What did you expect to happe

[2019-11-05 17:40] bhcleek commented on #2561
Can you try latest master? I merged a PR yesterday that may resolve this for you.

[2019-11-05 22:17] #2559 closed

[2019-11-06 15:07] navel3 commented on #2561
I've checked out latest master.
The problem was not reproduced.
Thanks.

[2019-11-06 15:07] #2561 closed

[2019-11-06 18:13] marselmustafin opened #2562 "Get completion for package when it's not imported yet (using with deoplete)"
### What did you do? (required: The issue will be **closed** when not provided)

[code]

Also `deoplete` and `vim-go` plugins installed.

### What did you expect to happen?

Autocompletion works excellent with `deoplete` for imported packages. But given I entered `fmt` for example and it's not in my import list, I want to see functions for this package in completions list anyway.

### What happene

[2019-11-06 18:47] stamblerre commented on #2562
This feature is currently available behind a flag in `gopls` (see https://github.com/golang/go/issues/31906). You will need to add the `completeUnimported` setting to your configuration to use it (though I'm not sure exactly how to do that with `vim-go`).

[2019-11-06 19:53] bhcleek commented on #2562
We need to add some options to vim-go to support starting gopls with flags.

[2019-11-06 19:54] bhcleek commented on #2562
@marselmustafin is deoplete using vim-go's autocompletion? If not, then your particular use case needs to be solved by deoplete, not with vim-go.

[2019-11-07 01:39] hehailong5 opened #2563 "GoReferrers and GoCallstack only analysize files in same package"
### What did you do? (required: The issue will be **closed** when not provided)
:GoReferrers for an identifier

### What did you expect to happen?
list all the referrers for this identifier within project scope

### What happened instead?
only list referrers within the same package

### Configuration (**MUST** fill this out):
#### vim-go version:
v1.21
####  `vimrc` you used to reproduce (use a *m

[2019-11-07 01:46] bhcleek commented on #2562
@stamblerre will `completeUnimported` still be behind a flag in the upcoming gopls release?

[2019-11-07 01:49] bhcleek commented on #2563
With vim-go 1.21, you can set the guru scope using `:GoGuruScope` (see `:help :GoGuruScope`) to cause `:GoReferrers` and `:GoCallers` (I assume that's what you mean by `:GoCallstack`?) to use more than just the current package as the guru scope.

Current master does not rely on guru for `:GoReferrers` and should provide the experience you expected. ref: https://github.com/fatih/vim-go/pull/2535

[2019-11-07 01:49] #2563 closed

[2019-11-07 02:25] stamblerre commented on #2562
I'm not sure yet, but most likely, yes. I think the feature still needs to be iterated on a bit more.

[2019-11-07 05:11] delphinus commented on #2562
@bhcleek

Deoplete has the `omni_patterns` option. With this, Deoplete does not use its own features but uses `omnifunc` from vim-go. (@marselmustafin is using this option)

So this issue should aim to implement `completeUnimported` in vim-go.

[2019-11-07 06:16] hehailong5 commented on #2563
@bhcleek, Unfortunately either using g:go_guru_scope or :GoGuruScope not work for me..
besides, I got the below error message at bottom:
<apigateway-go/apiroute/src/apiroute [Location List]                                                                                      1,1             All
vim-go: /root/hhl/git/msb-apigateway-go/apiroute/src/apiroute/template...e: -1 at function 374[13]..377[2

[2019-11-07 06:33] hehailong5 commented on #2563
I've downloaded master, still get the same error when using :GoReferrers

vim-go: /root/hhl/git/msb-apigateway-go/apiroute/src/apiroute/cache/re...e: -1 at function 374[13]..377[26]..<SNR>111_referencesHandler, line 12

[2019-11-07 09:00] impguard opened #2564 "Same ID clear after navigate away?"
The same ID implementation is super cool, but I was wondering if there was a way to get it to auto clear when navigating away from a keyword? Right now the behaviour seems to be to stay highlighted until another word is hovered, but I'd like it to disable as soon as I navigate away (and re-enable after hovering on a word for X amount of time).

Is that possible?

[2019-11-07 16:21] bhcleek commented on #2564
To the best of my knowledge, vim doesn't have any event that indicates when a the cursor has moved away from a word. It has `CursorHold`, `CursorMovedI`, and `CursorMoved`. This functionality is too expensive to run on `CursorMoved` or `CursortMovedI`.

[2019-11-07 16:21] #2564 closed

[2019-11-08 00:38] bhcleek commented on #2562
@stamblerre I just want to confirm: `completeUnimported` is a workspace configuration option, not a cli flag?

[2019-11-08 00:42] bhcleek commented on #2563
@hehailong5 now you're dealing with a different issue. Can you please open a new issue with clear replication steps so I can analyze that error and fix its root cause?

[2019-11-08 00:51] hehailong5 opened #2565 "GoReferrers not work with scope and error message appears at bottom"
What did you do? (required: The issue will be closed when not provided)
1) :GoGuruScope  /root/hhl/git/msb-apigateway-go/apiroute/src/apiroute/...
2) :GoReferrers for an identifier

What did you expect to happen?
list all the referrers for this identifier within specified scope

What happened instead?
1) only list referrers within current package
2) error appears at bottom:
vim-go: /root/hhl/git/m

[2019-11-08 01:15] bhcleek commented on #2565
`:GoGuruScope` isn't relevant for `:GoGuruScope` on master, and you shouldn't be getting the same error for 1.21 and for master, because they use completely different code paths for `:GoReferrers`. Can you confirm that you're only seeing that error for master and not for 1.21?

Generally, `:GoReferrers` works well on master: I'm using it daily. I'll need a clear replication path (files, etc.) that

[2019-11-08 01:26] hehailong5 commented on #2565
I just replaced the vim-go in bundle with the vim-go-master.zip, and :GoReferrers only works for current package and the error would only appear in the first attempt.
b.t.w, how to check the vim-go version exactly, I was looking in the CHANGELOG.md for it.

[2019-11-08 03:17] bhcleek commented on #2565
Does vim-go-master.zip mean that you just downloaded vim-go from GitHub using
![image](https://user-images.githubusercontent.com/1958864/68446529-d09c2080-0191-11ea-89c7-36471b970c34.png) ? If so, then the version you're using is latest master (assuming that you didn't navigate to a different commit).

This doesn't tell me how to duplicate your problem. Think of it from my perspective: I run `:GoR

[2019-11-08 03:19] bhcleek commented on #2565
I've been able to confirm that gopls is only returning references in the current package. I'll see if I can find a bug report about that for gopls.

[2019-11-08 03:22] bhcleek commented on #2565
https://github.com/golang/go/issues/32869 for the single package references issue. I'll likely add an option to allow users to choose whether to use guru or gopls for `:GoReferrers`.

[2019-11-08 04:39] hehailong5 commented on #2565
Hi,
Yes, I was fetching the latest master with the way as you described above.
So how to verify if I was using gopls for :GoReferrers and how to switch to guru?

[2019-11-08 05:11] bhcleek commented on #2565
master does not allow you to switch between guru and gopls for `:GoReferrers`. It only supports gopls right now, but I'm working on a PR to allow you to choose so to use guru instead. As it stands at the moment, you would need to install a version of vim-go prior to https://github.com/fatih/vim-go/commit/94a266b8e60692ba760efe982a5ecb8f2d841704 to use guru.

However, I've found a way to duplicate

[2019-11-08 06:23] bhcleek commented on #2565
@haya14busa can you confirm whether #2566 resolves the two problems you've encountered?

[2019-11-08 18:13] stamblerre commented on #2562
Yes, exactly.

[2019-11-09 08:38] marselmustafin commented on #2562
@bhcleek thanks for the update. Did you test completion with `let g:go_gopls_complete_unimported = 1`? I've enabled this parameter, but completion for unimported packages still doesn't work. I've tried to disable `deoplete` and use original omnicompletion, but it works only for imported packages as before.

[2019-11-09 16:01] bhcleek commented on #2562
It will, of course depend on the version of gopls you have installed. I think that the latest release of gopls doesn't yet support this feature, but a new release is imminent. Once a new release of gopls is made, you can use `: GoUpdateBinaries gopls` to update it.

You may find https://github.com/golang/go/issues/31906 useful, too.

[2019-11-09 22:33] #2562 closed

[2019-11-09 22:35] bhcleek commented on #2562
@marselmustafin after correcting to use the proper values to encode for json, the version of gopls installed by vim-go works as expected for me.

[2019-11-10 04:26] #2565 closed

[2019-11-10 10:10] marselmustafin commented on #2562
@bhcleek I've updated plugin and `gopls` package (v0.1.7), but still don't get any completions for unimported `fmt` package for example😔. If it works for you, could you provide your `gopls` version and completion config please? maybe I missed something necessary

[2019-11-10 12:56] delphinus commented on #2562
@marselmustafin

The latest stable version (v0.1.7) does not seem to have this feature. You can install gopls with a certain commit to support this. such as...

[code]

I have successfully completed methods from unimported ones.

[2019-11-10 15:16] bhcleek commented on #2562
@delphinus I am using gopls 0.1.7, and completion of unimnported package names is working fine.

@marselmustafin `completeUnimported` is not enabled by default. You'll need to have `g:go_gopls_comleted_unimported=1` in your vimrc or in an `after/plugin` file (mine is in `after/plugin/vim-go.vim` file).

[2019-11-10 15:34] bhcleek commented on #2559
I'm not sure how you were accomplishing this previously, but I added a feature that highlights areas identified as errors or warnings by gopls in #2569.

[2019-11-10 16:17] fr3fou commented on #2559
:o that's great! do you have a screenshot?

[2019-11-10 16:39] bhcleek commented on #2559
I have not taken any screenshots of this feature.

[2019-11-10 16:43] bhcleek commented on #2538
gopls is adding support for staticcheck, so instead of adding support as a metalinter, this will probably be done by adding support for surfacing the gopls diagnostics in a quickfix and/or location list.

[2019-11-11 10:25] rocket049 opened #2573 "Can I use `gocode` instead of `gopls`?"
I found `gopls` can not work well with package `github.com/therecipe/qt`, But `gocode` work well.

So I want to use `gocode` instead of `gopls`.

It is not work if I add the code `let g:go_info_mode = 'gocode'` into `.vimrc`.

Is there any way to make it work?

[2019-11-11 13:44] rocket049 commented on #2573
I modify `complete.vim` , replace function `go#complete#Complete()` with `go#complete#GocodeComplete()`. It works, but ugly.

Is there a nice way to do this?

[2019-11-11 17:56] marselmustafin commented on #2562
@bhcleek sorry for importunity. I tried different things but it still doesn't work. I've set `g:go_gopls_comleted_unimported=1`, tried to disable both plugins `deoplete` and `deoplete-tabnine` which I use, also tried to reinstall `gopls` with the latest revision, but still when I write `fmt.` and press `<C-x><C-o>` nothing happens. Is vim type (I use neovim) or some configuration can affect it?

[2019-11-11 18:15] bhcleek commented on #2562
No worries, @marselmustafin . Currently, gopls does not complete the identifiers from unimported packages; it only completes the package itself.

https://github.com/golang/go/issues/31906 is useful to explain some of the details of the gopls feature.

[2019-11-11 18:21] bhcleek commented on #2573
Yes. Just set `omnifunc` to `go#complete#GocodeComplete()` in an `after/ftplugin/go.vim` file

https://github.com/fatih/vim-go/blob/19d4be6f328007f53c90c87e8d584f90e7094947/doc/vim-go.txt#L1201

[2019-11-11 23:53] #2573 closed

[2019-11-12 03:07] mewwts commented on #2366
Looks like it's released https://github.com/golang/go/issues/33030#issuecomment-549629508

[2019-11-12 10:00] theburn opened #2575 "vim report redeclared when use build tags"
### What did you do? (required: The issue will be **closed** when not provided)

**file1.go**

[code]

**file1_mem.go**

[code]

when I use `vim file1_mem.go`, vim report `XXX redeclared  in this block`

I  set `let g:go_build_tags = "mem"` in the vimrc, but not work, and  I set `:GoBuildTags mem`， also not work.

### What did you expect to happen

when i use` :GoBuildTags mem` , vim don't report

[2019-11-12 13:03] dvrkps opened #2576 "vim-go: Vim(call):E28: No such highlight group name: goDiagnosticError"
### What did you do? (required: The issue will be **closed** when not provided)
PlugUpgrade, PlugUpdate and GoUpdateBinaries
### What did you expect to happen?
No message

### What happened instead?
Message

### Configuration (**MUST** fill this out):

#### vim-go version:

####  `vimrc` you used to reproduce (use a *minimal* vimrc with other plugins disabled; do not link to a 2,000 line vimrc):
<

[2019-11-12 15:32] bhcleek commented on #2576
The highlight group name is defined here: https://github.com/fatih/vim-go/blob/master/syntax/go.vim#L391. You likely need to restart vim since the `PlugUpdate` added the group.

[2019-11-12 15:33] bhcleek commented on #2575
Does `go build` run without errors?

[2019-11-12 15:39] theburn commented on #2575
@bhcleek  both   `go build` and `go build --tags mem`  without errors

[2019-11-12 16:23] bhcleek commented on #2366
I'm hesitant to modify vim-go to use `gopls rename` as it currently stands, because `gopls rename` seems to only rename identifiers in the current package.

[2019-11-12 16:28] pedromss commented on #1906
Sorry to ask in a closed issue but my `GoBuild` isn't using the `GO111MODULE=on`. Is there something else I need to do to build with module?

[2019-11-12 16:38] powerman commented on #2366
Well, problem is, `gorename` currently more often doesn't work than work, even if project (module-aware) is still located inside GOPATH. So, to me it looks like switching to `gopls rename` will be an improvement - it's better to have reliable but limited feature (rename within package) than powerful but unreliable feature. Of course, it may make sense to add an option to choose between `gorename`

[2019-11-12 16:48] mnarrell commented on #2366
I've found that with modules enabled, the current `GoRename` dives into the modcache and tries to compile its contents.  This fails each time, and fails the rename.

[2019-11-12 16:51] bhcleek commented on #2575
🤔 that's odd. The `//+build` shouldn't be taking effect at all, because it needs to be a space between `//` and `+` (e.g. `// +build`), so `go build` should be failing for you, too.

[2019-11-12 17:46] stamblerre commented on #2366
@bhcleek: I expect that `gopls rename` will work within an entire module with the next `gopls` release (https://github.com/golang/go/issues/32877). Also, just to check - is there a reason that it needed to be exposed on the command line for it to be added in `vim-go`?

[2019-11-12 17:50] bhcleek commented on #2366
Thanks, @stamblerre

It's the easiest way to replace `gorename`'s use in vim-go without signficant refactors to interpret and apply the `WorkspaceEdit` messages in the response. That will probably come eventually, though.

[2019-11-12 18:01] theburn commented on #2575
@bhcleek  sorry, it's my fault. written error. `// +build mem`  in my go file

[2019-11-12 18:24] bhcleek commented on #2575
`:GoBuild` is working for you now?

[2019-11-12 19:17] dvrkps commented on #2576
@bhcleek restart didn't help.
i comment vim-go and PlugClean. After that i use GoUpdateBinaries and after that message show again

[2019-11-12 19:24] bhcleek commented on #2576
I've seen the same issue on a PR now, too. I'm not sure why yet, but in the meantime, you should be able to add this to your vimrc as a workaround:
[code]

[2019-11-12 21:24] #2576 closed

[2019-11-12 22:07] bhcleek opened #2580 "refactor communicating changes to lsp when build tags change"
Consider using `workspace/didChangeConfiguration` instead of `workspace/didChangeWorkspace`.

With https://go-review.googlesource.com/c/tools/+/206148 gopls' configuration can be changed on the fly without changing all the workspace directories.

[2019-11-12 23:20] #2366 closed

[2019-11-12 23:30] powerman commented on #2366
@bhcleek Thanks, looks like rename works now. But I noticed it leaves `*.orig` files after rename - how to get rid of them?

[2019-11-12 23:45] bhcleek commented on #2366
I don't see a way to make `gopls rename` skip creating the backup files. If it's important for you, please consider submitting a PR to gopls.

[2019-11-13 01:34] theburn commented on #2575
Yes， vim report `vim-go: [build] SUCCESS`

[2019-11-13 01:51] theburn commented on #2575
@bhcleek  `:GoBuild` is always success,  the error  `XXX redeclared in this block` still exists!

[2019-11-13 02:17] bhcleek commented on #2575
It literally says `XXX`?

[2019-11-13 02:38] bhcleek commented on #2575
Ah, of course it does, because the function is named `XXX`.

[2019-11-13 02:39] bhcleek commented on #2575
Can you run `:GoUpdateBinaries gopls` and see if that resolves the issue for you?

[2019-11-13 02:56] bhcleek commented on #2575
If `:GoUpdateBinaries gopls` doesn't resolve the issue, then it's very likely that you have another file in your package that defines `func XXX() { ... }`.

[2019-11-13 03:27] theburn commented on #2575
yestday， I update gopls.
[code]

I record a showterm  http://showterm.io/ea43c38d31dd17df6f123

[2019-11-13 03:46] bhcleek commented on #2575
So you have to move the cursor into the function to see this error. That's a key step to duplicating this issue.

Can you duplicate the issue when vim-go is the only plugin loaded?

[2019-11-13 03:56] theburn commented on #2575
Yes,  you are right, when I commet `Plugin 'Valloric/YouCompleteMe'` in ~/.vimrc, the error info disapper!
@bhcleek  Thank you very much!

[2019-11-13 04:02] #2575 closed

[2019-11-13 08:25] orlangure opened #2581 ":GoRename (gopls) creates .orig file"
### What did you do? (required: The issue will be **closed** when not provided)
I tried to rename a variable using `:GoRename` with `go_gorename_command` in main.go file of main package. The operation worked, but there appeared a new file: `main.go.orig`.

### What did you expect to happen?
I expected `:GoRename` to work and clean up temporary files it created, and/or not to create backups until r

[2019-11-13 08:28] orlangure commented on #2581
I see there is a discussion in the original issue https://github.com/fatih/vim-go/issues/2366#issuecomment-553169654

And an issue for `gopls`: https://github.com/golang/go/issues/35551

[2019-11-13 09:55] 404cn opened #2582 "func snippets error with coc-snippets"
### What did you do? (required: The issue will be **closed** when not provided)

I use coc-snippets and add this to my coc-settings.

`
snippets.ultisnips.directories: [
  "UltiSnips",
  "gosnippets/UltiSnips"
],
`

When i type func i got this

<img width="1327" alt="截屏2019-11-13上午10 39 49" src="https://user-images.githubusercontent.com/24653356/68752394-35e28c80-063e-11ea-9ee5-bb3de86f8338.png">

[2019-11-13 16:35] bhcleek commented on #2581
I'm reluctant to cause vim-go to delete these files. It's possible (albeit admittedly unlikely) that a user may have them legitimately versioned, and there's no way for vim-go to know that reliably.

[2019-11-13 16:37] orlangure commented on #2581
I agree. I think we should wait for `gopls` to implement a flag to keep/remove these files, and expose it via vim-go configuration. I understand that this is not possible now.

[2019-11-13 16:41] bhcleek commented on #2582
I see no evidence in your description that this is related to or caused by vim-go other than that you've configured coc to use Ultisnips. If you can provide some evidence that the fix for the problem you're seeing is required by vim-go, then I'll be happy to take a closer look.

FWIW: try to duplicate the problem with as minimal vimrc as possible and only the plugins necessary. In your case, that

[2019-11-14 01:10] 404cn commented on #2582
@bhcleek

At first i install vim-go coc.nvim and coc-snippets, but snippets not work when i write golang file, so i take a look at coc-snippets's README and i found this in F.A.Q

`
snippets.ultisnips.directories: [
  "UltiSnips",
  "gosnippets/UltiSnips"
],
`

So i add this to my coc-settins.json and snippets worked, but just func (for now) i got this error.

Also i got a little bit confused and

[2019-11-14 04:13] bhcleek commented on #2582
I've just tested the UltiSnips integration for the `func` snippet and did not see any errors. It looks like this is probably something wrong with coc, not with vim-go or UltiSnips (and the stack trace in your screenshot would seem to support that idea). I'll leave this open for a day or two to give you a chance to provide counter evidence.

FWIW, you can test yourself using only UltiSnips and vim-

[2019-11-14 04:15] 404cn commented on #2582
@bhcleek  Thanks very nuch, i will close this and take a look at coc.

[2019-11-14 04:15] #2582 closed

[2019-11-14 17:54] Chronophylos opened #2586 "Syntax Highlighting is broken"
### What did you do? (required: The issue will be **closed** when not provided)

* Updated to 10d8f9d5e33d8d18f06ca9b8e5719ab1940cb5a6
* Syntax broke

full config
![image](https://user-images.githubusercontent.com/14890588/68881263-b9ff4780-0704-11ea-8a7c-353c038f604b.png)

reduced config
![image](https://user-images.githubusercontent.com/14890588/68882392-faf85b80-0706-11ea-80ba-bc7c4cb97fab.png)

[2019-11-14 18:30] bhcleek commented on #2586
What is reduced config vs full config?

[2019-11-14 18:53] #2586 closed

[2019-11-14 19:14] Chronophylos commented on #2586
The reduced config is what I posted, my full config is here https://github.com/Chronophylos/dotfiles/tree/master/nvim/.config/nvim

[2019-11-14 21:04] shabbyrobe opened #2588 "Binary number literals with underscores appear as error blocks"
### What did you do? (required: The issue will be **closed** when not provided)

I created a source file with a binary number that contained underscores (i.e. `0b0000_0000`)

### What did you expect to happen?

I expected it to have the same colour as a binary number without underscores.

### What happened instead?

It was a very different colour - a huge red error block!

### Configuration (**MUS

[2019-11-15 02:57] mengyaoss77 commented on #2509
Finding references using vscode with guru is real faster than vim-go. So strange

[2019-11-15 03:23] bhcleek commented on #2509
Do you have more information to provide? Have you tried running the guru command manually as I suggested previously?

[2019-11-15 03:39] mengyaoss77 commented on #2509
Yes，vim-go shows the command is
'xxxxx/go/bin/guru', '-tags', '', 'referrers', 'xx/go/src/xxx/xxx/xx.go:#1660'
then I run this command in terminal, htop shows guru uses 100% of my CPU. At the same time, I use vscode to find references, htop shows a different command:
guru -modified referrers xx/go/src/xxx/xxx/xx.go:#1660

[2019-11-15 05:00] bhcleek commented on #2509
I'm curious what happens if you run the guru command twice at the command line; is performance better the second time?

vscode may use a different command than vim-go if you have unsaved changes to the file in vscode; `-modified` is used when the buffer has unsaved changed.

[2019-11-15 05:38] mengyaoss77 commented on #2509
I do not run the guru command twice in terminal. I do these below:
1.  run ' guru -tags '' referrers xxx/xxx/xxx.go:#893' in terminal (now cpu usage is high)
2. Then use 'Find All References' in VSCODE on same place of code ( Because of my computer is slow now, so I can see a new command ' guru -modifed .....' in htop, but the file is not modified, and the result in vscode is returned earlier than

[2019-11-15 11:09] gonzaloserrano opened #2590 "GoTestCompile with build tags"
### What did you do? (required: The issue will be **closed** when not provided)

Call :GoTestCompile in a test with build tags and a syntax error. Removing the build tags works as expected.

### What did you expect to happen?

The test is compiled and the syntax error reported.

### What happened instead?

Somehow the syntax error is highlighted but the test is not compiled.

### Configuration (**

[2019-11-15 13:31] ahuret opened #2591 "Show compile error on hover compile error highlighting"
Since I updated my binaries, when I save my go files, I got red highlights on code errors.
Problem here is that I don't have any explainations on what is causing this highlighting.
How to resolve this ?
Thanks :)

[2019-11-15 14:26] bhcleek commented on #2590
I've tried to duplicate what you're describing, but it works as expected in my tests. Can you offer an example file that demonstrates what you're experiencing?

[2019-11-15 14:38] bhcleek commented on #2591
Can you provide an example? It's not clear from your description what exactly you're seeing. Ideally, you'd provide a simple file that demonstrates the problem.

There are two possibilities that spring to mind.

The first is that you may be seeing a bug in some recent changes to highlighting of some numerics.

The second (and more likely) is you're seeing the highlighting introduced in #2569 to hi

[2019-11-15 18:19] powerman commented on #2366
I've opened an issue https://github.com/golang/go/issues/35551 and there is a CL https://go-review.googlesource.com/c/tools/+/207347, so I hope it'll be fixed soon!

[2019-11-16 16:56] yagi5 opened #2592 "unused in go_metalinter_enabled doesn't show an error in quickfix"
### What did you do? (required: The issue will be **closed** when not provided)

Write this code then save file.
[code]

`golangci-lint run` shows an error.
[code]

### What did you expect to happen?

`main.go:9:6: bar is unused (deadcode)` is shown in quickfix

### What happened instead?

`vim-go: [golangci-lint] SUCCESS` is shown

### Configuration (**MUST** fill this out):

#### vim-go version:

[2019-11-16 19:08] bhcleek commented on #2592
Does the command that's run by vim-go show the error you're expecting? You can see the command that vim-go runs as an array by setting `g:go_debug=['shell-commands']`.

[2019-11-17 00:19] bhcleek commented on #2592
I can't duplicate what you've describe. Here's an animated gif showing it working as expected on master:

![recording](https://user-images.githubusercontent.com/1958864/69000934-7d118d00-088b-11ea-86e1-3736b7ce8568.gif)

[2019-11-17 00:19] #2592 closed

[2019-11-17 17:38] gonzaloserrano commented on #2590
test file:

[code]

`:mess` output:
[code]

[2019-11-17 17:42] bhcleek commented on #2590
Did you set your build tags in vim-go with either `:GoBuildTags` or by setting `g:go_build_tags` before calling `:GoTestCompile`?

[2019-11-17 18:03] gonzaloserrano commented on #2590
Nopes! Didn't know that feature. Of course it fixed it so I'm closing the issue. Sorry and thank you for your time!

[2019-11-17 18:03] #2590 closed

[2019-11-17 18:26] bhcleek commented on #2590
You're welcome and no apologies necessary. :bowing_man:

A quick tip: you can always search the vim-go help before creating an issue; it's thorough and covers topics like this we'll. The wiki is also a good resource

[2019-11-17 19:26] gonzaloserrano commented on #2590
Yeah, sorry about it. Been using vim-go for years 🤦‍♂

So from the docs I see `let g:go_build_tags = "mycustomtag"`; I guess that multiple tabs should be separated by a space? Currently I have 3 different tags in my system.

Thanks.

[2019-11-17 20:33] bhcleek commented on #2590
The help for g:go_build_tags explains it well. See `:help g:go_build_tags`.

[2019-11-18 03:29] MoZhonghua opened #2595 "v[0:10] is wrongly highlighted as goOctalError"
### What did you do? (required: The issue will be **closed** when not provided)

vim-go wrongly highlight v[0:10] as goOctalError, mininal example:
[code]

### What did you expect to happen?
No highlight for "0:10"

### What happened instead?

vim-go wrongly highlight v[0:10] as goOctalError,  like this:
![image](https://user-images.githubusercontent.com/1209816/69022460-4efc8c00-09f6-11ea-9195-2b

[2019-11-18 07:54] ahuret commented on #2591
Thanks @bhcleek !
I was about vim go don't surface gopls messages yet, so you answered my question :-)
I now GoBuild automatically at save, this combined with area highighting is ok for quick debug !

Is there already an issue about this surfacing feature ? thx

[2019-11-18 07:54] ahuret commented on #2591
closing it /close

[2019-11-18 07:54] ahuret commented on #2591
closing it

[2019-11-18 07:54] #2591 closed

[2019-11-18 14:24] gonzaloserrano opened #2596 "GoReferrers with guru error"
### What did you do? (required: The issue will be **closed** when not provided)

I'm trying to use `:GoReferrers` to find symbols in different packages. I found https://github.com/fatih/vim-go/issues/2563. Then I added some vim-go config to use `guru` because `gopls` does not support multiple packages yet (see https://github.com/golang/go/issues/32869). Now looks like `:GoReferrers` is broken.

I'

[2019-11-18 15:30] bhcleek commented on #2588
fiexed by #2584

[2019-11-18 15:30] #2588 closed

[2019-11-18 17:25] bhcleek commented on #2596
What was the rest of the error message?

FWIW, I am unable to duplicate the problem as you've described it. Here's an animated gif showing it working:

![recording](https://user-images.githubusercontent.com/1958864/69074937-389a0480-09e5-11ea-8e33-8ee5707465b8.gif)

[2019-11-18 17:37] gonzaloserrano commented on #2596
[code]

[2019-11-18 17:37] gonzaloserrano commented on #2596
Means that `map()` arg must be a list or dictionary.

[2019-11-18 17:48] #2595 closed

[2019-11-18 18:00] bhcleek commented on #2596
It's because of your `g:go_guru_scope` value. It should be a comma a separated list. Only the `:GoGuruScope` commands takes the scopes as a space separated list.

[2019-11-19 12:08] gonzaloserrano commented on #2596
Thank you,

I tried with `let g:go_guru_scope = "github.com/PaackEng/...,github.com/gonzaloserrano/..."` without luck any hints?

[2019-11-19 12:11] gonzaloserrano commented on #2596
OK I forgot the brackets... fixed now, thanks!

[2019-11-19 12:12] #2596 closed

[2019-11-19 12:14] gonzaloserrano commented on #2596
vim-go now works but guru is eating the CPU... will report somewhere else :_)

[2019-11-19 16:18] ldelossa opened #2598 "Random highlights"
### What did you do? (required: The issue will be **closed** when not provided)
Use vim-go ordinarily, build source code, compile tests. etc...

### What did you expect to happen?
Normal syntax highlighting

### What happened instead?
Seemingly random characters are now being highlighted without any information.

### Configuration (**MUST** fill this out):
https://github.com/ldelossa/dotfiles/blob

[2019-11-19 16:46] bhcleek commented on #2598
@ldelossa please provide a minimal vimrc and ideally duplicate this without other plugins loaded.

I'm not seeing this problem; can you provide a file that demonstrates this issue?

[2019-11-19 21:13] ldelossa commented on #2598
@bhcleek will do - but need to get home from work first.

I did notice the highlights are because of new associations:

SpellBad	SpellBad goDiagnosticError
SpellCap	SpellCap
SpellRare	SpellRare goDiagnosticWarning

Don't believe SpellBad and SpellRare were assocaited with the goDiagnostic* syntax groups? Unless I'm just going crazy.

[2019-11-19 22:38] bhcleek commented on #2598
I can't comment on `SpellCap`, but `those `SpellRare` and `SpellBad` are a result of https://github.com/fatih/vim-go/pull/2569. You can disable that highlighting if you want. See `:help                                         'g:go_highlight_diagnostic_warnings'`.

You're also likely to see the actual errors on `:GoBuild`.

[2019-11-20 15:11] ldelossa commented on #2598
@bhcleek yup that's totally it, didn't realize that they were actually coming from the linter and gopls (I think).

Closing this out. Thanks a lot!

[2019-11-20 15:11] #2598 closed

[2019-11-20 20:08] urandom opened #2600 "Error message when opening a go file directly from the command line"
### What did you do? (required: The issue will be **closed** when not provided)

`$ nvim some_file.go`

### What did you expect to happen?

I expected the file to be opened without a problem

### What happened instead?

[code]

### Configuration (**MUST** fill this out):
[code]

#### vim-go version:
vim-go: 1.21

#### Vim version (first three lines from `:version`):
NVIM v0.4.3

#### Go version (`

[2019-11-20 20:47] bhcleek commented on #2600
This looks like a polyglot issue, but according to the config you posted, you don't have polyglot installed. Can you confirm that you are not using polyglot? (ref: https://github.com/fatih/vim-go/issues/2272#issuecomment-489481142).

FWIW, take a look at `/home/urandom/.config/nvim/plugged/vim-go/autoload/go/config.vim`, and I think you'll see that `go#config#CompletionEnabled` is there. If it is,

[2019-11-20 21:14] urandom commented on #2600
I'm not using polyglot. I am aware of the linked issue, but it doesn't appear to apply to my setup. I'm not sure how this is not a bug in vim-go, even if it was my configuration. Yes, I'm setting `go_code_completion_enabled`, because I was hoping it would alleviate the problem. It turns out it does nothing to prevent it, though in any case, it shouldn't be needed even if it did.

[2019-11-20 21:33] bhcleek commented on #2600
The reason I don't think it's a bug in vim-go is because the function _is_ defined in v1.21: https://github.com/fatih/vim-go/blob/v1.21/autoload/go/config.vim#L478-L480.

By "your config," I don't mean your vimrc necessarily. It could be an older version of vim-go installed some place. You can see where functions are defined from by running `:verbose function`, and you can zero in on a single func

[2019-11-21 20:52] urandom commented on #2600
Actually, `verbose function go#config#CodeCompletionEnabled`

returns `E123: Undefined function: go#config#CodeCompletionEnabled`

It's like the autoload files are never sourced

[2019-11-21 21:00] bhcleek commented on #2600
Given the error you're experiencing with vim-go, that's exactly the output I'd expect from `verbose function go#config#CodeCompletionEnable`.

Please run `verbose function go#config#AutodetectGopath` instead.

[2019-11-22 20:46] urandom commented on #2600
I have up and copied the configuration from another computer. Since that fixed it, its clear that the problem was a local configuration, though I cannot say what for sure.

[2019-11-22 20:46] #2600 closed

[2019-11-24 03:38] DenLilleMand commented on #701
If anyone comes across this issue and is still looking for a answer, something like this is possible:
[code]
Second binding takes the word under the cursor, imports it and inserts a `.` at the end of the word which gives you the auto-complete.

[2019-11-25 16:04] zengjiwen opened #2601 "How to change GoSameIds' highlight color?"
I found that the GoSameIds' highlight color is the same as vim's default search highlight. That often confuse me while coding. Instead of changing the default search highlight, is there anyway to change GoSameIds' highlight color? thanks.

[2019-11-25 18:38] bhcleek commented on #2601
Yes. `goSameId` is defined in `syntax/go.vim` as a link to `Search`. You can add a `hi def goSameId` to your vimrc or to a `after/syntax/go.vim` file to set `goSameId` to whatever you'd like.

[2019-11-25 22:09] XavierCheng1996 commented on #2414
It happens for me if I use vim to open a file under a large repo when I enter `.`. Then it will stuck forever saying `initialized gopls`

[2019-11-26 08:44] abitrolly opened #2602 ":GoBuild doesn't run `go get`"
Created new file, added external import and tried to build it.
[code]
[code]

### What did you expect to happen?

`:GoBuild` to fetch dependencies automatically.

### What happened instead?
[code]

### Configuration (**MUST** fill this out):

#### vim-go version:
master d4a9cc7

####  `vimrc` you used to reproduce (use a *minimal* vimrc with other plugins disabled; do not link to a 2,000 line vimr

[2019-11-26 15:58] #2601 closed

[2019-11-26 16:02] bhcleek commented on #2602
Go will only fetch dependencies on `go build` when there's an ambient `go.mod` file and the module is either in GOPATH with GO111MODULE or the module is outside of GOPATH. Do these conditions hold true for your replication path?

[2019-11-26 16:07] zengjiwen commented on #2601
I got it. Thank you so much!

[2019-11-26 22:41] abitrolly commented on #2602
There was no `go.mod` in my dir, which is outside of the GOPATH. Should `vim-go` create `go.mod` automatically for new projects?

[2019-11-26 23:12] bhcleek commented on #2602
vim-go does not create go.mod files on the fly.

[2019-11-27 05:25] abitrolly commented on #2602
@bhcleek yes, but why not?

[2019-11-27 05:27] abitrolly commented on #2602
Either create `go.mod` or provide a better error message why it doesn't fetch.

[2019-11-27 05:42] bhcleek commented on #2602
`:GoBuild` calls `go build`. `go build` doesn't get dependencies in module-aware mode without an ambient go.mod file either.

vim-go does not know what you would want a module to be named nor where the go.mod file should be placed.

[2019-11-27 06:49] XavierCheng1996 opened #2603 "gopls stuck"
### What did you do? (required: The issue will be **closed** when not provided)
I want to use vim-go to code sth like `fmt.Println("hello world")`. Once I type `.`, the bottom says `vim-go: initialized gopls` and then it stuck forever.

### What did you expect to happen?

### What happened instead?

### Configuration (**MUST** fill this out):

#### vim-go version:
`v1.21`

####  `vimrc` you used t

[2019-11-27 09:46] abitrolly commented on #2602
`vim-go` can set the name to the parent directory and place `go.mod` near the `main.go`.

[2019-11-27 16:04] bhcleek commented on #2602
vim-go isn't going to create a go.mod file when one is missing. There are too many questions around how to handle various use cases and the feature would likely cause more confusion than the feature would be worth; not all packages are a main package and placing the go.mod file any place assumes too much about workflows that can vary quite widely among developers.

[2019-11-27 16:05] bhcleek commented on #2603
What do you mean by "it stuck forever"? What behavior are you actually seeing?

[2019-11-27 18:43] XavierCheng1996 commented on #2603
It just shows `initialize gopls` and I can't operate on vim anymore.

[2019-11-27 18:47] bhcleek commented on #2603
What version of `gopls` are you using? You can tell with `gopls version`.

[2019-11-28 18:29] #2602 closed

[2019-11-28 18:46] abitrolly commented on #2602
Can `vim-go` provide a wizard for new projects (creating `main.go` in empty dir)?

[2019-11-28 20:18] bhcleek commented on #2602
A file named `main.go` is not special, modules often don't have a main package at the module root, and an empty dir isn't enough of a signal to trigger creation of a `go.mod` file. Additionally, modules are generally not just a simple name; they'll usually need to be the location at which the module can be found (e.g. `golang.org/x/tools/gopls`). Other considerations include the value of GO111MODU

[2019-11-28 20:28] bhcleek commented on #2509
I can't comment on what vscode does or when it chooses to use `-modified`. Vim-go will use `-modified` when your buffer has unsaved changes.

In any case, please try running the guru command in the terminal twice; the cpu usage patterns here are not being driven by vim-go.

[2019-11-30 20:36] lyda commented on #2536
I see something similar:

[code]

My issue might be related to my go version:

[code]

[2019-11-30 20:43] bhcleek commented on #2536
@lyda the issue you're seeing is different than @thingsis' issue. The issue you're seeing is because your version of Vim is not supported by vim-go; you have 8.0.197 with a bunch of additional patches; vim-go requires at least Vim 8.0.1453.

[2019-12-01 21:38] pwntester opened #2604 "Is there a way to disable LSP?"
Im using a different LSP client so would be nice to disable vim-go one. is that possible?

[2019-12-01 21:56] bhcleek commented on #2604
gopls is used for several things in vim-go, and the list is growing. Currently, there is no way to fully disable it. You may not realize it, but features like `:GoInfo` and `g:go_auto_info` rely on gopls, too.

It's been previously discussed in #2379 and #2283.

[2019-12-01 21:56] #2604 closed

[2019-12-02 01:16] bhcleek commented on #2604
I added support for disabling gopls in https://github.com/fatih/vim-go/pull/2605.

[2019-12-02 07:24] XavierCheng1996 commented on #2603
golang.org/x/tools/gopls 0.2.0
    golang.org/x/tools/gopls@v0.2.1 h1:qXHEqJw4CqROYvoDXinY1ZOkyAFS+jcPOvLRK76dvwY=

[2019-12-02 07:54] qhenkart opened #2607 "go_gopls_use_placeholders doesn't do anything"
### What did you do? (required: The issue will be **closed** when not provided)

Successfully installed gopls and I'm now using that for autocompletion

`let g:go_gopls_use_placeholders = 0`
and
`let g:go_gopls_use_placeholders = 1`
seem to make no difference in the code

when typing fmt. (c-x, c-o)  Both will autocomplete to fmt.Println

### What did you expect to happen?

when vimrc has
`let g:g

[2019-12-03 05:37] bhcleek commented on #2603
🤔 That should work fine. Can you try clearing your cache using `go clean -cache`?

Also,

[2019-12-03 18:13] mnarrell opened #2608 "GoReferrers not working"
### What did you do? (required: The issue will be **closed** when not provided)

Ran the GoReferrers command on a function.

### What did you expect to happen?

Show list of invocations.

### What happened instead?

Error detected while processing function go#referrers#Referrers:
line   12:
E700: Unknown function: s:parse_guru_output
Error detected while processing function go#referrers#Referrers[

[2019-12-03 19:03] #2608 closed

[2019-12-03 19:48] bhcleek commented on #2607
Thank you for the report. I've identified the issue and am working on a fix. The fix is relatively straightforward on its face, but will likely only work as desired when paired with coc. Are you a coc user?

[2019-12-03 20:25] #2607 closed

[2019-12-04 12:03] kuba-gaj opened #2611 "E712: Argument of get() must be a List or Dictionary on open/save"
### What did you do? (required: The issue will be **closed** when not provided)
open/save go file.

### What did you expect to happen?

See no errors.

### What happened instead?
Error detected while processing function go#lsp#DidChange[12]..go#lsp#DidOpen[9]..16:
line    1:
E712: Argument of get() must be a List or Dictionary

### Configuration (**MUST** fill this out):

#### vim-go version:

###

[2019-12-04 15:58] kuba-gaj commented on #2611
Found a culprit: had to disable `vim-polyglot` plugin.
Sorry for bother, maybe will dig deeper into it later.

[2019-12-04 16:04] #2611 closed

[2019-12-05 05:44] qhenkart commented on #2607
@bhcleek actually it worked without coc, but it's really verbose and ugly (something like `someFunc({1: message string})`

however the coc recommendation was really nice and I'm very happy to have downloaded it based on your recommendation. I would love to see coc mentioned somewhere in the vim-go docs for other new users

[2019-12-06 07:50] #2509 closed

[2019-12-06 20:19] ViRu-ThE-ViRuS commented on #2528
This is still an active issue... :GoUpdateBinaries always installs dependencies to ~/go no matter what the $GOPATH (or $GOBIN, $GOROOT) is set to

[2019-12-08 01:20] ViRu-ThE-ViRuS opened #2617 "GoRename does nothing"
### What did you do? (required: The issue will be **closed** when not provided)
:GoRename

`:GoRename` on a variable name, prompted for new name, enter... no result, no error, no message, no log

### What did you expect to happen?
Renaming the variable to the new provided name

### What happened instead?
Nothing, no error, no crash, no log

### Configuration (**MUST** fill this out):
GOPATH, GOROO

[2019-12-08 02:43] bhcleek commented on #2617
Your working directory is `/Users/viraat-chandra/Workspace/work/go_space/src/Gunther`, your GOPATH is `/Users/viraat-chandra/.dev/go`, and you're using vim-go 1.21.

Since the code you're editing is not in GOPATH, you'll be in module aware mode (do you have an ambient `go.mod` file?), but vim-go 1.21 still uses `gorename` for `:GoRename`. `gorename` does not support Go modules.

You have two optio

[2019-12-09 00:28] ViRu-ThE-ViRuS commented on #2617
okay, that makes sense... closing here

[2019-12-09 00:28] #2617 closed

[2019-12-10 06:06] yuankang commented on #2603
I had the same problem.

[2019-12-10 13:19] meh666ran commented on #2603
I had same thing too. it was working properly until hours ago but now I don't know what happened!!

[2019-12-11 02:40] gun1x commented on #2533
add this to your .vimrc:
[code]

When you want to save and check errors, hit F6. It will have the behavior you expect.

[2019-12-11 03:59] hellodudu opened #2619 "saving go files with tagbar opening, cursor will jump to top of the file."
### What did you do? (required: The issue will be **closed** when not provided)

I'm writing go files with tagbar open. When saving file, the cursor will jump to top, then back to prev position. Please see gif below.

![qq20180323-190321](https://user-images.githubusercontent.com/519830/37826073-1c83b5e2-2ecd-11e8-9098-52725bb31971.gif)

#### reproduce steps
Open any .go file, toggle tagbar open,

[2019-12-11 05:49] bhcleek commented on #2619
Normally this jumping happens quickly, but with tagbar open either it slows things down enough that you see it or tagbar's autocmd event handlers are calling redraw.

I don't think there's anything for vim-go to do here, bit I'll look into it to see whether skipping autocmd events in the formatting code makes sense

[2019-12-12 16:58] mnarrell opened #2620 "Seems like most of the gopls integration is not working"
### What did you do? (required: The issue will be **closed** when not provided)

### What did you expect to happen?

Jump to definition, GoReferrers normal operation

### What happened instead?

[code]

### Configuration (**MUST** fill this out):

#### vim-go version:

master

####  `vimrc` you used to reproduce (use a *minimal* vimrc with other plugins disabled; do not link to a 2,000 line vimrc)

[2019-12-12 17:04] mnarrell commented on #2620
A restart of (Neo)VIM resolves this temporarily.

[2019-12-12 18:37] Rican7 commented on #1757
Commenting here for future reference, as this came up in search.

While adding `autocmd filetype qf wincmd J` to your vimrc will work, its not ideal, as "location lists" _also_ share the `qf` filetype.

If you'd like to set all quickfix windows to open full-width at the bottom, without effecting window-local location-lists, add this to your vimrc instead:

[code]

(See https://github.com/Rican7/do

[2019-12-12 18:41] Rican7 commented on #108
Commenting here for future reference, as this came up in search.

While adding `autocmd FileType qf wincmd J` to your vimrc will work, its not ideal, as "location lists" _also_ share the `qf` FileType.

If you'd like to set all quickfix windows to open full-width at the bottom, without effecting window-local location-lists, add this to your vimrc instead:

[code]

(See https://github.com/Rican7/do

[2019-12-12 21:16] bhcleek commented on #2620
what version of gopls are using (`gopls version` will tell you)?

[2019-12-12 21:20] mnarrell commented on #2620
[code]

[2019-12-12 23:40] skalle commented on #2603
This is happening to me too, it's stuck forever at:

vim-go: initializing gopls

`go clean -cache` did not help.

Only way I've found to edit Go files atm is:

let g:go_gopls_enabled = 0

[2019-12-13 00:07] skalle commented on #2603
Turns out the Go environment was modified for the project I was in , :GoInstallBinaries inside of that env. made things working again.

[2019-12-13 00:39] bhcleek commented on #2603
The gopls output would be useful for me to figure out what's happening. Please add `let g:go_debug=['lsp']` to your vimrc and paste the contents of the __GOLSP_LOG__ window. Hopefully that will shed some light on things.

[2019-12-13 04:49] bhcleek commented on #2620
I'm using the same version of gopls and not seeing problems. Perhaps you're encountering a bug in gopls that is being surfaced due to your environment or workflow. If you can narrow it down, the gopls team would likely appreciate a clear set of steps to reproduce.

[2019-12-13 04:52] mnarrell commented on #2620
Sure.  I'll keep an eye on this...

[2019-12-13 04:52] #2620 closed

[2019-12-13 15:00] allyraza opened #2622 "vim-go not respecting filetype config"
### What did you do? (required: The issue will be **closed** when not provided)

I installed vim-go on ubuntu a fresh install, vim-go is auto formatting go code according to `ts=2, sw=2, et`

### What did you expect to happen?
I would expect my filetype settings to work as expected

### What happened instead?
vim-go is auto formatting go code according to `ts=2, sw=2, et`

### Configuration (**MUS

[2019-12-13 15:58] bhcleek commented on #2622
Is it the expand tab part of your expectations that isn't being met? If so, then this issue address your expectations: https://github.com/fatih/vim-go/issues/1228

[2019-12-13 18:14] bhcleek commented on #2619
I created #2621 , but I'm not merging it yet, because I'm want to make sure it's not going to cause other problems and need additional changes first. Feel free to give it a try.

[2019-12-14 07:32] hellodudu commented on #2619
With pleasure :)

[2019-12-14 08:16] meh666ran commented on #2603
It's just fixed by installing gopls by my Os's package manager. I'm running on fedora and I installed gopls by this command:
`sudo dnf install golang-x-tools-gopls`
and now everything works perfectly!

[2019-12-15 10:46] kyluke commented on #2620
I experience this off an on too. Same version of gopls. Maybe it's related to some specific project structures.

[2019-12-15 22:38] mnarrell commented on #2620
I moved to proper VIM and I don’t see this. At least not yet?

[2019-12-16 00:38] bhcleek commented on #2620
Now that's interesting and potentially something I can act on. The gopls debug logs I mentioned earlier would be useful to figure out what's going on with neovim.

[2019-12-16 00:40] bhcleek commented on #2620
Sorry,wrong issue. The request for logs I referenced was on https://github.com/fatih/vim-go/issues/2603

[2019-12-16 03:31] wangjian-pg commented on #2603
I worked on macOs Catalina and had the same problem.

[2019-12-16 09:59] Monirzadeh commented on #2098
i have same problem
[code]
my file project is in `/home/myusername/work/golang/projectfolder1`
GoDoc get me
`vim-go: no package to containing file /home/myusername/work/golang/projectfolder1/main.go`
other project i clone from [this repository](https://github.com/gokcehan/lf) work fine.
i open  `/home/myusername/work/golang/lf/main.go` and GoDoc work correct

[2019-12-17 09:30] ahuret commented on #2538
Should it be possible to surface error not with  `:GoDiagnostic`, but when cursor is over the error ? ( and see error surfacing below, the same way vim give information about saving file etc.) thx !

[2019-12-18 04:13] brightpuddle opened #2625 "Double slashes in a string break indentation."
### What did you do?
Create an indent line with a string containing double forward slashes: `"//"`, e.g.
[code]

### What did you expect to happen?
Correct indentation.

### What happened instead?
`"//"` causes opening bracket indentation to be ignored.

### Configuration:

#### vim-go version:
1.21 + latest patches.

####  `vimrc` you used to reproduce:
[code]

#### Vim version:
`NVIM v0.4.3`

##

[2019-12-18 06:20] bhcleek commented on #2581
This will be resolved by https://go-review.googlesource.com/c/tools/+/207347/ when it's released. There's nothing for vim-go to do here.

[2019-12-18 06:20] #2581 closed

[2019-12-18 06:25] bhcleek commented on #2625
Thank you for the report. Given that formatting works correctly (e.g. `:GoFmt` or writing the file with `g:go_fmt_autosave=1`, the default, set), am I correct to assume that your concern is the auto indent behavior in insert mode?

[2019-12-18 06:32] brightpuddle commented on #2625
Yes, that's correct. The file doesn't indent correctly in insert mode, but saving it indents properly. It only happens when the `//` is on the same line as the opening bracket.

[2019-12-18 06:44] bhcleek commented on #2625
Because this is a very rare edge case, solves itself when saving or running `:GoFmt`, and adjusting the `comments` option (see `:help 'comments'`) at https://github.com/fatih/vim-go/blob/master/ftplugin/go.vim#L21 would likely be error prone and end up with still some edge cases, I'm inclined to close this without attempting a fix.

[2019-12-18 11:44] gun1x commented on #2475
## Ticket update

For the people that got to this ticket via google and wonder how to get your `vim-go` to actually show an errors, at the time of this comment you can use the following config in your `.vimrc`:

[code]

When you want to save and check the code, hit `F6`.

[2019-12-18 17:06] #2625 closed

[2019-12-18 17:21] #2538 closed

[2019-12-19 10:41] codcodog opened #2628 "no ParseGoHandle for file"
### What did you do? (required: The issue will be **closed** when not provided)
use `gd` go to a function define, but it failed.

The project use `govendor` instead of `go mod`, so there is no `go.mod` file.

### What did you expect to happen?
Go to the function define.
### What happened instead?
It failed: `vim-go: no ParseGoHandle for file`
### Configuration (**MUST** fill this out):

#### vim-g

[2019-12-19 12:06] pan-sultan opened #2629 "move to function declaration not working at elastic project"
### What did you do? (required: The issue will be **closed** when not provided)
1. download source code with command go get -v github.com/elastic/beats
2. try to move to some function. For example,

if the error is not reproduced then go back CTRL+T and press CTRL+P again at least two times.

### What did you expect to happen?
To move to declaration of Errorf in package fmt.

### What happened ins

[2019-12-19 15:14] bhcleek commented on #2628
Is your project in GOPATH?

What version of gopls do you have installed (you can tell by running `gopls version`)?

[2019-12-19 18:58] bhcleek commented on #2629
What version of `gopls` are you running (`gopls version` will tell you)?

FWIW, there's an error in that file: there is no `errors.Errorf` function. However, jumping to `fmt.Errorf`'s definition works fine for me:

![recording](https://user-images.githubusercontent.com/1958864/71201210-68d7fb80-224e-11ea-8174-22ece66606fa.gif)

[2019-12-19 19:59] bhcleek commented on #2622
@allyraza I'll leave this open for a couple more days to give you a chance to respond and will close it if I don't hear from you.

[2019-12-19 20:01] bhcleek commented on #2603
@XavierCheng1996 are you able to provide the gopls output I asked for last week (https://github.com/fatih/vim-go/issues/2603#issuecomment-565250754)?

[2019-12-19 20:02] pan-sultan commented on #2629
I run :GoUpdateBinaries so I think it is latest. But how to know version of gopls? --help does not see --version or something.
Try twice like me here CTRL+P then go back with CTRL+T then again CTRL+P
![Peek 2019-12-19 22-51](https://user-images.githubusercontent.com/26022428/71205076-b9814000-22b2-11ea-8542-a3e31065f8eb.gif)

[2019-12-19 20:06] pan-sultan commented on #2629
By the way, elastic/beats has two files with same name but different path.
(1) src/github.com/elastic/beats/winlogbeat/eventlog/wineventlog.go
(2) src/github.com/elastic/beats/winlogbeat/beater/winlogbeat.go
this issue is reproducible only with (1). With file (2) works fine.

[2019-12-19 20:39] pan-sultan commented on #2629
Sorry I did miss what you wrote about version command
the version
golang.org/x/tools/gopls 0.2.2
    golang.org/x/tools/gopls@v0.2.2 h1:ujGisyytgY1VGcmd66wIJ9+wVAfmodXj6daHM43HRXk=

[2019-12-19 20:40] bhcleek commented on #2629
`ctrl-p` moves up a line. Are you saying that trying to go up two lines by pressing ctrl-p fails, or do you have some kind of ctrl-p mapping that's not represented in the vimrc you posted?

[2019-12-19 21:16] pan-sultan commented on #2629
My mistake. Of course it is CTRL + ] then CTRL + T then CTRL + ]

[2019-12-19 22:04] mnarrell commented on #2628
This resembles #2620 I opened/closed last week. I forgot to mention I’m in a mixed modules scenario. My monorepo lives beneath the GOPATH, but is all modularized.

[2019-12-19 22:08] bhcleek commented on #2629
Ok, let's break this down:

1. Go to `fmt.Errorf` and place the cursor in `Errorf`.
2. ctrl-] to jump to the definition of `fmt.Errorf`.
3. ctrl-t to jump back
4. ctrl-] to jump again

This all works for me; I can't duplicate the error you're seeing.

@stamblerre do you have any idea what might be going on in gopls that would cause this?

[2019-12-20 01:33] codcodog commented on #2628
I export `GOPATH` on my project.

[code]

and I add `let g:go_debug=['lsp']` on my `.vimrc`.

`__GOLSP_LOG__` output:
[code]

[2019-12-20 01:38] bhcleek commented on #2628
Is `/home/cryven/coding/azoya_product_query/src/api/v2/routers/routes.go`  completely empty by chance?

I'm wondering if you're getting hit by https://github.com/golang/go/issues/35949.

[2019-12-20 02:14] codcodog commented on #2628
It's not empty.
[code]

[2019-12-20 07:12] bhcleek commented on #2628
Does the error go away if you concatenate lines 16 and 17 of routes.go?

[2019-12-20 07:33] codcodog commented on #2628
That would be a syntax error.

Maybe the project use a private package, so `gopls` failed?

[2019-12-20 08:01] bhcleek commented on #2628
Yes, it would be a syntax error generally, but I'm not sure how gopls is going to handle that when it's trying to parse the file - I think it's worth correcting that file since it's the one for which the error is being reported.

The private packages could be a problem. Assuming that you have `azoya/nova` and `api/v2/controllers` in your GOPATH or that they're vendored and you have `GOFLAGS=-mod=v

[2019-12-20 08:06] pan-sultan commented on #2629
I wrote small piece of code which I put in $GOPATH/src/tmp/main.go.
This code reproduces the issue
[code]
You can repeat the steps here for fmt.Println() instead of fmt.Errorf()

1. Go to fmt.Println and place the cursor in Println.
2. ctrl-] to jump to the definition of fmt.Println.
3. ctrl-t to jump back
4. ctrl-] to jump again

So, if I comment out

jumping to definition will work fine again.
B

[2019-12-20 08:22] bhcleek commented on #2629
I was running a later version version of gopls than is installed by vim-go by default. Once I reset gopls to the latest release, I was able to duplicate the problem you're seeing. For me, setting `:GoBuildTags windows` resolved the error. Does it resolve it for you, too?

[2019-12-20 08:23] codcodog commented on #2628
I export `GOFLAGS=-mod=vendor` and `GO111MODULE=off` to my terminal. It works， but get a new error `vim-go: internal error: go list gives conflicting information for package vendor/golang.org/x/text/transform`.

Anyway, `gopls` works.

[2019-12-20 08:29] codcodog commented on #2628
`vim-go: internal error: go list gives conflicting information for package vendor/golang.org/x/text/transform`
this error is because of my go version(`go1.13.5`).
I change it to `go1.11.13`, it works.

Thanks @bhcleek.
And I closed this issue.

[2019-12-20 08:29] #2628 closed

[2019-12-20 08:35] pan-sultan commented on #2629
Yes, it resolved the error. Should I close the issue?

[2019-12-20 08:37] bhcleek commented on #2629
Yes. When you want to use build constraints, please use `:GoBuildTags`.

[2019-12-20 08:37] pan-sultan commented on #2629
Thank you very much for help.

[2019-12-20 08:37] #2629 closed

[2019-12-20 16:02] NikosEfthias commented on #2603
I have the same situation

[2019-12-20 23:08] XavierCheng1996 commented on #2603
sorry for late response. I have updated my `vimrc` and now it works.

[2019-12-20 23:45] bhcleek commented on #2603
How did you update your `vimrc`? FWIW, I would not expect adding `let g:go_debug=['lsp']` to affect this error. If it did, then the problem isn't really solved. If you did something else, then I and others would be interested to know what you did.

[2019-12-21 19:46] XavierCheng1996 commented on #2603
I have updated it in the above post. meanwhile, I encounter another error like
[code]

[2019-12-21 23:05] bhcleek commented on #2603
https://github.com/fatih/vim-go/blob/master/doc/vim-go.txt explains the error you're seeing now.

[2019-12-22 22:38] artem-nefedov opened #2631 "diagnostic highlight groups are not cleared when displaying a different buffer in a window"
### What did you do? (required: The issue will be **closed** when not provided)

1. Create new file and add some line with "bad" code, e.g.:
[code]
2. Save the file (vim says `vim-go: initialized gopls`, "bad" block gets highlighted in red)
3. Open another buffer in the same window:
[code]
4. Start typing over the same line where "bad" block was located:
[code]

### What did you expect to happen?

[2019-12-22 23:44] bhcleek commented on #2631
I'll get the fix for this in soon. Until then, you can work around it by fixing the error in the file; that should cause the red block to disappear.

[2019-12-23 02:05] XavierCheng1996 commented on #2603
I'm trying to use `GoReferrers` for a function

[2019-12-23 04:35] bhcleek commented on #2603
I understand. Did you review the section of the FAQ that I linked?

[2019-12-23 05:07] XavierCheng1996 commented on #2603
Sorry, where is the link 😄

[2019-12-23 05:25] bhcleek commented on #2603
In https://github.com/fatih/vim-go/issues/2603#issuecomment-568218418

[2019-12-23 09:25] wining commented on #2481
This issue has not been fixed!
I add some log and find that the function "update_goroutines" and "update_variables" causes this.
It seems that the call "s:call_jsonrpc('RPCServer.State')" and “s:call_jsonrpc('RPCServer.ListGoroutines')”  in function "update_goroutines" are timeout.
Can i add some logs to help you？

[2019-12-23 10:19] wining commented on #2481
I add echo in function "s:call_jsonrpc" in file "autoload\go\debug.vim".
[code]
![image](https://user-images.githubusercontent.com/4005513/71352040-36146700-25b0-11ea-8791-d11786a35819.png)
The three requests in Red box were timeout and had empty replies in windows.

[2019-12-23 15:57] bhcleek commented on #2481
@wining Can you please open a new issue with this information?

Also, how do you know they were timeouts?

[2019-12-23 16:11] bhcleek commented on #2481
@wining another piece of information to include in the new issue; are you still seeing the original reported behavior where you saw an error that reads, `Undefined variable`?

[2019-12-23 16:13] bhcleek commented on #2631
@artem-nefedov you can also disable the diagnostics highlighting by using `g:go_highlight_diagnostic_errors` and `g:go_highlight_diagnostic_warnings` options.

[2019-12-23 16:14] bhcleek commented on #2603
@XavierCheng1996 the section of the FAQ I linked implies that it's only relevant to opening a file. The solution, though, will apply to your case, too.

[2019-12-23 17:09] XavierCheng1996 commented on #2603
thanks, looking👀

[2019-12-23 20:00] XavierCheng1996 commented on #2603
I have checked the faq and I haven't used `vim-polyglot` and it just says
[code]

[2019-12-23 20:39] bhcleek commented on #2603
Then you likely have multiple versions of vim-go installed. Can you run `:verbose function go#config#FmtAutosave`? It will tell you where the function named `go#config#FmtAutosave` was last set from. That _should_ be within path to vim-go on your machine. Where does it say it was set from? And where do you have vim-go installed to?

Also, I just noticed that your new error shouldn't happen at all

[2019-12-23 21:14] XavierCheng1996 commented on #2603
run `:verbose function go#config#FmtAutosave` . and the output is
[code]

I think I pull the lates version to `/Users/[username]/.vim/bundle/vim-go` and have created the issue. so it looks like it's the compatibility issue between `guru` and `vim-go`?

[2019-12-23 21:29] XavierCheng1996 commented on #2603
Meanwhile if I use the `GoCallers` the error will be like
[code]
and I have already run `go build ...`

[2019-12-23 22:40] vendion opened #2633 "Only a subset of commands available if vim-go is installed in Vim8 packages opt directory"
### What did you do? (required: The issue will be **closed** when not provided)

Install `vim-go` as an optional package using Vim8 Pacages (e.g. ~/.vim/pack/dist/opt/vim-go) rather than in the _start_ directory.

### What did you expect to happen?

I expected `vim-go` to function normally, with all commands available.

### What happened instead?

Only the following commands work: `GoInstallBinari

[2019-12-23 23:01] bhcleek commented on #2603
If you've installed vim-go to `/Users/[username]/.vim/bundle/vim-go` and are seeing `Last set from ~/.vim/pack/plugins/start/vim-go/autoload/go/config.vim` from `:verbose function go#config#FmtAutosave`, then that means that you have two versions of vim-go installed, and vim is only loading the one in `~/.vim/pack/plugins/start/vim-go`.

Make sure to clear out any copies of vim-go that you don't w

[2019-12-23 23:03] bhcleek commented on #2633
There isn't enough information here for me to tell how to duplicate this issue. I'll need to know:
1. When and how did you execute `packload vim-go`?
2. At what point are you trying to see vim-go commands (e.g. before or after opening a Go file)?

[2019-12-24 02:08] wining commented on #2481
Because every call of "ch_readraw(l:ch)" will spend 20 seconds.

[2019-12-24 02:09] wining commented on #2481
There is no error reportes. I will create a new issue.

[2019-12-24 02:51] vendion commented on #2633
I tried executing it 3 different ways, the end goal was if I'm not working on a Go project then vim should skip this plugin. The first way was having `packadd vim-go` in _$HOME/.vim/ftplugins/go.vim_, when that didn't work I put it is _$HOME/.vim/after/ftplugns/go.vim_ (like how it currently is in https://gitlab.com/vendion/dotfiles/blob/opt-vim-go/.vim/after/ftplugin/go.vim), lastly when neither

[2019-12-24 02:59] liwnn opened #2634 "GoDebugContinue experiences delays in Windows"
### What did you do? (required: The issue will be **closed** when not provided)
Debug a file in windows 10.
[code]

1. Open main.go with gvim.
2. :GoDebugStart
3. :GoDebugBreakpoint add a breakpoint on line "println(i)"
4. :GoDebugContinue
### What did you expect to happen?
Debugging is ok
### What happened instead?
Gvim will be blocked for more than 1minutes.
I found that the "call s:update_gorou

[2019-12-24 03:22] bhcleek commented on #2633
This generally sounds like a premature optimization. Vim-go is is technically two plugins: a global plugin which provides the commands you're seeing available (e.g. `:GoUpdateBinaries, `:GoPath, `:GoInstallBinaries`, etc.) and a file type plugin that is only loaded when the file type is set to `go`.  When you're not in a Go file, vim-go is a global plugin and has _very_ low cost. I recommend not w

[2019-12-24 04:26] bhcleek commented on #2634
I'm confused.

[code]
seems to show that `ListLocalVars` and `ListFunctionArgs` are processed by delve very quickly. 🤔

[2019-12-24 04:47] wining commented on #2634
But i do DebugContine in at time 2019-12-24T11:20:19+08:00.

[2019-12-24 04:58] wining commented on #2634
I add some debug code.
![image](https://user-images.githubusercontent.com/4005513/71394496-d15b1a00-264c-11ea-9ac9-80788c459f09.png)

Here is a gif of RPCServer.State waiting the return for 20 seconds.
![GIF](https://user-images.githubusercontent.com/4005513/71394515-dddf7280-264c-11ea-82f9-ed1d634229c7.gif)

[2019-12-24 05:28] bhcleek commented on #2634
If your analysis is correct and it's simply waiting for `ch_readraw` to return, then I'm not sure that anything can be done by vim-go to improve this performance.

Here's some things that could help us narrows down to a root cause, though:
1. Do you see the same delay after running `:GoDebugStop` and then running `:GoDebug` again?
1. Do you see delays when running `:GoDebugContinue` after hitting

[2019-12-24 05:34] bhcleek commented on #2622
closing due to lack of feedback.

[2019-12-24 05:34] #2622 closed

[2019-12-24 06:14] wining commented on #2634
1. Do you see the same delay after running :GoDebugStop and then running :GoDebug again?
Yes. It has the same delay.
2. Do you see delays when running :GoDebugContinue after hitting a breakpoint?
Yes. It has the same delay.
3. Do you see this same delay when using delve's command line client to debug the same application?
Delve's command works well.
4. Update to the latest delve by running :GoUpda

[2019-12-25 22:33] vendion commented on #2633
This may full under premature optimization, but for me it's more of keeping things clean and minimal. While it doesn't affect vim's performance but it bothers me to have plugins cluttering my `runtimepath` with plugins related to projects I'm not working on (i.e. I don't really need PHP or Perl related plugins in my `runtimepath` if I'm working on a Go project and vice versa) sure they are not doi

[2019-12-26 01:57] adkein opened #2635 "GoFmt formats the file but also (and undesirably) saves the file"
(FYI I wrote a working fix for this issue branched off master, but I get a 403 when trying to push the branch to this repository.)

### What did you do? (required: The issue will be **closed** when not provided)

I edited a .go file and I ran the GoFmt command.

### What did you expect to happen?

I expected the code file to be formatted and for the file's changes to not be saved.

### What happen

[2019-12-26 03:22] bhcleek commented on #2635
Feel free to fork vim-go, push your branch to the fork, and create the PR in this repo.

[2019-12-26 03:38] bhcleek commented on #2635
I should add, though, that there are several edge cases in the formatting code that need to be handled correctly. A PR that that changes the formatting code will need to cover all the currently covered use cases and not introduce any new bugs to be accepted.

It's also advisable to make sure you're using the latest master as a branch point instead of v1.19 to avoid the potential of conflicts since

[2019-12-26 03:54] bhcleek commented on #2633
TL;DR: if you want to put vim-go into an optional package, then you'll need to make sure to load it with `packadd` before opening a Go file.

I don't see a way to leverage an ftdetect file to bend vim-go to your desired configuration unless I'm misunderstanding what you're suggesting. ftdetect should only contain an autocmd that sets the filetype. Both `:help ftdetect`, and https://learnvimscriptt

[2019-12-26 04:04] bhcleek commented on #2634
Thank you for the prompt replies. I'll look into more soon when I have access to a Windows machine again.

[2019-12-26 04:06] bhcleek commented on #2635
The solution to #2483 will likely also address this FWIW. There's details on that issue that will be relevant to any attempted alternative to the current method of formatting.

[2019-12-26 14:21] hellodudu commented on #2619
It works fine after a few days trying. Closing this, thanks a lot.

[2019-12-26 14:21] #2619 closed

[2019-12-26 18:11] XavierCheng1996 commented on #2603
Ic thanks~

[2019-12-26 18:18] XavierCheng1996 commented on #2603
I have deleted the one under `bundle` but still sees the error `Last set from ~/.vim/pack/plugins/start/vim-go/autoload/go/config.vim` here.

[2019-12-26 19:31] chenclee opened #2636 "Support for raising verbosity of gopls as metalinter"
### What did you do? (required: The issue will be **closed** when not provided)
Setting the GoMetaLinter to gopls on some existing codebases may result in a large number of warnings that are not feasible to fix / not worth fixing. Similar to the highlighting options split into errors/warnings, it would be nice if metalinter or gopls could be configured to not show warnings in the locationlist/quic

[2019-12-27 15:50] bhcleek commented on #2619
@hellodudu I just want to be clear; you'd like #2621 to be merged and haven't noticed any problems with it?

[2019-12-27 16:08] bhcleek commented on #2603
You've deleted the copy under `bundle` and you are still seeing
[code]
?

Do you still have `Plug 'fatih/vim-go'` in your vimrc? If so, then it's going to reinstall vim-go under `bundle` again, and you'll be back to where you were before you deleted the copy under `bundle`.

You'll need to decide whether you want to use Plug to manage vim-go or whether you want to use Vim's package management and

[2019-12-28 09:52] hellodudu commented on #2619
Yes, I haven't met any problems, please merge it :)

[2019-12-29 07:20] skanehira opened #2637 "Error when opening Go file when g:go_gopls_enable is 0"
### What did you do? (required: The issue will be **closed** when not provided)
I set `let g:go_gopls_enable = 0` in my vimrc and when I open *.go file then error occured,

![image](https://user-images.githubusercontent.com/7888591/71553665-ba566680-2a56-11ea-9f30-4588cf5e288a.png)

### What did you expect to happen?
No error occured.

### What happened instead?
error occured as following.

[code]

[2019-12-31 17:50] #2637 closed

[2019-12-31 21:51] bhcleek commented on #2633
@vendion should we keep this open?

[2020-01-02 23:23] XavierCheng1996 commented on #2603
I see. thanks for your help!

[2020-01-02 23:23] #2603 closed

[2020-01-03 14:05] vendion commented on #2633
It's looking like this can be closed as it seems there is no point in having `vim-go` to be in the pack/*/opt directory due to how it would have to be loaded so early, It might as well just be the pack/*/start directory.

[2020-01-03 14:05] #2633 closed

[2020-01-03 18:45] #2631 closed

[2020-01-04 06:08] WhisperingChaos commented on #2414
@XavierCheng1996

I encountered the same behavior you described: "stuck forever saying ```initialized gopls```". My installation of vim-go is configured to run in a docker container.  Linux ```find``` couldn't locate ```gopls``` in it.  Installing ```gopls``` to the container using these [instructions](https://github.com/golang/tools/blob/master/gopls/doc/user.md#installation) resolved the issue.

[2020-01-07 05:22] bhcleek commented on #2634
I was able to duplicate the issue you're describing. I'll do more analysis this week and try to identify a fix.

[2020-01-07 11:43] winkee01 opened #2645 ":GoVet does not refresh its message"
### What did you do? (required: The issue will be **closed** when not provided)
hello.go is opened,  vim does not display syntax error, so I type :GoVet to run the syntax check, it says "vim-go: calling vet...", and stuck there(maybe not because syntax messages are displayed correctly, but this message never updates).

vim open hello.go, then do `:GoVet`, the calling message "vim-go: calling vet..

[2020-01-08 02:45] MaMrEzO commented on #2256
I`d just found [Vim as GO IDE](https://octetz.com/docs/2019/2019-04-24-vim-as-a-go-ide/#prerequisites) with this configuration that used "neoclide/coc.nvim" plugim, I got a very fast Completion and even a very nice parameter hints setup now...

[2020-01-08 03:58] theniceboy opened #2647 "Vim-go auto-selecting the first item in the auto-completion menu"
### What did you do? (required: The issue will be **closed** when not provided)
I'm using coc.nvim. I put 	`"suggest.noselect": true` in my `coc-settings.json` and I put `set completeopt=longest,noinsert,menuone,noselect,preview` in my vimrc, but it seems like vim-go is overwriting this setting.

### What did you expect to happen?
The first option in the autocompletion menu should not get highligh

[2020-01-08 04:56] juniway commented on #2645
Hi, thanks for the job, but the problem is still there.

[2020-01-08 04:58] juniway commented on #2645
<img width="409" alt="callingvet" src="https://user-images.githubusercontent.com/3980841/71951601-90e7c880-3216-11ea-9aa8-eb00b5f6cdac.png">

[2020-01-08 05:00] winkee01 commented on #2645
thanks for the work, but the problem is still there
<img width="409" alt="callingvet" src="https://user-images.githubusercontent.com/49930785/71951677-cc829280-3216-11ea-9097-3c2c96d37683.png">

[2020-01-08 05:16] winkee01 opened #2648 ""vim-go: initialized gopls" should disappear after 3ms?"
### What did you do? (required: The issue will be **closed** when not provided)
vim open hello.go, the message "vim-go: initialized gopls" is displayed at the bottom, but never disappear.

From most experiences, the message that serves as informing purposes only display for a short time then fades, but in this case it keeping saying "vim-go: initialized gopls", kind of annoying and disturbing, is

[2020-01-08 07:52] ZaynJarvis commented on #2510
This is a great solution and it works for me.
Also with adding a new line, this function satisfy another requirement, to close the window quickly.
[code]

[2020-01-08 07:55] ZaynJarvis commented on #1902
You may want to check out this solution. [https://github.com/fatih/vim-go/issues/2510#issuecomment-571932106](url)

[2020-01-08 10:25] gun1x commented on #2256
This looks a bit excessive, but if you want to use this setup, good for you.

I am getting vim-go [from aur](https://aur.archlinux.org/packages/vim-go/) and it just works. I also have this `.vimrc` for some stuff that should be default if you ask me:
[code]

btw, I use Arch. I mean in case you didn't figure I am using Arch because I specified AUR, I just wanted to let you know that I use Arch.

[2020-01-08 10:31] MaMrEzO commented on #2256
I see, glad to see you, my Arch mate :D
WOW, I didn't know there is an AUR just for vim go!
I got to take a try, Thanks for let me know about that.

[2020-01-08 16:54] bhcleek commented on #2647
vim-go does not set `completeopt`.

[2020-01-08 17:11] bhcleek commented on #2645
I get a prompt for to hit Enter, and then the message disappears. The vimrc you

[2020-01-08 17:22] bhcleek commented on #2648
It will disappear when the screen is next redrawn.

Since you're using Vim 8.2, I recommend that you using vim-go statusline integrion  (see `:help go#statusline#Show()` and disable `g:go_echo_command_info` - you'll end up with the experience you're looking for overall, I think.

[2020-01-08 17:22] #2648 closed

[2020-01-09 01:58] bhcleek commented on #2645
I've removed the previous fix for this in #2649, because it doesn't work well and causes the user to have to unnecessarily hit enter when there are errors and `g:go_echo_command_info` is set.

Since you're using Vim 8.2, I think you may generally prefer to use `go#statusline#Show` and to add `let g:go_echo_command_info=0` to your vimrc. It will provide for a nicer experience.

Here's an example of

[2020-01-09 03:18] bhcleek commented on #2634
I've been able to narrow this down. It seems that `ch_readraw` on Windows is blocking for the full `timeout` period. Since vim-go sets the timeout to 20 seconds, each call to `ch_readraw` blocks for 20 seconds on Windows. I should be able to address this. I'm going to look for a proper fix, but if I can't find one, I'll craft a workaround.

[2020-01-09 06:01] winkee01 commented on #2645
disable echo go command info works, but now :GoVet won't dissappear, I think it might be a bug of VIM.

[2020-01-09 16:15] theniceboy commented on #2647
I got it, just needed to set `"suggest.enablePreselect": false` in `coc-settings.json` as [this issue](https://github.com/neoclide/coc.nvim/issues/1288) indicates, not vim-go related. Closing.

[2020-01-09 16:15] #2647 closed

[2020-01-09 17:39] bhcleek commented on #2645
I suspect you can duplicate this by running executing `:echom test`; under what conditions will the `test` disappear?

[2020-01-10 08:31] winkee01 commented on #2645
So all I test is a file has a minor syntax error.

Here is what I get
1) GoVet won't automatically execute, which means I cannot get the error info in the quickfix window.

2) When I execute :GoVet manually, error information is correctly shown but the display of ":GoVet" won't disappear, which is annoying because it takes a line height of the display area.

3) When I execute :echom test, an error

[2020-01-10 17:00] bhcleek commented on #2645
Your `cmdheight` value may be relevant. What is it?

That should be `:echom "test"`

Without a more complete vimrc, it's difficult for me to tell what may be the cause of some of these issues. Have you actually tried duplicating this issue with the vimrc you provided in the original report?

[2020-01-11 01:39] winkee01 commented on #2645
ok, "test" will not disappear until the screen is redrawn, for example, ctrl-f to scroll down the page to forcibly redraw the screen.

[2020-01-11 15:33] YousyaCliff opened #2651 "vim-go auto set noremap K to what ?"
### What did you do? (required: The issue will be **closed** when not provided)
I set K for quick move down (noremap K 5k), in go file K command be changed.

### What did you expect to happen?
When I press K, is same 5k

### What happened instead?
vim-go: no package constaining xxx.go

### Configuration (**MUST** fill this out):

#### vim-go version:
the  new
####  `vimrc` you used to reproduce (u

[2020-01-12 04:49] bhcleek commented on #2651
`K` is mapped to `:GoDoc` in vim-go by default, following the pattern set by `K` generally for looking up a word under the cursor (see `:help K`).

You can disable the mapping in vim-go by using `g:go_doc_keywordprg_enabled`. See `:help g:go_doc_keywordprg_enabled`  for more information.

[2020-01-12 05:20] #2651 closed

[2020-01-12 21:55] bhcleek commented on #2645
This isn't a bug, it's by design in Vim. Messages are not cleared until the screen is redrawn.