[2020-04-30 00:29] bhcleek commented on #2869
@vitaly-zdanevich please see my previous comment.

Help me help you by opening a new issue that describes how to replicate the problem, a clear description of the expected result, and a clear description of the actual result in addition to the information that you provided about your environment. Imagine you're me and you're trying to understand how to duplicate the issue you've described...

[2020-04-30 00:36] bhcleek commented on #2868
I think you confused the LSP debug window with your quickfix window; those messages are _not_ in the quickfix/location window.

However, after reviewing those logs, I can see that you're not formatting with LSP (I should have notice that previously - it's clear in the function list that the functions in `lsp.vim` aren't relevant to what you're seeing.

What does `gofmt` report if you run it from t

[2020-04-30 14:40] bhcleek commented on #2866
I'm not aware of any issues that would prevent it from working on macOS: I debug in vim-go on macOS regularly

[2020-04-30 15:33] kimbo commented on #2866
Idk if this helps, but `:GoDebugTest` doesn't work either.
[code]

[2020-04-30 15:37] bhcleek commented on #2866
I'm wondering where you have some permissions issues on your machine 🤔

[2020-04-30 17:58] MrGossett opened #2870 "Add args list for metalinter command"
## What did you do? (required: The issue will be **closed** when not provided)

I want to add the `--fix` flag to `golangci-lint run` in my metalinter command.

_(please pardon potential over-explaining, as I want to be clear about what I'm trying to accomplish)_

`golangci-lint` provides a [command-line option `--fix`](https://github.com/golangci/golangci-lint/blob/eeff3902d440513f5598391d6589c77

[2020-04-30 18:23] MrGossett commented on #2870
In an attempt to be helpful, I have a branch on a fork that implements the basic behavior I'm looking for: https://github.com/MrGossett/vim-go/commit/abacde9ffbae37696c2ccc9ef52ea796765bd64a

[2020-04-30 19:30] bhcleek commented on #2870
I understand the desire, but dealing with those args will be difficult to support. I think we've done all we can do to support `golangci-lint`. May I humbly suggest that ask `golangci-lint` to support `--fix` in the config file instead?

[2020-04-30 22:20] kimbo commented on #2866
I think you are correct. It works when I run it as root...

[2020-04-30 22:27] kimbo commented on #2866
Now it works like a charm, even as a normal user! I just ran it once as root, and now it works great. How strange indeed.

[2020-04-30 22:28] kimbo commented on #2866
I appreciate your help @jblebrun@

[2020-04-30 22:28] #2866 closed

[2020-05-01 03:17] hajekjiri opened #2871 "GoMetaLinter opens the hello_world.go template with linter output as its filename"
### What did you do? (required: The issue will be **closed** when not provided)

1. create the following file in `$(go env GOPATH)/src/hello-world/main.go` and open it with `vim`
[code]
2. run `:GoMetaLinter`

### What did you expect to happen?

- get output from the linter in the quickfix list

### What happened instead?

- got output from the linter in the quickfix list
- vim opened a new buffer

[2020-05-01 04:00] bhcleek commented on #2871
I'm not able to duplicate the problem you're describing. With the file you've provided, `:GoMetaLinter` populates the quickfix with the expected errors and does not open another buffer.

To help us figure out why you're seeing the behavior you're describing, can you run `G"=getqflist()p` after running `:GoMetaLinter` to put the raw contents of the quickfix list in a buffer, and then copy and paste

[2020-05-01 08:54] dv29 commented on #2673
I debugged this issue and found that `GOPATH=":/home/tyson/project/compsci:/home/tyson/project/exercism/go"` the first value was an empty string as it was not being cleaned up in the code `GOPATH=:`, as a fix make sure your first path is not empty

[2020-05-01 10:34] hajekjiri commented on #2871
The quickfix list was already in its own buffer. `G"=getqflist()p` doesn't seem to do anything, though something might be wrong since running the same thing with a typo (e.g. `G"=getqflistasdf()p` gives me no errors (and also does nothing). Anyway, here's the output.
[code]

[2020-05-01 11:41] dethtron5000 opened #2872 "GoMetaLinter throws undefined variable errors"
### What did you do? (required: The issue will be **closed** when not provided)
Open any Go file
Run `:GoMetaLinter`

### What did you expect to happen?
I expected the linter results to be in the results menu

### What happened instead?
I get the following error
[code]
It appears on every Go project that I try to run it on.
### Configuration (**MUST** fill this out):

#### vim-go version:

####  `

[2020-05-01 11:42] alabarjasteh opened #2873 "Vim freezes when encounter big commented number while syntax is enabled"
### What did you do? (required: The issue will be **closed** when not provided)
Open a file with about 100 lines of code containing the line blow:

[code]
As soon as the number is cleared the problem solved.

### Configuration (**MUST** fill this out):

#### vim-go version:

####  `vimrc` you used to reproduce:

<details><summary>vimrc</summary><br><pre>
syntax on
</pre></details>

#### Vim versio

[2020-05-01 19:47] bhcleek commented on #2871
Can you try `G"=getloclist()p` instead?

[2020-05-01 19:50] bhcleek commented on #2871
I also really need the raw golangci-lint output to see what the error message it's outputting is. You can get that by adding `call go#util#EchoInfo(string(a:messages))` at line 430 in lint.vim: https://github.com/fatih/vim-go/blob/master/autoload/go/lint.vim#L430

[2020-05-01 19:52] bhcleek commented on #2872
`golangci-lint run` is not a supported value for `g:go_metalinter_command`.

[2020-05-01 19:52] #2872 closed

[2020-05-01 20:31] hajekjiri commented on #2871
Nothing happens.

Nothing changes. I'm getting the same output.

Running `golangci-lint run` outside of vim gives me this which might be what you're looking for.
[code]

[2020-05-01 21:46] bhcleek commented on #2871
Unfortunately, the commandline logs aren't sufficient, because `golangci-lint` outputs the logs in a different format when it's run by vim-go (I've never been able to get it to use the output format from the commandline that it does when vim-go runs it).

When you run that command, you'll need to be in the window whose location list has opened. Is it opening a locationlist or a quickfix list for y

[2020-05-01 22:01] hajekjiri commented on #2871
Oh, I see. Here's what I'm getting from `G"=getqflist()p`.
[code]

[2020-05-01 22:35] sentriz commented on #2872
^ to add to above, just remove the `run` eg.
`let g:go_metalinter_command = 'golangci-lint'`
this is working well finally with golangci-lint `v1.26`
`$ cd $(mktemp -d); go get github.com/golangci/golangci-lint/cmd/golangci-lint@v1.26.0`
`$ golangci-lint version`

[2020-05-01 22:52] bhcleek commented on #2871
Thanks. That's enough info, I think. I'll try to get a fix in place soon.

[2020-05-01 23:11] bhcleek commented on #2871
@hajekjiri it's going to be hard for me to fix this, because:
1. I can't duplicate it
2. I don't have the actual raw messages that golangci-lint is giving you (though with the totality of your comments I think I can piece it together)

Can you try updating golangci-lint (`:GoUpdateBinares golangci-lint`) to see if this is still a problem for you afterwards?

[2020-05-02 00:09] bhcleek commented on #2871
@hajekjiri one more request: before you update golangci-lint or if you update it and still have the same problem, can you give https://github.com/fatih/vim-go/pull/2874 a try to see if it resolve the problem you're seeing?

[2020-05-02 07:52] hajekjiri commented on #2871
[code]

#2874 does resolve the problem!

[2020-05-02 13:53] ciehanski commented on #2619
Any update on this since [#2621](https://github.com/fatih/vim-go/pull/2621) was closed and not merged? I am still experiencing this issue unfortunately. Thanks!

[2020-05-02 15:26] bhcleek commented on #2871
Do you have have the problem with master and the updated golangci-lint?

[2020-05-02 15:51] hajekjiri commented on #2871
Yes, that's actually been my setup the entire time. I already had the latest golangci-lint.

Also tried downgrading golangci-lint to v1.26.0, v1.25.0, and v1.24.0, but they all behaved the same in terms of this problem.

[2020-05-02 16:10] bhcleek commented on #2871
Thanks for confirming. I won't be able to merge #2874 as-is, because it breaks other scenarios. I'm going to try to adjust the error parsing, but I might have to revert #2835 completely if the already tested scenarios and the one you're encountering can't both be satisfied.

Unfortunately, I still can't duplicate the problem you're seeing, so I'm not sure I can construct a test that will cover it

[2020-05-02 16:26] hajekjiri commented on #2871
Sure! Happy to help.

I'm also able to reproduce this on my other laptop, though it's set up very similarly to my daily driver I'm on. I'll try this on a fresh Arch Linux install in the next few days once I find some extra time to go through it.

[2020-05-02 23:40] #2870 closed

[2020-05-03 00:40] bhcleek commented on #2871
@hajekjiri I was finally able to duplicate what you're seeing. It looks like the only real solution is to remove revert #2835. I'll put up a PR soon.

[2020-05-03 00:56] bhcleek commented on #2871
FWIW, the reason you're seeing this is that there are two errors in the file that prevent linters from running.

[2020-05-03 04:39] #2871 closed

[2020-05-03 05:02] bhcleek commented on #2873
I'm not not able to duplicate the problem you've described.

What does this mean?

[2020-05-03 10:20] alabarjasteh commented on #2873
I'm new to vim and vim-go, I'm not sure if it is normal that comments get processed. Last night I saw strange highlights within commented notes come and go. In the situation I issued when there is a big const in comments for example in line 50 and I hit G in normal mode to see the the end of the file ,vim freezes. When press j on the line above (line 49 in this scenario), after a pause syntax auto

[2020-05-03 15:11] bhcleek commented on #2873
Syntax highlighting in Vim is based on regular expression. In the case of numbers, the comment lines _will_ be processed, though the comment highlighting should ultimately be used instead of the number highlighting.

Can you provide the file full file that you're having a problem with?

[2020-05-03 16:02] bhcleek commented on #2857
I've updated the tutorial

[2020-05-03 16:02] #2857 closed

[2020-05-03 17:28] alabarjasteh commented on #2873
[constant.go.zip](https://github.com/fatih/vim-go/files/4571088/constant.go.zip)

It is from: https://github.com/hoanhan101/ultimate-go/

[2020-05-03 19:51] bhcleek commented on #2873
I don't see any delay when moving onto or away from the untyped const at https://github.com/hoanhan101/ultimate-go/blob/master/go/language/constant.go#L68-L73.

Perhaps this is related to your machine specs? Since I'm not sure what version of vim-go you're using, it's hard to know whether you're using some of the changes to number highlighting that were introduced last last year.

[2020-05-04 06:48] martskins commented on #2873
@alabarjasteh do you happen to have `set re = 1` in your `vimrc`? Having it set to 1 results in the issue for me, but using the default 0 works fine.

[2020-05-04 07:38] alabarjasteh commented on #2873
Updating vim with `brew install vim` solved the problem.
Thank you @bhcleek. Thank you @martskins, your comment helped me to understand the problem.

[2020-05-04 16:48] #2873 closed

[2020-05-04 23:34] bhcleek commented on #2860
@manjitsinghm have you made any progress? Do we need to leave this issue open?

[2020-05-05 04:10] bhcleek commented on #2814
@lucas884e  I'm circling back with you since #2835 got reverted in #2875. Simply put: the error messages provided by golangci-lint cannot be reliably parsed to provide the level of detail that you were looking for.

[2020-05-06 09:23] captainviet opened #2877 "GoRename does not use gopls as defined in .vimrc"
### What did you do? (required. The issue will be **closed** when not provided.)
Set the following global variable in `~/.vimrc`
[code]
Running `:GoRename hello` command

### What did you expect to happen?
The variable is correctly renamed to `hello`

### What happened instead?
Got this messages from vim
[code]
Seems the job command is still `gorename` instead of `gopls` as I set in `~/.vimrc`
Che

[2020-05-06 14:55] bhcleek commented on #2877
This is quite strange. I've checked the git history fo the code and don't see any revision that would explain what you're seeing here.

It really depends on how you install and manage vim-go. Often you can cd into the directory where you have vim-go's source and run `git rev-parse HEAD` to see the revision.

[2020-05-06 15:03] orlangure commented on #2877
I'm seeing something similar after `:GoRename`:
[code]
But after this `SUCCESS`, wrong variable is renamed, one that is a few lines below.
I'm using the most recent vim, vim-go and all the binaries.

[2020-05-06 16:49] salarkhan commented on #2789
@bhcleek i've noticed that `g:go_imports_mode:gopls` organizes imports, but does not bring in missing ones. calling `:GoImports` manually, however, brings in missing imports. i prefer having folds preserved over auto-imports working, so i can live with it.

it's likely a `gopls` issue, not a `vim-go` issue, but i figured this would be helpful for you to be aware of this regardless

thanks for all

[2020-05-06 16:55] captainviet commented on #2877
I installed vim-go from Vundle, here's the commit found from `~/.vim/bundle/vim-go`
[code]
Looks like `v1.22` from https://github.com/fatih/vim-go/commit/9a4f21e5343437bdb4619f19b48cbf6d5cb7755c

oh from this version seems the command is fixed as
[code]
instead of different commands for `gorename` and `gopls` as in https://github.com/fatih/vim-go/blob/master/autoload/go/rename.vim

maybe I can try

[2020-05-06 16:58] bhcleek commented on #2789
@salarkhan let's continue this in a new issue if needed.

But `let g:go_import_mode="gopls"` works to add imports, too; I use it all regularly. Perhaps you really did mean `g:goimports_mode:gopls`, though? If that's the case, then that second `:` should be `=` and the value needs to be quoted.

Thank you for your kind words :bow:

[2020-05-06 17:06] bhcleek commented on #2877
v1.22 is the latest release. And it does have the ability to use either `gorename` or `gopls` for renaming: https://github.com/fatih/vim-go/blob/v1.22/autoload/go/rename.vim#L36-L43. If you don't see the same source in your vim-go directory, then you're using an older version of vim-go.

Based on what you've told me so far, I suspect that you may have multiple versions of vim-go installed and an o

[2020-05-06 17:14] captainviet commented on #2877
actually from the commit link above I'm not sure which version, as it mentioned both `v1.20` and `v1.22` in the titlle

anw, after running `:PluginUpdate` to install the latest version, `GoRename` works as expected, the command printed in shell is `gopls`
[code]

thanks a lot for your help!

[2020-05-06 17:15] manjitsinghm commented on #2860
bhcleek, I have switched to ubuntu VM and everything is working as expecting. Closing the issue. Thanks!

[2020-05-06 17:15] #2860 closed

[2020-05-06 17:15] manjitsinghm commented on #2860
I have switched to ubuntu VM and everything is working as expecting. Closing the issue. Thanks!

[2020-05-06 17:22] #2877 closed

[2020-05-06 19:55] salarkhan commented on #2789
ah, sorry for typing it incorrectly earlier, it was def set correctly in my vimdc. i'll open a new ticket for this:
[code]

[2020-05-06 23:52] bhcleek commented on #2868
@Hritik14 should we keep this open?

[2020-05-07 02:32] salarkhan opened #2878 "go_imports_mode not adding/removing imports"
### What did you do? (required: The issue will be **closed** when not provided)
opened a go file:
[code]
and `:w` the file

### What did you expect to happen?
expected `time` to be removed

### What happened instead?
`time` was not removed. it is removed if i call `:GoImports`

### Configuration (**MUST** fill this out):

#### vim-go version:
https://github.com/fatih/vim-go/releases/latest

####

[2020-05-07 02:38] bhcleek commented on #2878
Writing won't add or remove imports with the configuration you have. Add `let g:go_imports_autosave=1` to your vimrc and it should, though.

[2020-05-07 04:40] salarkhan commented on #2878
wowwwwww guess i should RTFM. sorry for wasting your time, and thanks again!

[2020-05-07 04:42] #2878 closed

[2020-05-07 06:16] RyanZZZZZ opened #2879 "Anyone knows how to turn the Type-Prompt Window off?"
### What did you do? (required: The issue will be **closed** when not provided)
I just updated the vim-go plugin.

Just update vim-go. In my case, I use Vundle to update automatically.
### What did you expect to happen?
Nothing particularly.
### What happened instead?
A new feature appears to be annoying: the Type-Prompt Window shows up every time I put the cursor on a variable or a function, with

[2020-05-07 08:10] #2879 closed

[2020-05-07 11:47] Hritik14 commented on #2868
Yes! Apologies for late reply.
I don't think the problem is with gofmt, seems more with `vim-go`.
I've creating an asciinema describing the whole mess: https://asciinema.org/a/EPQZVJS0igrh2RHwSsucuSKTh

[2020-05-07 11:58] Hritik14 commented on #2868
Just to make sure it's none of the other plugins, I disabled all of them and created a very minimal vimrc, still the same.
[![asciicast](https://asciinema.org/a/MrTo1jkc1keofEIT1qUfFN2WB.svg)](https://asciinema.org/a/MrTo1jkc1keofEIT1qUfFN2WB)

[2020-05-07 14:53] bhcleek commented on #2868
Based on the error message, it looks like you may have a mix of some different versions of vim-go files on your system.

Can you see how many files `list.vim` files you have and what their paths are?

[2020-05-07 14:55] bhcleek commented on #2868
Also, how many `fmt.vim` files do you have and what are their paths?

[2020-05-07 14:57] #2553 closed

[2020-05-07 15:17] Hritik14 commented on #2868
Only one for both
[code]

[2020-05-07 15:32] bhcleek commented on #2868
Can you go up some levels and try again; I suspect you have residue from a previous install of vim-go?

Also, after loading a go file and getting the error you're seeing, can you run `:verbose function go#fmt#ShowErrors`, `:verbose function go#Fmt#Format`, `:verbose function go#list#ParseFormat`, and provide each of the outputs here?

[2020-05-08 08:42] cofyc opened #2880 "Feature: :A/:AS/:AV shortcuts for :GoAlternate"
like [a.vim](https://github.com/vim-scripts/a.vim)

- `:A` is short for `:GoAlternate`
- `:AS` splits and switches between main and test files
- `:AV` vertical  splits and switches between main and test files

what do you think?

[2020-05-08 14:25] bhcleek commented on #2880
All vim-go command start with `:Go`, and I believe it should remain so. I think what you're looking for, though, is a way to cause those commands to execute with minimal typing. Vim-go has mappings for just that: https://github.com/fatih/vim-go/blob/master/ftplugin/go/mappings.vim#L80-L82.

You can configure your Vim to use those mappings with a key combination of your choice. An example is provid

[2020-05-08 14:25] #2880 closed

[2020-05-08 15:38] Aludirk opened #2881 ":GoVet uses local path for the quickfix list"
### What did you do? (required: The issue will be **closed** when not provided)
Run `:GoVet` command

### What did you expect to happen?
Show correct path in quickfix list after running `:GoVet` command.

### What happened instead?
The quickfix list shows the wrong path for `:GoVet` just exactly like #1376

This problem is fixed at #1381, but I found that at #2727, it seems that in lint.vim#200 is

[2020-05-08 16:11] bhcleek commented on #2881
Thank you for the clear bug report. I'll have a fix for this up soon.

[2020-05-08 20:50] #2881 closed

[2020-05-09 12:42] Hritik14 commented on #2868
Doesn't seem to be multiple `vim-go` here:
[code]

<details>
<summary>:verbose function go#fmt#ShowErrors</summary>

[code]
</details>

`:verbose function go#Fmt#Format`
`E123: Undefined function: go#Fmt#Format`

<details>
<summary>
verbose function go#list#ParseFormat
</summary>
[code]
</details>

[2020-05-09 12:49] Hritik14 commented on #2868
Weird. A recent update seems to have fixed this.
[![asciicast](https://asciinema.org/a/FwcFODFSX3mf4WjBkETby8AD9.svg)](https://asciinema.org/a/FwcFODFSX3mf4WjBkETby8AD9)

Currently my head is at d8bbc29e8315289e5a88f7d47a4b64243dd9701f

[2020-05-09 12:49] #2868 closed

[2020-05-09 13:08] Hritik14 commented on #2868
Unrelated, but can you tell me if there's a way I can instruct vim-go to not to open loclist/quickfix list on errors. I would just like to have the error indicators (`>>`) and open the loclist manually.

[2020-05-09 15:23] bhcleek commented on #2868
Vim-go doesn't set those indicators at all.

[2020-05-09 16:13] bhcleek commented on #2868
It's too late now, but I wanted to point out that `go#Fmt#Format` should have been `go#fmt#Format`, and I've corrected my original comment for any future readers that use the technique.

[2020-05-09 16:23] Hritik14 commented on #2868
I should probably open a new issue if it takes more than one reply now but what I'd want is v-go to only populate the location list/quickfix list on errors and NOT open them in a split.

[2020-05-09 16:42] bhcleek commented on #2868
Vim-go doesn't support populating quickfix or location list windows without opening them. I'm not sure why you'd want that, either. The markers that you're referring to are not created by vim-go. However, if you're not interested in the errors that vim-go populates and the quickfix or location list windows that it opens, then you can choose to not run the commands that do that.

Feel free to open

[2020-05-09 20:47] bhcleek commented on #1833
There have been some changes to `:GoRun` recently, and I can no longer duplicate this. I'm not sure if vim-go's changes account for this or whether it's something about more recent versions of Go.

In any case, I'm closing this since it seems to be solved.

[2020-05-09 20:47] #1833 closed

[2020-05-10 16:22] bhcleek commented on #2806
@ldelossa I've tried to duplicate what you've described without success.

Here's a script that I created to try to duplicate:

[code]

[2020-05-11 03:44] ueaner commented on #2287
Same question:

[2020-05-12 20:01] dhduvall opened #2885 "want mechanism to set extra environment variables when running gopls"
### What did you do? (required: The issue will be **closed** when not provided)

I load up a Go source file and hit `^]` to take me to the definition of a function in a dependent module.

### What did you expect to happen?

Well, **want**, not expect. I have a per-repo module cache, which I need to tell the Go tools about with `$GOPATH`. I want the jump to take me to that cache (since that's what'

[2020-05-12 23:43] bhcleek commented on #2885
Applying GOPATH and GO111MODULE only to gopls would leave other tools (e.g. `godef`, `guru`, etc.) in a different state. May I ask why you don't set those before or when starting vim so that they'll be set for all tools?

You might be interested in https://direnv.net/: I use it regularly partially for the kind of use case you're describing here.

[2020-05-12 23:52] dhduvall commented on #2885
I can set them before starting vim, or in my `.vimrc`; that's probably a better solution for the reasons you suggest. I hadn't really thought about the other tools, because either I don't end up using them, or I haven't run into any issues they might have with my setup.

[2020-05-12 23:52] #2885 closed

[2020-05-15 20:53] vitaly-zdanevich commented on #2869
For users with this problem - I found why for me: my inotify file watch limit was exhausted. You can check your limit with
`cat /proc/sys/fs/inotify/max_user_watches`

You can increase limit temporary, for check:
[code]

If you like to make your limit permanent, use:
[code]

Information from https://github.com/guard/listen/wiki/Increasing-the-amount-of-inotify-watchers#the-technical-details

[2020-05-15 20:55] vitaly-zdanevich commented on #2869
@bhcleek if you want you can try to reproduce this by decreasing inotify file watch limit, maybe in such case would be useful to show some message to user, or somehow to optimize the code against a lot of file watchers (I have this problem when only one file is opened, and when in directory I have only this one file).

[2020-05-16 15:05] ldelossa commented on #2806
@bhcleek sorry was a bit MIA for a little. I can't seem to reproduce this. So I am going to close.

[2020-05-16 15:05] #2806 closed

[2020-05-19 20:11] sheerun opened #2888 "Poor compatiblity with coc.vim"
This bug is fixed by #2887

### What did you do? (required: The issue will be **closed** when not provided)

Have following .vimrc:

[code]

Following `:CocConfig` (in my case in `~/.vim/coc-settings.json`):

[code]

And following file:

[code]

Then I save this file, and it's "fmt" is correctly added, but I get an error on line `func main()` that says `[compiler] [E] undeclared name: fmt`

### Wh

[2020-05-19 20:17] sheerun commented on #2888
I don't believe this is issue with coc.vim, because vim-go currently saves file two times instead of one (one with unformatted contents and one with formatted contents), #2887 fixes this by formatting file in memory and then saving one time.

[2020-05-19 20:58] bhcleek commented on #2888
I don't understand why you're filing this as an issue with vim-go given that you've determined the error isn't coming from vim-go. Have you reached out to coc.nvim to file an issue there?

[2020-05-19 21:14] sheerun commented on #2888
coc parses file as soon as it changes. the "fix" on their part would mean that file would be parsed and linted two times for each time vim-go changes it, which would not be sufficient. I think true fix is to write file one time instead of two times

[2020-05-19 21:17] bhcleek commented on #2888
Do you experience this error if you use `let g:go_fmt_command='goimports'`?

[2020-05-19 21:19] sheerun commented on #2888
yes, it's the same (which makes sense because `let g:go_imports_autosave = 1` causes vim-go to follow practically the same code path)

[2020-05-19 21:23] bhcleek commented on #2888
Forgive me, but I don't see how it's writing the file without the adjusted imports in a way that's causing coc to see that file as changed. When `g:go_fmt_command='goimports'` is where are the two writes that you're referring to?

[2020-05-19 21:34] sheerun commented on #2888
To see this please create main.go:

[code]

Then please install [fswatch](https://github.com/emcrisostomo/fswatch) and run `fswatch main.go`

Then open this file in vim, remove `"fmt"` line, and save file.

With current version of vim-go, the output is:

[code]

which means system marks this file as changed two times. If you use my branch as follows:

[code]

Then the output after saving is:

[cod

[2020-05-19 21:36] sheerun commented on #2888
This would case issues not only with Coc but also any software that depends on fswatch, like live-reloading or servers

[2020-05-20 00:20] bhcleek commented on #2888
Yes, it will save twice, but it should not be being saved with the insufficient imports if you use `let g:go_fmt_command='goimports'`; I don't see a way for coc.nvim to view see the file with the insufficient imports in that case.

[2020-05-20 04:37] bhcleek commented on #2888
I installed coc.nvim to test this and was able to see the error a few times, but it's not consistent. I noticed, too, that the error I only saw the error when coc.nvim comes before vim-go in the runtime path (and even then it's not consistent). I suspect the problem is happening because of the event that coc.nvim is using to decide when to check the file. And since coc.nvim is primarily async, it'

[2020-05-20 05:48] ahakanbaba commented on #820
Is there a way to jump from line 9 to line 13? With a command maybe ?

[2020-05-20 08:42] sheerun commented on #2888
The issue is not that file is written multiple times, but that file is written multiple times with different contents (one before formatting and one after formatting), #2887 makes sure that file is not written to disk before being formatted so it's not possible it doesn't solve this problem :)

[2020-05-20 15:04] bhcleek commented on #2888
I don't see a place in vim-go's code where it writes the file to disk (other than the temp file) before the imports are adjusted when you have `g:go_fmt_command='goimports'`. Where do you see that?

[2020-05-20 15:36] bhcleek commented on #2888
@sheerun the order of operations for formatting when `g:go_fmt_command` is `goimports` are:
1. use issues command to save
1. before saving to disk the file is saved to a temporary file via the `BufWritePre` autocmd
1. the temporary is formatted with `g:go_fmt_command`
1. the temporary file is moved to the buffer's file location
1. the contents of the file on disk are read
1. the `BufWritePre` auto

[2020-05-21 13:54] piersy opened #2889 "g:go_imports_autosave and g:go_fmt_autosave do not work together"
### What did you do? (required: The issue will be **closed** when not provided)

I used the following  init.vim and saved a file with potential simplifications and missing imports
[code]

I also tried the following configuration suggested by @bhcleek
https://github.com/fatih/vim-go/pull/2867#issuecomment-624863214

But experienced the same result.

### What did you expect to happen?
Both imports a

[2020-05-21 14:31] bhcleek commented on #2889
try adding `let g:go_imports_mode='gopls'` to your vimrc; that should do the imports with `gopls` and then the formatting with `gofmt`, giving you the result you want.

What I hadn't noticed clearly in https://github.com/fatih/vim-go/pull/2867#issuecomment-624863214 was that you desire to adjust imports and simplify the code. `goimports` doesn't have an option simplify and `gofmt` won't adjust imp

[2020-05-21 15:30] sheerun commented on #2888
I just know this happens (fswatch shows this), and my PR fixed this. I don't have time to debug exactly why it happens :(

[2020-05-21 15:30] #2888 closed

[2020-05-21 15:37] sheerun commented on #2888
If someone has similar issue in the future: I've started using coc.vim without vim-go. It turns out coc.vim supports autocomplete, formatting, go to definition, and listing references, plus it works not only for go but also for other languages. Here's .vimrc (I use vim-plug):

[code]

And here's `:CocConfig`:

[code]

I add missing / remove unused imports by pressing `<Enter>` and applying quickfi

[2020-05-22 08:51] piersy commented on #2889
@bhcleek That works thanks.

I think it would be useful to update the help with a clear description of how these 2 settings interact and maybe an example of this config, since it seems like a setting most people would want but it's quite tricky to get it set up correctly.

Just for clarity, this is the `init.vim` that worked for me.
[code]

[2020-05-22 09:53] antoineco opened #2890 "Calling :GoImports sometimes yields "Error detected while processing function <SNR>79_highlightMatches[10]..go#util#HighlightPositions""
### What did you do?

Ran `:GoImports` on the following file:

[code]

The expected import is `github.com/aws/aws-sdk-go/service/eventbridge`. The module is already present in `go.mod` and pre-cached.

### What did you expect to happen?

`:GoImports` runs silently and without error.

### What happened instead?

Upon calling `:GoImports`, the following error message is printed
[code]

After pressin

[2020-05-22 14:53] bhcleek commented on #2889
Agreed. I'll update the docs this weekend

[2020-05-22 17:33] bhcleek commented on #2890
Thank you for reporting. I've also seen this and will get a PR up this weekend to resolve it. Would you be wiling to help test it since there isn't a reliable reproduction path?

[2020-05-22 17:36] antoineco commented on #2890
Sure, happy to help however I can, I usually run from `master` anyway.

[2020-05-23 00:34] bhcleek commented on #2890
https://github.com/fatih/vim-go/pull/2892 is ready for you to try. I'll be using it over the next week, too, to make sure it resolves the problem as expected.

[2020-05-23 18:30] digitaico opened #2894 "Cannot import absolute Path"
Hi,  thanks for such an awesome plugin.

I have an issue that say this:

`runner] Can't run linter goanalysis_metalinter: asmdecl: analysis skipped: errors in package: [-: import \"/path to my folder\": cannot import absolute path]`

`Running error: asmdecl: analysis skipped: errors in package: [-: import \"/path to my folder\": cannot import absolute path]  `

I can :GoInstallBinaries without iss

[2020-05-23 18:53] bhcleek commented on #2894
Something in your dependency graph is using an absolute path in an import statement. Try running golangci-lint at the command line; it might help you identify what it is

[2020-05-23 20:22] digitaico commented on #2894
bash does not recognize the command golangci-lint,  nor go golangci-lint,  also tried :golangci-lint from vim, always not recognized command.  Even, traying to install golanci-lint,  does not exist on debian packages.  Mine is Linux, Debian buster (10) linux 4.19.0-9.

[2020-05-23 21:01] bhcleek commented on #2894
It's probably in your `$GOPATH/bin`. Check `/home/jea/go/bin` to see if `golangci-lint` is there.

If you want to see the exact command to run, add `let g:go_debug=['shell-commands']` to your vimrc. The commands that vim-go runs will be output as an array so you can see each of the individual argument that vim-go uses to run the application.

[2020-05-23 22:05] #2889 closed

[2020-05-25 17:01] allesan opened #2896 "Error with paths executing GoRun"
### What did you do? (required: The issue will be **closed** when not provided)
I'm trying to read file from the disk that is located in the root of my go code with this.
`file, err := ioutil.ReadFile("./config.json")`

### What did you expect to happen?
Application to run smoothly.

### What happened instead?
I got error for files that are reading from disk with relative path saying that file con

[2020-05-25 17:21] bhcleek commented on #2896
To help you solve this, I need reproduction steps as explicitly stated as a requirement in the issue template. I'll leave this open until tomorrow to give you a chance to fill out the first piece of information requested in the issue template with clear reproduction steps.

[2020-05-25 19:16] allesan commented on #2896
I have updated my answer. Sorry for not filling all the required steps.

[2020-05-25 19:21] bhcleek commented on #2896
The working directory will be the directory that contains the active buffer when you execute `:GoRun`. Does that help?

[2020-05-25 19:25] allesan commented on #2896
Yeah, it's working if I run GoRun when main.go is open!
What gives?
In 1.22 this has worked from any buffer.

[2020-05-25 19:34] bhcleek commented on #2896
Without knowing what your directory/package structure is and which files it doesn't work from, it's difficult to say. If you can provide clear instructions for duplicating, I'm sure we can solve it

[2020-05-25 19:44] allesan commented on #2896
Well, this is root of my project
config.json  database  go.mod  go.sum  main.go  models  routes  utils

I'm using gin as my router.

And GoRun works only when I run it when main.go is the active buffer. Not from any other file. And it used to work from every other file as well.

[2020-05-25 19:46] bhcleek commented on #2896
Which file are you in when it doesn't work?

[2020-05-25 19:47] allesan commented on #2896
Only this

open ./config.json: no such file or directory

[2020-05-25 19:48] allesan commented on #2896
Any other file in the directories. I have several subdirectories in models, and 1-2 files in routes, utils and database.

[2020-05-25 19:51] allesan commented on #2896
Well, now I noticed that it works also when I'm in config.json file.
So, it works only when I'm in the file that is in the root of the project, and that are only main.go and config.json.

[2020-05-25 19:53] bhcleek commented on #2896
The working directory for your executable will always be the directory that contains the active buffer when you execute `:GoRun`.

[2020-05-25 19:55] allesan commented on #2896
Okay, I understand that. But this was not the case with 1.22
Can I "fix" this somehow? What has changed?
Or do I have to downgrade to 1.22?

[2020-05-25 20:01] bhcleek commented on #2896
It was changed in #2755

There's nothing for you to fix other than your code; generally speaking, one shouldn't hard code a relative path into a binary, because binaries can be executed with any directory set as the working directory.

[2020-05-25 20:07] allesan commented on #2896
In this case I don't have other option.
This is very unfortunate for me, because this renders GoRun useless for me.
I'll try to find some workaround.

Thanks for your help!

[2020-05-25 20:18] bhcleek commented on #2896
Some options to help you along:
* give your application a flag that specifies where the `config.json` can be found
OR
* get the path to your `config.json` from an environment variable
* put the `config.json` in a well-known location and use an absolute path in your `ioutil.ReadAll` call.

[2020-05-25 21:14] #2896 closed

[2020-05-26 19:22] bhcleek commented on #2894
@digitaico do you need more help or should we close this?

[2020-05-27 08:11] antoineco commented on #2890
So far so good @bhcleek

[2020-05-27 11:16] vitaly-zdanevich commented on #2869
No, problem with something else. Sometimes errors are highlighted, sometimes not.

[2020-05-27 11:44] mayankshah1607 commented on #2603
Hello! I'm facing a very similar issue. `gopls` is stuck for a while, after which vim becomes very unresponsive even though `gopls` is no longer consuming resources

[2020-05-27 16:15] #2890 closed

[2020-05-28 01:47] mahdix opened #2899 "Omni completion does not do fuzzy matching"
### What did you do? (required: The issue will be **closed** when not provided)

I activate auto-complete in a Go source code and part of a method name.
- My vimrc has enabled fuzzy matcher for gopls.

### What did you expect to happen?

I expect to have fuzzy matching. For example when I type `H` and there are two methods in the autocomplete menu (`Html` and `AfterHtml`), I expect to see both of

[2020-05-28 04:08] bhcleek commented on #2899
Can you do try that matching with `let g:go_gopls=['lsp']` added to your vimrc and provide the lsp debug log here?

/cc @stamblerre

[2020-05-28 15:56] #2894 closed

[2020-05-30 16:01] bhcleek commented on #2899
@mahdix Have you isolated the problem you describe to vim-go? Using vim-go's autocompletion, I see the result you expect:
<img width="253" alt="Screen Shot 2020-05-30 at 08 58 33" src="https://user-images.githubusercontent.com/1958864/83333150-0c90f300-a254-11ea-8d54-4168482f84a3.png">

[2020-05-30 16:03] turbopape opened #2901 "GoMetaLinter using golangci-lint doesn't work complaining about absolute path imports"
### What did you expect to happen?
When I run :GoMetaLinter I should have reports about my code in quickfix

### What happened instead?
I get this message:
|| [runner] Can't run linter goanalysis_metalinter: errcheck: analysis skipped: errors in package: [-: import \"/Users/turbopape/work/osprey/go/test\": cannot import absolute path]

The job command is:

['/Users/turbopape/work/osprey/go/bin/gol

[2020-05-30 17:13] bhcleek commented on #2901
One of the files in `/Users
/turbopape/work/osprey/go/test` probably as a leading slash on an import statement.

What do you see if you run `/Users/turbopape/work/osprey/go/bin/golangci-lint run --print-issued-lines=false --build-
tags '' --exclude-use-default=false --disable-all --enable=vet --enable=errcheck --deadline=30s /Users
/turbopape/work/osprey/go/test` in a shell?

vim-go must use absol

[2020-05-30 17:19] turbopape commented on #2901
No there's actually only one file, with only one import statement (the one in the vimg-go tutorial)
The command you've shared outputs:
[code]

[2020-05-30 17:59] bhcleek commented on #2901
I've tried duplicating this, but can't except for when an import statement has a leading slash. I updated golangic-lint to the latest using `:GoUpdateBinaries golangci-lint` and tried again, but the results didn't change.

I noticed, though, that your directory doesn't seem to be in the right place. It's at $GOPATH/test, but that's generally not where Go code belongs. code within $GOPATH is expect

[2020-05-30 18:14] turbopape commented on #2901
Thank you so much for your help :)
The folder test really does only contain one single main.go with the code I shared - no imports with leading slash.
I updated the binaries so many times before I filed the issue, retired now but can still to no avail ...
I think I'll go ahead and use gopls like you suggested.
Thank you so much for your efforts and your time again :)

[2020-05-30 18:25] bhcleek commented on #2901
@turbopape this has come up a few times recently, but no one has been able to provide a set of steps that I can use to duplicate the problem.

I'm curious if you have any other go files in your $GOPATH anywhere. If so, can you check to see if any of them have a leading slash in the import statements?

[2020-05-30 18:51] turbopape commented on #2901
@bhcleek I checked all my code under $GOPATH and did find no import with a leading slash.
Besides, I created an empty folder, set the GOPATH to it and checked. Still the same: Cannot import /Current/Path ...

[2020-05-31 05:02] mahdix commented on #2899
@bhcleek
Thanks for your reply. I have enabled `lsp` option and vim log file is attached.

Before typing:
![image](https://user-images.githubusercontent.com/9294049/83344832-f5114300-a303-11ea-9950-1bed871e88d4.png)

After typing `Html`:
![image](https://user-images.githubusercontent.com/9294049/83344838-00646e80-a304-11ea-887d-c077f25935cd.png)

As you can see `AfterHtml` is not shown in the list

[2020-05-31 05:08] mahdix commented on #2899
Ok. I emptied my vimrc and allowed only vim-go plugin and now it seems to be working:

![image](https://user-images.githubusercontent.com/9294049/83344916-1a528100-a305-11ea-9c53-29bc766ed3c1.png)

[2020-05-31 06:09] mahdix commented on #2899
And with full vimrc and plugins, still an isolated example does not work as intended:

![image](https://user-images.githubusercontent.com/9294049/83345648-981a8a80-a30d-11ea-8aa4-32dea58f1a7b.png)

[2020-05-31 10:14] turbopape commented on #2901
@bhcleek moving my code under $GOPATH/src made golangci-lint work. apparently this is assumed but is referred nowhere ...
Thank you :)

[2020-05-31 14:28] bhcleek commented on #2901
I still can't duplicate what the errors you're seeing, but it seems like the problem lies with golangci-lint.

FWIW, you _should_ be able to work with Go code outside of $GOPATH/src. In that case you'll need an ambient `go.mod` file to be able to import anything other than the standard library or relatiave imports. Some community provided tools may not work well when neither in GOPATH mode nor mod

[2020-05-31 14:33] turbopape commented on #2901
Hey, thank you for your help. I THink you can go ahead and close the issue,
thank you:)

Le dim. 31 mai 2020 à 15:28, Billie Cleek <notifications@github.com> a
écrit :

[2020-05-31 15:02] #2901 closed

[2020-05-31 15:26] bhcleek commented on #2899
You've confirmed that it works with only vim-go; the problem you're seeing is likely _not_ because of vim-go; do you have other plugins that configure your autocompletion? With your full vimrc and a go file active, what does `:set omnifunc?` report?

[2020-05-31 15:28] mahdix commented on #2899
Thanks. Will check that.
The confusing part is that even with a fresh Ubuntu docker image and installing everything (vim, go, vim-go), still I don't have the fuzzy completion.
![image](https://user-images.githubusercontent.com/9294049/83356119-c2933480-a35b-11ea-8e23-731e0c230059.png)

[2020-06-01 08:07] mahdix commented on #2899
`  omnifunc=go#complete#Complete`
This looks like an issue/bug with gopls. Is there a way to inspect/debug `gopls` output for some input?

[2020-06-01 10:17] urandom opened #2904 "vim-go prints out the current completion item's doc on <ESC>"
### What did you do? (required: The issue will be **closed** when not provided)

Pressing <ESC> after selecting a completion item from the omni menu

### What did you expect to happen?

I expected vim-go to not take any part in that workflow.

### What happened instead?
The following message will be printed in the command line, expanding it to at least 4 lines, even if only one line is being occup

[2020-06-01 15:55] bhcleek commented on #2899
https://github.com/fatih/vim-go/issues/2899#issuecomment-635085471

[2020-06-01 15:57] bhcleek commented on #2904
Can you duplicate the problem you're seeing without all of your other plugins loaded?

[2020-06-01 18:43] urandom commented on #2904
Yes, with only the nvim-lsp and vim-go plugins left, the problem is still reproducible.

[2020-06-01 21:07] bhcleek commented on #2904
The documentation you're seeing at the bottom of your screen is enabled by `g:go_echo_go_info`, which is enabled by default. Try disabling `g:go_echo_go_info` by adding `let g:go_echo_go_info=0` in your vimc.

If you don't want to permanently disable that setting, because you want the information, then I'm happy to work with you to figure out why you're seeing more than a single line of info. (hin

[2020-06-01 22:58] urandom commented on #2904
Ah, excellent, that cleared it off. I'm personally fine with disabling that feature. Though if setting neovim's lsp as an omnifunc really causes a problem, perhaps it would be worth investigating, since I probably won't be the only one doing that.

[2020-06-01 23:26] bhcleek commented on #2904
If you want to see if that was in fact the underlying issue, try removing the line that disables `g:go_echo_go_info` and the line that configures neovim's lsp as an omnifunc in your vimrc and see if you you still have the problem. If you don't (you should only see the type info for the chosen autocompletion), then I think `g:go_echo_go_info` is sufficient for people.

If you don't care to investig

[2020-06-02 08:07] urandom commented on #2904
Unfortunately, if I remove that line, I won't have omni completion, so there won't be any completion items to test it on.

[2020-06-02 14:26] bhcleek commented on #2904
Vim-go can use `gopls` for completion if you'll remove `let g:go_gopls_enabled = 0` from your vimrc.

[2020-06-02 21:27] urandom commented on #2904
So, after bringing init.vim to a bare minimum, with only vim-go enabled with its default settings, the behavior is still reproducible.

[2020-06-02 22:39] bhcleek commented on #2904
🤔 That's interesting.

Can you run it again with only vim-go enabled with its default settings and add `let g:go_debug = ['lsp']` to your vimrc and then provide the gopls output here?

[2020-06-03 17:21] thekad opened #2906 "GoInstallBinaries fail when GOPATH is defined"
### What did you do?
I ran `GoUpdateBinaries` and encountered a problem, decided to do a clean slate and `GoInstallBinaries` presented the same problem

### What did you expect to happen?

All tools to be installed/updated

### What happened instead?

There was an error specifically when installing `gopls`, reproduceable with `GoInstallBinaries gopls`:
[code]

Unsetting GOPATH makes this go away,

[2020-06-03 20:00] urandom commented on #2904
This is everything in the log buffer:

<pre>

===== sent =====
Content-Length: 672

{"method": "initialize", "jsonrpc": "2.0", "id": 1, "params": {"rootUri": "file:///Users/user/projects/feature-toggles", "capabilities": {"workspace": {"workspaceFolders": true, "configuration": true, "didChangeConfiguration": {"dynamicRegistration": true}}, "textDocument": {"codeAction": {"codeActionLiteralSupport

[2020-06-03 21:05] bhcleek commented on #2904
The response to the `textDocument/completion` response is missing, but that's what I really need. 🤔

[2020-06-03 21:06] bhcleek commented on #2906
Does this occur when you set GOPATH to something other than $HOME?

[2020-06-03 21:48] thekad commented on #2906
@bhcleek good question: setting GOPATH to e.g. /tmp/go and then running `GoUpdateBinaries gopls` works fine, resulting in a `/tmp/go/bin/gopls` binary.

[2020-06-03 22:04] urandom commented on #2904
No idea, I tried it again, but the response is still not there.

[2020-06-03 23:31] bhcleek commented on #2904
Maybe do another operation after completion (e.g. do completion again or jump to a definition) to see if it's a previously undiscovered buffering issue...

[2020-06-03 23:33] bhcleek commented on #2906
If you are just trying to get your file installed to $HOME/bin, then you can set `GOBIN`.

This issue doesn't seem to be specific to vim-go, but I'll look into it.

[2020-06-04 16:05] thekad commented on #2906
this exhibits a different behavior:

[code]
(instead of failing with that unknown ref error)

I agree this doesn't seem now like a vim-go bug, but thanks for looking into it

[2020-06-04 17:26] stamblerre commented on #2906
@thekad: You will want to run `GO111MODULE=on go get golang.org/x/tools/gopls@latest` to force module mode on.

[2020-06-04 18:55] thekad commented on #2906
ok yeah, that did the trick, showed the same behavior as vim-go's routine now:
[code]

[2020-06-04 18:58] stamblerre commented on #2906
Can you try `go clean -modcache` and then run the command again?

[2020-06-04 19:26] thekad commented on #2906
that did the trick, after `go clean -modcache` repeating `GO111MODULE=on GOPATH=$HOME go get golang.org/x/tools/gopls@latest` worked

[2020-06-04 19:49] varun06 commented on #2904
I also have similar issue where vim-go is not completing the parens `()` after I hit enter, I get the method name but not `()`.

Some more context  - https://gophers.slack.com/archives/C07GBR52P/p1591278654374600

[2020-06-05 00:05] #2906 closed

[2020-06-05 00:10] bhcleek commented on #2904
@varun06 that doesn't sound similar to this at all other that completion is involved. Please open a new issue if you need help with it.

[2020-06-05 01:41] bhcleek commented on #2904
@urandom should we close this or keep it open and keep digging in? I'm up for whatever works for you

[2020-06-05 07:53] urandom commented on #2904
@bhcleek It seems that no matter how many times I invoke the omni completion, the response is never printed in that logging buffer

[2020-06-05 07:57] urandom commented on #2904
This is the completion response when I use my original init.vim and start gopls with rpc.trace myself:

<pre>
[Trace - 10:54:51.576 AM] Received response 'textDocument/completion - (3)' in 47ms.
Result: {"isIncomplete":true,"items":[{"label":"html","kind":9,"detail":"\"html\"","preselect":true,"sortText":"00000","filterText":"html","insertTextFormat":2,"textEdit":{"range":{"start":{"line":6,"chara

[2020-06-05 19:16] bhcleek commented on #2904
I can duplicate this in Vim now, too.

[2020-06-05 19:35] bhcleek commented on #2904
@urandom #2907 should resolve this for you. Do you want to give it a try before I merge?

The reason I was having a hard time duplicating is that it seems that when UltiSnips is used too, it manages to hide the command-line output that vim-go writes when `g:go_echo_go_info` is enabled, so I wasn't seeing the problem that you were experiencing.

[2020-06-06 15:40] #2904 closed

[2020-06-06 19:04] bhcleek commented on #2899
@mahdix can you provide the gopls debug output so we can see what's being sent and further analyze what you're seeing, or should we close this issue?

[2020-06-08 11:08] ahouseago opened #2911 "(go-def-vertical/split) doesn't open a split when jumping to a different place in same file [NeoVim]"
### What did you do? (required: The issue will be **closed** when not provided)
In NeoVim, I used the `(go-def-vertical)` mapping to jump to a definition of a function defined in the same file in a vertical split:
[code]

The same as `<Plug>(go-def-vertical)` except without immediately invoking it, waiting for me to hit `<CR>` before jumping.

### What did you expect to happen?
The file would be o

[2020-06-08 16:37] bhcleek commented on #2911
Yes, when the definition is in the same buffer, the buffer is not split. If that's what you want then perhaps the right solution for you is modify your mapping to split first and use `''` as the first argument to `go#def#Jump`.

[2020-06-08 18:38] 9mm opened #2912 "ch_sendraw(): write failed"
### What did you do? (required: The issue will be **closed** when not provided)

I opened a file (in both Vim and MacVim)

### What did you expect to happen?

No error

### What happened instead?

When opening a .go file, I get this error:

<img width="1037" alt="Screen Shot 2020-06-08 at 11 33 08 AM" src="https://user-images.githubusercontent.com/1386207/84067358-2df08e00-a97c-11ea-9f27-0f8eac6ba

[2020-06-08 21:02] rolfbachmann commented on #2912
Same probleme here, on Linux too.

Vim Version: 8.2.935
Go Version: go version go1.14.4 linux/amd64
gopls version: golang.org/x/tools/gopls v0.1.7
    golang.org/x/tools/gopls@v0.1.7 h1:YwKf8t9h69++qCtVmc2q6fVuetFXmmu9LKoPMYLZid4=

[2020-06-08 21:33] bhcleek commented on #2912
Try a new version of `gopls`: `:GoUpdateBinaries gopls`.

Your version of `gopls` is long out of date and a lot has changed since the version that you're using.

[2020-06-08 21:35] 9mm commented on #2912
ah interesting, I didnt know I had to run that. Thanks

[2020-06-08 21:35] #2912 closed

[2020-06-08 21:55] egravert opened #2913 "Completion returns wrong candidates due to inconsistent file path usage."
Hi all

I'm running into an issue where the completion menu in vim shows unexpected results. I enabled completion within my vimrc to show contextual candidates when I press period (see vimrc below).
Unfortunately, the candidates are almost always wrong.

After tracing through `gopls` I was eventually able to track down the issue, but need further assistance on how to best fix it.

For context, thi

[2020-06-08 22:33] bhcleek commented on #2913
How did you open the file identified in your step 2, `file:///usr/home/messorian/src/messorian/gopls-demo/main.go`?

vim-go good about using the paths you give it AFAIK. And given that the `rootUri` and `workspaceFolders.uri` use `/home`, I suspect the root cause here is one of these two possibilities:
1. You edited the file by opening it with the `/usr/home` path.
2. You executed a command that c

[2020-06-08 23:34] bhcleek commented on #2911
FWIW, calling `go#def#Jump` directly isn't officially supported. Consider using the mappings. For your current mapping that would be:
[code]

[2020-06-09 01:21] egravert commented on #2913
Hi @bhcleek thanks for the help!

I'm starting vim from the current working directory using `vim main.go`. The file already exists with the default vim-go starter template.  I captured a video of the behavior and the debug output for you as well.

Video
![vim-go](https://user-images.githubusercontent.com/129367/84095687-8a2bd000-a9c5-11ea-83e5-2a78fdc272ad.gif)

Log
[vim-go-debug.log](https://gith

[2020-06-09 01:57] bhcleek commented on #2913
Thank you @egravert I think the we'll be able to get to the bottom of this pretty quickly. The screen recording and the lsp debug log will help immensely.

The paths being different for the file vs the rootUri is likely an issue that vim-go can resolve.

I haven't yet been able to duplicate the completion candidates that you're seeing, but I'll take a thorough look at the log you provided to see i

[2020-06-09 01:59] bhcleek commented on #2913
I can duplicate the completion issue. There's no need for you to test without the `.` mapping. I'll see what I can do to resolve this or whethere it's something about `gopls` itself.

[2020-06-09 03:12] bhcleek commented on #2913
I don't think there's a solution for this on the vim-go side. GOPATH with a symlink has similar kinds of issues. The best I could do would be to open the `go.mod` file, expand it to its real path, and then use that as the working directory.

Ideally, that wouldn't be necessary, because Vim would be able to expand the path with a symlink in it, but Vim doesn't have an option to be able to do that:

[2020-06-09 04:29] bhcleek commented on #2913
I found an easy solution for this after thinking about it some more and considering the options and the tradeoffs.

Thank you for a detailed issue report @egravert !

[2020-06-09 04:34] #2913 closed

[2020-06-09 11:14] ahouseago commented on #2911
Ok, if it's intentional that the split versions don't split if jumping in the same buffer then this is not a bug 🙂 I'll look into updating my mapping to split first.

The reason I don't use the `<Plug>(go-def-vertical)` mapping was because I use a similar mapping for other file types that doesn't include the `<CR>` at the end and was aiming for consistency!

[2020-06-09 11:14] #2911 closed

[2020-06-09 14:24] egravert commented on #2913
@bhcleek Thank you for the amazing help!

[2020-06-10 17:06] MatthewMarkgraaff opened #2915 "cannot enter commands while waiting for the debugger to yield"
Firstly, thank you so much for all your effort on this package. I'm having such a great time hacking away on go inside vim now thanks to this plugin! Just having some developer experience issues when working with the built in delve / debugger support.

### What did you do? (required: The issue will be **closed** when not provided)
On Occasion `GoDebugContinue` and `GoDebugStop` cause vim instance

[2020-06-11 10:00] scrawld opened #2916 "Error detected while processing function <SNR>37_register[9]"
After I updated Vim-Go, the following error occurred when I opened the file
[code]

[2020-06-11 14:20] cposture opened #2918 "after godebugstart and run godebugcontinue, An error occurred"
:message content is
```vim-go: could not find file /Users/admin/go/src/code.byted.org/er/be_api_external/```

[2020-06-11 15:55] bhcleek commented on #2918
There is not enough detail here to analyze the problem. Please feel free to open a new issue that provides the information the issue template asks for.

[2020-06-11 15:55] #2918 closed

[2020-06-11 15:56] bhcleek commented on #2916
There is not enough detail here to analyze the problem. Please feel free to open a new issue that provides the information the issue template asks for.

[2020-06-11 15:56] #2916 closed

[2020-06-11 18:42] dcartertwo commented on #1758
+1 would really love to have this as a feature

[2020-06-11 20:14] MatthewMarkgraaff commented on #2915
Ok so here are the steps taken to get to reproduce ` Undefined variable: result` (using the code example I posted in the first post):

1. `:GoDebugBreakpoint` on the `fmt.Println("Hello world!")`
2. `GoDebugStart`
3. `GoDebugContinue` wait for vim-go to yield control back to user
4. `GoDebugBreakpoint` on the `fmt.Fprintf(w, "Hello, %s!", r.URL.Path[1:])` line should throw the error

output of deb

[2020-06-12 02:08] scrawld opened #2919 "Error after update E631: ch_sendraw(): write failed"
### What did you do? (required: The issue will be **closed** when not provided)

### What did you expect to happen?

After I updated VIM-GO, I hope it can be used normally

### What happened instead?

An error has been reported in the.go file after updating

	vim-go: initializing gopls
	Error detected while processing function <SNR>37_register[9]..go#lsp#DidOpen[29]..282[29]..285:
	line   15:
	E63

[2020-06-12 02:43] bhcleek commented on #2919
This may be due to the old `gopls` version that you have. Please try running `:GoUpdateBinaries gopls` and try again.

[2020-06-12 02:54] cposture opened #2920 "error setting breakpoint on second :GoDebugStart"
# What did you do?

`~/go/src/code.byted.org/er/be_api_external` is the golang project root dir，I can use other vim-go commands normally.

Because the project is private and cannot be made public, I want to use other projects to reproduce the error, but the debug function works normally.

I open my project main.go file, and then use `:GoDebugStart`，then show debug window normal；And GoDebug Window

[2020-06-12 03:06] cposture commented on #2920
dlv debug command is normal,
[code]
PSM and RUNTIME_IDC_NAME is my envrimonent

[2020-06-12 03:52] scrawld commented on #2919
The GoPLS version executed after the update said there was no such command, and vim opened the go file with the same error
[code]

[2020-06-12 04:14] scrawld commented on #2919
This error will still occur if you open a file or report an error
[code]

[2020-06-12 04:30] bhcleek commented on #2919
Can you add `let g:go_debug=['shell-commands]` to you vimrc and report the command that it uses for the `gopls` invocation? Also, what does `which gopls` report from your commandline?

[2020-06-12 04:35] bhcleek commented on #2920
Have you set any breakpoints before running `:GoDebugStart` or `:GoDebugContinue`? It looks like your program may be running to completion after `:GoDebugContinue` without encountering any breakpoints. 🤔

[2020-06-12 05:58] cposture commented on #2920
yep，I set breakpoints  and find that Failed to load configuration，program exec os.Exit(-1) .The above error message misled me，you can reproduce the error with the flowing code：
[code]
First don’t set any breakpoints, and then exec `: GoDebugStart`; then exec `: GoDebugContinue`, it will stuck in the line（os.Exit(-1)），what is it mean？why？

And I continue to exe `GoDebugContinue`, it show
[code]
the

[2020-06-12 06:05] cposture commented on #2920
And I want to konw how to inject enviroment like dlv to program when :GoDebugStart(PSM, RUNTIME_IDC_NAME)
[code]

[2020-06-12 06:08] scrawld commented on #2919
These error messages appear
[code]

`which gopls` Execute command output
[code]

[2020-06-12 15:55] bhcleek commented on #2919
I think the root of the problem you're experiencing is that your `gopls` is out of date. What was the output of `:GoUpdateBinaries gopls` ?

[2020-06-13 17:25] bhcleek commented on #2915
Are you sending an http request to your http server after running `:GoDebugContinue`? If not, then I don't see how control would yield back to the user in order to be able to run `:GoDebugBreakpoint` after `:GoDebugContinue`. 🤔

[2020-06-13 17:27] bhcleek commented on #2899
closing for lack of feedback

[2020-06-13 19:21] phongvcao commented on #2919
@bhcleek I got this issue and :GoUpdateBinaries gopls fixed the issue. Can you add an option to automatically run :GoUpdateBinaries gopls & related binaries when this issue happens? Probably put this in a try-catch block or smt. Thanks.

[2020-06-13 19:36] bhcleek commented on #2919
@phongvcao is not one that can always be easily detected. I do not intend to add an option that automatically reinstalls binaries.

It's a good idea to run `:GoUpdateBinaries` when you update vim-go or Go.

[2020-06-13 20:40] bhcleek commented on #2920
Vim-go needs to do a better job communicating when the process being debugged exits; I'll work on improving that.

When you don't set any breakpoints before running `:GoDebugContinue` the first time, vim-go will attempt to set a breakpoint on the current cursor line. When you ran `:GoDebugContinue`, I can only assume that you didn't have any breakpoints set and that vim-go therefore set a breakpoi

[2020-06-13 20:58] bhcleek commented on #2920
You can set environment variables in vim-go and they will be seen by the program being debugged:
[code]

[2020-06-13 22:10] bhcleek commented on #2920
I think that #2921 will handle most if not all of the concerns you raised here, though I'll admit that I'm not sure about the `could not find file` messages you reported.

Can you give #2921 a try and see if you believe it resolves this issue for you?

[2020-06-13 22:50] mahdix commented on #2899
Sorry for the delay. I thought I had sent the debug logs in response to the original comment (#2899): https://github.com/fatih/vim-go/issues/2899#issuecomment-636422357

[2020-06-13 22:56] bhcleek commented on #2899
Thanks, @mahdix . Those aren't the logs I need. The ones I need can be created by adding `let g:go_debug=['lsp']` to your vimrc and duplicating the problem.

I see now that I originally misspelled the global variable name; I'm correcting that in the original comment, too.

[2020-06-13 23:24] mahdix commented on #2899
Thanks. I re-did the test on my Mac directly (not in a docker).

Looks like I still have the issue (but tbh on my Mac I have some other plugins installed on my vim):
![image](https://user-images.githubusercontent.com/9294049/84580993-75d84080-add4-11ea-95a2-3f2d2aa98416.png)

Debug log:
[vim_go_lsp_debug_log.txt](https://github.com/fatih/vim-go/files/4775650/vim_go_lsp_debug_log.txt)

But after an

[2020-06-14 00:22] bhcleek commented on #2899
I'm still seeing the behavior that you expect and I can't duplicate the problems you're describing.

In the first case you provided above, something seems amiss: I can't think of any reason that `__GOLSP_LOG__` would show up in the completion candidates and strangely it appears that `gopls` didn't return any candidates according to [vim_go_lsp_debug_log.txt](https://github.com/fatih/vim-go/files/4

[2020-06-14 00:38] bhcleek commented on #2915
Ah, it returns control after a timeout reading from the socket. Unfortunately, though, I don't see the error you're encountering, though there was recently some changes to the debugger that might affect this. What version of vim-go are you using?

[2020-06-14 01:59] mahdix commented on #2899
Thanks for your reply.

I had types something. I think I typed `Ht` and then pressed C-x C-o but then it deleted what I had typed and showed that list.

[2020-06-14 02:08] cposture commented on #2920
`/Users/admin/go/src/go_exit/` is the project root, `/Users/admin/go/` is GoPath, file tree:
[code]

[2020-06-14 02:16] cposture commented on #2920
Ok thank you very much. i give it a try now,
[code]

[2020-06-14 02:39] cposture commented on #2920
There is a breakpoint problem, it can be reproduced.

## context
`/Users/admin/go/src/go_exit/`  is project root dir, `/Users/admin/go/` is my GOPATH dir

main.go:
[code]

## problem
First  exec `: GoDebugStart`; and then set breakpoint on `os.Exit(-1)`, and then exec : `GoDebugContinue` two times.It quits as I hoped and Breakpoint mark exists normaly.

But When i continue to debug, exec `:GoDebug

[2020-06-14 02:42] cposture commented on #2920
The branch where the above problem occurs is bhcleek/vim-go'('branch': 'debug/stop-on-exit'})

[2020-06-14 05:27] bhcleek commented on #2920
I can't reproduce this. Can you do a screen recording and show me what you're doing starting from the commandline where you invoke vim?

[2020-06-14 07:02] cposture commented on #2920
https://drive.google.com/file/d/1SBG1pX1qVgNFYnhT02UoXMEVHxjP2Trs/view?usp=sharing

[2020-06-14 16:17] bhcleek commented on #2920
Thank you, @cposture . For some reason I'm still having a problem duplicating. Can I ask you for one more thing? Can you add `:let g:go_debug=['shell-commands']` to your vimrc, duplicate the problem, and then provide the output of `:messages` after you see the `vim-go: could not find file /Users/admin/go/src/code.byted.org/er/be_api_external/
Configuration` message?

[2020-06-14 16:37] cposture commented on #2920
Using your branch, it can not reproduce the error `vim-go: could not find file /Users/admin/go/src/code.byted.org/er/be_api_external/`, but has a new error `vim-go: could not toggle breakpoint: could not find file /Users/admin/go/src/code.byted.org/er/be_api_external/`,

the fellow is message,  `:let g:go_debug=['shell-commands']` and use your branch

[code]

[2020-06-14 16:49] cposture commented on #2920
Use fatih/vim-go and :let g:go_debug=['shell-commands'] reproduce the error` vim-go: could not find file /Users/admin/go/src/code.byted.org/er/be_api_external/`
![image](https://user-images.githubusercontent.com/8305198/84599081-fb75f200-aea1-11ea-9fcb-6a27e85b51d3.png)

[2020-06-14 17:03] bhcleek commented on #2160
In keeping with `dlv`'s usual workflow, I don't think vim-go should automatically run `:GoDebugContinue`, but I'm going to give it some more thought before closing this issue.

[2020-06-14 17:12] bhcleek commented on #2920
It looks like you did that on master instead of on the branch for PR #2921 . Can you do it on #2921 instead, please?

[2020-06-15 02:01] cposture commented on #2920
Yes, I specifically checkout the master branch，PR #2921  has fix the error

[2020-06-15 02:13] scrawld commented on #2919
I just use this command to update gopls
[code]
Perform `gopls version` output:
[code]

[2020-06-15 02:13] #2919 closed

[2020-06-15 02:22] bhcleek commented on #2920
These ☝️  statements seem to be in conflict. Can you clarify if #2921 has a problem that we need to solve before merging it?

[2020-06-15 02:30] cposture commented on #2920
Ignore it

[2020-06-15 02:33] cposture commented on #2920
https://github.com/fatih/vim-go/issues/2920#issuecomment-643709256

It was new problem using PR #2921

[2020-06-15 02:41] bhcleek commented on #2920
Your original error was `vim-go: could not find file /Users/admin/go/src/code.byted.org/er/be_api_external/`. The new error is `vim-go: could not toggle breakpoint: could not find file /Users/admin/go/src/code.byted.org/er/be_api_external/`, but if you look closely I think you'll see that the only difference in the old and new errors is some new text that I added in #2921.

Since I can't duplicate

[2020-06-15 02:57] cposture commented on #2920
https://drive.google.com/file/d/1raANwCPCslwr1gxIdjIgWeEAtRZrZ9HC/view?usp=sharing
message:
[code]

[2020-06-15 03:04] cposture commented on #2920
Clearer video
https://drive.google.com/file/d/1iTK9G6pRgrW89WeR1r0JB1n8WrqQYeAf/view?usp=sharing

[2020-06-15 04:47] bhcleek commented on #2920
Thanks! That's what I needed. Unfortunately, though, I still can't duplicate the problem you're seeing. Clearly it works the first time, and I'm not sure what would change between the first and second runs that would cause an error when trying to toggle the breakpoint the second time.

I've pushed a temporary commit to #2921 that will show us exactly which line is causing an error. Can you run it

[2020-06-15 05:02] cposture commented on #2920
This is new message after update vim-go
[code]

[2020-06-15 05:25] bhcleek commented on #2920
Thank you. That confirms that the problem is coming from delve and not from Vim. Can you duplicate this problem using the delve cli?

Here are the basic operations you'd need to try to duplicate with the delve cli:
[code]

At that point you may see an error similar to what you're seeing in vim-go. If you do see that error, then `quit` should be sufficient to get you out of the delve cli. If you do

[2020-06-15 05:41] cposture commented on #2920
dlv run normal

[code]

[2020-06-15 05:42] cposture commented on #2920
#dlv version
Delve Debugger
Version: 1.4.1
Build: $Id: bda606147ff48b58bde39e20b9e11378eaa4db46 $

[2020-06-15 05:50] bhcleek commented on #2920
Why did you run `dlv debug test` instead of `dlv debug go_exit`?

[2020-06-15 05:54] cposture commented on #2920
my module name is `test`,
[code]

[2020-06-15 06:35] smartding opened #2923 "vim-go with other lsp client"
I'm using coc.nvim as a lsp client because it works with other languages, not just golang.

Is is possible to disable all lsp-related functions in vim-go, and keep the rest? I do like the "auto import on save" and many other features from vim-go.

[2020-06-15 08:35] scrawld opened #2924 "vim-go: getting file for Identifier: no PackageHandles"
### What did you expect to happen?
	use gd go to a function define, but it failed.
	The project use gopath instead of go mod, so there is no go.mod file.

### What happened instead?
	Go to the function define.

### Configuration (**MUST** fill this out): https://github.com/scrawld/vimrc/blob/master/.vimrc

#### vim-go version: lastest

####  `vimrc` you used to reproduce: Yes, I have

#### Vim ver

[2020-06-15 08:44] jecepeda commented on #2160
Perfect @bhcleek !! Either approach is fine to me. Thank you for the efforts of looking at this issue

[2020-06-15 11:09] MatthewMarkgraaff commented on #2915
Whoops forgot to fill in vim-go version in the original issue.

I'm on commit `26c0029` not sure how to check the plugin version.

[2020-06-15 15:22] bhcleek commented on #2920
After the first debugging session ends, can you execute `:sign place` and let me know what it outputs?

[2020-06-15 15:27] stamblerre commented on #2924
The latest version of `gopls` is `gopls/v0.4.1`, so please update by running `:GoInstallBinaries`.

If that doesn't fix the problem, please provide your `gopls` logs, which you can collect either through vim-go (`let g:go_debug = [lsp]`) or through the `gopls` command line (`gopls -rpc.trace -v check path/to/file.go`).

[2020-06-15 15:28] bhcleek commented on #2923
You can add `let g:go_gpls_enabled =1` to your vimrc. See `:help g:go_gopls_enabled`.

However, there shouldn't be any need to disable `gopls` in vim-go and will likely have effects that you're not expecting. Why do you want to disable `gopls`?

Are you aware that the `gopls` instance can be shared among multiple Vim plugins? With vim-go you'd need to either use latest master or add `let g:go_gopl

[2020-06-15 15:36] bhcleek commented on #2924
Run `:GoUpdateBinaries`, not `:GoInstallBinaries`.  The latter will only install binaries that vim-go depends on that are missing. The former will update existing ones _and_ install missing ones. You can update _only_ `gopls` with `:GoUpdateBinaries gopls`.

[2020-06-15 16:49] AdamVanScyoc opened #2925 "ch_sendraw(): write failed on :GoFmt"
[vimrc.txt](https://github.com/fatih/vim-go/files/4781726/vimrc.txt)

### What did you do? (required: The issue will be **closed** when not provided)

### What did you expect to happen?

### What happened instead?

### Configuration (**MUST** fill this out):

#### vim-go version:

####  `vimrc` you used to reproduce:

<details><summary>vimrc</summary><br><pre>

</pre></details>

#### Vim version (

[2020-06-15 17:20] stamblerre commented on #2925
This may not fully resolve your issue, but please update your `gopls` version by running `:GoUpdateBinaries`. The current version of `gopls` is `v0.4.1`, so the one you are using is very out-of-date.

[2020-06-15 17:39] AdamVanScyoc commented on #2925
This fixed it, thanks! I had previously re-run `:GoInstallBinaries" but I didn't know that there was a`:GoUpdateBinaries` command.

[2020-06-15 17:39] #2925 closed

[2020-06-15 18:01] bhcleek commented on #2915
That commit was before a recent fix that resolved the `vim-go: Vim(let):E121: Undefined variable: result` error that you're seeing. Can you update to latest master?

After updating, you'll still see your Vim "hang". That's because it's waiting on delve to hit a breakpoint. It will wait up to 20 seconds.

Once we confirm that your `vim-go: Vim(let):E121: Undefined variable: result` is resolved, I'l

[2020-06-15 19:37] peterfeifanchen commented on #2924
I have golang.org/x/tools/gopls 0.4.1. I am having this problem too and just started after I did :GoUpdateBinaries.

[2020-06-15 21:58] stamblerre commented on #2924
@peterfeifanchen: Can you please share the `gopls` debug output (you can set `let g:go_debug = ["lsp"]` in your Vim configuration)?

[2020-06-15 22:25] peterfeifanchen commented on #2924
`===== sent =====
===== sent =====
Content-Length: 1696

{"method":"textDocument/didChange","jsonrpc":"2.0","params":{"contentChanges":[{"text":"// +build library\n\n/*\nCopyright 2018 The Knative Authors\n\nLicensed under the Apache License, Version 2.0 (the \"License\");\nyou may not use this file except in compliance with the License.\nYou may obtain a copy of the License at\n\n    http://www.a

[2020-06-15 22:28] stamblerre commented on #2924
Thanks! Can you share the output of `gopls -rpc.trace -v check path/to/file.go`? Those logs may reveal a bit more. Are you using modules or GOPATH?

[2020-06-15 22:34] peterfeifanchen commented on #2924
----------
golang.org/x/tools/gopls 0.4.1
    golang.org/x/tools/gopls@v0.4.1 h1:0e3BPxGV4B3cd0zdMuccwW72SgmHp92lAjOyxX/ScAw=
    github.com/BurntSushi/toml@v0.3.1 h1:WXkYYl6Yr3qBf1K79EBnL4mak0OimBfB0XUf9Vl28OQ=
    github.com/sergi/go-diff@v1.1.0 h1:we8PVUC3FE2uYfodKH/nBHMSetSfHDR6scGdBi+erh0=
    golang.org/x/mod@v0.2.0 h1:KU7oHjnv3XNWfa5COkzUifxZmxp1TyI7ImMXqFxLwvQ=
    golang.org/x/sync@v0.0.0

[2020-06-15 22:46] stamblerre commented on #2924
Sorry for not clarifying. Using modules refers to the `go.mod` file that you have in your project root (`/usr/local/google/home/chenfeif/go/src/knative.dev/test-infra/go.mod`).

What is the output of `go list -e -json -compiled -test ./...` when you are in the `/usr/local/google/home/chenfeif/go/src/knative.dev/test-infra/test` directory? It looks like `gopls` is not loading any packages for your

[2020-06-15 23:54] peterfeifanchen commented on #2924
Oh yes, I use go.mod files.

chenfeif@chenfeif:~/go/src/knative.dev/test-infra/test$ go list -e -json -compiled -test ./...
go: warning: "./..." matched no packages

I do see a list show up when I go up to ~/go/src/knative.dev/test-infra though (a bunch of packages). But there isn't a top-level go file to try out gd'ing. I made a random file there to try it out but gd'ing still didn't work.

[2020-06-16 02:27] scrawld commented on #2924
I updated gopls  to V0.4.1 and golang version to `go version go1.13.7 linux/amd64`
I set let g:go_debug = ["lsp"] in your Vim configuration.
And then you get the following output
![avatar](https://s31.aconvert.com/convert/p3r68-cdx67/o16um-nu8pp.gif)
[code]

[2020-06-16 02:35] cposture commented on #2920
https://drive.google.com/file/d/12jlVR4j-6FUqcttgwzOKhyGV-ZH0YFa9/view?usp=sharing

[2020-06-16 03:33] stamblerre commented on #2924
@peterfeifanchen:

It sounds like something is misconfigured in this directory. Are you able to share the contents of that directory, or what kinds of files you have there?

@scrawld:

It looks like `gopls` is not finding a valid build configuration for your project. Are you using modules or GOPATH? My guess is that you are using GOPATH, but your workspace root is open above your GOPATH. `gopls` d

[2020-06-16 03:43] scrawld commented on #2924
I used GOPATH.
`/mnt/e/wsl/work/test/src/test-se/` will have the same problem for the working root.
![avatar](https://s17.aconvert.com/convert/p3r68-cdx67/p20hi-76wx7.gif)

[2020-06-16 03:45] stamblerre commented on #2924
Can you provide any logs fro that case? An alternative to capturing Vim logs is to run `gopls -rpc.trace -v check path/to/file.go`. Make sure to run the command from the workspace root directory.

[2020-06-16 06:58] scrawld commented on #2924
`ziyang@Dev-25:~/work/test/src/test-se$ gopls -rpc.trace -v check ~/work/test/src/test-se/main.go`

2020/06/16 14:55:15 Info:2020/06/16 14:55:15 Build info
----------
golang.org/x/tools/gopls 0.4.1
    golang.org/x/tools/gopls@v0.4.1 h1:0e3BPxGV4B3cd0zdMuccwW72SgmHp92lAjOyxX/ScAw=
    github.com/BurntSushi/toml@v0.3.1 h1:WXkYYl6Yr3qBf1K79EBnL4mak0OimBfB0XUf9Vl28OQ=
    github.com/sergi/go-diff@v1.

[2020-06-16 09:15] mavaa commented on #2651
@danielo515 Had the same problem until I realized I had to put it in my .vimrc and NOT ftplugin/go.vim. Not a vim expert, but I'm guessing the last one runs after the plugin itself has initialized its bindings. So in .vimrc:

`let g:go_doc_keywordprg_enabled = 0`

[2020-06-16 16:28] peterfeifanchen commented on #2924
I get this error for every package under my $GOPATH. I was just using this directory as an example.

[2020-06-16 16:38] bhcleek commented on #2924
@scrawld are any of the directories in your $GOMOD value symlinks?

[2020-06-16 16:51] bhcleek commented on #2920
Thank you @cposture. That explains the problem you're seeing.

The code to figure out the file name in which already placed signs exist so that breakpoints can be added examines the output from `sign place` to look for the filenames using `^Signs for `, which doesn't match your `sign place` output, so no filename is ever found.

On my machine `sign place` returns
[code]

but on your machine it rea

[2020-06-16 17:05] peterfeifanchen commented on #2924
the workaround is setting GOPACKAGESDRIVER=off. That has worked for everyone here at my company.

[2020-06-16 17:10] stamblerre commented on #2924
Ah @peterfeifanchen, I didn't realize that you're a Googler. This is an issue that I'd be happy to follow up with you internally.

[2020-06-16 19:33] MatthewMarkgraaff commented on #2915
Updating to the latest master resolves the `vim-go: Vim(let):E121: Undefined variable: result` issue, thanks @bhcleek :)

[2020-06-16 19:34] MatthewMarkgraaff commented on #2915
Having a much better experience using the vim-go debugger. Let me know what else I can do to help once you've implemented some of the UX changes.

[2020-06-16 22:20] bhcleek commented on #2920
I pushed a change to #2920 that I think will resolve the problem for you, but I don't know how to get a version of Vim that I can test it with. Can you give #2920 a try and let me know if it resolves the problem for you?

[2020-06-17 01:09] scrawld commented on #2924
Is that so @bhcleek
**ziyang@Dev-25:~$** `echo $GOMOD`

**ziyang@Dev-25:~$**

[2020-06-17 01:17] scrawld commented on #2924
I tried to add an environment variable `GOPACKAGESDRIVER=off`.
It doesn't seem to be working.
Is there a temporary solution.

[2020-06-17 01:26] scrawld commented on #2924
I get this error for every package under my $GOPATH.

[2020-06-17 03:39] bhcleek commented on #2924
@scrawld the `GOPACKAGESDRIVER` is only relevant to googlers.

For your $GOMOD, you'll need to run `go env GOMOD` in the directory of your package that's having a problem.

Is anything in your $GOPATH a symlink?

[2020-06-17 03:59] scrawld commented on #2924
There's no problem with GOMOD.
All projects in the GOPATH directory have this problem.
The $GOPATH interval is:, I think I configured $GOPATH with no problem

**ziyang@Dev-25:~/tmp/test$** `echo $GOPATH;`
/home/ziyang/etc/go:/home/ziyang/work/cms_oprate:/home/ziyang/work/cms_risk:/home/ziyang/work/coinutils:/home/ziyang/work/inquiry:/home/ziyang/work/notify_server:/home/ziyang/work/proxy_server:/h

[2020-06-17 05:31] bhcleek commented on #2924
Can you clarify what you mean by this? How do you know there's no problem? It's difficult to help you if you don't answer the questions asked: are there any symlinks in your the value returned by `go env GOMOD` when run in a directory of one of the packages that's having a problem?

I'm not sure what this means. Can you clarify?

[2020-06-17 05:58] smartding commented on #2923
I wanted to disable all gopls-related vim-go functions because I found 2 instances of gopls running when using neovim. I assume one is started by vim-go, the other by coc.nvim.

 When I set g:go_gopls_enabled =0, there's just 1 instance of gopls.

[2020-06-17 05:58] #2923 closed

[2020-06-17 06:30] scrawld commented on #2924
Running `go env GOMOD` in one of the problematic packages returns an empty one

I just want to express the interval character of $GOPATH

![avatar](https://s17.aconvert.com/convert/p3r68-cdx67/d5v38-zny9v.gif)

[2020-06-17 06:52] stamblerre commented on #2924
@scrawld: The output of the `gopls check` command looked correct. Can you please share the Vim `gopls` logs when you start Vim in the `/home/ziyang/work/test/src/test-se` directory?

[2020-06-17 07:05] scrawld commented on #2924
Are these the VIM logs you are referring to
![avatar](https://s31.aconvert.com/convert/p3r68-cdx67/tsywc-xjjac.gif)
[code]

[2020-06-17 15:40] bhcleek commented on #2924
@scrawld I think that @stamblerre is looking for the logs you provided in https://github.com/fatih/vim-go/issues/2924#issuecomment-644492541

[2020-06-17 15:45] bhcleek commented on #2924
@scrawld it looks like your working directory and files are in `/mnt/e/wsl/work/test`, but that is not in your GOPATH.

@stamblerre I think that's often been the root cause for this kind of problem. Can you confirm or deny?

[2020-06-17 16:19] stamblerre commented on #2924
Yeah, it's typically more of problem for modules, but it is a common cause. We hope to have a fix for it by v0.6.0.

[2020-06-17 17:29] thockin commented on #2924
I'm hitting this now - I thought part of the goal of modules was to remove the dependency on GOPATH?

[2020-06-17 19:00] bhcleek commented on #2924
@thockin I think at least part of the issue here is that there _isn't_ a module _and_ the GOPATH seems to be symlinked.

[2020-06-17 19:01] thockin commented on #2924
I am now hitting this with or without GOPATH now.

[code]

When I `gd` on a symbol like `time.Now` I get "vim-go: getting file for Identifier: no PackageHandles"

[2020-06-17 19:06] bhcleek commented on #2924
I'm not sure how `GOPACKAGESDRIVER` may influence gopls' behaviors on a googler's machine and when `GOPACKAGESDRIVER` should be  configured for you. @stamblerre can you provide some basic guidance if `GOPACKAGESDRIVER` is relevant to what @thockin is seeing?

[2020-06-17 19:12] bhcleek commented on #2924
@thockin as a workaround until this gets sorted, you can use `godef` or `guru` instead of `gopls` by setting `g:go_def_mode` (see `:help g:go_def_mode`).

[2020-06-17 20:01] thockin commented on #2924
`Sorry, no help for g:go_def_mode`

setting it to 'godef' fixes `gd`

[2020-06-17 20:10] stamblerre commented on #2924
@thockin: Setting `GOPACKAGESDRIVER=off` in your environment should definitely fix it, but I believe that the bug should already be resolved. This is a Google-specific issue that I'd be happy to continue discussing with you internally.

[2020-06-17 20:13] thockin commented on #2924
?!?!?  That does seem to work.  Why the heck do I have a broken-by-default install?

[2020-06-17 21:40] stamblerre commented on #2924
As I mentioned above, it's an internal issue caused by a bad tool release within Google, so it's not caused by `gopls` itself. Happy to follow-up internally and ping you the bug number, if you're interested.

[2020-06-18 01:07] lyb-Q opened #2926 "How to zoom in on a window opened with gd"
![addd](https://s1.ax1x.com/2020/06/16/NFUM0P.png)

[2020-06-18 01:36] scrawld commented on #2924
Thank you very much for the reason that I configured the soft connection in $GOPATH. I changed $GOPATH to the absolute path file corresponding to the soft connection.
The problem has now been solved.

$GOPATH configured as a soft connection path can `go build` successfully but not with `gd`

[2020-06-18 02:38] bhcleek commented on #2924
I'm going to leave this open, while I investigate a possibility for maintaining symlinked paths in vim-go.

[2020-06-18 03:37] bhcleek commented on #2926
I'm not sure what you want to do. What do you mean by "enlarge? Do you want to make the text larger? Do you want to make one window occupy a larger percentage of the screen space that the other? Something else?

[2020-06-18 03:40] bhcleek commented on #2924
I thought I might have realized a way to maintain the symlinked path within Vim, but it's didn't pan out.

Go doesn't fully support symlinks and neither does vim-go; you'll need to use a real paths for your GOPATH instead of symlinks.

This issue has been discussed multiple times in vim-go's history and in Go's history. Here's Rob Pike's answer: https://github.com/golang/go/issues/15507#issuecomme

[2020-06-18 03:40] #2924 closed

[2020-06-18 03:41] bhcleek commented on #2920
@cposture have you been able to try the latest changes on #2920?

[2020-06-18 03:47] cposture commented on #2920
Thank you for your reply，I will try later using lastest patch

[2020-06-18 13:28] lyb-Q commented on #2926
How to do so can jump open the full screen of the window . thank you

[2020-06-18 17:06] thockin commented on #2924
I hate that symlinks answer, and it makes me sad that "it's too hard, lets just not try" is the best we can do.

[2020-06-18 18:55] Kimchelly opened #2927 "go_def_reuse_buffers does not jump to buffer"
My current solution to this has been to replace [this line in `autoload/go/def.vim`](https://github.com/fatih/vim-go/blob/33bf26891ce43ab688a48d100a79b0a51fd38678/autoload/go/def.vim#L175) with this:

`call win_gotoid(win_getid(bufwinnr(filename)))`

This doesn't jump to the correct existing buffer if it's in a different tab, but I almost never use tabs.

### What did you do? (required: The issue

[2020-06-18 19:48] bhcleek commented on #2924
I understand. Without speaking to the value of Rob's answer, there's also a real concern in Vim. I've never been able to find a way to the absolute, unresolved path of a file that's below a directory that is a symlink, which throws a wrench in providing file URLs to gopls.

[2020-06-18 22:20] #2927 closed

[2020-06-18 23:58] bhcleek commented on #2926
see `:help ctrl-w__`.

The question you're asking is more of a Vim question than a vim-go question. You'll find that the Vim help file is very thorough and there are a good number of resources on the web to help you learn Vim.

[2020-06-19 06:09] ray-x opened #2929 "Latest change 60cd21d8 breaks plugin when lsp not enabled"
The following changes break vim-go (E716, E15) when gopls was not enabled:

[code]

[code]

If gopls not started by setup "g:go_gopls_enabled = 0", above audocmd will break the vim-go when file is loaded.

suggest to change something like:
[code]

[2020-06-19 09:01] lyb-Q commented on #2926
ok,thank you.

[2020-06-19 09:01] #2926 closed

[2020-06-19 15:34] #2929 closed

[2020-06-19 15:46] bhcleek commented on #2920
@cposture I don't mean to be a bother, but I've been waiting to merge #2920 until I hear back from you in case there's more work to be done or the fix isn't quite right. Have you had a chance to try the latest on #2920?

[2020-06-20 01:01] alexishevia opened #2931 "wishlist: add support for a `:GoDebugTestFunc` command"
### What did you do? (required: The issue will be **closed** when not provided)
Ran the `:GoTestFunc` command to run tests for the function under the cursor.

Since the tests failed, I wanted to debug the function to see where the issue was happening.

### What did you expect to happen?
I expected there to be a `:GoDebugTestFunc` command, so I could start a debug session that ran the specific test

[2020-06-20 01:12] bhcleek commented on #2931
`:GoDebugTest` would have worked for you, too, if you put a breakpoint in the test that you want to debug.

[2020-06-20 02:24] bhcleek commented on #2931
The vim-go help is useful here, too. `:help :GoDebugTest` explicitly mentioned the test flags and explicitly calls out `-test.run`.

[2020-06-20 13:08] alexishevia commented on #2931
hey @bhcleek , thanks for the answers.

What I'm trying to say is:
Even though the `:GoTestFunc` functionality can be achieved by running `:GoTest` with `-run`, there is value to having `:GoTestFunc` (it makes it easier/faster to run a specific test).

The same can be said of a `:GoDebugTestFunc`. Even though you could achieve the same with `:GoDebugTest` and `-test.run`, having a `:GoDebugTestFun

[2020-06-21 12:26] cposture commented on #2920
yes, it may be cause by the output contained chinese charactor, my vim was built with souce code
I try with newest patch, but it show the same error, could not found file

[code]

[2020-06-21 12:28] cposture commented on #2920
I build vim with the fellow command, There is nothing suspicious
[code]

[2020-06-21 12:51] cposture commented on #2920
I found the bug from your patch, and I has test it myself

[2020-06-21 18:27] bhcleek commented on #2920
@cposture what was the bug in my patch?

Also, I pushed another commit to #2921 that uses `sign_getplaced` instead of trying to parse output of `sign placed`. Can you give the latest on #2921 a try again and make sure it works for you?

[2020-06-22 02:21] cposture commented on #2920
this my comment in code review，the bug：
![image](https://user-images.githubusercontent.com/8305198/85242577-fbfa2400-b471-11ea-875c-7ce25fde2825.png)

[2020-06-22 02:25] cposture commented on #2920
I try the latest  #2921，It work now，the error that breakpoint not found was fixed

[2020-06-22 03:39] bhcleek commented on #2920
Thank you for testing, @cposture. I've incorporated the needed change to #2921 that you identified.

[2020-06-22 03:45] #2920 closed

[2020-06-22 03:47] #2160 closed

[2020-06-22 03:51] cposture commented on #2920
thank you，it's awesome

[2020-06-22 03:54] bhcleek commented on #1902
Closing; this is effectively a duplicate of #2510

[2020-06-22 03:54] #1902 closed

[2020-06-23 00:06] bhcleek commented on #2899
@mahdix do you still want help with this? If so, then I can continue to wait for the information that I requested in my previous comment.

[2020-06-23 04:02] mahdix commented on #2899
Hey Billie,

Please close the ticket. I am not sure when I will be able to test this
again and I don't want to keep you waiting.

On Tue, Jun 23, 2020 at 1:06 AM Billie Cleek <notifications@github.com>
wrote:

[2020-06-23 04:33] bhcleek commented on #2899
Ok. I'll close it for now, but if you pick this back up and want to get to the bottom of it, just open a new issue and reference this one; I'll open it back up for you so we can continue the conversation if you're still seeing the same behavior.

[2020-06-23 04:33] #2899 closed

[2020-06-23 05:30] bhcleek commented on #2915
@MatthewMarkgraaff do you want to give #2932 a try?

[2020-06-24 10:22] cposture opened #2933 "error after debug start"
### What did you do? (required: The issue will be **closed** when not provided)

I run  the fellow command, and it is a normal execution；
[code]
But after debug start，I run `GoDebugContinue`，I show an error message，but it functioning normally，hit enter and continue，the message:
[code]

continuly run `GoDebugNext`，it also show，but  it functioning normally
[code]

so run `GoDebugStep`，it step in fun

[2020-06-24 10:40] cposture commented on #2933
scree record：https://drive.google.com/file/d/1lriJYqAav-G8xgtKxlNYtBF2D-_p7Qlr/view?usp=sharing

[2020-06-24 17:40] bhcleek commented on #2933
Are you using the latest release or are you using current master?

[2020-06-24 19:58] max-amsterdam opened #2934 "Add ability to run GoDebugStart with --accept-multiclient"
I'm having several problems using the built in :GoDebug methods in vim-go. It is likely related to the large project I am working on, but for instance, on random lines my gRPC server will crash upon a :GoDebugNext call. This doesn't happen when I use dlv directly.

Anyways, the main reason I use :GoDebug is for the nice UI within vim. I was hoping to be able to start GoDebugStart with --accept-mul

[2020-06-25 01:52] bhcleek commented on #2934
If you want to try this, you'd add `--accept-multiclient` to the list at https://github.com/fatih/vim-go/blob/master/autoload/go/debug.vim#L638-L642.

No

Vim-go doesn't currently support this, but it could. I'm happy to review a PR.

That's odd. What are the symptoms of the crash?

[2020-06-25 04:07] cposture commented on #2933
Yes,I use master and run PlugUpdate to update the plugin

[2020-06-25 04:58] bhcleek commented on #2933
Can you execute `:let g:go_debug=['debugger-commands']`, then start the debugger and replicate this problem. At the point at which you get the first set of errors, I'd like to see the full contents of the `__GODEBUG_OUTPUT__` window as well as the output of `:echo string(g:go_debug_commands)`.

I'm having a hard time duplicating this. Can you duplicate this in a small Go application and provide it

[2020-06-25 10:36] cposture commented on #2933
after run debug continue, the message:
[code]

the `:echo string(g:go_debug_commands)` output:

[vim-go-debug-output.txt](https://github.com/fatih/vim-go/files/4830662/vim-go-debug-output.txt)

`__GODEBUG_OUTPUT__`:
[code]

[2020-06-25 10:37] cposture commented on #2933
I try duplicate this in a small Go application and provide its source code

[2020-06-25 11:01] MatthewMarkgraaff commented on #2915
So vim is blocking after `GoDebugContinue` (while my webserver is awaiting requests)

If I had setup a breakpoint prior to starting the debugger session and hit the breakpoint, vim is interactive again and I'm able to set more breakpoints etc. If I had not setup any breakpoints prior to starting the debugging session, I am not able to during the debug session. I have to stop the debugger, set a br

[2020-06-25 14:58] rmahdav opened #2935 "How can the risk of feature toggle technical debt be reduced?"
Dear developers,

I, Rezvan Mahdavi Hezaveh (rmahdav@ncsu.edu), and my colleague, Nirav Ajmeri (najmeri@ncsu.edu), software engineering researchers from North Carolina State University are conducting an academic study of feature toggles and technical debt.

In our investigations on GitHub repositories, we noticed that you are using feature toggles in your repository. For instance, in this [commit]

[2020-06-25 16:24] #2935 closed

[2020-06-25 16:26] cposture commented on #2933
I am sorry to duplicate the error in a small or large Go project, but it  can always duplicate in my project

[2020-06-25 16:27] bhcleek commented on #2915
Are you seeing that in #2932 or on master?

[2020-06-25 22:07] bhcleek commented on #2933
I think I see the problem. Can you try #2932 to see if it solves this problem for you?

[2020-06-26 03:27] cposture commented on #2933
yes，it solve the bug，thanks；and I have another problem: f11 shortcut key step in does not take effect，I don’t know if you have this problem，thanks in advance（my teminal software is royal tsx）

[2020-06-26 17:18] bhcleek commented on #2933
Thanks. I'll merge #2932 soon.

Let's open a new issue for your F11 problem. Some things to consider before you open that issue, though:
1. do the other function keys mapped to the debugger operations work for you?
1. do you have F11 mapped specially in your terminal?

[2020-06-26 18:27] cposture commented on #2933
oh,jesus,I have carefully checked the map key and ternimal settings before and found no problems
I finally find reason, F11 is occupied by the system
![image](https://user-images.githubusercontent.com/8305198/85889018-420e0980-b81d-11ea-9e0a-8378e71eec8c.png)

[2020-06-26 20:15] bhcleek commented on #2933
I'm glad you found it.

I've marked #2932  so that it will close this when I merge it.

[2020-06-26 23:00] GopherJ opened #2937 "use float window?"
### What did you do? (required: The issue will be **closed** when not provided)

### What did you expect to happen?

### What happened instead?

### Configuration (**MUST** fill this out):

#### vim-go version:

####  `vimrc` you used to reproduce:

<details><summary>vimrc</summary><br><pre>

</pre></details>

#### Vim version (first three lines from `:version`):

#### Go version (`go version`):

[2020-06-26 23:15] #2937 closed

[2020-06-27 20:56] bhcleek commented on #2915
@MatthewMarkgraaff should I go ahead and merge #2932 or do you think there are problems with it? Any guidance you can provide would be helpful, especially in the form of a simple application and instructions to demonstrate the problems you see with it.

[2020-06-28 15:47] ubombi opened #2940 "FillStruct using gopls (feature request)"
According to [golang go 37576](https://github.com/golang/go/issues/37576) , [golang tools 220](https://github.com/golang/tools/pull/220) and [googlesource 227437](https://go-review.googlesource.com/c/tools/+/227437/)

`:GoFillStruct` is now implemented in gopls. So we can use it, instead of `davidrjenni/reftools/cmd/fillstruct`

[2020-06-28 18:33] bhcleek commented on #2940
I'll keep an eye on the gopls releases and will likely update vim-go to use gopls for fill struct after a release of gopls that includes [cl 227437](https://go-review.googlesource.com/c/tools/+/227437/).

[2020-06-28 18:36] bhcleek commented on #2634
@liwnn I'm curious whether #2932 resolves this for you. Can you give it a try?

[2020-06-29 01:41] liwnn commented on #2634
Yes, it resolved this.

[2020-06-29 16:55] fiplox opened #2941 "Error if at the end of document missing closing bracket "}""
### What did you do?
I was writing some go code (exercism) and whenever I do not have closing "}" I get this error.
### What did you expect to happen?
Have a message "missing closing bracket }" I suppose
### What happened instead?
This error message
**vim-go: function <SNR>77_on_stdout[1]..<SNR>77_neocb[58]..276[10]..279[3]..280[2]..281[30]..<SNR>75_errorFromDiagnostic, line 4: Vim(let):E684: list

[2020-06-30 03:04] #2941 closed

[2020-07-01 06:51] cposture commented on #2697
I have same problem; after go get module to update module version in shell command line,  it jump to the original module in vim, so I have to reopen vim

[2020-07-01 17:51] vijaysy commented on #2603
Hello!
`export GO111MODULE=on`
`go get golang.org/x/tools/gopls@latest`
Worked with this.
FYI
`go version go1.14.4 darwin/amd64
`

[2020-07-02 06:25] adasfan opened #2945 "Some characters are blacked out after launching vim the first time in iterm2"
### What did you do? (required: The issue will be **closed** when not provided)
Open any Go file in iterm2 after installing the vim-go plugin. Issue did not happen before vim-go was installed

<img width="1337" alt="Screen Shot 2020-07-01 at 11 15 54 PM" src="https://user-images.githubusercontent.com/1285684/86323207-49545f00-bbf1-11ea-974d-db2ed698ab4c.png">

### What did you expect to happen?
Th

[2020-07-02 10:28] pachanga opened #2946 ""botright" for quickfix window?"
Hi! What do you think of using "botright copen" in go#list#Window instead of just "copen"? Or at least make it configurable? "botright" really makes quickfix window more convenient to use when working with several vertical splits.

[2020-07-02 12:38] MatthewMarkgraaff commented on #2915
Apologies for the delay in response.
I'm on #2932, yes. I'd say you can go ahead and merge. It's feeling good now 💯

[2020-07-02 12:39] MatthewMarkgraaff commented on #2915
The only remaining comment is that I can't run `GoDebugStop` while the server is waiting for requests after `GoDebugContinue`. I have to kill the process outside of vim or hit another breakpoint to make vim responsive again. Nothing major, just takes some getting used to. If this is something you want to look into I can provide a short example, steps to reproduce etc.

[2020-07-02 14:26] sebiwi opened #2947 "GoDebug and GoDebugTest do not work"
### What did you do? (required: The issue will be **closed** when not provided)
I ran `GoDebugStart` on line 10 of the `fizzbuzz.go` file provided below, and `GoDebugTest` on the test file provided below, both of which were located on `/tmp/test`:
[code]

### What did you expect to happen?

I expected the debugger to run.

### What happened instead?

From the fizzbuzz.go file, with the `GoDebugSta

[2020-07-02 16:33] bhcleek commented on #2945
This is most likely related to your iTerm2 settings, your colorscheme, and the highlight groups defined by vim-go. There are a number of ways to get to the bottom of this.
* Try using a different colorscheme - does it suffer from the same problem?
* How are your colors for iTerm configured and what color theme is it using?
* Try to duplicate this with the minimally needed vimrc - can you identify

[2020-07-02 16:37] bhcleek commented on #2946
The quickfix list is opened to a specific height by using `:execute`. `:botright` doesn't work with `:execute`.

[2020-07-02 16:38] bhcleek commented on #2915
Thanks @MatthewMarkgraaff . I'll plan to address the `:GoDebugStop` issue separately. I think I've basically already solved that in a local branch that I plan to put up after #2932 is merged.

[2020-07-02 16:39] #2915 closed

[2020-07-02 16:43] #2634 closed

[2020-07-02 16:43] #2933 closed

[2020-07-02 16:46] adasfan commented on #2945
I tried other color schemes but it did not help. This is my .vimrc -- I do not see how any of the content can lead to the issue -- are you able to repro on your side?

[code]

[2020-07-02 16:47] bhcleek commented on #2947
`package fizzbuzz` needs to be `package main` to be an executable to cause `:GoDebugStart` to be able to execute it.

After you run `:GoDebugTest` and set a breakpoint you'll need to run `:GoDebugContinue`.

[2020-07-02 16:47] adasfan commented on #2945
agreed that it is iterm2 specific as I cannot repro in terminal

[2020-07-02 17:10] bhcleek commented on #2945
I use iTerm2 regularly and don't see this problem. We're outside of vim-go territory now, but I'll give you a few tips.

First, check the colors in iTerms2:
![image](https://user-images.githubusercontent.com/1958864/86388311-6ddc2580-bc49-11ea-8a77-5ca2c1ef6a22.png)

* Try some of the different color presets there to see if you can identify the problem
* How do you have the contrast set? Try adjus

[2020-07-02 17:17] sebiwi commented on #2947
The renaming fixed one part, thanks!

I think there's something weird which happens when you use `/tmp` as a project directory, the directory changes to `/private/tmp` when executing the debug commands. This is solved when using any other normal directory other than `/tmp`.

Is this a bug?

[2020-07-02 17:35] bhcleek commented on #2947
It's not a bug. `/tmp` is a symlink to `/private/tmp` in macOS and Vim always resolves paths that are within symlinks to the actual absolute path.

[2020-07-02 18:32] sebiwi commented on #2947
Alright, thank you very much @bhcleek!

I'm closing this issue now.

[2020-07-02 18:32] #2947 closed

[2020-07-02 19:01] pachanga commented on #2946
I patched it this way and it works in Neovim: https://github.com/pachanga/vim-go/commit/7210598114b82dab77bc4af4baee0cc79e828ce9

[2020-07-02 20:25] bhcleek commented on #2946
I misunderstood the `:help botright` language on this. What you've proposed will work in Vim, too, but I'd rather not complicate vim-go with an option when you can control it yourself easily by using some autocmds in your vimrc, especially because if this is the kind of behavior you generally want, then adding an option for this to vim-go wouldn't apply more widely.

Alternatively, you can control

[2020-07-02 20:25] #2946 closed

[2020-07-02 21:00] pachanga commented on #2946
Thanks!

[2020-07-03 09:44] ubombi commented on #2940
Released in [v0.4.2](https://github.com/golang/tools/releases/tag/gopls%2Fv0.4.2)

[2020-07-04 04:16] #2945 closed

[2020-07-06 03:29] Campanula opened #2949 "GoDef failed when current buffer is a `suda://` buffer (non-file buffer provided by suda.vim)"
### What did you do? (required: The issue will be **closed** when not provided)
GoDef to golang lib src (such as /usr/lib/go/src/time/time.go) and navigate in it.
the golang lib src auto opened as a `suda://` buffer (suda:///usr/lib/go/src/time/time.go), then use `:GoDef` will emit a error.

### What did you expect to happen?
GoDef jump to correct location with `suda://` buffer  or a new buffer wi

[2020-07-06 04:47] #2949 closed

[2020-07-06 04:50] #2340 closed

[2020-07-07 02:46] phonzia opened #2953 "GoImplements is too slow"
Guru is far too slow and `GoImplements` reruns guru every time. Will it be a way to choose whether rerun guru or not?

[2020-07-07 04:42] bhcleek commented on #2953
There won't be an option to _not_ rerun guru. In the future there _might_ be an option to use gopls instead of guru, though.

[2020-07-07 04:42] #2953 closed

[2020-07-07 17:08] wy100101 opened #2954 "go-run-{split,vertical} gated by has("nvim") instead of has("terminal")"
called <plug>(go-run-split)

### What did you expect to happen?

expected to see the program run in a split terminal.

### What happened instead?

Nothing because the mapping is gated by if has("nvim")

### Configuration (**MUST** fill this out):
vim 8.2 on linux

#### vim-go version:
latest install via vundle

#### Vim version (first three lines from `:version`):
VIM - Vi IMproved 8.2 (2019 Dec 1

[2020-07-07 17:10] wy100101 commented on #2954
It seems like a change from `has("nvim")` to `has("terminal")` fixes the issue.

I'll send a MR if people agree this is the right solution.

[2020-07-08 01:49] bhcleek commented on #2954
Changing it to `has('terminal')` would break the mapping for Neovim. However, changing it to `has('terminal') || has('nvim')` would work for both. Feel free to submit a PR.

[2020-07-08 08:34] thinkski opened #2955 "Navigation with mod vendor not working"
### What did you do?

Within an example project, ran `go mod vendor` to create `vendor/` copies of the project's dependencies. Verified that `vendor/modules.txt` exists and `go.mod` looks okay. Then opened a `bar/main.go` file and attempted to jump to the definition of a function within `vendor/` via ctrl+].

### What did you expect to happen?

Expected `ctrl+]` to jump to the definition of a func

[2020-07-08 18:47] bhcleek commented on #2955
I'm not sure why this is happening, but let's start with some basics.

First, make sure your `godef` is up to date with `:GoUpdateBinaries godef`. I suspect that will solve your problem, but if it doesn't, I'll need some information about whether you're operating in GOPATH mode or module aware mode, your `GO111MODULE` value, etc.

I also noticed that you're several vim-go versions behind.

[2020-07-11 04:22] bhcleek commented on #2954
closed by #2956

[2020-07-11 04:22] #2954 closed

[2020-07-11 06:40] thinkski commented on #2955
Updated `godef` with `:GoUpdateBinaries godef`, restarted Vim. Unfortunately, `ctrl+]` still jumps to `~/go/pkg/` version.

Believe I'm operating within GOPATH mode, as am within the GOPATH (i.e. `~/go/src/github.com/foo/subdir/subdir`).

`GO111MODULES` env variable is empty -- environment variable is not set.

Tried fetching latest master from `vim-go`, but issue persists.

[2020-07-11 17:27] bhcleek commented on #2955
Do you have an ambient `go.mod` file?

I'm having a hard time duplicating this, but I'm sure we'll figure out what's going on. I'm putting a few suggestions below ordered by things to check and try in order to shorten our back and forth cycle.

1. Do you have multiple `godef` files? Check your $PATH, $GOPATH/bin, and $GOBIN. If you find more than one, please delete them all and then run `:GoUpdate

[2020-07-12 06:47] adah1972 opened #2957 "Setting filetype asm does not make sense"
Currently there is this line in ftdetect/gofiletype.vim:

[code]

This does not make sense, as .s is not a Go suffix, and it is done already in the standard filetype.vim.

I have found this out because I need to check the content of .s files and set the filetype properly. *It does not work when vim-go is present*, as it forcefully overrides my setting.

[2020-07-12 12:29] hnnsgstfssn opened #2958 "Using metalinter autosave and gopls is slow"
### What did you do? (required: The issue will be **closed** when not provided)
Open a Go source file in a module, then save the file with `g:go_metalinter_command=gopls` and `g:go_metalinter_autosave=1`.

### What did you expect to happen?
That it would take <1s or that the linter runs asyncronously.

### What happened instead?
Input is frozen until the linter passes or fails. This takes ~10s (se

[2020-07-12 16:57] bhcleek commented on #2957
`.s` is the traditional extension for assembly files, including in the Go community.

Where and how are you setting the filetype?

This should mostly be a function of where the file that sets the filetype is in your runtimepath. I see two valid options:
1. vim-go could potentially add the `FALLBACK` option to its `setfiletype` call.
2. adust either how or where your filetype is set. I'd recommend

[2020-07-12 17:03] bhcleek commented on #2958
The gopls logs will be the most useful here. Can you open the file, execute `:let g:go_debug=['lsp']`, save your file, and provide the complete contents of the resulting `__GOLSP_LOG__` window here?

[2020-07-12 17:34] hnnsgstfssn commented on #2958
Absolutely, I had to add `let g:go_debug=['lsp']` to my `vimrc` for it to start `gopls` with debug enabled, instead of setting after starting the session. [golsp.log](https://github.com/fatih/vim-go/files/4908940/golsp.log) is the resulting output after opening the file with debug enabled and then saving it.

FWIW the following steps recreates a minimal module that I'm using to test this.
[code]

[2020-07-12 17:59] adah1972 commented on #2957
Of course it is the traditional extension for assembly files, but the type `asm` is not good for each case. My purpose was set it to `arm` for ARM assembly.

The standard filetype.vim does not set the filetype to `asm` in all cases. It tries to detect the assembly type, but currently it does not detect ARM assembly.

In another plugin, similar to what you do, but I set the filetype only when I can

[2020-07-12 18:25] adah1972 commented on #2957
Two more things that I have just found:

- Removing the autocommand for *.s from ftdetect/gofiletype.vim does not affect the vim-go functionality in any way, as far as I can see. It still loads your ftplugin/asm.vim.
- My bad for not updating vim-go to the latest version, as the problem is non-existent now. You used to use `set filetype=`, but now you use `setfiletype`…

Actually your current `set

[2020-07-12 19:15] bhcleek commented on #2958
FWIW, `let g:go_debug=['lsp']` does not have to be in your vimrc. You can set it at any time to see the request and responses to sent to and received from `gopls` after it's set.

In any case, I think I see what's going on here. I should have some time improve the experience next weekend.

[2020-07-16 17:42] thinkski commented on #2955
Thank you, `export GOFLAGS=-mod=vendor` resolved it. After setting it, navigation works as intended. `unset GOFLAGS`, and it reverts to the unexpected behavior.

For completeness, in answer to the other questions and suggestions:
- There's a `go.mod` in `~/go/src/github.com/foo/bar`, but not in `~/go/src/github.com/foo/bar/baz/`.
- I can only find one `godef` in `~/go/bin/godef`. `GOBIN=$HOME/go/b

[2020-07-16 17:43] #2955 closed

[2020-07-18 16:35] #2957 closed

[2020-07-21 01:46] #2958 closed

[2020-07-23 13:38] elleven11 opened #2963 "Operators not highlighted when using gruvbox"
### What did you do? (required: The issue will be **closed** when not provided)
Installed vim-go, gruvbox and set let g:go_highlight_operators = 1

### What did you expect to happen?
Operators getting colored

### What happened instead?
White operators

### Configuration (**MUST** fill this out):
Neovim with vim-go and gruvbox theme.
But i tried disabling everything except for vim-go and gruvbox,

[2020-07-23 17:38] bhcleek commented on #2963
vim-go uses the `Operator` highlight group by default for operators when `g:go_highlight_operators` is set. If gruvbox doesn't color those, then that's an issue for gruvbox, not vim-go.

With gruvbox, `Operator` is linked to `Normal`:
[code]

You have three options to address this:
First option: modify your vim configuration to set `Operator` to something more to your liking in a `after/plugin/gru

[2020-07-23 17:38] #2963 closed

[2020-07-23 23:41] elleven11 commented on #2963
Ah, alright gotcha.
But if you look : https://github.com/morhetz/gruvbox/blob/master/colors/gruvbox.vim#L1026
other languages have the operator hi on!
and go has also some highlighting:
https://github.com/morhetz/gruvbox/blob/master/colors/gruvbox.vim#L1261

Btw, i set myself the highlighting anyways.

[2020-07-24 04:11] bhcleek commented on #2963
It looks like what you want is for gruvbox to add either
`hidef link goOperator GruvboxPurple` or `hidef link Operator GruvboxPurple`.

Note that gruvbox links `Operator` to `Normal` currently: https://github.com/morhetz/gruvbox/blob/master/colors/gruvbox.vim#L591

[2020-07-27 06:33] hungrybirder commented on #2711
yes.

`:GoReferrers` can show the refs in Quickfix List. If I choose one ref,  the quickfix list context is empty and not closed automatically.

`coc.nvim <Plug>(coc-references)`  impls the feature is better,
Will vim-go implement the same feature?

Thank you.

[2020-07-27 10:02] mukhtar13 commented on #1661
I have the same issue please give solution if available any

[2020-07-27 19:02] bhcleek commented on #2711
Are you saying that the quickfix list has all of its entries removed after you jump to one of the refs? That's odd and doesn't match any behavior that I know about.

Will vim-go implement the same feature?

`:GoReferrers` has two modes: `gopls` and `guru`. The only difference is where it gets the data from. There aren't currently any plans to refactor. If you'd like to suggest a behavior change, f

[2020-07-27 19:45] stamblerre commented on #2711
guru's callers and callees functionality is closer to LSP's callHierarchy feature, which `gopls` doesn't yet support: https://github.com/golang/go/issues/39461.

[2020-07-27 19:57] julianvmodesto opened #2964 "interrupt failure when using ctrlp"
### What did you do? (required: The issue will be **closed** when not provided)
I'm using ctrlp with vim-go.

When I open CtrlP, it seems that vim-go interrupts and closes the buffer due to a highlight group error. I've tried turning off highlight errors and warnings, but the interrupt will continue to close the CtrlP buffer.

### What did you expect to happen?

Ideally, vim-go doesn't interrupt a

[2020-07-27 22:39] LuisPe commented on #2866
Hi Kimbo
How did you launch GoDebugStart as root? i am facing the same problem GoBuild & GoRun work fine.

[2020-07-27 22:46] bhcleek commented on #1661
This issue is years old. Feel free to open a new one to describe the problem and your configuration @mukhtar13

[2020-07-27 22:57] kimbo commented on #2866
I just ran `sudo vi <file.go>`

On Mon, Jul 27, 2020, 4:39 PM LuisPe <notifications@github.com> wrote:

[2020-07-27 23:15] LuisPe commented on #2866
Thanks Kimbo, it worsk GoDebugStart with your suggestion

[2020-07-27 23:21] bhcleek commented on #2711
Thanks, @stamblerre. I subscribed to golang/go#39461 so I'll can modify vim-go when the gopls feature lands.

[2020-07-27 23:35] bhcleek commented on #2964
This looks like a ctrlp issue, because all the script functions seem to point to ctrlp files. `BuildPrompt` is not a vim-go function and the last function in your call stack, `highlight` is from the same script (one can tell because of the same `<SNR>267_` prefix). `CtrlPLinePre` is not a vim-go highlight identifier either.

Am I missing an imnportant indicator that vim-go is at issue here?

[2020-07-28 07:44] bon-ami opened #2965 "vim-go halts neovim"
I tried to debug it. While it printed messages during boot of neovim, it prints nothing when the issue reproduced.
### What did you do? (required: The issue will be **closed** when not provided)
my package is a, importing os package. There are public methods in b.
^X^O on the dot after "os". My code piece is like following,
`package main

import "os"

func main() {
os.
}`
### What did you expect t

[2020-07-28 08:17] bon-ami commented on #2965
Just upgraded Go to 1.14.6 and it solved the problem for now

[2020-07-28 16:29] #2965 closed

[2020-07-29 03:47] jogendra opened #2966 "Add a blog to Blog Post Wiki"
Recently, I wrote a blog post [Using Vim for Go development](https://jogendra.dev/using-vim-for-go-development) which is I think relevant to vim-go. Please add it to [blog post wiki](https://github.com/fatih/vim-go/wiki/Blog-Posts).

Link to blog: [https://jogendra.dev/using-vim-for-go-development](https://jogendra.dev/using-vim-for-go-development)

[2020-07-29 03:58] bhcleek commented on #2966
That's a great post. Good work! I've added it to the blog post wiki.

You may consider mentioning that Vim-go can use gopls for completion; there's no need to install coc.nvim to get code completion for Go in Vim.

You may also be interested in https://shapeshed.com/vim-netrw/. I, too, used NERDTree for a long time, but abandoned it in favor of netrw after reading https://shapeshed.com/vim-netrw/.

[2020-07-29 03:58] #2966 closed

[2020-07-29 09:16] smartding opened #2967 "g:go_imports_command or g:go_imports_mode?"
I see in the help doc of `g:go_imports_autosave` referencing a setting called `g:go_imports_command`.

But I can't find the `g:go_imports_command` entry in the help doc. Should it be `g:go_imports_mode`?

[2020-07-29 12:10] jogendra commented on #2966
Hi, @bhcleek Thanks for adding it to the wiki. I hope it will help someone you start out with vim-go ✨ 💖

I am new to vim and Go both. I found these plugins well after doing research about them. Reading the vim-go docs, I noticed that it supports auto-completion as well. One main thing why I used coc.nvim was, it's extensions work like in VSCode. I will use it for a while and also use vim-go's aut

[2020-07-29 15:25] simonhughcom opened #2968 "GoDoc and GoDocBrowser fails with E714: List required"
### What did you do?
Tried to run GoDoc or GoDocBrowser.

### What did you expect to happen?
To show some documentation.

### What happened instead?
A error was shown:
"""
Error detected while processing function go#doc#open:
line    5:
E714: List required
"""
### Configuration (**MUST** fill this out):
Just default config for vim-go.

####  `vimrc` you used to reproduce:
<details><summary>vimrc</

[2020-07-29 18:44] bhcleek commented on #2968
The development version of gopls isn't supported by vim-go. I'm not sure how you'd have anything other than a gopls release given that your vimrc has `Plug 'fatih/vim-go', { 'do': ':GoUpdateBinaries', 'for': 'go' }`. Something seems amiss 🤔

[2020-07-29 18:52] simonhughcom commented on #2968
I did install go from the arch repo. Could that be it?

[2020-07-29 19:32] simonhughcom commented on #2968
Ok So I have no idea how but there was already a version of gopls on my system (Which strangely was not tied to any arch packages).
I removed it and ran 'GoInstallBinaries' again which installed the correct version of gopls and everything works.

Thank you for you help anyway.

But just a suggestion, maybe add a check for the correct versions of all the necessary binaries to warn people.

[2020-07-29 21:05] #2968 closed

[2020-07-29 21:06] bhcleek commented on #2967
yes

[2020-07-30 10:20] souvikhaldar opened #2970 "Error while executing GoImportAs"
### What did you do? (required: The issue will be **closed** when not provided)

### What did you expect to happen?

### What happened instead?

### Configuration (**MUST** fill this out):

#### vim-go version:

####  `vimrc` you used to reproduce:

<details><summary>vimrc</summary><br><pre>

</pre></details>

#### Vim version (first three lines from `:version`):

#### Go version (`go version`):

[2020-07-30 10:20] #2970 closed

[2020-07-30 18:31] #2967 closed

[2020-07-30 23:36] ChrisPenner commented on #2611
I ran into this too; disabling vim-polyglot worked, but obviously I'd prefer to leave it enabled so I can use it for other filetypes.

[2020-08-02 07:42] GeoffRussell opened #2971 "Terminal escape sequences on command line"
### What did you do? (required: The issue will be **closed** when not provided)

made some syntax error and then wrote the file to disk ... ie.,

:wa

### What did you expect to happen?

I expected the file to be written to disk ... which it was  ... but

### What happened instead?

My vim command line got polluted with an ansi terminal escape seqence (ESC>4;mESC>4:2m"main.go" ... etc)

NB ... als

[2020-08-02 13:29] adwpc opened #2972 "How to save code under go/pkg/mod?"
It recoved when i try to modify and save the source file under go/pkg/mod

[2020-08-02 16:18] bhcleek commented on #2972
Vim-go does not treat files in `go/pkg/mod` specially.

I'm going to close this, because the information the the vim-go issue template asks for was not provided. Feel free to open a new issue and provide the requested information.

[2020-08-02 16:18] #2972 closed

[2020-08-02 16:24] bhcleek commented on #2971
Version 20150303-3 is not a release of vim-go 🤔

.vim/plugged/vim-go/doc ... so something is screwy in my installation ... despite cloning the repository as required

`:help helptags` explains how to install help for plugin. Vim-plug's FAQ explains how to add the help tags for plugins managed by Plug: https://github.com/junegunn/vim-plug/wiki/faq#does-vim-plug-generate-help-tags-for-my-plugins

[2020-08-02 16:24] bhcleek commented on #2964
closing for lack of feedback

[2020-08-02 16:24] #2964 closed

[2020-08-03 00:49] GeoffRussell commented on #2971
Thanks for the help ...

Sorry, but I don't know how to find the version. I look in the CHANGELOG ... and I can see v1.23 ... so I guess that's it. The other number (20150303-3) was the version of the ubuntu package vim-gocomplete.  I think I installed that  prior to doing the git-clone.
In any event ... I have two vim-go directories under .vim    1) .vim/plugged/vim-go and 2) .vim/pack/plugins/st

[2020-08-03 02:10] bhcleek commented on #2971
You'll want to get rid one or the other. If you get rid of the `.vim/plugged/vim-go`, then be sure to modify your vimrc to not use Plug to manage it.

seems that vim sets TERM to "dumb" in such situations. My desktop environment normally sets TERM to xterm-256color. But using "dumb" causes other problems ... not with vim but with bash. So the best work around so far is
a script (#!/bin/bash \n uns

[2020-08-07 17:42] #2971 closed

[2020-08-08 11:24] GeoffRussell commented on #2971
Sorry ... I got sidetracked with other tasks ... many thanks for your help on this.

[2020-08-09 18:40] ksewo opened #2975 "Metalinter invokes golint,even when I have specified that I want to use golangci-lint"
### What did you do? (required: The issue will be **closed** when not provided)

### What did you expect to happen?
I should get same linting errors as when running ```golangci-lint run```. When running it directly in terminal, I don't have any linting errors, but when using :GoMetaLinter I have errors from golint

### What happened instead?
I am getting error "exported type `MyType` should have c

[2020-08-10 00:00] bhcleek commented on #2975
The golangci-lint linters used by vim-go are controlled by `g:go_metalinter_enabled`. Please see `:help g:go_metalinter_enabled`.

[2020-08-10 06:40] Zhang21 commented on #2365
vim:

[code]

<br>

.vimrc:

[code]

[2020-08-10 12:15] ksewo commented on #2975
@bhcleek Thanks.
For anyone facing this issue, use it:
[code]
it will disable every additional linters and just call golangci-lint

[2020-08-13 01:28] ianbrex opened #2976 "Please fix message - "Valid values are: [gocode, guru, gopls]""
### What did you do? (required: The issue will be **closed** when not provided)
vim file.go

### What did you expect to happen?
I can edit.
### What happened instead?
Saw error - "go_info_mode value: gocode is not valid. Valid values are: [gocode, guru, gopls]"

### Configuration (**MUST** fill this out):

#### vim-go version:

####  `vimrc` you used to reproduce:

let g:go_info_mode='gocode'
<det

[2020-08-13 04:08] #2976 closed

[2020-08-15 14:04] maruel opened #2979 "Remove GO111MODULE=off from :GoInstallBinaries as it's not necessary anymore"
Last year, some tools installed by `:GoInstallBinaries` were not compatible with `GO111MODULE=on`. This was tracked as issue #2248.
Commit 1237fa0e19460d0b3ed2fb8fa566659b2154b5fb (later tweaked with commit 4899a0e5088f07c367f178641d46295d09a68c47) fixed it by enforcing `GO111MODULE=off` during the installation.

While this was necessary, that has the drawback of polluting the user's GOPATH.

A ye

[2020-08-15 14:40] bhcleek commented on #2979
Thanks for filing a bug. Unfortunately, not all of the tools support Go modules. I see at least three that do not:
* github.com/koron/iferr
* github.com/klauspost/asmfmt/cmd/asmfmt
* github.com/jstemmer/gotags

However, if you want to submit a patch that uses modules by appending `@latest` to their list entries, I'd gladly accept that.

I'd also accept a patch that uses a temporary GOPATH for inst

[2020-08-16 04:00] bhcleek commented on #2979
It's also worth pointing out that GO111MODULE must still be set in order to set it appropriately regardless of what the user has it configured as to make sure the right thing is done. The relevant section in the go's help is worth considering to give you more context: https://golang.org/cmd/go/#hdr-Module_support

[2020-08-16 07:33] chenrry666 opened #2980 "[ termux ]CANNOT install cross-compiled binaries when GOBIN is set"
### What did you do? (required: The issue will be **closed** when not provided)
i use vim-plug and i install vim-go

i run :GoInstallBinaries
### What did you expect to happen?
install lots of useful tools
### What happened instead?
![Screenshot_2020-08-16-15-16-13-98_84d3000e3f4017145260f7618db1d683](https://user-images.githubusercontent.com/40446983/90328995-77400800-dfd3-11ea-987a-c83535d7bd9c.

[2020-08-16 15:38] bhcleek commented on #2980
What happens when you try to `go install` a binary from the command line?

[2020-08-16 19:41] bhcleek commented on #2980
FWIW, I suspect you need to set `GOHOSTOS=linux` and `GOOS=linux` when you run Vim. You can do this either from within vim:
[code]

or else set them in the shell before launching Vim.

[2020-08-17 04:18] chenrry666 commented on #2980
I try that ,it doesn't work
I think I can install them manually.

[2020-08-17 04:20] chenrry666 commented on #2980
because i doesnt set GOBIN in my .zshrc , so i can
install it from the command line

my english is poor , thank u !

[2020-08-17 16:51] #2975 closed

[2020-08-17 16:56] bhcleek commented on #2980
Can you please set `GOBIN` at your commandline and then execute a `go install` command to help us get to the bottom of this. Vim-go needs to set `GOBIN` to make sure the binaries get installed to the correct location, but I'm not sure what your GOOS and GOHOSTOS values should be on android for these binaries (I suspect they should be `linux`, but I'm not certain.

[2020-08-17 22:35] andradei opened #2981 "Location list auto jumping to error on write (save)"
### What did you do? (required: The issue will be **closed** when not provided)
1. Wrote some Go code, had a variable that was declared but not used
2. Saved the file with `:w`
3. Cursor jumps to the line with error

### What did you expect to happen?
The error to show up in the location list, but maintain cursor position

### What happened instead?
The cursor auto jumped to the line with the erro

[2020-08-17 22:40] bhcleek commented on #2981
Vim-go is behaving correctly according to your configuration.

From `:help g:go_jump_to_error`:

(e.g. |(go-build)|, |(go-run)|, etc.) and the metalinter on save.  When
enabled it will jump to the first error automatically (means it will NOT pass
the bang attribute to the appropriate command, i.e: (go-run) -> :GoRun ).

Try disabling `g:go_jump_to_error` by using `:let g:go_jump_to_error = 0` in y

[2020-08-17 22:57] andradei commented on #2981
Thanks, I tried searching for a lot of terms on the documentation, but needed this help in the end.

[2020-08-17 22:57] #2981 closed

[2020-08-18 11:15] chenrry666 commented on #2980
ok. My GOOS and GOHOSTOS have not been set.GOBIN is empty.
 i try to run <code>GOOS=android GOHOSTOS=linux go get -u  github.com/cosmtrek/air
</code>
the result is <details><summary>click to expand</summary><br /><code><pre>go: github.com/cosmtrek/air upgrade => v1.21.2
go: github.com/pelletier/go-toml upgrade => v1.8.0
go: github.com/creack/pty upgrade => v1.1.11
go: github.com/mattn/go-isatty up

[2020-08-19 00:18] bhcleek commented on #2980
You'll need to set `GOHOSTOS` and `GOOS` so that they're the same to avoid the cross compilation issue. In most cases, one can simply leave them _unset_ and Go will compile for your system.

`GOBIN=~/workspace/go/bin GOOS=android GOHOSTOS=linux go get -u github.com/cosmtrek/air` will cross-compile, because `GOHOSTOS` and `GOOS` are different from one another.

Essentially, you need to get `GOBIN=~

[2020-08-19 12:09] chenrry666 commented on #2980
well, i did these things
i run `unset GOOS;unset GOBIN;unset GOHOSTOS`
<details><summary> <code>go env</code> print these</summary><pre><code>GO111MODULE="on"
GOARCH="amd64"
GOBIN=""
GOCACHE="/data/data/com.termux/files/home/.cache/go-build"
GOENV="/data/data/com.termux/files/home/.config/go/env"
GOEXE=""
GOFLAGS=""
GOHOSTARCH="arm64"
GOHOSTOS="android"
GOINSECURE=""
GOMODCACHE="/data/data/com.ter

[2020-08-19 12:22] #2980 closed

[2020-08-19 15:20] bhcleek commented on #2980
Yes, that would do it. I'm sorry I didn't notice that you'd set GOARCH differently before.

[2020-08-20 09:28] chenrry666 commented on #2980
haha,it doesn't matter.
🥰

[2020-08-21 04:26] bhcleek commented on #2336
I am unable to duplicate this with the current version of vim-go. There have been several improvements to vim-go and to delve since this issue was originally created; it's possible that any root cause was resolved by the many changes since this issue was reported.

[2020-08-21 04:26] #2336 closed

[2020-08-28 00:53] #2337 closed

[2020-08-28 16:02] ziirish opened #2987 "Unknown function: trim"
Hi,

I believe commit 6d949b3830c1920917aa5df8cf427af0dd6e619e broke compatibility with vim 8.0.1453 as the `trim` function is not available. (see [doc](https://github.com/vim/vim/blob/218101442e8775bd1f05d1dda18d3946ee032dd1/runtime/doc/eval.txt#L2446-L2448))

### What did you do? (required: The issue will be **closed** when not provided)

Run `:GoInstallBinaries` under vim 8.0.1453

### What did

[2020-08-28 17:00] bhcleek commented on #2987
that's very odd. The [tests run on Vim 8.0.1453](https://github.com/fatih/vim-go/runs/1004537367) and didn't have any problems with that PR 🤔

[2020-08-28 17:33] bhcleek commented on #2987
Oh, those errors did occur in CI, but it didn't halt execution, so tests passed.

[2020-08-28 17:39] #2987 closed

[2020-08-28 18:51] ziirish commented on #2987
Impressive! Thanks for the quick fix.

[2020-08-29 19:51] #1758 closed

[2020-08-30 20:05] #2510 closed

[2020-08-31 10:34] gsauthof opened #2991 "Surface gopls messages"
### What did you do? (required: The issue will be **closed** when not provided)

Edit a go file where gopls produces a warning, i.e.:

1. open vim and edit the following example
2. save it with `:w` - such that the highlighting is updated

Example:

[code]

Cross check on the command line:

[code]

### What did you expect to happen?

1. the highlighting gets updated
2. the number field name is hig

[2020-08-31 16:36] bhcleek commented on #2991
That's because of gopls. The message it sends indicates the problem area is only one character wide:
[code]

You can display the warnings two different ways.

First, you can use `:GoDiagnostics` to see the diagnostics for a file.

Alternatively, you _should_ be able to set `g:go_metalinter_command` to `'gopls'` and us `:GoMetalinter` and/or configure the metalinter to run on save. I'm seeing a bug

[2020-09-01 18:54] powerman opened #2993 "Allow gofumports as goimports alternative"
https://github.com/mvdan/gofumpt was added to golangci-lint, and it looks reasonable.
Please allow to set `let g:go_fmt_command = 'gofumports'`.
Also it may be a good idea to include it into list of installed/updated binaries.

[2020-09-01 19:11] bhcleek commented on #2993
Have you tried setting `g:go_fmt_command` to `gofumpt`? I think it might just work, but I don't intend to add a fourth option for formatting.

[2020-09-01 19:14] powerman commented on #2993
No, because I do need goimports functionality in addition to gofmt/gofumpt.
I've tried to set it to gofumports (just as shows in first comment) and noticed it doesn't work. Checked the docs, and noticed this:

So it looks like other values are not supported and does not work.

[2020-09-01 19:18] stamblerre commented on #2993
`gopls` currently supports `gofumpt` as an opt-in setting (`gofumpt: true` in gopls settings).

[2020-09-01 19:22] bhcleek commented on #2993
Ah, thanks, @stamblerre ! I'll add proper support for that.

[2020-09-01 19:23] powerman commented on #2993
@stamblerre Cool! Is `gopls` can use gofumports too?

[2020-09-01 19:28] stamblerre commented on #2993
`gofumports` is just a wrapper that runs both `goimports` and `gofumpt`, and `gopls` already runs import organization separately, so you will still get the behavior of `goimports` and `gofumpt` when you enable `gofumpt` in `gopls`.

[2020-09-01 19:32] bhcleek commented on #2993
What happens when you try? Although setting `g:go_fmt_command` to `gofumpt` isn't officially support, I believe it will work and testing on my local machine confirms that it does.

There are now separate options to configure `goimports` to be rearranged on save, too. See `:help g:go_imports_autosave` and `:help g:go_imports_mode`.

[2020-09-01 20:50] rjshrjndrn opened #2995 "Folding acts weird"
### What did you do? (required: The issue will be **closed** when not provided)
enable foldmethod as syntax

### What did you expect to happen?
Have a proper fold with fuctions and vars
**Sample code**
[code]
![image](https://user-images.githubusercontent.com/2563385/91904436-8bb61d00-ecc2-11ea-8f86-0443e7a4c9ba.png)

### What happened instead?
vars fold eats up functions fold also
![image](https:

[2020-09-01 21:46] bhcleek commented on #2995
If it's folding as you expect after `GoFmt`, what's the difference betwen your file pre and post formatting?

[2020-09-02 06:23] rjshrjndrn commented on #2995
1. open go file:
    Can't see Fold3 ( see image 2)
2. :GoFmt
     Able to see Fold3 ( image 1)

[2020-09-02 17:34] bhcleek commented on #2995
I see image 1 when opening a file with the contents you provided in your description.

[2020-09-02 18:22] ryanmcnamara opened #2996 "Option to build all packages recursively `go build ./...`"
A frequent use case I have is that I want to build all packages in a go repository and have one quick fix list to browse through. Without this option I find myself going to the command line (out of vim) and recursively building.

I expected `:GoBuild ./...` to do this, since `go build ./...` does do what I want, but it did not work.

### What did you do? (required: The issue will be **closed** whe

[2020-09-03 04:28] rjshrjndrn commented on #2995
Sorry, I didn't get you.

To clarify things,

Image1 is the **expected behavior** ( which is not happening when you open the go file)

Image2 is the **actual behaviour** ( when you open a go file, this is the folding I've, untill I manually run a `:GoFmt`)

[2020-09-03 05:37] bhcleek commented on #2995
I'm seeing image 1 when I open a go file that has the contents that you provided your description; I'm not able to duplicate the behavior you're describing.

[2020-09-03 19:46] strogiyotec opened #2997 "How to change debug highlight color"
Good day , I have a problem with GoDebug specifically I don't like highlight color.Here is the screenshot
![image](https://user-images.githubusercontent.com/20584185/92160037-3e7d9c80-ede3-11ea-9e21-bf87ee3623d1.png)

As you can see this color hides the code so I want to change this color to something like white. According to **:help vim-go** I can disable this highlight using
[code]
But is it pos

[2020-09-03 20:01] bhcleek commented on #2997
Yes, you can customize all the highlighting groups by providing overriding the group in an `after/syntax/go.vim` file.

Alternatively, you _should_ also be able to set them in your vimrc, but for that to work you'll need to wait for https://github.com/fatih/vim-go/pull/2998 to be merged.

The highlight group you'd want to define is `GoDebugCurrent`. You can see how vim-go defines it in the [`synta

[2020-09-03 20:25] strogiyotec commented on #2997
@bhcleek Thank you for response, so as far as I understand I have to fork this repo and change go.vim directly, I don't want to synchronize my  fork and main repo so I will wait for your pull request to be merged

[2020-09-03 22:33] bhcleek commented on #2997
You do not have to wait for #2998 to be merged; you can put your preferred configuration for `GoDebugCurrent` in a `after/syntax/go.vim` file within a directory in your runtimepath.

[2020-09-04 04:25] rjshrjndrn commented on #2995
oh.. I'm using coc.nvim, would that cause this behaviour ?

[2020-09-04 05:15] bhcleek commented on #2995
I don't know; try disabling all plugins other than vim-go. Do you still see the issue when vim-go is the only plugin?

[2020-09-04 07:30] bhcleek commented on #2996
`:GoBuild ./...` builds all packages in or below the working directory.

[2020-09-04 08:08] powerman commented on #2993
Well, actually it works, thanks! Even setting it to `gofumports` works as expected. Not sure why it didn't work when I tried for the first time, before opening the issue, sorry.

I've also tried to use `gopls` to get goimports functionality, and while it works it reformat `import ()` section is unusual way (without surrounding empty lines), e.g.:
[code]
(@stamblerre Should I report this as separat

[2020-09-04 12:13] roy2220 opened #2999 "s:handleLocations() with poor performance"
When `:GoReferrers` results a long list (N ~=1000), there is a significant delay.
The profile shows that `s:handleLocations` should be blamed:
[code]

[2020-09-04 14:09] ericwq commented on #2760
see [this](https://github.com/ericwq/golangIDE/blob/master/shared-gopls-daemon.md) for the reason.

[2020-09-04 15:26] bhcleek commented on #2999
It's _possible_ that this might be able to be improved.

Can you provide some code and a location within it to test with?

[2020-09-04 16:08] stamblerre commented on #2993
I haven't heard reports of this issue before, but you can easily check if it's caused by `gopls` (without `gofumpt`) by running `gopls imports /path/to/file.go` on the command line. If it is indeed `gopls`, please file a new issue [here](https://github.com/golang/go/issues/new) with an example of the code that reproduces the problem.

[2020-09-04 16:21] powerman commented on #2993
At a glance it looks like there is both an issue with vim-go and gopls (a different ones).

Relevant part of vim-go setup:
[code]

[code]

[2020-09-04 16:22] roy2220 commented on #2999
@bhcleek 👌 Here is the code: https://gist.github.com/roy2220/16fa3502893e486d911a213c20e19f8d
`:GoReferrers` on `Println` causes quite a lot of delay on my laptop.

[2020-09-04 16:31] powerman commented on #2993
@bhcleek Sorry for moving discussion from one issue to another here. Should I close this one and open another about described above `gopls imports` issue or just change title of this one?

[2020-09-04 16:41] bhcleek commented on #2993
This isn't the place to talk about gopls bugs generally.

I'm leaving this open until #2994 is merged.

[2020-09-04 16:44] powerman commented on #2993
@bhcleek I was talking not about gopls issue (I've already opened https://github.com/golang/go/issues/41225), but about vim-go behaviour for using gopls as fmt/imports, which produces different output to `gopls imports` - see above.

[2020-09-04 17:30] bhcleek commented on #2993
Feel free to open a separate issue about using `gopls` for adjusting imports when `let g:go_imports_mode='gopls'` if you want; that's a separate issue from your original description, and it's much easier to keep track of things when GitHub issues are focused on a single topic.

[2020-09-04 17:31] #2991 closed

[2020-09-04 19:22] powerman opened #3000 "Using gopls as goimports replacement produce wrong formatting"
### What did you do? (required: The issue will be **closed** when not provided)

[code]

Open and save file with this contents:

[code]

The result will be:

[code]

which is weird because `gopls imports` executed in console produce a bit different result:

[code]

### What did you expect to happen?

vim-go output should match `gopls imports`'s one.
A bit more details are in https://github.com/fat

[2020-09-04 21:06] rjshrjndrn commented on #2995
I think some other plugin is messing up this. Thanks for helping to figure that out. Closing this issue.

[2020-09-04 21:06] #2995 closed

[2020-09-06 09:51] powerman opened #3002 "Using gofumports as goimports replacement produce wrong import"
### What did you do? (required: The issue will be **closed** when not provided)

Prepare example code:
[code]

Now, in command line both `goimports` and `gofumports` produce valid result (won't change `bug.go`), but vim-go with `let g:go_fmt_command = 'gofumports'` adds invalid import (with `let g:go_fmt_command = 'goimports'` it'll produce valid result - don't add or remove that import):
[code]

[2020-09-06 17:02] #2997 closed

[2020-09-06 17:12] bhcleek commented on #3002
While you're free to use `let g:go_fmt_command=go_fumports`, it is not officially supported by vim-go.

[2020-09-06 17:12] #3002 closed

[2020-09-06 17:24] powerman commented on #3002
@bhcleek I know it's not officially supported. What do you recommend me to do this this case? Maintain own vim-go fork or there is a way to somehow configure vim-go to handle this issue?

At a glance the patch is trivial (I've tested it fix this issue, but can't guarantee gofumports support won't ever need other changes, of course):
[code]

[2020-09-06 17:38] #2993 closed

[2020-09-06 17:45] #2996 closed

[2020-09-06 18:28] #3000 closed

[2020-09-06 18:52] bhcleek commented on #3002
I'd recommend that you use `gopls` to format via `g:go_fmt_command` and leverage vim-go's new setting to cause `gopls` to use `gofumpt` by adding `let g:go_gopls_gofumpt=v:true` to your vimrc. From there, you can use the usual settings to adjust imports with either `gopls` or `goimports`.

Alternatively, if you're set on using the `gofumports` binary, the simplest thing is probably to add a symbol

[2020-09-06 19:08] bhcleek commented on #2999
Most of the performance of `s:handleLocations` is dependent on the `getbufline()` and `readfile()` calls. I've tried a few algorithmic changes, but none resulted in better performance. I don't see a good solution to this and in any case, getting 1000 locations is a relative edge case.

[2020-09-06 19:08] #2999 closed

[2020-09-07 09:46] kaydxh commented on #2673
I debugged this issue and found that go binary file is  a linux platform format file in GOPATH,  but I work on macbook. And I replace it by mac platform binary go file. It works ok

[2020-09-07 20:41] haomingw opened #3009 "Invalid expression: go#config#GoplsGofumpt() because of conflict with vim-polyglot"
### What did you do? (required: The issue will be **closed** when not provided)
Open a .go file

### What did you expect to happen?

### What happened instead?
vim-go: initializing gopls
vim-go: initialized gopls
Error detected while processing function <SNR>94_on_stdout[1]..<SNR>94_neocb[58]
..7[8]..8[4]..go#lsp#message#ConfigurationResult:
line   22:
E117: Unknown function: go#config#GoplsGofump

[2020-09-07 21:11] bhcleek commented on #3009
This is addressed in the troubleshooting section of vim-go's help file: https://github.com/fatih/vim-go/blob/master/doc/vim-go.txt#L2508-L2512

[2020-09-07 21:11] #3009 closed

[2020-09-08 14:56] kernel-panic96 opened #3012 "Key mappings only active during debugging"
Would you be interested in a PR where a debug editing mode is simulated. In which a user can define a key mapping which is active only when a debug session is in place and the user's mappings are restored afterwards. This will allow you to make mappings that are more natural like 'c' for continue without losing the builtin vim 'c' change semantics.

I wrote an extension a while back that does this

[2020-09-08 15:01] kernel-panic96 commented on #3012
Could potentially solve #1788

[2020-09-08 18:33] bhcleek commented on #3012
Yeah, that would be very useful.

I'd like to keep it as minimal as possible, though; it should be relatively easy to wire into vim-go without having to make some of the changes that you made in the extension. WDYT?

[2020-09-09 14:40] kernel-panic96 commented on #3012
If you are referring to the other commands related to breakpoints, I agree. If you want me to strip down something from the debug mode implementation please elaborate.

[2020-09-09 16:05] bhcleek commented on #3012
Yeah, I think it was all the breakpoint commands and related functions that I was thinking of. If you think there are changes to the features that support breakpoints in vim-go that we should make, I'd be happy to talk about that in a separate issue/pr.

[2020-09-09 20:24] kernel-panic96 commented on #3012
Cool. I'll take a look at the code base and get back to you with a PR or questions

[2020-09-15 22:39] g00nix commented on #502
I have two systems that work perfectly with [this .vimrc](https://gitlab.com/gun1x/dotfiles/-/blob/master/.vimrc). The important settings are:
[code]
Both systems are Arch, with latest packages:
[code]

However I installed yesterday a new desktop with the exact same packages, exact same versions, I updated the go binaries on all 3 systems so all 3 systems are the same... However on the new desktop

[2020-09-16 15:51] vendion opened #3014 "The `g:go_gopls_gofumpt` setting doesn't seem to work"
### What did you expect to happen?

When vim-go executes the set `g:go_fmt_command` (in my case set to `gopls`) and the `g:go_gopls_gofumpt` setting is set for the code to be formatted based on `gofumpt` so that when `golang-ci` is ran it doesn't find such problems.

### What happened instead?

After vim-go runs gopls to format the file if `golang-ci` is also ran on that same file it reports the f

[2020-09-16 17:31] ayjayt commented on #502
We might need to open a new pull request. I think this is still happening
with me, I think I ended up just turning folds off completely.

If you run `:GoInstallBinaries` and `:GoUpdateBinaries` which updates
vim-go's dependencies on the old systems, you might start getting the error?

I don't believe the current maintainer gets notifs for closed issues like
this.

"All the devil requires is acquie

[2020-09-16 17:46] g00nix commented on #502
I already tried `:GoInstallBinaries` and `:GoUpdateBinaries` to upgrade binaries on the old systems, and I do not have the bug on the old system, but I do have the bug on the new one. All have the same packages.

[2020-09-16 18:48] aernan commented on #2374
I had all the same issues. I had installed golang via homebrew. Running go install commands via bash turned up an error in go. I was able to upgrade golang via homebrew then the issues went away.

Turns out old version of Golang was the issue.

[2020-09-17 12:04] ygworldr opened #3015 "Error is detected but no extra information is provided."
# What did you do? (required: The issue will be **closed** when not provided)

Created a simple go file with an error. There is no indication as to what the error is.

### What did you expect to happen?

I expected to see a reason why the code is wrong.

For example, this is Python:

![screenshot-2](https://user-images.githubusercontent.com/62601401/93467498-b4a2f880-f8e5-11ea-970f-f6ea3e6a7075.pn

[2020-09-17 15:20] bhcleek commented on #3014
do you have an example file that I can test this with?

[2020-09-17 15:21] bhcleek commented on #502
Feel free to open a new issue if you believe something is wrong with vim-go.

[2020-09-17 15:22] bhcleek commented on #3015
`:GoDiagnostics` will show you the error.

[2020-09-17 23:27] xdg commented on #1962
If it's a conflict with vim-polyglot, try loading that after vim-go.  See https://github.com/sheerun/vim-polyglot/issues/309.

[2020-09-18 01:29] vendion commented on #3014
Here is a simple example that I can reproduce this with

[code]

Running `golangci-lint` with the following config produces the error

[code]

Error: `main.go:10: File is not `gofumpt`-ed (gofumpt)`

[2020-09-18 02:13] bhcleek commented on #3014
`g:go_gopls_gofumpt` needs to be `v:true`, not `1`.

[2020-09-18 22:44] vendion commented on #3014
Okay thanks, I wasn't entirely sure from looking at the docs for it.

[2020-09-18 23:37] bhcleek commented on #3014
https://github.com/fatih/vim-go/pull/3016 will clarify the docs.

[2020-09-18 23:37] #3014 closed

[2020-09-20 14:16] kernel-panic96 commented on #3012
@bhcleek Where do you think is the most appropriate place the code? The obvious places to me are go#debug#Start, go#debug#Stop and go#test#Test.

I have a concern for go#debug#Stop that it won't get called if the program exits on it's own. Is there any callback when dlv finishes the program?

[2020-09-20 23:06] bhcleek commented on #3012
`go#debug#Stop` does get called whenever delve exits: https://github.com/fatih/vim-go/blob/master/autoload/go/debug.vim#L1121-L1124

I'd expect this to be implemented in a couple of places:
* configuration of the mappings in `s:continue` where the mappings are already configured
* restore the mappings in `go#debug#Stop` where the autogroup is already cleared.

[2020-09-21 01:08] YvesZHI opened #3020 "Debugger caused the quitting of some other plugins"
### What did you do?
I installed Vim-go and other plugins, such as Nerdtree for my vim.
I entered my vim with all of plugins executed as expected, such as Nerdtree.
Then I typed `:GoDebugStart .` to try to debug with Vim-go.

Before typing `:GoDebugStart .`, one window for the file `main.go` and one window for the plugin Nerdtree are opened. The cursor is in the `main.go`.
![image](https://user-im

[2020-09-21 03:03] #2940 closed

[2020-09-21 03:16] bhcleek commented on #3014
FWIW, `g:go_gopls_gofumpt` can now be truthy values; it doesn't have to be `v:true` or `v:false` since #3017.

[2020-09-21 03:26] #2931 closed

[2020-09-21 18:06] MartinezCatriel commented on #2603
This worked fine for me.
I'm using vim-go.

[2020-09-21 22:46] powerman opened #3023 "How to get buffer-local g:go_gopls_local effect"
Is there a way to get same effect as this (from vim-go docs):
[code]
when using `let g:go_imports_mode = 'gopls'`?

This works, but it isn't buffer-local, so when I've opened files from several projects at once it doesn't work correctly:
[code]

I've also tried to move this into `autocmd BufEnter *.go`… which is probably works but in general it feels wrong to change global vars this way and also i

[2020-09-22 00:27] bhcleek commented on #3023
It's not possible with vim-go currently to fully replicate what you're doing with goimports.

You can control the local imports using `g:go_gopls_local` (e.g. `let g:go_gopls_local = "do"`), but at present the same value is used for all workspaces.

[2020-09-22 00:37] powerman commented on #3023
If you'll decide to work on improving this it may make sense to add native support for common use case "separate imports related to current module" instead of random prefix, to avoid needs in running `go list -m` from vimrc all of time. Ideally it should be a gopls flag (сс: @stamblerre).

[2020-09-22 00:56] bhcleek commented on #3023
If `gopls` supported that, then it would certainly be possible for vim-go to support it. However, I think that the current `gopls` option is sufficient. It's relatively straightforward to add better support to vim-go for varying settings by workspace/module.

[2020-09-22 15:18] bhcleek commented on #3023
@powerman I realized that it _is_ mostly possible to do this with current features in vim-go. I'll write up some instructions for you later today.

[2020-09-23 10:37] bkielbasa opened #3024 "Refresh go modules"
### What did you do? (required: The issue will be **closed** when not provided)

I have a project where I changed a tag for a library. vim-go doesn't see the updated dependency and go-to-definition points to the out-of-date dependency. In the terminal I typed `go get` to download those dependencies. To make it work, I have to restart vim.

### Configuration (**MUST** fill this out):

#### vim-go v

[2020-09-23 18:01] bhcleek commented on #3024
Can you be more specific about the structure of the project, what files within it you changed, and how you effected the change?

[2020-09-24 01:38] bhcleek commented on #3023
After looking at vim-go's features again, it doesn't support what you're trying to do here in a way that you can rely on.

As I'm considering how to do this, can you explain your workflow a little bit? A `gopls` debug log (`let g:go_debug=['lsp']`) would be helpful, too.

Specifically:
1. what directory do you start in?
1. do you use `:GoAddWorkspace`?

[2020-09-24 08:01] bkielbasa commented on #3024
Here's what I did. I put into go.mod file a library with a specific tag. Le'ts say it's `v1.0`. Run `vim .` in the project root and continue working. After a some time I edited the `go.mod` file and put `v1.1` in the dependency (updated it).

I saved the `go.mod` file, typed `:term` and executed `go get` to download the dependency update. It succeeds.

Without closing vim, I work in the project bu

[2020-09-24 08:08] bkielbasa opened #3025 "Run project not in main package"
## The problem
When I'm working on a project, very often I edit files in sub-packages. When I want to run the project I have to jump to the main package and call `:GoRun` there. That can be frustrating at some point.

## The proposal
vim-go could try to detect the main package in the project tree up to the workspace root.

[code]

During editing `file.go` or `file2.go` I'd like to be able to run t

[2020-09-24 12:38] powerman commented on #3023
I don't use `:GoAddWorkspace` (no idea what's it and when to use it, TBH).
I'm usually run `vim file.go /path/to/other/similar/project/file.go` and do compare and update/sync files (which will open in tabs). Which means I'll modify and change both of them, but they're from different dirs/go modules.

[2020-09-24 15:27] bhcleek commented on #3023
`gopls` works with workspaces, and the local imports prefix is per workspace. If you want to use `let g:go_imports_mode='gopls'` and work with different projects, then you'd need to start using `:GoAddWorkspace` to control your workspaces.

As it currently exists, vim-go applies the same settings to each workspace, but that can be changed relatively easily and I'm working on that in a local branch

[2020-09-24 16:49] bhcleek commented on #3025
This isn't really possible to do in a way that's always going to be correct, because vim-go is not a Go parser. There are a number of situations where the suggested feature would run into irreconcilable difficulties:
1. some `main` package in a parent directory is fully guarded by build tags; how should those build constraints be evaluated for whether or not `:GoRun` should treat the package as th

[2020-09-24 16:49] #3025 closed

[2020-09-24 16:52] #3015 closed

[2020-09-24 16:53] bhcleek commented on #3024
This is a duplicate of #2697

[2020-09-24 16:53] #3024 closed

[2020-09-24 18:24] mnarrell opened #3026 "go#lsp#DidChange[25] on save"
### What did you do? (required: The issue will be **closed** when not provided)
I saved a file after making regular edits

### What did you expect to happen?

### What happened instead?

|| Error detected while processing function
|| go#lsp#DidChange[25]
|| 33[47]
|| 36[11]
|| E900: Invalid channel id
|| E553: No more items
|| E553: No more items
|| E553: No more items
|| Error detected while proc

[2020-09-24 18:29] bhcleek commented on #3026
Can you provide the debug log for gopls by adding `let g:go_debug=["lsp"]` to your vimrc, duplicating the error, and pasting the debug output here?

Also, how can I duplicate this?

[2020-09-24 18:41] mnarrell commented on #3026
I'm not sure how to reproduce this reliably, but it happens often.  I'll try to capture some lsp output.

[2020-09-24 18:44] mnarrell commented on #3026
Ok, I've caught it, however the source content has sensitive info.  Is there a way to send this to you directly?

[2020-09-24 19:07] mnarrell commented on #3026
I believe this happens if i have one project with a Go module configuration I'm working on, within the same active VIM session, i open a file in a separate project with a different Go module configuration.  That kills the `gopls` server(s).

This just started with `gopls` `0.5.0`:

[code]

[2020-09-24 19:19] bhcleek commented on #3026
That's not too surprising then. Try leveraging `:GoAddWorkspace` to add a new workspace all but the the first module you start editing.

@stamblerre is this related to https://github.com/golang/go/issues/32394 ?

[2020-09-24 19:25] bhcleek commented on #3026
You could send it to me as a file encrypted with my public SSH key or with gpg if you want.
* Here are my ssh public keys: https://api.github.com/users/bhcleek/keys.
* Here is my gpg public key: http://keys.gnupg.net/pks/lookup?search=bhcleek%40gmail.com&fingerprint=on&op=index

I also don't need the source code that may be in that debug log; you could elide it and provide the rest unencrypted her

[2020-09-24 19:30] mnarrell commented on #3026
I don't think we need to share the code now, this is in fact what's happening with switching workspaces.  Adding the second project via `GoAddWorkspace` addresses this issue.

[2020-09-24 21:33] bhcleek commented on #3026
Sounds good. I'm going to leave this open for now until I get it fixed so that you don't have to manually call `:GoAddWorkspace` for the use case you described.

[2020-09-25 08:20] ygworldr commented on #3015
@bhcleek Thank you.

[2020-09-25 17:57] tombh opened #3027 "Unattended :GoUpdateBinaries with vim-plug"
I looked in the docs and existing issues. I can't find how to run `:GoUpdateBinaries` unattended, I'm asked to press Enter for every dependency. I must have set something up wrong as I can't believe everyone is pressing Enter for all deps every time they upgrade?

[2020-09-25 18:00] bhcleek commented on #3027
This is usually due to one's `shortmess` value or a very small screen. What's does `set shortmess?` output for you?

[2020-09-26 11:54] tombh commented on #3027
Thank you so much! I feel bad this has nothing to do with vim-go. But you fixed it, I'm very happy :)

[2020-09-26 11:54] #3027 closed

[2020-09-27 11:56] robinbryce commented on #2467
It looks like this is a thing again with gopls 0.5 ?

See this gist for lsp + shell-commands log and versions etc [https://gist.github.com/robinbryce/81a39993a60c8eb2ffe5d326a32a85d6](url)
![Screenshot 2020-09-27 at 12 29 44](https://user-images.githubusercontent.com/4013001/94364403-d871f580-00c0-11eb-8434-7a98726240d9.png)

[2020-09-27 12:21] robinbryce opened #3029 ""Invalid channel id" error in go#lsp#DidChange (again?)"
#2638 # What did you do? (required: The issue will be **closed** when not provided)

GOPATH project, (GO111MODULES not set)

Opened a go file. Opened a second file. Go the error in the picture below. Susequently the error pops up every few seconds making nvim unusable.

I think this may simply be a recurrence of https://github.com/fatih/vim-go/issues/2467 for v0.5.0 of gopls ?

Reverting to gopls

[2020-09-27 16:25] bhcleek commented on #3029
Are both the files you opened in the same module?

[2020-09-27 18:15] bhcleek commented on #3026
@mnarrell can you confirm that you don't have to do `:GoAddWorkspace` explicitly with #3028  ?

[2020-09-27 19:48] bhcleek commented on #3020
Can you give me explicit instructions to duplicate this? I cannot duplicate the general case that you describe, but I think I might see a potential cause for this in the code; explicit steps to duplicate would help. Specifically, I'd need to know:
* what windows to have open when `:GoDebugStart` is run and which window the cursor should be in
* what windows to have open when `:GoDebugStop is run a

[2020-09-27 20:32] robinbryce commented on #3029
No, they were not. go-ethereum/params vs go-ethereum/cmd/geth I think

On Sun, 27 Sep 2020 at 17:25, Billie Cleek <notifications@github.com> wrote:

[2020-09-27 20:41] bhcleek commented on #3029
Currently, you'll need to use `:GoAddWorkspace` to add the second module's root directory. However, can you try #3028 to see if it works for you without having to use `:GoAddWorkspace`?

I'm marking this as a duplicate and closing, because the behavior you're describing was already reported in #3026. Feel free to let me know if #3028 works for you either on that PR or in #3026.

[2020-09-28 01:58] mnarrell commented on #3026
I'm sorry, I don't know how to do this.  When I manually clone this repo, I only get the master branch.  If I try to add this hash to the vim-plug repo, I get:

[code]

[2020-09-28 02:12] mnarrell commented on #3026
Well, if I clone from your repo (bhcleek) instead of Fatih's, I can see this branch and yes, it looks like #3028 and gopls 0.5.0 resolve this issue.

[2020-09-28 02:30] #3026 closed

[2020-09-28 02:31] YvesZHI commented on #3020
@bhcleek   I've re-edited the issue. Please check it out.

[2020-09-28 02:37] bhcleek commented on #3020
It appears that your screenshots show that the NerdTree window is closed on `:GoDebugStart`, not on `:GoDebugStop` which is contrary to your description. Can you you clarify which behavior you're seeing?

[2020-09-28 06:08] YvesZHI commented on #3020
@bhcleek   Well, you are right. but if `GoDebugStart` makes the Nerdtree close, it is OK for me. What I expected is that if I execute `GoDebugStop`, the Nerdtree should come back.

[2020-09-28 06:14] YvesZHI commented on #3020
@bhcleek  I just re-edited the issue again.
So I'm expecting that `:GoDebugStart .` won't close the window of Nerdtree, or `:GoDebugStop` can bring the window of Nerdtree back to me.

[2020-09-28 06:30] Shane-XB-Qian commented on #3026
sorry, jump in ..
but just tried sth else yesterday, i can confirm after your this change, some tools which depends on workspace had been fixed, so about `implicitly`, yes, it is, i do not need to manually do it now.

@bhcleek , but maybe silly i had 2 question,.. :)
1, was there a way to list what workspaces had been implicitly added ?
2, looks some tool still not work even implicitly added works

[2020-09-28 06:36] bhcleek commented on #3026
@Shane-XB-Qian I don't typically monitor closed issues.

Only `gopls` uses the workspaces; they have no relation to other tools. If you're seeing problems with `:GoKeyify` or other commands that do not leverage `gopls`, please open a separate issue.

[2020-09-28 06:51] Shane-XB-Qian commented on #3026
i was just about to edit previous comment, actually such 'implicitly' now is working for tools, but obvious not all cases, e.g omni compl still perhaps not working (and yes, it is 'gopls')
e.g : current outside path is '~/abc', the vim cwd is '~/abc/def/' (even this is the git repo root), and is editing '~/abc/def/ghi/xx.go', unless manually adding workspace with this ''~/abc/def/ghi/', omni not w

[2020-09-28 07:17] Shane-XB-Qian opened #3030 "GoKeyify looks not work as general."
refer: https://github.com/dominikh/go-tools/issues/834

or: to reproduce: had a struct:
[code]
now: cursor on letter '2'
`rr := Rectangle{2, 0}` cur

then run `:GoKeyify`, it reported:
`vim-go: non-zero exit code: can't find package containing` '../x.go'

### What did you expect to happen?
[code]
### What happened instead?
`vim-go: non-zero exit code: can't find package containing` '../x.go'

###

[2020-09-28 07:22] bkielbasa commented on #2697
I have the same issue as well. Any plans to fix it?

[2020-09-28 07:24] bkielbasa commented on #3025
thanks for the feedback. Is there a way putting to `:GoRun` the workspace root to evaluate it to `:GoRun /path/to/my/project`

[2020-09-28 07:43] Shane-XB-Qian commented on #3030
as ticket dominikh/go-tools#834 comment, looks vim-go should be not easy to make it work also, so close this now.
looking forward gopls would integrate keyify soon.

[2020-09-28 07:43] #3030 closed

[2020-09-28 11:35] robinbryce commented on #3029
Ah beg your pardon. Both files are in the same go module (go-ethereum).
There is a symlink in play though due to how go-etherum (quorums fork)
build system deals with GOPATH. Maybe the symlink causes gopls to *think*
there are two modules ?

On Sun, 27 Sep 2020 at 21:42, Billie Cleek <notifications@github.com> wrote:

[2020-09-28 15:03] bhcleek commented on #3029
I see. Symlinks generally will cause some problems with vim-go and Go generally for several reasons. What does your directory structure look like and where in that directory structure are the symlinks, especially as it relates to the files that you're opening?

If you're trying to do development with Go using a fork of some package in GOPATH mode, you can place your working tree of the fork at the

[2020-09-28 15:06] bhcleek commented on #3025
`:GoRun` sets the working directory to the directory that contains the active buffer.

[2020-09-28 15:07] bhcleek commented on #2697
Yes. I'm likely to fix it before the next vim-go release

[2020-09-28 15:09] bhcleek commented on #3026
@Shane-XB-Qian please open an issue describing how to duplicate the problems you're seeing with omni completion; I am unaware of any issues with gopls completion in the kind of scenario you seem to be describing.

[2020-09-28 15:10] bhcleek commented on #3020
Vim-go makes the active buffer then only window when it starts editing and then opens a windows to facilitate debugging. I don't have any current plans to change that, but I'll consider making a change before the next release.

[2020-09-28 16:29] Shane-XB-Qian opened #3031 "one case about omni compl failed."
to reproduce:
[code]
if `def` folder is not a go mod managed proj, even it is a git repo root, omni failed.
as a workaround: had to cd to `ghi` folder, then it works, or manually added `ghi`  as  workspace.
but as i said at #3026 , it was not a std proj env, so perhaps 'this is not a matter', and i am not sure if it should 'implicitly' add workspace for such case. up to you.

// env & tool version

[2020-09-28 16:31] Shane-XB-Qian commented on #3026
@bhcleek #3031 opened.

[2020-09-28 19:38] bhcleek commented on #3031
It's not possible to implicitly add a workspace for this. When you have a directory structure like this, you should use GOPATH. Basically, you have three options. The first two are of equal value as far as vim-go is concerned and the third is an option if you _must_:
1. Make sure the code is in a module.
2. Make sure the code is in GOPATH
3. make sure your current working directory is the director

[2020-09-28 19:49] Shane-XB-Qian commented on #3031
i see, and i agree with that, just for giving you a case, and a new ticket as your request.
but just option#3, for now, looks vim-go did not recognized cwd in vim, but had to really cd the pwd outside, that's a little unconvinced... is that possible to make it work ?

[2020-09-28 20:09] bhcleek commented on #3031
These two statements seem to be in conflict.

[2020-09-29 02:26] #3029 closed

[2020-09-29 02:28] bhcleek commented on #2333
Vim-go is not a language parser, and anything we try to do here operating on text would be frought with edge cases that would likely result in unresolvable issues being created.

Closing, because I do not envision this changing any time soon.

[2020-09-29 02:28] #2333 closed

[2020-09-29 06:28] Shane-XB-Qian commented on #3031
i think you got my point .. those are 2 diff things.
---
another question: if there was not only `ghi` one folder under `def`, e.g had `jkl` also,
then if i had add workspace for `ghi`, and if i now cd into `jkl`, then how was now managing the workspace, was those 2 workspace maybe conflict, or now only `jkl` is the right one, previous one `ghi` had been removed from workspace list ?
- if it would

[2020-09-29 06:33] bhcleek commented on #3031
I don't understand this additional scenario. Do you have a question about a specific set of actions and what the result would be?

[2020-09-29 06:39] Shane-XB-Qian commented on #3031
[code]
3, then now, which one was the right gopls workspace? `ghi` or `jkl`? would then impact each other?
// cwd in vim means e.g vim opened at `abc`, but vim's cwd is `def`.

[2020-09-29 07:26] nodo opened #3032 "Lists opened by :GoReferrers throw `E32 No file name error`"
### What did you do?

1. Call `:GoReferrers`
2. The command correctly open a `locationlist` or `quickfix` list (I tried both)
3. When I select an item of the list I get `E32: No file name`

### What did you expect to happen?

I expect to jump to the selected location.

### What happened instead?

An error occurred

### Configuration (**MUST** fill this out):

[code]

#### vim-go version:
Updated t

[2020-09-29 07:38] Shane-XB-Qian commented on #3031
anyway, i know this looks a little mess, and looks those a little too sensitive on path ..
perhaps better/tried to not handle such multiple-folders in one single vim instance,
easy to confuse at least, so let it be. thx reply. closing.

[2020-09-29 07:38] #3031 closed

[2020-09-29 17:14] bhcleek commented on #3032
Does this always happen? Does it matter what references you're trying to resolve? Does it happen for all lines in the quickfix window? What is the content of the quickfix window? The quickfix entries themselves would be useful, too. You can copy the the raw quickfix list to your system clipboard with
[code]

[2020-09-29 18:36] nodo commented on #3032
Thanks for helping out @bhcleek !

Yes, with all the commands of `vim-go` (also for :GoImplements)

Yes, all lines

This is an example:

[code]

For some reason the command you suggested is not working 😬

[2020-09-29 19:26] bhcleek commented on #3032
Thank you. That information is helpful and leads me to more questions:
1. Can you duplicate the problem in non-kubernetes repositories?
1. What is the full path of your working directory (`:pwd` in Vim after opening one of the go files where you're trying to do `:GoReferrers` to be certain)

Sorry about that; there were two mistakes in what I'd typed out. I've corrected the commands in my original

[2020-09-29 19:53] nodo commented on #3032
1. Yes, I have just tried with https://github.com/cli/cli same issue
2. PWD: `/Users/anodari/code/cli`

Here is the content:
[code]

And here are the entries:
[code]

Any hints of what could be wrong?

[2020-09-30 03:35] bhcleek commented on #3032
I don't see any hints here of what could be wrong yet. The fact that there are buffer numbers in the entries and that you're seeing entries at all leads me to believe that vim-go is functioning correctly.

This could have something to do with your particular config. What are your values for `autowrite` and `autowriteall` (you can see with `:set autowrite?` and `:set autowriteall?`.
1. Do you have

[2020-09-30 07:05] nodo commented on #3032
🤦 I had `nnoremap <cr> :w<cr>` in my `.vimrc`, removing it solved the problem.

Thank you so much for your help!

[2020-09-30 07:05] #3032 closed

[2020-09-30 16:14] vimalk78 opened #3033 "GoImplements never works"
### What did you do? (required: The issue will be **closed** when not provided)
Run `:GoImplements` on an interface type

### What did you expect to happen?
`vim-go` should show which all types implement the interface

### What happened instead?
vim-go stuck at :
[code]
never shows output it used to show long back. perhaps gopls doesnt support it? guru used to support it so nicely

### Configurati

[2020-09-30 16:24] vimalk78 commented on #3033
i used to be proud of this plugin, now it just forces me to move away from vim

[2020-09-30 16:36] vimalk78 commented on #2762
how do you get `:GoImplements` to work at all? for me it just never retuns any result.
ends in `vim-go: [implements] FAIL`

[2020-09-30 16:40] vimalk78 commented on #3033
https://github.com/fatih/vim-go/blob/master/doc/vim-go.txt#L1497-L1503
the docs says to configure ` let g:go_implements_mode = 'guru'`

But there is no such option
`E121: Undefined variable: go_implements_mode `

[2020-09-30 18:22] bhcleek commented on #3033
The docs are correct. You can use `guru` or `gopls` for implements mode. Guru will not work in Go modules, though, so only use it if you're using GOPATH mode.

When you use guru, the length of time that it takes to complete will depend on the size of your GOPATH (that's always been true with guru).

If you can provide some clear directions in a simple case to demonstrate the problem you're having,

[2020-09-30 18:25] vimalk78 commented on #3033
`:let g:go_implements_mode = 'guru'` on master

[2020-09-30 18:43] bhcleek commented on #3033
This works for me just fine. In any case, setting a variable on the Vim cmdline doesn't require that the variable be previously defined and vim-go is not in the codepath for effecting that assignment

[2020-09-30 18:52] vimalk78 commented on #3033
i am using v1.24 now, with default options, there are no settings changing default behavior of vim-go and with no guru scope specific settings
running `:GoImplements` on a package with 30 files takes 5-6 minutes
running `guru implements <filename>:#offset` never seems to finish

[2020-09-30 19:40] vimalk78 commented on #3033
[code]
with v1.24 i see this error.

[2020-09-30 20:52] bhcleek commented on #3033
That error message does not exist anywhere in v1.24. The error you're seeing was changed in v1.20: https://github.com/fatih/vim-go/commit/1e73ce2700748be4502e45b6e61e8261c2a3af8e#diff-08ab523bb9e4fa671fbfcbd936b8de4dR75.

I suspect you either installed an older version or you have multiple copies of vim-go in your runtimepath and an older version is being sourced first.

running guru implements <f

[2020-10-01 21:35] kernel-panic96 commented on #3012
s:continue does not seem to be called at the initial startup. I have left a comment in the PR about the default mappings that most likely is related to the place from which the mappings are initialized. It would be awesome if we can sort it out.

[2020-10-01 22:12] bhcleek commented on #3012
`s:continue` does not get called at initial startup, nor should it.

I left comments in the PR that should help you get this sorted. AFAIC, we can continue the conversation there.

[2020-10-02 23:01] pedromss opened #3037 "Usability improvement: run GoImports on buf write pre"
This is a suggestion to improve (imo) the usability of the plugin out of the box.

I find my self using `:GoImports` alot to automatically fix the imports that either aren't used or are missing. The problem is I sometimes only remember to run it when I attempt to run my program and compilation files, at which time I switch back to the buffer and run `:GoImports`.

So I updated my vim configs with:

[2020-10-02 23:24] pedromss commented on #2934
Those line refs don't seem to point to the meaningful place. Looking it I would say it would be here https://github.com/fatih/vim-go/blob/master/autoload/go/debug.vim#L743 (~ 100 lines below).

Would this option be set always or opt in for example with `g:go_dlv_flags` ?

[2020-10-02 23:37] bhcleek commented on #3033
Based on one of your recent comments, "running :GoImplements on a package with 30 files takes 5-6 minutes," it sounds like your original reason for opening this issue is resolved.

Are you still having problems, or should we close this?

[2020-10-02 23:39] bhcleek commented on #3037
Vim-go supports adjusting imports on save. The fastest way to get it working is by adding `let g:go_fmt_command='goimports'` to your vimrc.

See `:help g:go_fmt_command`, `:help g:go_imports_mode`, `:help g:go_fmt_autosave`, and `help g:go_imports_autosave`.

[2020-10-02 23:44] #3037 closed

[2020-10-02 23:50] bhcleek commented on #2934
The position of the relevant line has changed since my previous comments, but you found its new position.

I'd prefer to not allow arbitrary flags. For this, we'd probably want a specific option: `g:go_debug_multiclient`.

[2020-10-02 23:56] pedromss commented on #2934
Can I give it a go or is this something you'd prefer doing yourself?

[2020-10-03 00:02] bhcleek commented on #2934
I'd be happy to review a PR. Keep in mind that the client currently kills the process being debugged when it exits. That will need to be made conditional on whether the client is a multiclient or not.

[2020-10-03 10:14] pedromss commented on #2934
Ok, so far here's what I found:

Starting the `dlv` server to accept multi clients is straitforward, just add `--accept-multiclient` and thats it. Then on a new terminal use `dlv connect <addr>` and we're good.

However when we enter commands on the terminal client, the vim-go client doesn't get notified that a command was actually executed.

As a simple example consider:
[code]

If we have breakp

[2020-10-03 13:38] vimalk78 commented on #3033
Thanks a lot for your kind response. I was mistakenly using v1.9 , with v1.24 and setting `g:go_implements_mode` to `gopls` , `:GoImplements` works nicely

although i found an issue while running `:GoImplements` on a struct. the resulting location list is not browsable by using `cnext`
i need to switch to the location list window, and do a `cc` to follow the location

[2020-10-03 13:39] #3033 closed

[2020-10-03 15:38] bhcleek commented on #3033
i need to switch to the location list window, and do a cc to follow the location

That's because the default list for `:GoImplements` is the location list, not the quickfix list. You can control that with `g:go_list_type` or `g:go_list_type_commands`, but `:cc` will never work to navigate the location list; `ll` is the normal mode command to go to the first item in the location list.

[2020-10-06 09:33] cybaol opened #3042 ":GoUpdateBinaries reinstall all Binaries"
### What did you do? (required: The issue will be **closed** when not provided)
optimize   :GoUpdateBinaries

execute :GoUpdateBinaries

### What did you expect to happen?

firstly, check whether update
if no any new version Binaries, skip update
otherwise update Binaries

### What happened instead?

reinstall all Binaries, though no any new version Binaries
in other words,  :GoUpdateBinaries is e

[2020-10-07 04:34] stamblerre opened #3043 "Start gopls by running `gopls serve`"
We are trying to improve the `gopls` CLI experience by not defaulting to starting the server when a user runs just `gopls` on the command-line (https://github.com/golang/go/issues/41282). `gopls` already has a `gopls serve` command which can be used instead. We're asking all language client owners to switch to starting `gopls` via `gopls serve`. There's no rush on this, but just wanted to file an

[2020-10-07 04:36] bhcleek commented on #3043
Thanks, @stamblerre . I'll prioritize this and try to get it done ASAP.

[2020-10-08 02:18] bhcleek commented on #3043
@stamblerre `gopls serve` doesn't seem to support `-remote=auto`. Is that intentional or an oversight? `gopls -remote=auto serve` seems to work, but that makes it a bit difficult to know how options for starting the server should be passed to gopls. 🤔

[2020-10-08 03:28] stamblerre commented on #3043
Yes, I'm sorry about the trouble--it looks like it will be difficult to ask clients to make the switch until the flags work when they are passed in to `gopls` or into `gopls serve`. I filed https://github.com/golang/go/issues/41860 to track that, and https://github.com/golang/go/issues/41282 will be blocked until that issue is resolved, so there's no actionable work required on your part for now.

[2020-10-08 04:46] bhcleek commented on #3043
No worries. I appreciate the heads up. Let's leave this open for now.

For what it's worth, this will be a very easy change in vim-go

[2020-10-09 07:45] bhcleek commented on #3042
This effectively already occurs. Are you seeing some behavior that makes you think otherwise?

[2020-10-09 08:03] bhcleek commented on #2979
Although some of the binaries are not modules, Go can still handle that situation without polluting GOPATH. Vim-go has taken advantage of that for since last year. Although vim-go changes into a temporary directory, it's not used, though there is one possible future case where using `GO111MODULE=off` may be useful again, so I'm going to leave the code in for now even though it's not used.

[2020-10-09 08:03] #2979 closed

[2020-10-09 09:22] Gnoale opened #3045 "Unexpected formatting behaviour"
### What did you do? (required: The issue will be **closed** when not provided)

I am trying to edit a source file inside my $GOPATH for debugging purpose (an external library installed through go mod)

I have 2 issues :

- First :
Whenever I added a `fmt.Println` statement in the code, on saving, the statement where systematically removed.
I expected that the plugin will add a "fmt" import as it

[2020-10-09 16:45] bhcleek commented on #3045
I believe this is already fixed in a later vim-go version. Please try upgrading your vim-go to either the latest release, [v1.24](https://github.com/fatih/vim-go/releases/tag/v1.24), or the latest on master.

[2020-10-09 16:54] Gnoale commented on #3045
I pulled latest from master, and updated the modules.
It works fine in my working repository, however, I reproduce the issue of editing a source file from a package in my gopath : when saving the line disappear :?
But maybe that's expected as you're not really supposed to hack files inside this repository as they are read only by default...

[2020-10-09 17:14] bhcleek commented on #3045
I'm not quite sure how to duplicate the problem you're describing. Can you clarify how I could attempt to duplicate this?

[2020-10-09 20:38] pedromss commented on #3045
@Gnoale I'm using vim-go 1.24 and I can edit and save files with no problem inside the go path. Packages that I've installed with `go get`.  My setup is different than yours, neovim instead of vim and my vimrc is very full, but the point I want to make is that you should be able to edit `*.go` files in you `GOPATH/src` dir, vim-go doesn't stop me from doing that.

[2020-10-11 11:31] saurabh-kushwah commented on #145
Function and function calls both slow down completion. For me function call and fields highlighting slowed down.

[code]

[2020-10-12 07:35] Gnoale commented on #3045
@bhcleek you can edit a file inside the module cache path `/go/pkg/mod/` (I just learned it's called like that)
change the file permission you want to edit to 666 (it should be 444 by default)
Insert a `fmt.Println("test")` statement inside any function
write the file (the statement get removed in my case)

[2020-10-12 08:08] Gnoale commented on #3045
also, I tried to set the cache to rw as explained [here](https://golang.org/ref/mod#module-cache) to check if it change something `go env -w GOFLAGS=-modcacherw`
after cleaning `go clean -modcache`, the files are still read only, I'm not sure why...
[code]
**But** now, I can insert my print statement (still, I have to change the file permission of course) and it works as expected !
so maybe that's

[2020-10-14 21:17] bhcleek commented on #3045
Yes, vim-go cannot magically write files that are not writeable. However, I'd expect Vim to show you an error when you attempt to write a readonly file.

[2020-10-15 02:52] #3012 closed

[2020-10-15 03:40] bhcleek commented on #1788
Closed by #3035

[2020-10-15 03:40] #1788 closed

[2020-10-15 07:10] Gnoale commented on #3045
I'm not talking about magic since I changed the file permission **before** writing to it, in both cases (with or without modcacherw)

[2020-10-15 15:31] bhcleek commented on #3045
Your section in the original report about your vimrc doesn't indicate that you have any of vim-go's options set. Is that accurate? If so, then you're using `gofmt` for formatting and all vim-go does is shell out to format and then re-read the file into your buffer 🤔

[2020-10-15 15:58] Gnoale commented on #3045
Exactly, except that since the update I added `let g:go_imports_autosave = 1` because it is not default anymore.

[2020-10-15 16:33] bhcleek commented on #3045
You don't need to enable `g:go_imports_autosave` unless `g:go_fmt_command` is set to `gopls`. Instead, you can `let g:go_fmt_command='goimports` and it will be both format and adjust imports on saving even when `g:go_imports_autosave` is disabled.

[2020-10-15 17:27] vcavallo commented on #2923
I'm having the same issue with coc.vim - when vim-go is using gopls (even with -remote=auto) there are many instances of gopls spawned.

[2020-10-16 13:38] ianzhang366 opened #3049 "go-build open quickfix in a new buffer"
### What did you do? (required: The issue will be **closed** when not provided)
Recently, I'm seeing the `:GoBuild` command is somehow open the quickfix window in a new buffer.

### What did you expect to happen?
What I did was, first add some random line in the go file, then do `<leader>b`

It will open the quickfix with error info at the bottom of the current window/buffer, which is expected.

!

[2020-10-16 18:49] bhcleek commented on #3049
I've seen this once before, but we never got to the bottom of it.

Is the `vimrc` file you provided the full vimrc, or have you elided portions?

If we want to figure out what's going on here, can you please try duplicating this issue with as minimal vimrc file as possible and without any Vim plugins other than vim-go?

[2020-10-16 18:55] bhcleek commented on #3045
I can duplicate the issue you're seeing with `gofmt` at the commandline. That's not totally surprising; the module source cache is not intended to be edited. Unfortunately, `gofmt` doesn't show any errors when you try formatting a file in the module cache.

In any case, I don't think there's anything that vim-go can do about this.

[2020-10-17 00:12] ianzhang366 commented on #3049
Hi, @bhcleek  thanks for your reply.

Here's the full `vimrc`

[code]

I also went to minimal `vimrc` only with `vim-go`, I wasn't able to reproduce the issue.

Then I started adding plugins back one by one till the above settings, I'm still not able to reproduce the issue as well.

The only different thing might relate to this, I can remember of was the most recent macOS big Sur beta update.  Rig

[2020-10-17 01:55] bhcleek commented on #3049
Since you can't duplicate this now, how do you feel about closing this?

[2020-10-17 01:58] ianzhang366 commented on #3049
sure, let's close this one, if it happens again, I will reopen

[2020-10-17 01:58] #3049 closed

[2020-10-17 02:03] bhcleek commented on #3045
In general, if you want to see what vim-go is running, you can `let g:go_debug = ['shell-commands']`, do the operation, and see the command and arguments that it ran. You can then run the command manually on the command line to see if the problem is with vim-go or with the tool to which it delegates. Commands are run in the directory that contains the file for the active buffer.

[2020-10-17 02:03] #3045 closed

[2020-10-17 02:52] #3042 closed

[2020-10-17 02:55] bhcleek commented on #2934
I'd have to look more closely to know for sure.

There's a logging window that shows all the interaction with the debugger; it should reveal whether dlv is sending any info to the vim-go client.

[2020-10-17 02:56] #2003 closed

[2020-10-17 03:03] #2425 closed

[2020-10-17 07:20] bhcleek commented on #3020
We might be able to use `:mksession` to save the current window and buffer layout and then use `:source` at the end of debugging to restore the session 🤔

@YvesZHI you do not have to wait for this to be added to vim-go: you can run `:mksession` now before starting debugging and then use `:source` to reload the session file.

[2020-10-17 08:18] #772 closed

[2020-10-17 08:27] addy1997 commented on #2700
Hello there,
Hello there,
I wrote a code on Radix sort in go and I  am getting these errors while testing. Please help.

 level=warning msg="[runner] Can't run linter unused: buildir: analysis skipped: errors in package: [-: found packages sorts (bubblesort.go) and main (radixSort.go) in /home/runner/work/Go/Go/sorts]"

  **level=error msg="Running error: buildir: analysis skipped: errors in packa

[2020-10-17 08:48] BraveSoldier opened #3051 "how to use new defination const from personal module in go mod environment"
I'am so sorry. I wasn't sure if the issue template was appropriate for this. but,I still hope ask.

I can't direct quote my module's new defination const when i update my module and 'go get -u 'my module' && go mod tidy'.  It just can be used when I must close vim and reopen it every time.

GO111MODULE="on"

Forgive my pool english.

thanks.

[2020-10-17 15:24] bhcleek commented on #3051
Yes, if you modify the module file, then you will need to restart your vim session to pick up those changes until https://github.com/fatih/vim-go/issues/2697 is resolved.

[2020-10-17 15:26] bhcleek commented on #2700
@addy1997 you have two different packages defined. `bubblesort.go` declares the package to be named `sorts` and `radixSort.go` declares the package to be named `main`.

[2020-10-17 15:27] #2636 closed

[2020-10-17 17:05] bhcleek commented on #2636
#3050 resolved this initially with a further modification in #3052.

[2020-10-17 18:31] bhcleek commented on #3023
@powerman do you want to give #3053 a try to make sure it provides the behavior you're expecting?

Generally, you'd want to do something like this:
[code]

[2020-10-17 18:43] powerman commented on #3023
Yes, thanks, I'll try it now… just need to figure out how to pull commit from non-origin repo using `git subrepo` (which I use to manage vim plugins).

[2020-10-17 18:47] bhcleek commented on #3023
Be aware that I haven't tested that particular incantation, but the concept is right.

[2020-10-17 18:49] bhcleek commented on #3023
If you like git subrepo, you might want to check out git subtree - it ships with git; I find it to be a much better experience than submodules. I use it to manage my vim plugins.

[2020-10-17 18:50] bhcleek commented on #3023
Oh, and you _can_ pull directly from fatih/vim-go: use `refs/pull/3053/head` as the ref

[2020-10-17 19:10] powerman commented on #3023
No, looks like it doesn't work.

I belive key/value in your example above should be swapped, i.e. it should be:
[code]
But in both cases I found local import prefix doesn't work anymore, even when just a single file is opened.

[2020-10-17 19:15] bhcleek commented on #3023
You're right; the key and value need to be swapped. Try this in your vimrc, it works for me:
[code]

[2020-10-17 19:21] powerman commented on #3023
Nope, this one doesn't work too.

I've just saved the file, so imports should be rearranged into three paragraphs, but this isn't happens. Also I've added output of `echo g:go_gopls_local` on same screen:

![изображение](https://user-images.githubusercontent.com/1354301/96351839-85d39a00-10be-11eb-9b55-b9089d04642d.png)

Vim was started by (starting from go module's root): `cd ms/example/internal/

[2020-10-17 19:24] powerman commented on #3023
Here is my whole vim-go related part of vimrc, just in case:

[code]

[2020-10-17 19:24] bhcleek commented on #3023
Yeah, I think I see what's going on. I'll make a change to #3053 and let you know when I think I have this fixed again. Thank you for your help.

[2020-10-17 20:19] bhcleek commented on #3023
@powerman please give it another try when you have a chance; I was able to find the source of the problem you were encountering and pushed a fix to the PR.

Also, here's a  more correct version of `s:setlocal`:
[code]

[2020-10-17 20:31] powerman commented on #3023
Nope, still doesn't work. This time `echo g:go_gopls_local ` output is `{'/home/powerman/proj/go/go-monolith-example/ms/example/internal/config': 'github.com/powerman/go-mo
nolith-example'}`.

After changing vimrc as shown below, just to make sure, re-running vim and saving the file - imports got reordered into 3 paragraphs, as it should be:
[code]

And yes, I'm using the latest version, e.g.:
[co

[2020-10-17 20:38] bhcleek commented on #3023
I think the code is correct; the problem is the directory key, because I was testing in a file that's at the module root.

Try this:
[code]

[2020-10-17 20:50] powerman commented on #3023
The only difference between these two s:setlocal version is added `echom` line - unlikely it'll change the behaviour… checking… and yes, it doesn't change anything, still doesn't work.

[2020-10-17 21:03] bhcleek commented on #3023
Sorry about that. In a rush, I messed up the copy and paste. I'll give an update later.

In the meantime, you really just need to run `go list -m -f {{.Dir}}` in the buffer directory to get the right key for the dictionary.

[2020-10-17 21:26] bhcleek commented on #3023
[code]

[2020-10-17 21:38] powerman commented on #3023
At a glance - this one works!

I've noticed another one change - before updating to the PR's branch I've updated to latest master and noticed now it'll sometimes freezes for a bit after starting vim and showing opened files and enumerate project's go files in the status/command line for a second, then unfreeze. Looks weird, but it's probably completely unrelated issue to current one.

[2020-10-17 22:05] #3023 closed

[2020-10-18 00:38] powerman commented on #3023
Thanks!

[2020-10-18 03:02] powerman opened #3055 "2 sec freeze happens in 3 sec after opening some project's first file"
### What did you do? (required: The issue will be **closed** when not provided)

[code]
Then wait for 3 seconds, and you'll see names of many go files from this project shown in status/command line. They will be shown for about 2 seconds (on my system), and vim will be frozen until this finish.

The same thing will also happens if you'll start vim opening some other file from other project, and th

[2020-10-18 15:14] bhcleek commented on #3055
This is mostly because of the `autocmd FileType go call s:setlocal()`. If you want to use `gopls` to adjust imports and have `g:go_gopls_local` be set dynamically to the module names, then it has to call `go list -m`. If you run `go list -m` in you'll see that it's not able to find one of the repos and that this accounts for the delay that you're seeing:

[code]

If you don't want to risk such a d

[2020-10-18 19:58] jotdl opened #3059 "Setup vim-go + deoplete"
### What did you do? (required: The issue will be **closed** when not provided)

I just started use vim and therefore wanted to setup vim-go together with deoplete. I started with a bare minimal `init.vim` shown below. Sadly I can‘t get deoplete to work with vim-go, although deoplete works for me with other plugins (e.g. I tested omnisharp-vim).

I thought this should be an issue with deoplete fir

[2020-10-18 21:51] powerman commented on #3055
I think all these factors are adds to the delay, but the root reason is different - it's some blocking operation running in the foreground which **may** took long enough time under some circumstances.

I had no issues with package you mentioned because it's from private repo I have access to (it's not related to this project and was added into go.mod by mistake while running vimdiff between these

[2020-10-18 22:01] powerman commented on #3055
I mean, this project is small enough (less than 4K LOC). If we have 2 sec delay (yes, in unlucky case, but, still) on this project, then I suppose it may be much longer delay on larger projects.

[2020-10-18 22:09] bhcleek commented on #3059
I am not a deoplete user, but it looks like your pattern is currently
[code]
but according to a [comment](https://github.com/fatih/vim-go/issues/2185#issuecomment-483064904) on #2185 and the [vim-go help](https://github.com/fatih/vim-go/blob/master/doc/vim-go.txt#L141-L148) it should be
[code]

[2020-10-18 22:48] bhcleek commented on #3055
Also, disabling autocmd for s:setlocal result in starting this blocking operation faster (in about 1 second after opening vim instead of 3 seconds) and finishing it a bit faster (at a glance in 1 second instead of 2 seconds), but it's still hurts UX enough to be annoying.

I can't duplicate this delay even when using the vim-go settings and that you reported. However, I do wonder if a recent chang

[2020-10-18 22:48] bhcleek commented on #3055
Oh, and FWIW, I updated locally to get your fix to that branch.

[2020-10-19 00:31] ddmin opened #3060 "Error when trying to run :GoRun"
### What did you do? (required: The issue will be **closed** when not provided)
Try running :GoRun on a Go file

### What did you expect to happen?
No errors and the GoRun to work.
### What happened instead?
I got the following error message:
[code]
### Configuration (**MUST** fill this out):

#### vim-go version:
1.24

####  `vimrc` you used to reproduce:

<details><summary>vimrc</summary><br><pr